// -----------------------medidad de pantallas-----------------------
$max-ancho-pantalla: 1300px;
$max-ancho-portlet: 1260px;

// maximo ancho del header
#wrapper .container-portal {
    max-width: $max-ancho-pantalla;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

// maximo ancho del contenedor de los modulos
#main-content .content-page {
    max-width: $max-ancho-portlet;
    margin: 0px auto;
    float: none;
}


// -------------------------------Colores-------------------------------
$rojoPrimario: #ed1c29;
$grisPrimario: #f4f4f4;
$grisSecundario: #989898;
$grisTerciario: #4e4e4e;
$blanco: #fff; 

// variables en CSS para contenidos web y apps
:root {
    --colorRojoPr: #{$rojoPrimario};
    --grisPr: #{$grisPrimario};
    --grisSe: #{$grisSecundario};
    --grisTer: #{$grisTerciario};
    --tipografiaRe: 'Roboto';
    --tipografiaBd: 'Roboto-Bold';
    --tipografiaEsp: 'ArcherPro-Book';
    --tipografiaEsp2: 'House-Night';
}

body{
    background: $grisPrimario;
}
// --------------------------------sombras--------------------------------
.sombra1 {
    -webkit-box-shadow: 1px 1px 8px $grisSecundario;
    -moz-box-shadow: 1px 1px 8px $grisSecundario;
    box-shadow: 1px 1px 8px $grisSecundario;
}


// -------------------------------box-sizing-------------------------------
.bx-sizing-bb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.bx-sizing-cb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input.check[type=checkbox] {
  display: none;
}
.check-box{
  border-radius: 4px;
  display: flex;
  margin: 0;
  margin-right: 0px;
  cursor: pointer;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  position: relative;
  transition: border-color ease .2s;
  margin-right: 10px !important;
  background: #fff;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked + .check-box,
.check-box.checked{
  background: $rojoPrimario;
}
input[type="checkbox"]:checked + .check-box::before, 
.check-box.checked::before{
  content: "\2713";
  border-radius: 0.2em;
  display: inline-flex;
  width: 15px;
  height: 15px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-right: 0.2em;
  justify-content: center;
  color: #fff;
  transition: .2s;
  font-size: 17px;
  align-items: center;
}

// loader css
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: $rojoPrimario;
    font-size: 10px;
    margin: 60px auto 70px;
    position: relative;
    text-indent: 0px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader span {
    text-align: center;
    margin: 0px;
    position: relative;
    left: -45px;
    top: -35px;
    color: $rojoPrimario;
    font: 400 25px/1.3 "Roboto";
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}



/*----------------------------DiseÃ±o de los input----------------------------*/

.input-primario {
    padding: 6px 10px;
    height: auto;
    border-radius: 4px;
    color: #fff;
    background-color: #fff;
}

.inputCss.input-design[readonly] {
    padding: 7px 30px 6px 20px;
    border: 1px solid $grisSecundario;
    -webkit-box-shadow: inset 0 1px 0 $grisPrimario, #fff 0 1px 0;
    box-shadow: inset 0 1px 0 $grisPrimario, #fff 0 1px 0;
    border-radius: 4px !important;
    width: 100%;
    background: #fff;
    color: $grisPrimario;
    font: 400 16px/1.3 "Roboto";
    cursor: pointer;
	height: 34px;
}

/*ancho*/

.full {
    width: 100%;
}


/*------------------------DiseÃ±os de los checkbox radiales---------------------------*/

input.radioBox[type="checkbox"],
input.radioBox[type="radio"] {
    display: none;
}

input.radioBox[type="checkbox"] + label,
input.radioBox[type="radio"] + label {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $rojoPrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
}

input.radioBox[type="checkbox"] + label:last-child,
input.radioBox[type="radio"] + label:last-child {
    margin-bottom: 0;
}

input.radioBox[type="checkbox"] + label:before,
input.radioBox[type="radio"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}

input.radioBox[type="checkbox"]:checked + label:before,
input.radioBox[type="radio"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $rojoPrimario;
}

// ------------------------DiseÃ±os de los checkbox radiales---------------------------
input.radioBox[type="checkbox"],
input.radioBox[type="radio"] {
    display: none;
}

input.radioBox[type="checkbox"] + label,
input.radioBox[type="radio"] + label {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $rojoPrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
}

input.radioBox[type="checkbox"] + label:last-child,
input.radioBox[type="radio"] + label:last-child {
    margin-bottom: 0;
}

input.radioBox[type="checkbox"] + label:before,
input.radioBox[type="radio"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}

input.radioBox[type="checkbox"]:checked + label:before,
input.radioBox[type="radio"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $rojoPrimario;
}

/*------------------------DiseÃ±os de los select---------------------------*/
.select-primario * {
    outline: none !important;
	color: $grisSecundario;
}
.select-primario .dropdown-backdrop {
    position: relative;
}
.select-primario button {
    background: #fff;
    font: 500 16px/1.3 "Roboto";
    border-radius: 4px;
    color: $grisSecundario;
    border: 1px solid $grisSecundario;
    padding: 5px 10px 5px 15px;
}
.select-primario.open button {
    background: $blanco !important;
}
.select-primario button:hover {
    border: 1px solid $grisSecundario;
    background-color: #fff;
}
.select-primario button .filter-option {
    color: $grisSecundario !important;
}
.select-primario button.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid $grisSecundario !important;
}
.select-primario .btn-default:not(:disabled):not(.disabled):active, 
.select-primario .btn-default:not(:disabled):not(.disabled).active, 
.select-primario.show > .btn-default.dropdown-toggle{
    background: #fff;
}
.select-primario button:after {
    display: none !important;
}
.select-primario .dropdown-menu {
    padding-top: 20px;
    z-index: 2;
    margin-top: -3px;
}
.select-primario .dropdown-menu.open.show .dropdown-menu {
    display: block;
}
.select-primario .dropdown-menu ul li a {
    font: 300 16px/1.3 "Roboto";
    color: $grisSecundario !important;
    width: calc(100% - 20px);
    margin: 0 auto;
    border-bottom: 1px solid $grisSecundario !important;
    padding: 6px 5px;
}
.select-primario .dropdown-menu ul li a:hover {
    background: $grisPrimario;
}
.select-primario .dropdown-menu ul li:last-child a {
    border: none !important;
}

/*DiseÃ±o input tipo file*/
.filupp > input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filupp {
    position: relative;
    background: $blanco;
    display: block;
    padding: 3px 18px;
    width: 91%;
    border: 1px solid $grisSecundario;
    color: $grisSecundario;
    cursor: pointer;
    border-radius: 40px;
    font: 400 16px/1.6 "Roboto-Medium";
    overflow: hidden;
}

.filupp-file-name {
    width: 75%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.filupp .icon {
    float: right;
    color: $rojoPrimario;
    font-size: 25px;
    position: relative;
    right: -14px;
    background: #fff;
    width: 30px;
    margin-right: -6px;
}

.filupp .js-value {
    position: absolute;
    width: 120%;
    left: 10px;
}

// ---------------------------------DatePicker---------------------------------
#datepicker {
    position: relative;
    z-index: 0;
}

.icon-input.icon {
    position: absolute;
    right: 0px;
    z-index: 2;
    padding: 2px 3px;
    font-size: 20px;
    color: $grisPrimario;
    background: #fff;
    border: none;
    width: auto;
    cursor: pointer;
    margin: 5px 6px;
    z-index: 3;
}

.datepicker-dropdown {
    border-radius: 10px;
    padding: 20px !important;
}

.datepicker-dropdown th.prev,
.datepicker-dropdown th.next,
.datepicker-switch {
    color: #002c76;
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background: $rojoPrimario !important;
    border-radius: 50%;
    color: $grisPrimario;
}

.datepicker table tr td.today,
.datepicker table tr td span.active.active {
    color: $grisPrimario !important;
    font-weight: 800;
    background: #fff !important;
}

.datepicker table tr td.active.active {
    background: $rojoPrimario !important;
    border-radius: 50%;
    color: $grisPrimario;
}

.datepicker table tr td span.focused {
    background: $rojoPrimario !important;
    border-radius: 50%;
    color: $grisPrimario !important;
    height: 40px;
    line-height: 40px;
    top: 7px;
    position: relative;
}

.table-condensed > thead > tr > th {
    color: $grisSecundario;
}

.datepicker.dropdown-menu {
    overflow: hidden
}

.datepicker table {
    width: 100%;
}

// ----------------------------DiseÃ±o de botones----------------------------
// DiseÃ±o boton principal
/*Botones*/

.boton-primario, .boton-primario:active {
    background: $rojoPrimario;
    padding: 10px 50px;
    border-radius: 50px;
    text-transform: uppercase;
    font: 400 16px/1.3 "Roboto";
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    color: $blanco !important;
    position: relative;
    display: table;
	text-align: center;
}

.boton-primario:focus {
    outline: none;
    text-decoration: none;
}

.boton-primario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-primario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $grisPrimario;
}

.boton-primario:hover, .boton-primario:active:hover {
    text-decoration: none;
    background: $grisSecundario;
    color: $blanco!important;
}

.boton-primario.volver span {
    left: 10px;
    right: inherit;
}

/*  Diseno boton secundario */

.boton-secundario, .boton-secundario:active {
    background: $grisSecundario;
    padding: 10px 50px;
    border-radius: 50px;
    text-transform: uppercase;
    font: 400 16px/1.3 "Roboto";
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    color: $blanco !important;
    position: relative;
    display: table;
	text-align: center;
}

.boton-secundario:focus {
    outline: none;
}

.boton-secundario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-secundario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-secundario:hover, .boton-secundario:active:hover {
    text-decoration: none;
    background: $rojoPrimario;
    color: #fff!important;
}

.boton-secundario:focus {
    text-decoration: none;
    color: #fff !important;
}

.boton-secundario.volver span {
    left: 10px;
    right: inherit;
}

// pulso animaciÃ³n
.pulse {
    box-shadow: 0 0 0 rgba(1, 57, 140, 0.5);
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -webkit-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
        box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

// -------------------------- Modal--------------------------
.modals {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.modals .modal-bodys {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.modals .modal-bodys .content {
    margin: 0 auto;
    display: table;
    width: 90%;
    max-width: 700px;
    border-radius: 6px;
    border: 2px solid $grisSecundario;
    background: #fff;
    padding: 10px;
    position: relative;
}

.modals .modal-bodys .content > .salir {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
    font-size: 20px;
    color: $rojoPrimario;
    cursor: pointer;
}

.modals .modal-bodys .content > .salir:hover {
    color: $grisPrimario;
}

.oculto {
    display: none;
}

#cargando-general {
    .content{
        background: none;
        border: none;
        max-inline-size: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
            .gifLoader{
                max-width: 250px;
            }
    }
}
// -------------------------- Notificaciones--------------------------
.btn-menu,
#notifica {
    margin-top: 0;
}

#notifica .shortIcon {
    width: 100%;
}

#counts {
    position: absolute;
    top: -7px;
    background: $rojoPrimario;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: $blanco;
    left: -6px;
    font: 600 16px/1.3 "Roboto-Medium";
	display: none;
}
#counts.desktop {
    position: absolute !important;
    top: 15px;
    line-height: 1.3;
    left: 5px;
}
#navigation #padre .dropdown-menu {
    left: 122px !important;
    width: 400px !important;
    max-width: 400px;
    border: none;
    padding-bottom: 0px;
    box-shadow: none;
    border-bottom: 1px solid $grisPrimario;
}

#padre .list-group-item-field .user-info, 
#padre .list-group-item-content .title, 
#navigation #padre .dropdown-menu .dropdown-header, 
#navigation #padre .dropdown-menu:before, #navigation #padre .dropdown-menu:after{
    display: none;
}
#padre .list-group-item-field{
    padding: 0px !important;
    vertical-align: middle;
}
#padre .display-style-descriptive {
    margin: 0;
    box-shadow: none;
}
#padre .list-group-item-content{
    padding: 10px !important;
    vertical-align: middle;
    font: 400 16px/1.3 "Roboto";
}
#padre .list-group-item-content .block1 {
    color: $grisSecundario;
    font: 300 14px/1.3 "Roboto";
}
#verNoti {
    background: $grisSecundario;
    text-align: center;
    padding: 14px 5px;
    background: url(../images/banco_bogota/grafismo.png);
    background-size: inherit;
    background-repeat: no-repeat;
    position: relative;
}
#verNoti:before {
    content: "";
    width: 2px;
    background: $rojoPrimario;
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
}
#verNoti:after {
    content: "";
    width: 2px;
    background: $grisSecundario;
    display: table;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
}
#verNoti a {
    font: 400 16px/1.3 "Roboto";
    color: $grisSecundario;
}
#verNoti a:hover{
    color: $rojoPrimario;
}
#padre .list-group-item-content .block2 {
    font: 400 18px/1.3 "Roboto";
}
#padre .list-group-item-content .timestamp {
    font: 400 14px/1.3 "Roboto";
    color: $rojoPrimario;
}
.taglib-search-iterator-page-iterator-bottom {
    display: none;
}
body .select-primario [aria-expanded="true"] + .dropdown-menu {
    top: 35px;
}
// --------------------------Fuentes de texto--------------------------



/*------------------------------------- Roboto -------------------------------------*/


@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'), url('fonts/Roboto-Bold/Roboto-Bold.ttf')  format('truetype'), url('fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'), url('fonts/Roboto-Medium/Roboto-Medium.ttf')  format('truetype'), url('fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular/Roboto-Regular.ttf')  format('truetype'), url('fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}
@font-face {
  font-family: 'Roboto-condensed';
  src: url('fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.woff') format('woff'), url('fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.ttf')  format('truetype'), url('fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}


@font-face {
  font-family: 'ArcherPro-Bold';
  src: url('fonts/archer-bold/ArcherPro-Bold.eot?#iefix') format('embedded-opentype'),  
         url('fonts/archer-bold/ArcherPro-Bold.woff') format('woff'), 
       url('fonts/archer-bold/ArcherPro-Bold.ttf')  format('truetype'), 
       url('fonts/archer-bold/ArcherPro-Bold.svg#ArcherPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}
@font-face {
  font-family: 'ArcherPro-Book';
  src: url('fonts/archer-book/ArcherPro-Book.eot?#iefix') format('embedded-opentype'),  
       url('fonts/archer-book/ArcherPro-Book.otf')  format('opentype'),
         url('fonts/archer-book/ArcherPro-Book.woff') format('woff'),
       url('fonts/archer-book/ArcherPro-Book.ttf')  format('truetype'), 
       url('fonts/archer-book/ArcherPro-Book.svg#ArcherPro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}
@font-face {
  font-family: 'ArcherPro-Semibold';
  src: url('fonts/archer-semi/ArcherPro-Semibold.eot?#iefix') format('embedded-opentype'),  
       url('fonts/archer-semi/ArcherPro-Semibold.otf')  format('opentype'),
         url('fonts/archer-semi/ArcherPro-Semibold.woff') format('woff'), 
       url('fonts/archer-semi/ArcherPro-Semibold.ttf')  format('truetype'), 
       url('fonts/archer-semi/ArcherPro-Semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}
@font-face {
  font-family: 'House-Night';
  src: url('fonts/house/House-A-Rama-League-Night.eot?#iefix') format('embedded-opentype'),  
   url('fonts/house/House-A-Rama-League-Night.woff') format('woff'), 
   url('fonts/house/House-A-Rama-League-Night.ttf')  format('truetype'), 
   url('fonts/house/House-A-Rama-League-Night.svg#House-A-Rama-League-Night') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}


    

// ----------------------------Fuentes iconograficas----------------------------
@font-face {
  font-family: 'tuya';
  src:  url('fonts/iconmoon/tuya.eot?emw2fx');
  src:  url('fonts/iconmoon/tuya.eot?emw2fx#iefix') format('embedded-opentype'),
    url('fonts/iconmoon/tuya.ttf?emw2fx') format('truetype'),
    url('fonts/iconmoon/tuya.woff?emw2fx') format('woff'),
    url('fonts/iconmoon/tuya.svg?emw2fx#tuya') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tuya' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beneficiario:before {
  content: "\e999";
}
.icon-cancelacion:before {
  content: "\e99a";
}
.icon-caracteristicas:before {
  content: "\e99b";
}
.icon-condiciones:before {
  content: "\e99c";
}
.icon-consentimiento:before {
  content: "\e99d";
}
.icon-correo:before {
  content: "\e99e";
}
.icon-datos:before {
  content: "\e99f";
}
.icon-declaraciones:before {
  content: "\e9a0";
}
.icon-defensor-p:before {
  content: "\e9a1";
}
.icon-defensor-s:before {
  content: "\e9a2";
}
.icon-direccion:before {
  content: "\e9a3";
}
.icon-edad:before {
  content: "\e9a4";
}
.icon-edad-max:before {
  content: "\e9a5";
}
.icon-edad-max-p:before {
  content: "\e9a6";
}
.icon-edad-min:before {
  content: "\e9a7";
}
.icon-horario:before {
  content: "\e9a8";
}
.icon-importante:before {
  content: "\e9a9";
}
.icon-interes:before {
  content: "\e9aa";
}
.icon-interes1:before {
  content: "\e9ab";
}
.icon-interes2:before {
  content: "\e9ac";
}
.icon-interes3:before {
  content: "\e9ad";
}
.icon-interes4:before {
  content: "\e9ae";
}
.icon-interes5:before {
  content: "\e9af";
}
.icon-interes6:before {
  content: "\e9b0";
}
.icon-mora:before {
  content: "\e9b1";
}
.icon-muerte-shape:before {
  content: "\e9b2";
}
.icon-pag-web:before {
  content: "\e9b3";
}
.icon-revocacion:before {
  content: "\e9b4";
}
.icon-revocacion2:before {
  content: "\e9b5";
}
.icon-tel2:before {
  content: "\e9b6";
}
.icon-telefax:before {
  content: "\e9b7";
}
.icon-tel-shape:before {
  content: "\e9b8";
}
.icon-terminacion:before {
  content: "\e9b9";
}
.icon-tomador:before {
  content: "\e9ba";
}
.icon-vigencia:before {
  content: "\e9bb";
}
.icon-whatsapp:before {
  content: "\e9bc";
}
.icon-actores:before {
  content: "\e9bd";
}
.icon-asegurado:before {
  content: "\e9be";
}
.icon-aseguradora:before {
  content: "\e9bf";
}
.icon-atencion:before {
  content: "\e9c0";
}
.icon-atencion2:before {
  content: "\e9c1";
}
.icon-atencion3:before {
  content: "\e9c2";
}
.icon-autorizaciones:before {
  content: "\e9c3";
}
.icon-rentalibredestinacion:before {
  content: "\e907";
}
.icon-swipe:before {
  content: "\e906";
}
.icon-telefono_light:before {
  content: "\e908";
}
.icon-chat:before {
  content: "\e998";
}
.icon-calcular-salario:before {
  content: "\e994";
}
.icon-convenios-educativos:before {
  content: "\e995";
}
.icon-estrella:before {
  content: "\e996";
}
.icon-hoja-vida:before {
  content: "\e997";
}
.icon-scroll:before {
  content: "\e900";
}
.icon-sede:before {
  content: "\e901";
}
.icon-semana:before {
  content: "\e902";
}
.icon-sombrilla:before {
  content: "\e903";
}
.icon-soporte:before {
  content: "\e904";
}
.icon-suspendido:before {
  content: "\e905";
}
.icon-tarjeta:before {
  content: "\e909";
}
.icon-TEL:before {
  content: "\e90a";
}
.icon-telefono:before {
  content: "\e90b";
}
.icon-trabajo:before {
  content: "\e90c";
}
.icon-Uso-Fraudulento-chequera:before {
  content: "\e90d";
}
.icon-vehiculo:before {
  content: "\e90e";
}
.icon-vehiculos:before {
  content: "\e90f";
}
.icon-vigilado:before {
  content: "\e910";
}
.icon-web-cam:before {
  content: "\e911";
}
.icon-zona:before {
  content: "\e912";
}
.icon-accidente:before {
  content: "\e913";
}
.icon-alert:before {
  content: "\e914";
}
.icon-analisis:before {
  content: "\e915";
}
.icon-antes-de-iva:before {
  content: "\e916";
}
.icon-anual:before {
  content: "\e917";
}
.icon-archivo-adjunto:before {
  content: "\e918";
}
.icon-arrow-detail-bottom:before {
  content: "\e919";
}
.icon-arrow-detail-left:before {
  content: "\e91a";
}
.icon-arrow-detail-right:before {
  content: "\e91b";
}
.icon-arrow-detail-top:before {
  content: "\e91c";
}
.icon-arrow-swipe:before {
  content: "\e91d";
}
.icon-Asistencia--transporte2:before {
  content: "\e91e";
}
.icon-Asistencia--transporte:before {
  content: "\e91f";
}
.icon-bienes:before {
  content: "\e920";
}
.icon-bolso:before {
  content: "\e921";
}
.icon-buscar-foto:before {
  content: "\e922";
}
.icon-cajero:before {
  content: "\e923";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2---copia:before {
  content: "\e924";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2:before {
  content: "\e925";
}
.icon-Canasta-Familiar-caso-muerte:before {
  content: "\e926";
}
.icon-cancer:before {
  content: "\e927";
}
.icon-cerrar:before {
  content: "\e928";
}
.icon-cirugia:before {
  content: "\e929";
}
.icon-Cirugia-Reconstructiva:before {
  content: "\e92a";
}
.icon-Clonacion-Tarjeta:before {
  content: "\e92b";
}
.icon-compra-protegida:before {
  content: "\e92c";
}
.icon-Compras-fraudulentas-Internet:before {
  content: "\e92d";
}
.icon-corazon25:before {
  content: "\e92e";
}
.icon-corazon50:before {
  content: "\e92f";
}
.icon-corazon75:before {
  content: "\e930";
}
.icon-corazon-lleno:before {
  content: "\e931";
}
.icon-corazon-vacio:before {
  content: "\e932";
}
.icon-crediservices:before {
  content: "\e933";
}
.icon-Cuidados-prologandos:before {
  content: "\e934";
}
.icon-decoracion1:before {
  content: "\e935";
}
.icon-decoracion2:before {
  content: "\e936";
}
.icon-denegados:before {
  content: "\e937";
}
.icon-descargar-carta:before {
  content: "\e938";
}
.icon-Desmembracion:before {
  content: "\e939";
}
.icon-Desempleo:before {
  content: "\e93a";
}
.icon-despido-sin-justa-causa:before {
  content: "\e93b";
}
.icon-despues-de-iva:before {
  content: "\e93c";
}
.icon-detalles:before {
  content: "\e93d";
}
.icon-diagnostico-cancer:before {
  content: "\e93e";
}
.icon-editar:before {
  content: "\e93f";
}
.icon-eliminar:before {
  content: "\e940";
}
.icon-embarrassed:before {
  content: "\e941";
}
.icon-incapacidad-total-temporal-cama:before {
  content: "\e942";
}
.icon-enfermedades-graves:before {
  content: "\e943";
}
.icon-escribenos:before {
  content: "\e944";
}
.icon-fecha:before {
  content: "\e945";
}
.icon-flecha-abajo:before {
  content: "\e946";
}
.icon-flecha-arriba:before {
  content: "\e947";
}
.icon-flecha-derecha:before {
  content: "\e948";
}
.icon-forzado:before {
  content: "\e949";
}
.icon-foto:before {
  content: "\e94a";
}
.icon-foto-celular:before {
  content: "\e94b";
}
.icon-Garantia-Extendida:before {
  content: "\e94c";
}
.icon-garantia-protegida:before {
  content: "\e94d";
}
.icon-Gastos-Funerarios:before {
  content: "\e94e";
}
.icon-gastos-hospitalizacion:before {
  content: "\e94f";
}
.icon-Gastos-Medicos:before {
  content: "\e950";
}
.icon-happiness:before {
  content: "\e951";
}
.icon-happiness-two:before {
  content: "\e952";
}
.icon-hipotecario:before {
  content: "\e953";
}
.icon-hogar:before {
  content: "\e954";
}
.icon-hoy:before {
  content: "\e955";
}
.icon-hurto:before {
  content: "\e956";
}
.icon-hurto-cajero:before {
  content: "\e957";
}
.icon-hurto-oficina:before {
  content: "\e958";
}
.icon-incapacidad-accidente-aereo:before {
  content: "\e959";
}
.icon-incapacidad-total-permanente:before {
  content: "\e95a";
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte:before {
  content: "\e95b";
}
.icon-incapacidad-total-temporal:before {
  content: "\e95c";
}
.icon-incapacidad-total-temporal-cancer:before {
  content: "\e95d";
}
.icon-Incapacidad-Total-Temporal-Fractura-Accidental:before {
  content: "\e95e";
}
.icon-incentivos-acumulados:before {
  content: "\e95f";
}
.icon-indebido:before {
  content: "\e960";
}
.icon-indifferent:before {
  content: "\e961";
}
.icon-IVA:before {
  content: "\e962";
}
.icon-libranzaas:before {
  content: "\e963";
}
.icon-libre-destino:before {
  content: "\e964";
}
.icon-like:before {
  content: "\e965";
}
.icon-LOGIN:before {
  content: "\e966";
}
.icon-lo-que-quiero:before {
  content: "\e967";
}
.icon-mail:before {
  content: "\e968";
}
.icon-mas:before {
  content: "\e969";
}
.icon-mes:before {
  content: "\e96a";
}
.icon-microcreditos:before {
  content: "\e96b";
}
.icon-money:before {
  content: "\e96c";
}
.icon-muerte:before {
  content: "\e96d";
}
.icon-Muerte-Accidental:before {
  content: "\e96e";
}
.icon-Muerte-accidental-titular-acompaantes:before {
  content: "\e96f";
}
.icon-muerte-accidental-transporte-publico:before {
  content: "\e970";
}
.icon-Muerte-accidental-vias-publicas:before {
  content: "\e971";
}
.icon-Muerte-consecuencia-Cancer:before {
  content: "\e972";
}
.icon-muerte-cualquier-causa:before {
  content: "\e973";
}
.icon-muerte-familiar:before {
  content: "\e974";
}
.icon-Notificacion:before {
  content: "\e975";
}
.icon-ojo-close:before {
  content: "\e976";
}
.icon-ojo-open:before {
  content: "\e977";
}
.icon-pagados:before {
  content: "\e978";
}
.icon-perfil:before {
  content: "\e979";
}
.icon-personas-protegidas:before {
  content: "\e97a";
}
.icon-personas-protegidas2:before {
  content: "\e97b";
}
.icon-Poliza-todo-riesgo-hogar:before {
  content: "\e97c";
}
.icon-Poliza-todo-riesgo-vehiculo:before {
  content: "\e97d";
}
.icon-Proteccion-Garantizada-Auto:before {
  content: "\e97e";
}
.icon-radicado:before {
  content: "\e97f";
}
.icon-region:before {
  content: "\e980";
}
.icon-renta-canasta-familiar:before {
  content: "\e981";
}
.icon-Renta-desempleo-Involuntario:before {
  content: "\e982";
}
.icon-gastos-educacion-infantil:before {
  content: "\e983";
}
.icon-Renta--Hospitalizacion-debido-accidente:before {
  content: "\e984";
}
.icon-Renta--Hospitalizacin-debido-accidente:before {
  content: "\e985";
}
.icon-renta-incapacidad:before {
  content: "\e986";
}
.icon-Renta-medicamentos-Cancer:before {
  content: "\e987";
}
.icon-Renta-mensual-Muerte:before {
  content: "\e988";
}
.icon-Renta-Muerte-Cancer:before {
  content: "\e989";
}
.icon-Renta-Muerte-Cncer:before {
  content: "\e98a";
}
.icon-Renta-Tratamiento-Cancer:before {
  content: "\e98b";
}
.icon-reposicion-bolso-o-billetera:before {
  content: "\e98c";
}
.icon-reposicion-documentos:before {
  content: "\e98d";
}
.icon-reposicion-llaves:before {
  content: "\e98e";
}
.icon-Robo--Automvil:before {
  content: "\e98f";
}
.icon-Robo--Automovil:before {
  content: "\e990";
}
.icon-robo-perdida-tarjeta:before {
  content: "\e991";
}
.icon-rotura-huesos:before {
  content: "\e992";
}
.icon-sad:before {
  content: "\e993";
}
