.footerjuris{
background-color:#00468c;
height: 100%;
width: 100%;
color:#fff;
border-top: 1.4px solid#fff;
padding-top: 2%;
min-height: 100px;
padding-right: 4%;
border-bottom: 5px solid#0b3084;
list-style: none;
z-index: 5;
font-family: 'Muli',sans-serif;
position: relative;
}



.textlft {
	font-weight: 100;
	font-size: 13px;
	line-height: 22px;
	margin-left: 4%;
	padding-right: 4%;
}

.textlft2 {
	font-weight: 100;
	font-size: 13px;
	line-height: 22px;
	margin-left: 2%;
	padding-right: 4%;
}

.logob{
	margin-right: 4%;

}
.spacing {

    width: 65%;

}

.vgld {
	font-size: 12px;
	border-bottom: 2px solid#fff;
	font-weight: bold;	
	border-top: 2px solid#fff;
	padding: 2px 2px 3px 3px;
	letter-spacing: 5px;
	}

.sfdc {
		font-size: 11px;
		padding-right: 15px;
		text-align: center;
		border-right: 2px solid#fff;
		padding-left: 20px;
		display: inline-grid;
		font-weight: bold;

}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
	//CSS
	.logob{
		margin-right: 4%;
	
	}
	
  }
  
  /* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
	
	//CSS
	.logob{
		margin-right: 4%;
	
	}
	
  }
  
  /* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
	
	//CSS
	.logob{
		margin-right: 4%;
		margin-top: 10px;
	
	}
	
  }
  
  /* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	
	//CSS
	.logob{
		margin-right: 4%;
		margin-top: 15px;
	
	}
	
  }
  
  /* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
	
	//CSS
	.logob{
		margin-right: 2%;
		margin-top: 25px;
	
	}
  }
  
  /* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
	
	//CSS
	.logob{
		margin-right: 4%;
	
	}	
	
  }