// -----------------------medidad de pantallas-----------------------
$max-ancho-pantalla: 1500px;
$max-ancho-portlet: 1260px;

// maximo ancho del header
#wrapper .container-portal {
    max-width: $max-ancho-pantalla;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

// maximo ancho del contenedor de los modulos
#main-content .content-page {
    max-width: $max-ancho-portlet;
    margin: 0px auto;
    float: none;
}

// -------------------------------Colores-------------------------------
$azulPrimario: #00468c;
$azulClaro:#00468c;
$azulOscuro:#0b3084;
$botonRojo:#e1001a;
$rojoOscuro:#b00e0f;
$grisPrimario: #838d98;
$amarilloPrimario: #eeeeee;
$blanco: #fff;
$negroJuris:#000;

// variables en CSS para contenidos web y apps
:root {
    --colorAzulPr: #{$azulPrimario};
    --colorAzulCl: #{$azulClaro};
    --colorAzulOsc: #{$azulOscuro};
    --colorRojoPr: #{$botonRojo};
    --colorRojoSe: #{$rojoOscuro};
    --grisPr: #{$grisPrimario};
    --grisSe: #{$amarilloPrimario};
    --tipografiaRe: 'muliregular';
    --tipografiaBd: 'muli-bold';
    --tipografiaLt: 'muli-light';
}
// --------------------------------sombras--------------------------------
.sombra1 {
    -webkit-box-shadow: 1px 1px 8px $grisPrimario;
    -moz-box-shadow: 1px 1px 8px $grisPrimario;
    box-shadow: 1px 1px 8px $grisPrimario;
}
// -------------------------------box-sizing-------------------------------
.bx-sizing-bb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.bx-sizing-cb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input.check[type=checkbox] {
  display: none;
}
.check-box{
  border-radius: 4px;
  display: flex;
  margin: 0;
  margin-right: 0px;
  cursor: pointer;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  position: relative;
  transition: border-color ease .2s;
  margin-right: 10px !important;
  background: #fff;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked + .check-box,
.check-box.checked{
  background: $azulOscuro;
}
input[type="checkbox"]:checked + .check-box::before, 
.check-box.checked::before{
  content: "\2713";
  border-radius: 0.2em;
  display: inline-flex;
  width: 15px;
  height: 15px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-right: 0.2em;
  justify-content: center;
  color: #fff;
  transition: .2s;
  font-size: 17px;
  align-items: center;
}

// loader css
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: $azulPrimario;
    font-size: 10px;
    margin: 60px auto 70px;
    position: relative;
    text-indent: 0px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader span {
    text-align: center;
    margin: 0px;
    position: relative;
    left: -45px;
    top: -35px;
    color: $azulPrimario;
    font: 400 25px/1.3 'Muli', sans-serif;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

/*----------------------------DiseÃ±o de los input----------------------------*/
.input-primario {
    padding: 6px 10px;
    height: auto;
    border-radius: 50px;
    color: #fff;
    background-color: #fff;
}
.inputCss.input-design[readonly] {
    padding: 7px 30px 6px 20px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    border-radius: 50px !important;
    width: 100%;
    background: #fff;
    color: $azulPrimario;
    font: 400 16px/1.3 'Muli', sans-serif;
    cursor: pointer;
	height: 34px;
}
/*ancho*/
.full {
    width: 100%;
}

/*------------------------DiseÃ±os de los checkbox radiales---------------------------*/
input.radioBox[type="radio"] {
    display: none;
}
input.radioBox[type="radio"] + label {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 2px solid $azulPrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    margin: 0px 10px 0px 0px;
}
input.radioBox[type="radio"] + label:last-child {
    margin-bottom: 0;
}
input.radioBox[type="radio"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}
input.radioBox[type="radio"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $azulPrimario;
}

// ----------------------------DiseÃ±o de los input----------------------------
.inputCss.input-design[readonly] {
    padding: 7px 30px 6px 20px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    border-radius: 50px !important;
    width: 100%;
    background: #fff;
    color: $azulPrimario;
    font: 400 16px/1.3 'Muli', sans-serif;
    cursor: pointer;
}

// ------------------------DiseÃ±os de los checkbox radiales---------------------------
input.radioBox[type="checkbox"] {
    display: none;
}
input.radioBox[type="checkbox"] + label {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $azulPrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
}
input.radioBox[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}
input.radioBox[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}
input.radioBox[type="checkbox"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $azulPrimario;
}

/*------------------------DiseÃ±os de los select---------------------------*/
.select-primario * {
    outline: none !important;
}
.select-primario .dropdown-backdrop {
    position: relative;
}
.select-primario button {
    background: #ffffff;
    font: 500 16px/1.3 'Muli', sans-serif;
    border-radius: 27px;
    color: $azulPrimario;
    border: 1px solid #ccc;
    padding: 5px 10px 5px 15px;
}
.select-primario.open button {
    background: $azulPrimario!important;
}
.select-primario button:hover {
    border: 1px solid #dededf;
    background-color: #fff;
}
.select-primario button .filter-option {
    color: $azulPrimario!important;
    font-family:'Muli', sans-serif;
}
.select-primario.open button .filter-option {
    color: #fff!important;
}
.select-primario button.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}
.select-primario .btn-default:not(:disabled):not(.disabled):active, 
.select-primario .btn-default:not(:disabled):not(.disabled).active, 
.select-primario.show > .btn-default.dropdown-toggle{
    background: #fff;
}
.select-primario button:after {
    display: none !important;
}
.select-primario .dropdown-menu {
    padding-top: 20px;
    z-index: 2;
    margin-top: -5px;
}
.select-primario .dropdown-menu.open.show .dropdown-menu {
    display: block;
}
.select-primario .dropdown-menu ul li a {
    font: 300 16px/1.3 'Muli', sans-serif;
    color: $azulPrimario !important;
    width: calc(100% - 20px);
    margin: 0 auto;
    border-bottom: 1px solid #ccc !important;
    padding: 6px 5px;
}
.select-primario .dropdown-menu ul li a:hover {
    background:$blanco;
}
.select-primario .dropdown-menu ul li:last-child a {
    border: none !important;
}

/*DiseÃ±o input tipo file*/
.filupp > input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.filupp {
    position: relative;
    background: #ffffff;
    display: block;
    padding: 3px 18px;
    width: 91%;
    border: 1px solid #d5d5d5;
    color: $azulPrimario;
    cursor: pointer;
    border-radius: 40px;
    font: 400 16px/1.6 'Muli', sans-serif;
    overflow: hidden;
}
.filupp-file-name {
    width: 75%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.filupp .icon {
    float: right;
    color: $azulPrimario;
    font-size: 25px;
    position: relative;
    right: -14px;
    background: #fff;
    width: 30px;
    margin-right: -6px;
}
.filupp .js-value {
    position: absolute;
    width: 120%;
    left: 10px;
}

// ---------------------------------DatePicker---------------------------------
#datepicker {
    position: relative;
    z-index: 0;
}
.icon-input.icon {
    position: absolute;
    right: 0px;
    z-index: 2;
    padding: 2px 3px;
    font-size: 20px;
    color: $azulPrimario;
    background: #fff;
    border: none;
    width: auto;
    cursor: pointer;
    margin: 5px 6px;
    z-index: 3;
}
.datepicker-dropdown {
    border-radius: 10px;
    padding: 20px !important;
}
.datepicker-dropdown th.prev,
.datepicker-dropdown th.next,
.datepicker-switch {
    color: $azulPrimario;
}
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background: $azulPrimario !important;
    border-radius: 50%;
    color: $azulPrimario;
}
.datepicker table tr td.today,
.datepicker table tr td span.active.active {
    color: $azulPrimario !important;
    font-weight: 800;
    background: #fff !important;
}
.datepicker table tr td.active.active {
    background: $azulPrimario !important;
    border-radius: 50%;
    color: $azulPrimario;
}
.datepicker table tr td span.focused {
    background: $azulPrimario !important;
    border-radius: 50%;
    color: $azulPrimario !important;
    height: 40px;
    line-height: 40px;
    top: 7px;
    position: relative;
}
.table-condensed > thead > tr > th {
    color: $azulPrimario;
}
.datepicker.dropdown-menu {
    overflow: hidden
}
.datepicker table {
    width: 100%;
}

// ----------------------------DiseÃ±o de botones----------------------------
/*Botones*/
.boton-primario {
    background: $botonRojo;
    padding: 10px 50px;
    border-radius: 1px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
    color:
    #fff !important;
    position: relative;
    display: table;
    text-align: center;
    font-family: 'Muli', sans-serif;
}
.boton-primario:focus {
    outline: none;
    text-decoration: none;
}
.boton-primario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $azulPrimario;
}
.boton-primario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $azulPrimario;
}
.boton-primario:hover {
    text-decoration: none;
    background: $rojoOscuro;
    color: $amarilloPrimario!important;
}
.boton-primario.volver span {
    left: 10px;
    right: inherit;
}

// DiseÃ±o boton secundario
.boton-secundario {
    background: $azulPrimario;
    padding: 10px 50px;
    border-radius: 1px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
    color:
    #fff !important;
    position: relative;
    display: table;
    text-align: center;
    font-family:'Muli', sans-serif; 
}
.boton-secundario:focus {
    outline: none;
}
.boton-secundario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $azulPrimario;
}
.boton-secundario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $azulPrimario;
}
.boton-secundario:hover {
    text-decoration: none;
    background: $azulOscuro;
    color: #fff!important;
}
.boton-secundario:focus {
    text-decoration: none;
    color: #fff !important;
}
.boton-secundario.volver span {
    left: 10px;
    right: inherit;
}
// pulso animaciÃ³n
.pulse {
    box-shadow: 0 0 0 rgba(1, 57, 140, 0.5);
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -webkit-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
        box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

// -------------------------- Modal--------------------------
.modals {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}
.modals .modal-bodys {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.modals .modal-bodys .content {
    margin: 0 auto;
    display: table;
    width: 90%;
    max-width: 700px;
    border-radius: 6px;
    border: 2px solid $azulPrimario;
    background: #fff;
    padding: 10px;
    position: relative;
}
.modals .modal-bodys .content > .salir {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
    font-size: 20px;
    color: $azulPrimario;
    cursor: pointer;
}
.modals .modal-bodys .content > .salir:hover {
    color: $azulPrimario;
}
.oculto {
    display: none;
}
#cargando-general {
    .content{
        background: none;
        border: none;
        max-inline-size: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
            .gifLoader{
                max-width: 250px;
            }
    }
}
// -------------------------- Notificaciones--------------------------
.btn-menu,
#notifica {
    margin-top: 0;
}
#notifica .shortIcon {
    width: 100%;
}
#counts {
    position: absolute;
    top: -7px;
    background: red;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    left: -6px;
    font: 400 16px/1.3 'Muli', sans-serif;
    display: none;
}
#counts.desktop {
    position: absolute !important;
    top: 15px;
    line-height: 1.3;
    left: 5px;
}
#navigation #padre .dropdown-menu {
    left: 122px !important;
    width: 400px !important;
    max-width: 400px;
    border: none;
    padding-bottom: 0px;
    box-shadow: none;
    border-bottom: 1px solid $amarilloPrimario;
}
#padre .list-group-item-field .user-info, 
#padre .list-group-item-content .title, 
#navigation #padre .dropdown-menu .dropdown-header, 
#navigation #padre .dropdown-menu:before, #navigation #padre .dropdown-menu:after{
    display: none;
}
#padre .list-group-item-field{
    padding: 0px !important;
    vertical-align: middle;
}
#padre .display-style-descriptive {
    margin: 0;
    box-shadow: none;
}
#padre .list-group-item-content{
    padding: 10px !important;
    vertical-align: middle;
    font: 400 16px/1.3 'Muli', sans-serif;
}
#padre .list-group-item-content .block1 {
    color: $azulPrimario;
    font: 300 14px/1.3 'Muli', sans-serif;
}
#verNoti {
    background: #f9f7f4;
    text-align: center;
    padding: 14px 5px;
    background: url(../images/banco_bogota/grafismo.png);
    background-size: inherit;
    background-repeat: no-repeat;
    position: relative;
}
#verNoti:before {
    content: "";
    width: 2px;
    background: red;
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
}
#verNoti:after {
    content: "";
    width: 2px;
    background: $azulPrimario;
    display: table;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
}
#verNoti a {
    font: 400 16px/1.3 'Muli', sans-serif;
    color: #2b487e;
}
#verNoti a:hover{
    color: $azulPrimario;
}
#padre .list-group-item-content .block2 {
    font: 400 18px/1.3 'Muli', sans-serif;
}
#padre .list-group-item-content .timestamp {
    font: 400 14px/1.3 'Muli', sans-serif;
    color: $azulPrimario;
}
.taglib-search-iterator-page-iterator-bottom {
    display: none;
}
body .select-primario [aria-expanded="true"] + .dropdown-menu {
    top: 35px;
}
/*arreglar el login por culpa del api de chat*/
form#_com_liferay_login_web_portlet_LoginPortlet_loginForm fieldset {
    display: block;
}

// --------------------------Fuentes de texto--------------------------
@font-face {
  font-family: 'bnpp_sansregular';
  src: url('fonts/bnppsans-webfont.woff2') format('woff2'),
       url('fonts/bnppsans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bnpp_sansbold';
  src: url('fonts/bnppsans-bold-webfont.woff2') format('woff2'),
       url('fonts/bnppsans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bnpp_sansbold_italic';
  src: url('fonts/bnppsans-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/bnppsans-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bnpp_sans_condensedregular';
  src: url('fonts/bnppsanscondensed-webfont.woff2') format('woff2'),
       url('fonts/bnppsanscondensed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bnpp_sans_condensedbold';
  src: url('fonts/bnppsanscondensed-bold-webfont.woff2') format('woff2'),
       url('fonts/bnppsanscondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bnpp_sans_condensedextra_bold';
  src: url('fonts/bnppsanscondensed-extrabold-webfont.woff2') format('woff2'),
       url('fonts/bnppsanscondensed-extrabold-webfont.woff') format('woff');
  font-weight: normal;
 font-style: normal;
}
@font-face {
  font-family: 'bnpp_sans_condensedlight';
  src: url('fonts/bnppsanscondensed-light-webfont.woff2') format('woff2'),
       url('fonts/bnppsanscondensed-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bnpp_sansextra_bold';
  src: url('fonts/bnppsans-extrabold-webfont.woff2') format('woff2'),
       url('fonts/bnppsans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bnpp_sansextra_bold_italic';
  src: url('fonts/bnppsansextrabold-italic-webfont.woff2') format('woff2'),
       url('fonts/bnppsansextrabold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bnpp_sansitalic';
  src: url('fonts/bnppsans-italic-webfont.woff2') format('woff2'),
       url('fonts/bnppsans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bnpp_sanslight';
  src: url('fonts/bnppsans-light-webfont.woff2') format('woff2'),
       url('fonts/bnppsans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*-----------------------------Muli-----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@font-face {
  font-family: 'muliregular';
  src: url('fonts/muli-webfont.woff2') format('woff2'),
       url('fonts/muli-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'muli-bold';
  src: url('fonts/muli-bold-webfont.woff2') format('woff2'),
       url('fonts/muli-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'muli-extralight';
  src: url('fonts/muli-extralight-webfont.woff2') format('woff2'),
       url('fonts/muli-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'muli-light';
  src: url('fonts/muli-light-webfont.woff2') format('woff2'),
       url('fonts/muli-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'muli-semibold';
  src: url('fonts/muli-semibold-webfont.woff2') format('woff2'),
       url('fonts/muli-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// ----------------------------Fuentes iconograficas----------------------------
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/iconos-pdf/icomoon.eot?jz3v2z');
  src:  url('fonts/iconos-pdf/icomoon.eot?jz3v2z#iefix') format('embedded-opentype'),
    url('fonts/iconos-pdf/icomoon.ttf?jz3v2z') format('truetype'),
    url('fonts/iconos-pdf/icomoon.woff?jz3v2z') format('woff'),
    url('fonts/iconos-pdf/icomoon.svg?jz3v2z#icon-pdfs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zona:before {
  content: "\e900";
}
.icon-whatsApp:before {
  content: "\e901";
  color: #4e4e4e;
}
.icon-web-cam:before {
  content: "\e902";
}
.icon-vigilado:before {
  content: "\e903";
}
.icon-vigencia .path1:before {
  content: "\e904";
  color: rgb(102, 102, 102);
}
.icon-vigencia .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-vigencia .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-vigencia .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-vigencia .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-vigencia .path6:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-very-happiness:before {
  content: "\e90a";
}
.icon-vehiculos:before {
  content: "\e90b";
}
.icon-vehiculo1:before {
  content: "\e90c";
}
.icon-vehiculo:before {
  content: "\e90d";
}
.icon-Uso-Fraudulento-chequera:before {
  content: "\e90e";
}
.icon-trabajo:before {
  content: "\e90f";
}
.icon-tomador2:before {
  content: "\e910";
  color: #96275a;
}
.icon-tomador .path1:before {
  content: "\e911";
  color: rgb(216, 30, 5);
}
.icon-tomador .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tomador .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(124, 124, 123);
}
.icon-tomador .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(102, 51, 153);
}
.icon-terminacion:before {
  content: "\e915";
  color: #ea721a;
}
.icon-telefono:before {
  content: "\e916";
}
.icon-telefax:before {
  content: "\e917";
  color: #00965e;
}
.icon-TEL:before {
  content: "\e918";
}
.icon-tarjeta-ventas:before {
  content: "\e919";
}
.icon-tarjeta-nueva .path1:before {
  content: "\e91a";
  color: rgb(109, 70, 153);
}
.icon-tarjeta-nueva .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-tarjeta-nueva .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-nueva .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-tarjeta-nueva .path5:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-nueva .path6:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-tarjeta-nueva .path7:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-nueva .path8:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-nueva .path9:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-nueva .path10:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-nueva .path11:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-nueva .path12:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-nueva .path13:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-nueva .path14:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-nueva .path15:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-tarjeta-nueva .path16:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-tarjeta-nueva .path17:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-nueva .path18:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-de-credito:before {
  content: "\e92c";
}
.icon-tarjeta-debito:before {
  content: "\e92d";
}
.icon-tarjeta-credito:before {
  content: "\e92e";
}
.icon-tarjeta-cancelaciones .path1:before {
  content: "\e92f";
  color: rgb(216, 30, 5);
}
.icon-tarjeta-cancelaciones .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-cancelaciones .path3:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-cancelaciones .path4:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-tarjeta-cancelaciones .path5:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-antigua .path1:before {
  content: "\e934";
  color: rgb(216, 30, 5);
}
.icon-tarjeta-antigua .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-antigua .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-antigua .path4:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-antigua .path5:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-antigua .path6:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-tarjeta:before {
  content: "\e93a";
}
.icon-swipe:before {
  content: "\e93b";
}
.icon-suspendido:before {
  content: "\e93c";
}
.icon-star-o:before {
  content: "\e93d";
}
.icon-star-half:before {
  content: "\e93e";
}
.icon-star:before {
  content: "\e93f";
}
.icon-soporte:before {
  content: "\e940";
}
.icon-sombrilla:before {
  content: "\e941";
}
.icon-semana:before {
  content: "\e942";
}
.icon-sede-uno:before {
  content: "\e943";
}
.icon-scroll:before {
  content: "\e944";
}
.icon-sad:before {
  content: "\e945";
}
.icon-rotura-vidrios-espejos:before {
  content: "\e946";
}
.icon-rotura-huesos:before {
  content: "\e947";
}
.icon-robo-perdida-tarjeta:before {
  content: "\e948";
}
.icon-Robo-bienes-hogar-line:before {
  content: "\e949";
}
.icon-Robo-bienes-electro-hogar-line:before {
  content: "\e94a";
}
.icon-Robo--Automovil:before {
  content: "\e94b";
}
.icon-Robo--Automovil1:before {
  content: "\e94c";
}
.icon-revocacion-cardif:before {
  content: "\e94d";
  color: #018d80;
}
.icon-revocacion-asegurado:before {
  content: "\e94e";
  color: #c20a6a;
}
.icon-responsabilidades .path1:before {
  content: "\e94f";
  color: rgb(216, 30, 5);
}
.icon-responsabilidades .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-responsabilidades .path3:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-responsabilidades .path4:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-reposicion-llaves:before {
  content: "\e953";
}
.icon-reposicion-documentos:before {
  content: "\e954";
}
.icon-reposicion-bolso-o-billetera:before {
  content: "\e955";
}
.icon-Renta-Tratamiento-Cancer:before {
  content: "\e956";
}
.icon-Renta-Muerte-Cancer:before {
  content: "\e957";
}
.icon-Renta-mensual-Muerte:before {
  content: "\e958";
}
.icon-Renta-medicamentos-Cancer:before {
  content: "\e959";
}
.icon-renta-incapacidad:before {
  content: "\e95a";
}
.icon-Renta--Hospitalizacin-debido-accidente:before {
  content: "\e95b";
}
.icon-Renta--Hospitalizacion-debido-accidente:before {
  content: "\e95c";
}
.icon-renta-educacion-hijos:before {
  content: "\e95d";
}
.icon-Renta-desempleo-Involuntario:before {
  content: "\e95e";
}
.icon-renta-canasta-familiar:before {
  content: "\e95f";
}
.icon-region:before {
  content: "\e960";
}
.icon-radicado:before {
  content: "\e961";
}
.icon-Proteccion-Garantizada-Auto:before {
  content: "\e962";
}
.icon-preferente:before {
  content: "\e963";
}
.icon-Poliza-todo-riesgo-vehiculo:before {
  content: "\e964";
}
.icon-Poliza-todo-riesgo-hogar:before {
  content: "\e965";
}
.icon-poliza:before {
  content: "\e966";
}
.icon-play:before {
  content: "\e967";
}
.icon-personas-protegidas2:before {
  content: "\e968";
}
.icon-personas-protegidas:before {
  content: "\e969";
}
.icon-perfil:before {
  content: "\e96a";
}
.icon-pensionado:before {
  content: "\e96b";
}
.icon-pagados:before {
  content: "\e96c";
}
.icon-pag-web:before {
  content: "\e96d";
  color: #00a3b5;
}
.icon-ojo-open:before {
  content: "\e96e";
}
.icon-ojo-close:before {
  content: "\e96f";
}
.icon-nuevo-cliente:before {
  content: "\e970";
}
.icon-Notificacion:before {
  content: "\e971";
}
.icon-muerte-familiar:before {
  content: "\e972";
}
.icon-muerte-cualquier-causa:before {
  content: "\e973";
}
.icon-Muerte-consecuencia-Cancer:before {
  content: "\e974";
}
.icon-Muerte-accidental-vias-publicas:before {
  content: "\e975";
}
.icon-muerte-accidental-transporte-publico:before {
  content: "\e976";
}
.icon-Muerte-accidental-titular-acompaantes:before {
  content: "\e977";
}
.icon-Muerte-Accidental:before {
  content: "\e978";
}
.icon-muerte:before {
  content: "\e979";
}
.icon-mora:before {
  content: "\e97a";
  color: #00a3b5;
}
.icon-money:before {
  content: "\e97b";
}
.icon-microcreditos:before {
  content: "\e97c";
}
.icon-mes:before {
  content: "\e97d";
}
.icon-masivo:before {
  content: "\e97e";
}
.icon-mas:before {
  content: "\e97f";
}
.icon-mail:before {
  content: "\e980";
}
.icon-lo-que-quiero:before {
  content: "\e981";
}
.icon-LOGIN:before {
  content: "\e982";
}
.icon-like:before {
  content: "\e983";
}
.icon-libre-destino:before {
  content: "\e984";
}
.icon-libranzas:before {
  content: "\e985";
}
.icon-libranzaas:before {
  content: "\e986";
}
.icon-IVA:before {
  content: "\e987";
}
.icon-interes:before {
  content: "\e988";
}
.icon-indifferent:before {
  content: "\e989";
}
.icon-independiente:before {
  content: "\e98a";
}
.icon-indebido:before {
  content: "\e98b";
}
.icon-incentivos-acumulados:before {
  content: "\e98c";
}
.icon-Incapacidad-Total-Temporal-Fractura-Accidental:before {
  content: "\e98d";
}
.icon-incapacidad-total-temporal-cancer:before {
  content: "\e98e";
}
.icon-incapacidad-total-temporal:before {
  content: "\e98f";
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte:before {
  content: "\e990";
}
.icon-incapacidad-total-permanente:before {
  content: "\e991";
}
.icon-incapacidad-accidente-aereo:before {
  content: "\e992";
}
.icon-importante:before {
  content: "\e993";
  color: #e9721c;
}
.icon-identidad:before {
  content: "\e994";
}
.icon-hurto-oficina:before {
  content: "\e995";
}
.icon-hurto-calificado-bienes:before {
  content: "\e996";
}
.icon-hurto-cajero:before {
  content: "\e997";
}
.icon-hurto:before {
  content: "\e998";
}
.icon-hoy:before {
  content: "\e999";
}
.icon-horario:before {
  content: "\e99a";
  color: #93be21;
}
.icon-hogar:before {
  content: "\e99b";
}
.icon-hipotecario:before {
  content: "\e99c";
}
.icon-happiness-two:before {
  content: "\e99d";
}
.icon-happiness:before {
  content: "\e99e";
}
.icon-gps .path1:before {
  content: "\e99f";
  color: rgb(216, 30, 5);
}
.icon-gps .path2:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-Gastos-Medicos:before {
  content: "\e9a1";
}
.icon-gastos-hospitalizacion:before {
  content: "\e9a2";
}
.icon-Gastos-Funerarios:before {
  content: "\e9a3";
}
.icon-garantia-protegida:before {
  content: "\e9a4";
}
.icon-Garantia-Extendida:before {
  content: "\e9a5";
}
.icon-foto-celular:before {
  content: "\e9a6";
}
.icon-foto:before {
  content: "\e9a7";
}
.icon-forzado:before {
  content: "\e9a8";
}
.icon-forma-de-pago .path1:before {
  content: "\e9a9";
  color: rgb(109, 70, 153);
}
.icon-forma-de-pago .path2:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-flor:before {
  content: "\e9ab";
  color: #666;
}
.icon-flecha-gruesa:before {
  content: "\e9ac";
}
.icon-flecha-derecha:before {
  content: "\e9ad";
}
.icon-flecha-arriba:before {
  content: "\e9ae";
}
.icon-flecha-abajo:before {
  content: "\e9af";
}
.icon-firma:before {
  content: "\e9b0";
}
.icon-fecha:before {
  content: "\e9b1";
}
.icon-fax .path1:before {
  content: "\e9b2";
  color: rgb(109, 70, 153);
}
.icon-fax .path2:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-fax .path3:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-fax .path4:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-fax .path5:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-fax .path6:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-fax .path7:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-fax .path8:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-fax .path9:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-fax .path10:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-fax .path11:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-fax .path12:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-fax .path13:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-fax .path14:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-fax .path15:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-fax .path16:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-fax .path17:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-fax .path18:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-evento-protegido:before {
  content: "\e9c4";
}
.icon-estudiante:before {
  content: "\e9c5";
}
.icon-escribenos:before {
  content: "\e9c6";
}
.icon-enfermedades-graves:before {
  content: "\e9c7";
}
.icon-enfermedad:before {
  content: "\e9c8";
}
.icon-embarrassed:before {
  content: "\e9c9";
}
.icon-elite:before {
  content: "\e9ca";
}
.icon-eliminar:before {
  content: "\e9cb";
}
.icon-editar:before {
  content: "\e9cc";
}
.icon-edad-min:before {
  content: "\e9cd";
}
.icon-edad-max-permanencia:before {
  content: "\e9ce";
}
.icon-edad-max-ingreso:before {
  content: "\e9cf";
}
.icon-edad:before {
  content: "\e9d0";
  color: #ea721a;
}
.icon-direccin:before {
  content: "\e9d1";
  color: #00a3b5;
}
.icon-diagnostico-cancer:before {
  content: "\e9d2";
}
.icon-detalles:before {
  content: "\e9d3";
}
.icon-despues-de-iva:before {
  content: "\e9d4";
}
.icon-despido-sin-justa-causa:before {
  content: "\e9d5";
}
.icon-desempleo-2:before {
  content: "\e9d6";
}
.icon-Desempleo:before {
  content: "\e9d7";
}
.icon-Desemembracion:before {
  content: "\e9d8";
}
.icon-descargar-carta:before {
  content: "\e9d9";
}
.icon-denegados:before {
  content: "\e9da";
}
.icon-defensor-suplente .path1:before {
  content: "\e9db";
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path2:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path3:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path4:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path5:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path6:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path7:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path8:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path9:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path10:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path11:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path12:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path13:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path14:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-defensor-suplente .path15:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-defensor-suplente .path16:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-defensor-suplente .path17:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-defensor-suplente .path18:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-defensor-suplente .path19:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-defensor-suplente .path20:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-defensor-suplente .path21:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-defensor-suplente .path22:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-defensor-suplente .path23:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-defensor-principal .path1:before {
  content: "\e9f2";
  color: rgb(216, 30, 5);
}
.icon-defensor-principal .path2:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-defensor-principal .path3:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-def-suplente:before {
  content: "\e9f5";
  color: #00a3b5;
}
.icon-def-principal:before {
  content: "\e9f6";
  color: #00965e;
}
.icon-decoracion2:before {
  content: "\e9f7";
}
.icon-decoracion1:before {
  content: "\e9f8";
}
.icon-declaraciones .path1:before {
  content: "\e9f9";
  color: rgb(204, 0, 102);
}
.icon-declaraciones .path2:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-declaraciones .path3:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-declaraciones .path4:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-declaraciones .path5:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(204, 0, 102);
}
.icon-datos-asegurado:before {
  content: "\e9fe";
}
.icon-Cuidados-prologandos:before {
  content: "\e9ff";
}
.icon-cuentas:before {
  content: "\ea00";
}
.icon-credito-consumo:before {
  content: "\ea01";
}
.icon-crediservices:before {
  content: "\ea02";
}
.icon-correo:before {
  content: "\ea03";
  color: #93be21;
}
.icon-corazon-vacio:before {
  content: "\ea04";
}
.icon-corazon-lleno:before {
  content: "\ea05";
}
.icon-corazon75:before {
  content: "\ea06";
}
.icon-corazon50:before {
  content: "\ea07";
}
.icon-corazon25:before {
  content: "\ea08";
}
.icon-consentimiento:before {
  content: "\ea09";
  color: #ea721a;
}
.icon-condiciones:before {
  content: "\ea0a";
  color: #ea721a;
}
.icon-Compras-fraudulentas-Internet:before {
  content: "\ea0b";
}
.icon-compra-protegida:before {
  content: "\ea0c";
}
.icon-colombia:before {
  content: "\ea0d";
  color: #666;
}
.icon-cobertura-hogar-line:before {
  content: "\ea0e";
}
.icon-Clonacion-Tarjeta:before {
  content: "\ea0f";
}
.icon-cliente-antiguo:before {
  content: "\ea10";
}
.icon-Cirugia-Reconstructiva:before {
  content: "\ea11";
}
.icon-cirugia:before {
  content: "\ea12";
}
.icon-ciclo:before {
  content: "\ea13";
}
.icon-check:before {
  content: "\ea14";
}
.icon-cerrar:before {
  content: "\ea15";
}
.icon-carta-cardif .path1:before {
  content: "\ea16";
  color: rgb(216, 30, 5);
}
.icon-carta-cardif .path2:before {
  content: "\ea17";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-carta-cardif .path3:before {
  content: "\ea18";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-carta-cardif .path4:before {
  content: "\ea19";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-carta-aseguraado .path1:before {
  content: "\ea1a";
  color: rgb(216, 30, 5);
}
.icon-carta-aseguraado .path2:before {
  content: "\ea1b";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-carta-aseguraado .path3:before {
  content: "\ea1c";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-carta-aseguraado .path4:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-carta-aseguraado .path5:before {
  content: "\ea1e";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-carta-aseguraado .path6:before {
  content: "\ea1f";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-carta-aseguraado .path7:before {
  content: "\ea20";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-carta-aseguraado .path8:before {
  content: "\ea21";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-carta-aseguraado .path9:before {
  content: "\ea22";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-caracteristicas:before {
  content: "\ea23";
  color: #ea721a;
}
.icon-cancer:before {
  content: "\ea24";
}
.icon-cancelacion:before {
  content: "\ea25";
  color: #93be21;
}
.icon-Canasta-Familiar-caso-muerte:before {
  content: "\ea26";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2:before {
  content: "\ea27";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2---copia:before {
  content: "\ea28";
}
.icon-cajero:before {
  content: "\ea29";
}
.icon-buscar-foto:before {
  content: "\ea2a";
}
.icon-bolso:before {
  content: "\ea2b";
}
.icon-billetera .path1:before {
  content: "\ea2c";
  color: rgb(216, 30, 5);
}
.icon-billetera .path2:before {
  content: "\ea2d";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-billetera .path3:before {
  content: "\ea2e";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-billetera .path4:before {
  content: "\ea2f";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-billetera .path5:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-billetera .path6:before {
  content: "\ea31";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-billetera .path7:before {
  content: "\ea32";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-billetera .path8:before {
  content: "\ea33";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-billetera .path9:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-billetera .path10:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-billetera .path11:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-billetera .path12:before {
  content: "\ea37";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-bienes:before {
  content: "\ea38";
}
.icon-beneficiarios .path1:before {
  content: "\ea39";
  color: rgb(102, 102, 102);
}
.icon-beneficiarios .path2:before {
  content: "\ea3a";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-beneficiarios .path3:before {
  content: "\ea3b";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-beneficiarios .path4:before {
  content: "\ea3c";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-autorizaciones .path1:before {
  content: "\ea3d";
  color: rgb(102, 102, 102);
}
.icon-autorizaciones .path2:before {
  content: "\ea3e";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-autorizaciones .path3:before {
  content: "\ea3f";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-autorizaciones .path4:before {
  content: "\ea40";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-autorizaciones .path5:before {
  content: "\ea41";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-autorizaciones .path6:before {
  content: "\ea42";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-autorizaciones .path7:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-autorizaciones .path8:before {
  content: "\ea44";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-autorizaciones .path9:before {
  content: "\ea45";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-autorizaciones .path10:before {
  content: "\ea46";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-autorizaciones .path11:before {
  content: "\ea47";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-autorizaciones .path12:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-autorizaciones .path13:before {
  content: "\ea49";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-autorizaciones .path14:before {
  content: "\ea4a";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-atencion4:before {
  content: "\ea4b";
  color: #c20a6a;
}
.icon-atencion3:before {
  content: "\ea4c";
  color: #ea721a;
}
.icon-atencion2:before {
  content: "\ea4d";
  color: #00a3b5;
}
.icon-atencion:before {
  content: "\ea4e";
  color: #ea721a;
}
.icon-Asistencia--transporte:before {
  content: "\ea4f";
}
.icon-Asistencia--transporte2:before {
  content: "\ea50";
}
.icon-aseguradora .path1:before {
  content: "\ea51";
  color: rgb(102, 102, 102);
}
.icon-aseguradora .path2:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-aseguradora .path3:before {
  content: "\ea53";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-aseguradora .path4:before {
  content: "\ea54";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-aseguradora .path5:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-aseguradora .path6:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(102, 51, 153);
}
.icon-asegurado .path1:before {
  content: "\ea57";
  color: rgb(102, 102, 102);
}
.icon-asegurado .path2:before {
  content: "\ea58";
  margin-left: -1em;
  color: rgb(109, 70, 153);
}
.icon-asalariado:before {
  content: "\ea59";
}
.icon-arrow-swipe:before {
  content: "\ea5a";
}
.icon-arrow-detail-top:before {
  content: "\ea5b";
}
.icon-arrow-detail-right:before {
  content: "\ea5c";
}
.icon-arrow-detail-left:before {
  content: "\ea5d";
}
.icon-arrow-detail-bottom:before {
  content: "\ea5e";
}
.icon-archivo-adjunto:before {
  content: "\ea5f";
}
.icon-anual:before {
  content: "\ea60";
}
.icon-antes-de-iva:before {
  content: "\ea61";
}
.icon-analisis:before {
  content: "\ea62";
}
.icon-alerta:before {
  content: "\ea63";
}
.icon-alert:before {
  content: "\ea64";
}
.icon-advance:before {
  content: "\ea65";
}
.icon-actores .path1:before {
  content: "\ea66";
  color: rgb(109, 70, 153);
}
.icon-actores .path2:before {
  content: "\ea67";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-accidente:before {
  content: "\ea68";
}
.icon-abue2:before {
  content: "\ea69";
}
.icon-66:before {
  content: "\ea6a";
}
.icon-65:before {
  content: "\ea6b";
}
.icon-44:before {
  content: "\ea6c";
}
.icon-25:before {
  content: "\ea6d";
}