
@font-face {
  font-family: 'BNPPSansExtraBold-Italic';
  src: url('BNPPSansExtraBold-Italic.eot?#iefix') format('embedded-opentype'),  url('BNPPSansExtraBold-Italic.woff') format('woff'), url('BNPPSansExtraBold-Italic.ttf')  format('truetype'), url('BNPPSansExtraBold-Italic.svg#BNPPSansExtraBold-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
