.logo {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	img{
		max-width: 200px;
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 1230px) {
    .logo {
        img{
            max-width: 200px;
            margin: 12px 0;
        }
    }    
}