
@font-face {
    font-family: 'BNPPSans-Bold';
    src: url('BNPPSans-Bold.eot?#iefix') format('embedded-opentype'),  
    url('BNPPSans-Bold.woff') format('woff'), 
    url('BNPPSans-Bold.ttf')  format('truetype'), 
    url('BNPPSans-Bold.svg#BNPPSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

