.logo {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	padding: 10px;
	float: left;
	img{
		height: 40px;
	}
}

@media only screen and (max-width: $mobile){
	.logo {
		img{
			height: 30px;
		}
	}	
}