// -----------------------medidad de pantallas-----------------------
$max-ancho-pantalla: 1300px;
$max-ancho-portlet: 1260px;

// maximo ancho del header
#wrapper .container-portal {
    max-width: $max-ancho-pantalla;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

// maximo ancho del contenedor de los modulos
#main-content .content-page {
    max-width: $max-ancho-portlet; 
    margin: 0px auto;
    float: none;
}

// -------------------------------Colores-------------------------------
$rojoPrimario: #CD1719;
$rojoSecundario:  #E30613;
$azulPrimario: #0095DB;
$azulterciario:#007DBA;
$azulSecundario: #4DB1B0;
$morado: #623991;
$naranjaPrimario: #EE7016;
$grisPrimario: #6D6E70;
$grisSecundario: #E6E6E6;
$grisTerciario: #333333;
$blanco: #fff;

// variables en CSS para contenidos web y apps
:root {
    --colorAzulPr: #{$azulSecundario};
    --colorAzulSe: #{$azulPrimario};
    --colorRojoPr: #{$rojoPrimario};
    --colorRojoSe: #{$rojoSecundario};
    --colormorado: #{$morado};
    --colorNaranja: #{$naranjaPrimario};
    --grisPr: #{$grisPrimario};
    --grisSe: #{$grisSecundario};
    --grisTer: #{$grisTerciario};
    --tipografiaRe: 'montbook';
}
// --------------------------------sombras--------------------------------
.sombra1 {
    -webkit-box-shadow: 1px 1px 8px #868686;
    -moz-box-shadow: 1px 1px 8px #868686;
    box-shadow: 1px 1px 8px #868686;
}

// -------------------------------box-sizing-------------------------------
.bx-sizing-bb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.bx-sizing-cb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input.check[type=checkbox] {
  display: none;
}
.check-box{
  border-radius: 4px;
  display: flex;
  margin: 0;
  margin-right: 0px;
  cursor: pointer;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  position: relative;
  transition: border-color ease .2s;
  margin-right: 10px !important;
  background: #fff;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked + .check-box,
.check-box.checked{
  background: $rojoSecundario;
}
input[type="checkbox"]:checked + .check-box::before, 
.check-box.checked::before{
  content: "\2713";
  border-radius: 0.2em;
  display: inline-flex;
  width: 15px;
  height: 15px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-right: 0.2em;
  justify-content: center;
  color: #fff;
  transition: .2s;
  font-size: 17px;
  align-items: center;
}

// loader css
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: $rojoSecundario;
    font-size: 10px;
    margin: 60px auto 70px;
    position: relative;
    text-indent: 0px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader span {
    text-align: center;
    margin: 0px;
    position: relative;
    left: -45px;
    top: -35px;
    color: $grisPrimario;
    font: 400 25px/1.3 "montbook";
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

/*----------------------------DiseÃ±o de los input----------------------------*/
.input-primario {
    padding: 7px 10px;
    height: auto;
    border-radius: 4px;
    color: $grisPrimario;
    background-color: #fff;
    font-size: 16px;
}
.input-primario:focus{
    color: $grisPrimario;
}
.inputCss.input-design[readonly] {
    padding: 7px 30px 6px 20px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    border-radius: 4px !important;
    width: 100%;
    background: #fff;
    color: $grisTerciario;
    font: 400 16px/1.3 "montbook";
    cursor: pointer;
	height: 34px;
}

/*ancho*/
.full {
    width: 100%;
}

/*------------------------DiseÃ±os de los checkbox radiales---------------------------*/
input.radioBox[type="radio"] {
    display: none;
}
input.radioBox[type="radio"] + label {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 2px solid $rojoSecundario;
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    margin: 0px 10px 0px 0px;
}
input.radioBox[type="radio"] + label:last-child {
    margin-bottom: 0;
}
input.radioBox[type="radio"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}
input.radioBox[type="radio"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $rojoSecundario;
}

// ------------------------DiseÃ±os de los checkbox radiales---------------------------
input.radioBox[type="checkbox"] {
    display: none;
}
input.radioBox[type="checkbox"] + label {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $rojoSecundario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
}
input.radioBox[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}
input.radioBox[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}
input.radioBox[type="checkbox"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $rojoSecundario;
}

/*------------------------DiseÃ±os de los select---------------------------*/
.select-primario * {
    outline: none !important;
}
.select-primario .dropdown-backdrop {
    position: relative;
}
.select-primario button {
    background: #ffffff;
    font: 500 16px/1.3 "montbook";
    border-radius: 4px;
    color: $grisPrimario;
    border:  1px solid $grisTerciario;
    padding: 8px 10px 7px 15px;
}
.select-primario.open button {
    background: $grisPrimario!important;
}
.select-primario button:hover {
    border: 1px solid #dededf;
    background-color: #fff;
}
.select-primario button .filter-option {
    color: $grisTerciario !important;
}
.select-primario.open button .filter-option {
    color: #fff!important;
}
.select-primario button.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}
.select-primario .btn-default:not(:disabled):not(.disabled):active, 
.select-primario .btn-default:not(:disabled):not(.disabled).active, 
.select-primario.show > .btn-default.dropdown-toggle {
    background: #fff;
}
.select-primario .btn-default:disabled,
.select-primario .btn-default.disabled {
    background: #e9ecef;
}
.select-primario button:after {
    display: none !important;
}
.select-primario .dropdown-menu {
    padding-top: 20px;
    z-index: 2;
    margin-top: -3px;
}
.select-primario .dropdown-menu.open.show .dropdown-menu {
    display: block;
}
.select-primario .dropdown-menu ul li a {
    font: 300 16px/1.3 "montbook";
    color: $grisPrimario !important;
    width: calc(100% - 20px);
    margin: 0 auto;
    border-bottom: 1px solid #ccc !important;
    padding: 6px 5px;
}
.select-primario .dropdown-menu ul li a:hover {
    background: $rojoSecundario;
    color: $blanco !important;
}
.select-primario .dropdown-menu ul li:last-child a {
    border: none !important;
}
.select-primario .caret {
    color: $grisTerciario;
}
/*DiseÃ±o input tipo file*/
.filupp > input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.filupp {
    position: relative;
    background: #ffffff;
    display: block;
    padding: 3px 18px;
    width: 91%;
    border: 1px solid #d5d5d5;
    color: $rojoPrimario;
    cursor: pointer;
    border-radius: 40px;
    font: 400 16px/1.6 "montbook";
    overflow: hidden;
}
.filupp-file-name {
    width: 75%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.filupp .icon {
    float: right;
    color: $rojoSecundario;
    font-size: 25px;
    position: relative;
    right: -14px;
    background: #fff;
    width: 30px;
    margin-right: -6px;
}
.filupp .js-value {
    position: absolute;
    width: 120%;
    left: 10px;
}

// ---------------------------------DatePicker---------------------------------
#datepicker {
    position: relative;
    z-index: 0;
}
.icon-input.icon {
    position: absolute;
    right: 0px;
    z-index: 2;
    padding: 2px 3px;
    font-size: 20px;
    color: $rojoPrimario;
    background: none;
    border: none;
    width: auto;
    cursor: pointer;
    margin: 5px 6px;
    z-index: 3;
}
.datepicker-dropdown {
    border-radius: 10px;
    padding: 20px !important;
}
.datepicker-dropdown th.prev,
.datepicker-dropdown th.next,
.datepicker-switch {
    color: $rojoPrimario;
}
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background: $rojoSecundario !important;
    border-radius: 50%;
    color: $rojoPrimario;
}
.datepicker table tr td.today,
.datepicker table tr td span.active.active {
    color: $rojoPrimario !important;
    font-weight: 800;
    background: #fff !important;
}
.datepicker table tr td.active.active {
    background: $rojoSecundario !important;
    border-radius: 50%;
    color: $blanco;
}
.datepicker table tr td span.focused {
    background: $rojoSecundario !important;
    border-radius: 50%;
    color: $rojoPrimario !important;
    height: 40px;
    line-height: 40px;
    top: 7px;
    position: relative;
}
.table-condensed > thead > tr > th {
    color: $rojoPrimario;
}
.datepicker.dropdown-menu {
    overflow: hidden
}
.datepicker table {
    width: 100%;
}

// ----------------------------DiseÃ±o de botones----------------------------
// DiseÃ±o boton principal
.boton-primario {
    background: $rojoPrimario;
    padding: 10px 50px;
    border-radius: 6px;
    font: 600 16px/1.3 "montbook";
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    color: #fff !important;
    position: relative;
    display: table;
	text-align: center;
}
.boton-primario:focus {
    outline: none;
    text-decoration: none;

}
.boton-primario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}
.boton-primario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
    text-align: initial;
}
.boton-primario:hover {
    text-decoration: none;
    background: $rojoSecundario;
    color: $blanco!important;
}
.boton-primario.volver span {
    left: 10px;
    right: inherit;
}

// DiseÃ±o boton secundario
.boton-secundario {
    background: $azulSecundario;
    padding: 10px 50px;
    border-radius: 6px;
    font: 600 16px/1.3 "montbook";
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    color: $blanco !important;
    position: relative;
    display: table;
	text-align: center;
    border: 1px solid;
}
.boton-secundario:focus {
    outline: none;
}
.boton-secundario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $rojoPrimario;
    text-align: initial;    
}
.boton-secundario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}
.boton-secundario:hover {
    text-decoration: none;
    background: $azulSecundario;
    color: #fff!important;
}

.boton-secundario:focus {
    text-decoration: none;
    color: #fff !important;
}
.boton-secundario.volver span {
    left: 10px;
    right: inherit;
}

// pulso animaciÃ³n
.pulse {
    box-shadow: 0 0 0 rgba(85, 85, 85, 0.5);
    animation: pulse 1s infinite;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(85, 85, 85, 0.5);
    }
    70% {
        -webkit-box-shadow: 0 0 10px 3px rgba(85, 85, 85, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(85, 85, 85, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(85, 85, 85, 0.5);
        box-shadow: 0 0 0 0 rgba(85, 85, 85, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 10px 3px rgba(85, 85, 85, 0.6);
        box-shadow: 0 0 10px 3px rgba(85, 85, 85, 0.6);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(85, 85, 85, 0);
        box-shadow: 0 0 0 0 rgba(85, 85, 85, 0);
    }
}

// -------------------------- Modal--------------------------
.modals {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}
.modals .modal-bodys {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.modals .modal-bodys .content {
    margin: 0 auto;
    display: table;
    width: 90%;
    max-width: 700px;
    border-radius: 6px;
    border: 2px solid $grisSecundario;
    background: #fff;
    padding: 10px;
    position: relative;
}
.modals .modal-bodys .content > .salir {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
    font-size: 20px;
    color: $rojoPrimario;
    cursor: pointer;
}
.modals .modal-bodys .content > .salir:hover {
    color: $rojoSecundario;
}
.oculto {
    display: none;
}
.mensaje {
    text-align: center;
    margin: 0;
    padding: 20px 0px;
    color: $grisPrimario;
}

#cargando-general {
    .content{
        background: none;
        border: none;
        max-inline-size: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
            .gifLoader{
                max-width: 250px;
            }
    }
}

// -------------------------- Notificaciones--------------------------
.btn-menu,
#notifica {
    margin-top: 0;
}
#notifica .shortIcon {
    width: 100%;
}
#counts {
    position: absolute;
    top: -7px;
    background: red;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    left: -6px;
    font: 400 16px/1.3 "montbook";
    display: none;
}
#counts.desktop {
    position: absolute !important;
    top: 15px;
    line-height: 1.3;
    left: 5px;
}
#navigation #padre .dropdown-menu {
    left: 122px !important;
    width: 400px !important;
    max-width: 400px;
    border: none;
    padding-bottom: 0px;
    box-shadow: none;
    border-bottom: 1px solid #e2e8ec;
}
#padre .list-group-item-field .user-info, 
#padre .list-group-item-content .title, 
#navigation #padre .dropdown-menu .dropdown-header, 
#navigation #padre .dropdown-menu:before, #navigation #padre .dropdown-menu:after{
    display: none;
}
#padre .list-group-item-field{
    padding: 0px !important;
    vertical-align: middle;
}
#padre .display-style-descriptive {
    margin: 0;
    box-shadow: none;
}
#padre .list-group-item-content{
    padding: 10px !important;
    vertical-align: middle;
    font: 400 16px/1.3 "montbook";
}
#padre .list-group-item-content .block1 {
    color: #f17c05;
    font: 300 14px/1.3 "montbook";
}
#verNoti {
    background: #f9f7f4;
    text-align: center;
    padding: 14px 5px;
    // background: url(../images/banco_bogota/grafismo.png);
    background-size: inherit;
    background-repeat: no-repeat;
    position: relative;
}
#verNoti:before {
    content: "";
    width: 2px;
    background: red;
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
}
#verNoti:after {
    content: "";
    width: 2px;
    background: $rojoSecundario;
    display: table;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
}
#verNoti a {
    font: 400 16px/1.3 "montbook";
    color: $rojoPrimario;
}
#verNoti a:hover{
    color: $rojoSecundario;
}
#padre .list-group-item-content .block2 {
    font: 400 18px/1.3 "montbook";
}
#padre .list-group-item-content .timestamp {
    font: 400 14px/1.3 "montbook";
    color: $rojoPrimario;
}
.taglib-search-iterator-page-iterator-bottom {
    display: none;
}
body .select-primario [aria-expanded="true"] + .dropdown-menu {
    top: 35px;
}
/*arreglar el login por culpa del api de chat*/
form#_com_liferay_login_web_portlet_LoginPortlet_loginForm fieldset {
    display: block;
}
// -------------tipografia---------------------
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 31, 2021 */

@font-face {
    font-family: 'montbook';
    src: url('fonts//fontfabric_-_mont_book-webfont.woff2') format('woff2'),
         url('fonts//fontfabric_-_mont_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montblack';
    src: url('fonts//fontfabric_-_mont_black-webfont.woff2') format('woff2'),
         url('fonts//fontfabric_-_mont_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montlight';
    src: url('fonts//fontfabric_-_mont_light-webfont.woff2') format('woff2'),
         url('fonts//fontfabric_-_mont_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
// ----------------------------Fuentes iconograficas----------------------------
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/iconmoon/icomoon.eot?ypj1y');
  src:  url('fonts/iconmoon/icomoon.eot?ypj1y#iefix') format('embedded-opentype'),
    url('fonts/iconmoon/icomoon.ttf?ypj1y') format('truetype'),
    url('fonts/iconmoon/icomoon.woff?ypj1y') format('woff'),
    url('fonts/iconmoon/icomoon.svg?ypj1y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-avatar-5:before {
  content: "\ee97";
}
.icon-avatar-1:before {
  content: "\ee98";
}
.icon-avatar-2:before {
  content: "\ee99";
}
.icon-avatar-3:before {
  content: "\ee9a";
}
.icon-avatar-4:before {
  content: "\ee9b";
}
.icon-Ayuno:before {
  content: "\ee9c";
}
.icon-cancel-1:before {
  content: "\eea0";
}
.icon-clock-1:before {
  content: "\eea8";
}
.icon-nobike:before {
  content: "\eeaf";
}
.icon-no-smoking-1:before {
  content: "\eeb5";
}
.icon-antes-cena:before {
  content: "\eeba";
}
.icon-respiratorias:before {
  content: "\ee71";
}
.icon-swm:before {
  content: "\ee72";
}
.icon-alto-riesgo:before {
  content: "\ee73";
}
.icon-cardiovascular-corazon:before {
  content: "\ee74";
}
.icon-cerebro:before {
  content: "\ee75";
}
.icon-clasico:before {
  content: "\ee76";
}
.icon-Coursera-icon:before {
  content: "\ee77";
}
.icon-coursera-logo:before {
  content: "\ee7d";
}
.icon-degenerativas:before {
  content: "\ee7e";
}
.icon-gastrointestinal:before {
  content: "\ee7f";
}
.icon-geneticas:before {
  content: "\ee80";
}
.icon-hematologicas:before {
  content: "\ee81";
}
.icon-import:before {
  content: "\ee82";
}
.icon-infecciosa:before {
  content: "\ee83";
}
.icon-instafit-icon:before {
  content: "\ee84";
}
.icon-instafit-logo:before {
  content: "\ee90";
}
.icon-lesion:before {
  content: "\ee91";
}
.icon-mentales:before {
  content: "\ee92";
}
.icon-metabolicas:before {
  content: "\ee93";
}
.icon-oncologicas:before {
  content: "\ee94";
}
.icon-premium:before {
  content: "\ee95";
}
.icon-renales:before {
  content: "\ee96";
}
.icon-cardiovascular:before {
  content: "\ee22";
}
.icon-entrenamiento_funcional:before {
  content: "\ee27";
}
.icon-gym:before {
  content: "\ee29";
}
.icon-meditacion:before {
  content: "\ee2b";
}
.icon-baile:before {
  content: "\ee2d";
}
.icon-evalua_sintomas:before {
  content: "\ee30";
}
.icon-para_ti_y_tu_familia:before {
  content: "\ee3c";
}
.icon-preguntale_medico:before {
  content: "\ee46";
}
.icon-reduce_el_estres:before {
  content: "\ee54";
}
.icon-un_medico:before {
  content: "\ee5c";
}
.icon-chatea_medico:before {
  content: "\ee64";
}
.icon-cambiar:before {
  content: "\ee1c";
}
.icon-check-shape-circle:before {
  content: "\ee1d";
}
.icon-correo:before {
  content: "\ee1e";
}
.icon-llamada:before {
  content: "\ee1f";
}
.icon-preguntas:before {
  content: "\ee20";
}
.icon-sms:before {
  content: "\ee21";
}
.icon-estrategia:before {
  content: "\ee18";
}
.icon-habilidades-b:before {
  content: "\ee19";
}
.icon-proteccion:before {
  content: "\ee1a";
}
.icon-educacion:before {
  content: "\ee1b";
}
.icon-busqueda:before {
  content: "\ee0c";
}
.icon-bombillo:before {
  content: "\ee0d";
}
.icon-creditos:before {
  content: "\edf8";
}
.icon-incentivos-acumulados1:before {
  content: "\edff";
}
.icon-tarjetas:before {
  content: "\ee06";
}
.icon-edad-min:before {
  content: "\ed5d";
}
.icon-interes:before {
  content: "\ed5e";
}
.icon-interes3:before {
  content: "\ed60";
}
.icon-interes5:before {
  content: "\ed65";
}
.icon-interes6:before {
  content: "\ed67";
}
.icon-terminacion:before {
  content: "\ed69";
}
.icon-interes1:before {
  content: "\ed6c";
}
.icon-interes2:before {
  content: "\ed6d";
}
.icon-revocacion:before {
  content: "\ed80";
}
.icon-revocacion2:before {
  content: "\ed89";
}
.icon-atencion:before {
  content: "\ed8c";
}
.icon-datos:before {
  content: "\ed94";
}
.icon-defensor-p:before {
  content: "\ed97";
}
.icon-interes4:before {
  content: "\ed9f";
}
.icon-atencion2:before {
  content: "\eda4";
}
.icon-atencion3:before {
  content: "\eda7";
}
.icon-atencion4:before {
  content: "\edaf";
}
.icon-caracteristicas:before {
  content: "\edc4";
}
.icon-condiciones:before {
  content: "\edc7";
}
.icon-consentimiento:before {
  content: "\edd0";
}
.icon-defensor-s:before {
  content: "\edd9";
}
.icon-edad:before {
  content: "\edf0";
}
.icon-edad-max:before {
  content: "\edf1";
}
.icon-edad-max-p:before {
  content: "\edf7";
}
.icon-hogar-sustraccion:before {
  content: "\ed1a";
}
.icon-hogar-terremoto:before {
  content: "\ed42";
}
.icon-inundacion-hogar:before {
  content: "\ed49";
}
.icon-responsabilidad-hogar:before {
  content: "\ed4f";
}
.icon-hogar-electrico:before {
  content: "\ed54";
}
.icon-hogar-incendio:before {
  content: "\ed59";
}
.icon-hogarSi:before {
  content: "\ecdb";
}
.icon-con-hijos:before {
  content: "\ecdd";
}
.icon-profesional:before {
  content: "\ece5";
}
.icon-contrasena:before {
  content: "\ecf6";
}
.icon-car-accident:before {
  content: "\ecf7";
}
.icon-me-robaron:before {
  content: "\eccf";
}
.icon-2:before {
  content: "\ecbd";
}
.icon-accidente-carro:before {
  content: "\ecbf";
}
.icon-casa-danada:before {
  content: "\ecc6";
}
.icon-check-circle:before {
  content: "\ecc7";
}
.icon-date:before {
  content: "\ecc9";
}
.icon-editar-shape:before {
  content: "\ecca";
}
.icon-fecha-derecha-red:before {
  content: "\eccb";
}
.icon-link:before {
  content: "\eccc";
}
.icon-nivel1:before {
  content: "\ece6";
}
.icon-nivel2:before {
  content: "\ecf9";
}
.icon-nivel3:before {
  content: "\ed09";
}
.icon-nivel4:before {
  content: "\ed1b";
}
.icon-nivel5:before {
  content: "\ed2d";
}
.icon-tel-ring:before {
  content: "\ed40";
}
.icon-youtube:before {
  content: "\ed41";
}
.icon-abue2:before {
  content: "\ecbc";
}
.icon-exclusiones:before {
  content: "\ecb9";
}
.icon-Clonacion-Tarjeta:before {
  content: "\e9fe";
}
.icon-Compras-fraudulentas-Internet:before {
  content: "\ea01";
}
.icon-Gastos-Medicos:before {
  content: "\ea5b";
}
.icon-forzado:before {
  content: "\ec9f";
}
.icon-Auxilio-funerario:before {
  content: "\eca6";
}
.icon-preferente:before {
  content: "\ec9e";
}
.icon-estudiante:before {
  content: "\ec92";
}
.icon-25:before {
  content: "\ec93";
}
.icon-44:before {
  content: "\ec94";
}
.icon-65:before {
  content: "\ec95";
}
.icon-66:before {
  content: "\ec96";
}
.icon-masivo:before {
  content: "\ec97";
}
.icon-pensionado:before {
  content: "\ec98";
}
.icon-independiente:before {
  content: "\ec99";
}
.icon-asalariado:before {
  content: "\ec9a";
}
.icon-vehiculo1:before {
  content: "\ec9b";
}
.icon-credito-consumo1:before {
  content: "\ec9c";
}
.icon-cuentas:before {
  content: "\ec9d";
}
.icon-vehiculos:before {
  content: "\e9e5";
}
.icon-rotura-vidrios-espejos:before {
  content: "\ea69";
}
.icon-reposicion-llaves:before {
  content: "\ebbb";
}
.icon-reposicion-documentos:before {
  content: "\ebc2";
}
.icon-muerte-accidental-transporte-publico:before {
  content: "\ebd1";
}
.icon-Muerte-Accidental:before {
  content: "\ebde";
}
.icon-indebido:before {
  content: "\ebe8";
}
.icon-incapacidad-total-permanente:before {
  content: "\ebf9";
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte:before {
  content: "\ebfd";
}
.icon-incapacidad-accidente-aereo:before {
  content: "\ec05";
}
.icon-hurto-oficina:before {
  content: "\ec15";
}
.icon-hurto-calificado-bienes:before {
  content: "\ec1f";
}
.icon-gastos-hospitalizacion:before {
  content: "\ec29";
}
.icon-evento-protegido:before {
  content: "\ec34";
}
.icon-enfermedades-graves:before {
  content: "\ec37";
}
.icon-diagnostico-cancer:before {
  content: "\ec45";
}
.icon-Desempleo:before {
  content: "\ec4e";
}
.icon-Desemembracion:before {
  content: "\ec56";
}
.icon-bienes:before {
  content: "\ec5c";
}
.icon-Cirugia-Reconstructiva:before {
  content: "\ec61";
}
.icon-cajero:before {
  content: "\ec70";
}
.icon-bolso:before {
  content: "\ec80";
}
.icon-cirugia:before {
  content: "\e9fc";
}
.icon-Asistencia--transporte:before {
  content: "\eb10";
}
.icon-cesta-de-la-compra:before {
  content: "\eb1d";
}
.icon-garantia-extendida:before {
  content: "\eb24";
}
.icon-gastos-educacion-infantil:before {
  content: "\eb2b";
}
.icon-incapacidad-permanente-accidental-ocupantes-vehiculo:before {
  content: "\eb3b";
}
.icon-incapacidad-total-temporal:before {
  content: "\eb45";
}
.icon-Incapacidad-Total-Permanente-Accidente:before {
  content: "\eb4a";
}
.icon-Incapacidad-Total-Temporal:before {
  content: "\eb4f";
}
.icon-Incapacidad-Total-Temporal-Accidente:before {
  content: "\eb58";
}
.icon-Incapacidad-Total-Temporal-empleados:before {
  content: "\eb64";
}
.icon-muerte:before {
  content: "\eb6b";
}
.icon-Muerte-accidental-conductor-vehiculo:before {
  content: "\eb6d";
}
.icon-Muerte-accidental-ocupantes-vehiculo:before {
  content: "\eb77";
}
.icon-muerte-vehiculo-particular-peaton:before {
  content: "\eb7f";
}
.icon-Robo-bienes-electro-hogar:before {
  content: "\eb87";
}
.icon-Robo-bienes-hogar:before {
  content: "\eb9c";
}
.icon-Robo-de-elementos-vehiculos:before {
  content: "\eba4";
}
.icon-location:before {
  content: "\eaef";
}
.icon-LinkedIn:before {
  content: "\eaf5";
}
.icon-Illustrative:before {
  content: "\eaf6";
}
.icon-fb:before {
  content: "\eaee";
}
.icon-instagram:before {
  content: "\eaf0";
}
.icon-tw:before {
  content: "\eaf7";
}
.icon-universal:before {
  content: "\eaf8";
}
.icon-WA-Logo:before {
  content: "\eaf9";
}
.icon-traslado-medico:before {
  content: "\eafa";
}
.icon-traslado-acompanante:before {
  content: "\eafb";
}
.icon-reembolso:before {
  content: "\eafc";
}
.icon-ref-medicos:before {
  content: "\eafd";
}
.icon-medico-domicilio:before {
  content: "\eafe";
}
.icon-orientacion-medica:before {
  content: "\eaff";
}
.icon-asistencia-Legal:before {
  content: "\eb00";
}
.icon-asistencia-psico:before {
  content: "\eb01";
}
.icon-coordinacion-compra:before {
  content: "\eb02";
}
.icon-envio-enfermeria:before {
  content: "\eb03";
}
.icon-importante:before {
  content: "\eb04";
}
.icon-Robo-bienes-hogar1:before {
  content: "\eaeb";
}
.icon-cobertura-hogar:before {
  content: "\eaec";
}
.icon-Robo-bienes-electro-hogar1:before {
  content: "\eaed";
}
.icon-credito-consumo:before {
  content: "\eae7";
}
.icon-tarjeta-de-credito:before {
  content: "\eae8";
}
.icon-tarjeta-credito:before {
  content: "\eae9";
}
.icon-tarjeta-debito:before {
  content: "\eaea";
}
.icon-libranzas:before {
  content: "\e900";
}
.icon-vigencia:before {
  content: "\e901";
}
.icon-whatsApp:before {
  content: "\e907";
}
.icon-actores:before {
  content: "\e908";
}
.icon-asegurado:before {
  content: "\e90a";
}
.icon-aseguradora:before {
  content: "\e90c";
}
.icon-autorizaciones:before {
  content: "\e912";
}
.icon-beneficiarios:before {
  content: "\e920";
}
.icon-billetera:before {
  content: "\e924";
}
.icon-carta-aseguraado:before {
  content: "\e930";
}
.icon-carta-cardif:before {
  content: "\e939";
}
.icon-colombia:before {
  content: "\e93d";
}
.icon-declaraciones:before {
  content: "\e93e";
}
.icon-defensor-principal:before {
  content: "\e943";
}
.icon-defensor-suplente:before {
  content: "\e946";
}
.icon-duracion-seguro:before {
  content: "\e95d";
}
.icon-fax:before {
  content: "\e960";
}
.icon-flor:before {
  content: "\e972";
}
.icon-forma-de-pago:before {
  content: "\e973";
}
.icon-gps:before {
  content: "\e975";
}
.icon-horario:before {
  content: "\e977";
}
.icon-mail:before {
  content: "\e979";
}
.icon-periodo-carencia:before {
  content: "\e97a";
}
.icon-reloj:before {
  content: "\e984";
}
.icon-renovacion-seguro:before {
  content: "\e986";
}
.icon-responsabilidades:before {
  content: "\e988";
}
.icon-tarjeta-antigua:before {
  content: "\e98c";
}
.icon-tarjeta-cancelaciones:before {
  content: "\e992";
}
.icon-tarjeta-nueva:before {
  content: "\e997";
}
.icon-tel:before {
  content: "\e9a9";
}
.icon-tomador:before {
  content: "\e9aa";
}
.icon-accidente:before {
  content: "\e9ae";
}
.icon-actores1:before {
  content: "\e9af";
}
.icon-alert:before {
  content: "\e9b1";
}
.icon-alerta:before {
  content: "\e9b2";
}
.icon-analisis:before {
  content: "\e9b3";
}
.icon-antes-de-iva:before {
  content: "\e9b4";
}
.icon-anual:before {
  content: "\e9b5";
}
.icon-archivo-adjunto:before {
  content: "\e9b6";
}
.icon-arrow-detail-bottom:before {
  content: "\e9b7";
}
.icon-arrow-detail-left:before {
  content: "\e9b8";
}
.icon-arrow-detail-right:before {
  content: "\e9b9";
}
.icon-arrow-detail-top:before {
  content: "\e9ba";
}
.icon-arrow-swipe:before {
  content: "\e9bb";
}
.icon-asegurado1:before {
  content: "\e9bc";
}
.icon-aseguradora1:before {
  content: "\e9be";
}
.icon-Asistencia--transporte2:before {
  content: "\e9c4";
}
.icon-Asistencia--transporte1:before {
  content: "\e9c5";
}
.icon-autorizaciones1:before {
  content: "\e9c6";
}
.icon-beneficiarios1:before {
  content: "\e9d4";
}
.icon-bienes1:before {
  content: "\e9d8";
}
.icon-billetera1:before {
  content: "\e9d9";
}
.icon-buscar-foto:before {
  content: "\e9e6";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2---copia:before {
  content: "\e9e8";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2:before {
  content: "\e9e9";
}
.icon-Canasta-Familiar-caso-muerte:before {
  content: "\e9ea";
}
.icon-cancer:before {
  content: "\e9eb";
}
.icon-carta-aseguraado1:before {
  content: "\e9ec";
}
.icon-carta-cardif1:before {
  content: "\e9f5";
}
.icon-cerrar:before {
  content: "\e9f9";
}
.icon-check:before {
  content: "\e9fa";
}
.icon-ciclo:before {
  content: "\e9fb";
}
.icon-colombia1:before {
  content: "\e9ff";
}
.icon-corazon25:before {
  content: "\ea02";
}
.icon-corazon50:before {
  content: "\ea03";
}
.icon-corazon75:before {
  content: "\ea04";
}
.icon-corazon-lleno:before {
  content: "\ea05";
}
.icon-corazon-vacio:before {
  content: "\ea06";
}
.icon-crediservices:before {
  content: "\ea07";
}
.icon-Cuidados-prologandos:before {
  content: "\ea08";
}
.icon-declaraciones1:before {
  content: "\ea09";
}
.icon-decoracion1:before {
  content: "\ea0e";
}
.icon-decoracion2:before {
  content: "\ea0f";
}
.icon-defensor-principal1:before {
  content: "\ea10";
}
.icon-defensor-suplente1:before {
  content: "\ea13";
}
.icon-denegados:before {
  content: "\ea2a";
}
.icon-descargar-carta:before {
  content: "\ea2b";
}
.icon-desempleo-2:before {
  content: "\ea2e";
}
.icon-despido-sin-justa-causa:before {
  content: "\ea2f";
}
.icon-despues-de-iva:before {
  content: "\ea30";
}
.icon-detalles:before {
  content: "\ea31";
}
.icon-editar:before {
  content: "\ea33";
}
.icon-eliminar:before {
  content: "\ea34";
}
.icon-embarrassed:before {
  content: "\ea35";
}
.icon-enfermedad:before {
  content: "\ea36";
}
.icon-escribenos:before {
  content: "\ea38";
}
.icon-fax1:before {
  content: "\ea3a";
}
.icon-fecha:before {
  content: "\ea4c";
}
.icon-flecha-abajo:before {
  content: "\ea4d";
}
.icon-flecha-arriba:before {
  content: "\ea4e";
}
.icon-flecha-derecha:before {
  content: "\ea4f";
}
.icon-flecha-gruesa:before {
  content: "\ea50";
}
.icon-flor1:before {
  content: "\ea51";
}
.icon-forma-de-pago1:before {
  content: "\ea52";
}
.icon-forzado1:before {
  content: "\ea54";
}
.icon-foto:before {
  content: "\ea55";
}
.icon-foto-celular:before {
  content: "\ea56";
}
.icon-Garantia-Extendida:before {
  content: "\ea57";
}
.icon-garantia-protegida:before {
  content: "\ea58";
}
.icon-Gastos-Funerarios:before {
  content: "\ea59";
}
.icon-gps1:before {
  content: "\ea5c";
}
.icon-happiness:before {
  content: "\ea5e";
}
.icon-happiness-two:before {
  content: "\ea5f";
}
.icon-hipotecario:before {
  content: "\ea60";
}
.icon-hogar:before {
  content: "\ea61";
}
.icon-hoy:before {
  content: "\ea62";
}
.icon-hurto:before {
  content: "\ea63";
}
.icon-hurto-cajero:before {
  content: "\ea64";
}
.icon-identidad:before {
  content: "\ea67";
}
.icon-incapacidad-total-temporal1:before {
  content: "\ea6b";
}
.icon-incapacidad-total-temporal-cancer:before {
  content: "\ea6c";
}
.icon-Incapacidad-Total-Temporal-Fractura-Accidental:before {
  content: "\ea6d";
}
.icon-incentivos-acumulados:before {
  content: "\ea6e";
}
.icon-indifferent:before {
  content: "\ea70";
}
.icon-IVA:before {
  content: "\ea71";
}
.icon-libranzaas:before {
  content: "\ea72";
}
.icon-libre-destino:before {
  content: "\ea73";
}
.icon-like:before {
  content: "\ea74";
}
.icon-LOGIN:before {
  content: "\ea75";
}
.icon-lo-que-quiero:before {
  content: "\ea76";
}
.icon-mail1:before {
  content: "\ea77";
}
.icon-mas:before {
  content: "\ea78";
}
.icon-mes:before {
  content: "\ea79";
}
.icon-microcreditos:before {
  content: "\ea7a";
}
.icon-money:before {
  content: "\ea7b";
}
.icon-muerte1:before {
  content: "\ea7c";
}
.icon-Muerte-accidental-titular-acompaantes:before {
  content: "\ea7e";
}
.icon-Muerte-accidental-vias-publicas:before {
  content: "\ea80";
}
.icon-Muerte-consecuencia-Cancer:before {
  content: "\ea81";
}
.icon-muerte-cualquier-causa:before {
  content: "\ea82";
}
.icon-muerte-familiar:before {
  content: "\ea83";
}
.icon-Notificacion:before {
  content: "\ea84";
}
.icon-ojo-close:before {
  content: "\ea85";
}
.icon-ojo-open:before {
  content: "\ea86";
}
.icon-pagados:before {
  content: "\ea87";
}
.icon-perfil:before {
  content: "\ea88";
}
.icon-personas-protegidas:before {
  content: "\ea89";
}
.icon-personas-protegidas2:before {
  content: "\ea8a";
}
.icon-play:before {
  content: "\ea8b";
}
.icon-poliza:before {
  content: "\ea8c";
}
.icon-Poliza-todo-riesgo-hogar:before {
  content: "\ea8d";
}
.icon-Poliza-todo-riesgo-vehiculo:before {
  content: "\ea8e";
}
.icon-Proteccion-Garantizada-Auto:before {
  content: "\ea8f";
}
.icon-radicado:before {
  content: "\ea90";
}
.icon-region:before {
  content: "\ea91";
}
.icon-renta-canasta-familiar:before {
  content: "\ea92";
}
.icon-Renta-desempleo-Involuntario:before {
  content: "\ea93";
}
.icon-renta-educacion-hijos:before {
  content: "\ea94";
}
.icon-Renta--Hospitalizacion-debido-accidente:before {
  content: "\ea95";
}
.icon-Renta--Hospitalizacion-debido-accidente1:before {
  content: "\ea96";
}
.icon-renta-incapacidad:before {
  content: "\ea97";
}
.icon-Renta-medicamentos-Cancer:before {
  content: "\ea98";
}
.icon-Renta-mensual-Muerte:before {
  content: "\ea99";
}
.icon-Renta-Muerte-Cancer:before {
  content: "\ea9a";
}
.icon-Renta-Tratamiento-Cancer:before {
  content: "\ea9b";
}
.icon-reposicion-bolso-o-billetera:before {
  content: "\ea9c";
}
.icon-responsabilidades1:before {
  content: "\ea9f";
}
.icon-Robo--Automovil:before {
  content: "\eaa3";
}
.icon-Robo--Automovil1:before {
  content: "\eaa4";
}
.icon-robo-perdida-tarjeta:before {
  content: "\eaa5";
}
.icon-rotura-huesos:before {
  content: "\eaa6";
}
.icon-sad:before {
  content: "\eaa8";
}
.icon-scroll:before {
  content: "\eaa9";
}
.icon-sede-uno:before {
  content: "\eaaa";
}
.icon-semana:before {
  content: "\eaab";
}
.icon-sombrilla:before {
  content: "\eaac";
}
.icon-soporte:before {
  content: "\eaad";
}
.icon-star:before {
  content: "\eaae";
}
.icon-star-half:before {
  content: "\eaaf";
}
.icon-star-o:before {
  content: "\eab0";
}
.icon-suspendido:before {
  content: "\eab1";
}
.icon-swipe:before {
  content: "\eab2";
}
.icon-tarjeta:before {
  content: "\eab3";
}
.icon-tarjeta-antigua1:before {
  content: "\eab4";
}
.icon-tarjeta-cancelaciones1:before {
  content: "\eaba";
}
.icon-tarjeta-nueva1:before {
  content: "\eabf";
}
.icon-tarjeta-ventas:before {
  content: "\ead1";
}
.icon-TEL:before {
  content: "\ead2";
}
.icon-telefono:before {
  content: "\ead3";
}
.icon-tomador1:before {
  content: "\ead4";
}
.icon-trabajo:before {
  content: "\ead8";
}
.icon-Uso-Fraudulento-chequera:before {
  content: "\ead9";
}
.icon-vehiculo:before {
  content: "\eada";
}
.icon-very-happiness:before {
  content: "\eadc";
}
.icon-vigencia1:before {
  content: "\eadd";
}
.icon-vigilado:before {
  content: "\eae3";
}
.icon-web-cam:before {
  content: "\eae4";
}
.icon-whatsApp1:before {
  content: "\eae5";
}
.icon-zona:before {
  content: "\eae6";
}
