/*colores alkosto*/

$azulPrincipal: #2a55a0;
$amarilloPrincipal: #e7aa3d;
$naranjaPrincipal: #d87541;
$grisPrincipal: #59595b;
$grisClaro: #fafafa;

body.alkosto{
	font-family: "Roboto";
	/*botones*/
	.boton-primario{
		background: $azulPrincipal;
		&:hover{
			background: $naranjaPrincipal;
		}		
	}
	/*inputs*/
	.input-primario, .select-primario button, .inputCss.input-design[readonly]{
		border: none;
		border-radius: 4px !important;
		border: 1px solid $grisPrincipal;
		color: $azulPrincipal;
	}
	
    .input-primario::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
		color: $azulPrincipal;
    }

    .input-primario::-moz-placeholder {
        /* Firefox 19+ */
		color: $azulPrincipal;
    }

    .input-primario:-ms-input-placeholder {
        /* IE 10+ */
		color: $azulPrincipal;
    }

    .input-primario:-moz-placeholder {
 
		color: $azulPrincipal;
    }	
	/*select*/
	.select-primario button .filter-option{
		color: $azulPrincipal !important;
	}
	/*checkbox*/
	.check-box{
		border: 2px solid $azulPrincipal;
	}	
	
	input[type=checkbox]:checked + .check-box, .check-box.checked{
		background: transparent;
	}
	.check-box::before, .check-box::after{
		background: $azulPrincipal;
	}
	/*loader*/
	.loader, .loader span{
		background: $azulPrincipal;
	}
	/*modal*/
	.modals .modal-bodys .content{
		border: 2px solid $grisPrincipal;
		> .salir{
			color: $azulPrincipal;
		}
	}
	
}