/*colores alkosto*/

$verdePrincipal: #9fc54d;
$grisCarulla: #929496;

body.carulla{
	font-family: "ArcherPro-Book";
	/*botones*/
	.boton-primario{
		background: $verdePrincipal;
		&:hover{
			background: $grisCarulla;
		}		
	}
	/*inputs*/
	.input-primario, .select-primario button, .inputCss.input-design[readonly]{
		border: none;
		border-radius: 4px !important;
		border: 1px solid $grisCarulla;
		color: $verdePrincipal;
	}
	
    .input-primario::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
		color: $verdePrincipal;
    }

    .input-primario::-moz-placeholder {
        /* Firefox 19+ */
		color: $verdePrincipal;
    }

    .input-primario:-ms-input-placeholder {
        /* IE 10+ */
		color: $verdePrincipal;
    }

    .input-primario:-moz-placeholder {
 
		color: $verdePrincipal;
    }	
	/*select*/
	.select-primario button .filter-option{
		color: $verdePrincipal !important;
	}
	/*checkbox*/
	.check-box{
		border: 2px solid $verdePrincipal;
	}	
	
	input[type=checkbox]:checked + .check-box, .check-box.checked{
		background: transparent;
	}
	.check-box::before, .check-box::after{
		background: $verdePrincipal;
	}
	/*loader*/
	.loader, .loader span{
		background: $verdePrincipal;
	}
	/*modal*/
	.modals .modal-bodys .content{
		border: 2px solid $grisCarulla;
		> .salir{
			color: $verdePrincipal;
		}
	}
	
}