/*colores alkosto*/

$amarilloPrincipal: #ffe800;
$negroPrincipal: #231f20;
$grisExito: #f3f3f3;

body.exito{
	font-family: "Roboto";
	/*botones*/
	.boton-primario{
			background: $negroPrincipal;
		&:hover, &:hover span {
			background: $amarilloPrincipal;
			color: $negroPrincipal !important;
		}		
	}
	/*inputs*/
	.input-primario, .select-primario button, .inputCss.input-design[readonly]{
		border: none;
		border-radius: 4px !important;
		border: 1px solid $negroPrincipal;
		color: $negroPrincipal;
	}
	
    .input-primario::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
		color: $negroPrincipal;
    }

    .input-primario::-moz-placeholder {
        /* Firefox 19+ */
		color: $negroPrincipal;
    }

    .input-primario:-ms-input-placeholder {
        /* IE 10+ */
		color: $negroPrincipal;
    }

    .input-primario:-moz-placeholder {
 
		color: $negroPrincipal;
    }	
	/*select*/
	.select-primario button .filter-option{
		color: $negroPrincipal !important;
	}
	/*checkbox*/
	.check-box{
		border: 2px solid $negroPrincipal;
	}	
	
	input[type=checkbox]:checked + .check-box, .check-box.checked{
		background: transparent;
	}
	.check-box::before, .check-box::after{
		background: $negroPrincipal;
	}
	/*loader*/
	.loader, .loader span{
		background: $negroPrincipal;
	}
	/*modal*/
	.modals .modal-bodys .content{
		border: 2px solid $grisExito;
		> .salir{
			color: $negroPrincipal;
		}
	}
	
}