
// -----------------------medidad de pantallas-----------------------
$max-ancho-pantalla: 1300px;
$max-ancho-portlet: 1260px;

// maximo ancho del header
#wrapper .container-portal {
    max-width: $max-ancho-pantalla;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

// maximo ancho del contenedor de los modulos
#main-content .content-page {
    max-width: $max-ancho-portlet;
    margin: 0px auto;
    float: none;
}
.logo img{
    max-width: 230px !important;
}

// -------------------------------Colores-------------------------------
$verdePrimario: #02a066;
$grisPrimario: #404040;
$grisSecundario: #f3f3f3;
$naranjaPrimario: #ed8b00;
$blanco: #fff; 

// variables en CSS para contenidos web y apps
:root {
    --colorVerdePr: #{$verdePrimario};
    --colorNaranjaPr: #{$naranjaPrimario};
    --grisPr: #{$grisPrimario};
    --grisSe: #{$grisSecundario};
    --tipografiaRe: 'coreSans_regular';
    --tipografiaBd: 'coreSans_bold';
    --tipografiaLt: 'coreSans_light';
}
// --------------------------------sombras--------------------------------
.sombra1 {
    -webkit-box-shadow: 1px 1px 8px $naranjaPrimario;
    -moz-box-shadow: 1px 1px 8px $naranjaPrimario;
    box-shadow: 1px 1px 8px $naranjaPrimario;
}


// -------------------------------box-sizing-------------------------------
.bx-sizing-bb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.bx-sizing-cb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Checkmark style starts */
input.check[type=checkbox] {
  display: none;
}
.check-box{
  border-radius: 4px;
  display: flex;
  margin: 0;
  margin-right: 0px;
  cursor: pointer;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  position: relative;
  transition: border-color ease .2s;
  margin-right: 10px !important;
  background: #fff;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked + .check-box,
.check-box.checked{
  background: $verdePrimario;
}
input[type="checkbox"]:checked + .check-box::before, 
.check-box.checked::before{
  content: "\2713";
  border-radius: 0.2em;
  display: inline-flex;
  width: 15px;
  height: 15px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-right: 0.2em;
  justify-content: center;
  color: #fff;
  transition: .2s;
  font-size: 17px;
  align-items: center;
}
// loader css
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: $verdePrimario;
    font-size: 10px;
    margin: 60px auto 70px;
    position: relative;
    text-indent: 0px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader span {
    text-align: center;
    margin: 0px;
    position: relative;
    left: -45px;
    top: -35px;
    color: $grisPrimario;
    font: 400 25px/1.3 "coreSans_regular";
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}



/*----------------------------DiseÃ±o de los input----------------------------*/

.input-primario {
    padding: 6px 10px;
    height: auto;
    border-radius: 50px;
    color: #fff;
    background-color: #fff;
}

.inputCss.input-design[readonly] {
    padding: 7px 30px 6px 20px;
    border: 1px solid $naranjaPrimario;
    -webkit-box-shadow: inset 0 1px 0 $grisPrimario, #fff 0 1px 0;
    box-shadow: inset 0 1px 0 $grisPrimario, #fff 0 1px 0;
    border-radius: 50px !important;
    width: 100%;
    background: #fff;
    color: $grisPrimario;
    font: 400 16px/1.3 "coreSans_regular";
    cursor: pointer;
	height: 34px;
}

/*ancho*/

.full {
    width: 100%;
}


/*------------------------DiseÃ±os de los checkbox radiales---------------------------*/

input.radioBox[type="checkbox"],
input.radioBox[type="radio"] {
    display: none;
}

input.radioBox[type="checkbox"] + label,
input.radioBox[type="radio"] + label {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $verdePrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
}

input.radioBox[type="checkbox"] + label:last-child,
input.radioBox[type="radio"] + label:last-child  {
    margin-bottom: 0;
}

input.radioBox[type="checkbox"] + label:before,
input.radioBox[type="radio"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}

input.radioBox[type="checkbox"]:checked + label:before,
input.radioBox[type="radio"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $verdePrimario;
}

// ----------------------------DiseÃ±o de los input----------------------------
.inputCss.input-design[readonly] {
    padding: 7px 30px 6px 20px;
    border: 1px solid $naranjaPrimario;
    -webkit-box-shadow: inset 0 1px 0 $grisPrimario, #fff 0 1px 0;
    box-shadow: inset 0 1px 0 $grisPrimario, #fff 0 1px 0;
    border-radius: 50px !important;
    width: 100%;
    background: #fff;
    color: $grisPrimario;
    font: 400 16px/1.3 "coreSans_regular";
    cursor: pointer;
}


// ------------------------DiseÃ±os de los checkbox radiales---------------------------
input.radioBox[type="checkbox"] {
    display: none;
}

input.radioBox[type="checkbox"] + label {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $verdePrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
}

input.radioBox[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input.radioBox[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}

input.radioBox[type="checkbox"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $verdePrimario;
}


/*------------------------DiseÃ±os de los select---------------------------*/
.select-primario * {
    outline: none !important;
}
.select-primario .dropdown-backdrop {
    position: relative;
}
.select-primario button {
    background: #fff;
    font: 500 16px/1.3 "coreSans_regular";
    border-radius: 27px;
    color: $verdePrimario;
    border: 1px solid $verdePrimario;
    padding: 5px 10px 5px 15px;
}
.select-primario.open button {
    background: $blanco !important;
}
.select-primario button:hover {
    border: 1px solid $verdePrimario;
    background-color: #fff;
}
.select-primario button .filter-option {
    color: $verdePrimario!important;
}
.select-primario.open button .filter-option {
    color: $verdePrimario !important;
}
.select-primario button.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid $verdePrimario !important;
}
.select-primario .btn-default:not(:disabled):not(.disabled):active, 
.select-primario .btn-default:not(:disabled):not(.disabled).active, 
.select-primario.show > .btn-default.dropdown-toggle{
    background: #fff;
}
.select-primario button:after {
    display: none !important;
}
.select-primario .dropdown-menu {
    padding-top: 20px;
    z-index: 2;
    margin-top: -5px;
}
.select-primario .dropdown-menu.open.show .dropdown-menu {
    display: block;
}
.select-primario .dropdown-menu ul li a {
    font: 300 16px/1.3 "coreSans_regular";
    color: $verdePrimario !important;
    width: calc(100% - 20px);
    margin: 0 auto;
    border-bottom: 1px solid $verdePrimario !important;
    padding: 6px 5px;
}
.select-primario .dropdown-menu ul li a:hover {
    background: $grisSecundario;
}
.select-primario .dropdown-menu ul li:last-child a {
    border: none !important;
}

/*DiseÃ±o input tipo file*/
.filupp > input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filupp {
    position: relative;
    background: $blanco;
    display: block;
    padding: 3px 18px;
    width: 91%;
    border: 1px solid $naranjaPrimario;
    color: $naranjaPrimario;
    cursor: pointer;
    border-radius: 40px;
    font: 400 16px/1.6 "coreSans_bold";
    overflow: hidden;
}

.filupp-file-name {
    width: 75%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.filupp .icon {
    float: right;
    color: $verdePrimario;
    font-size: 25px;
    position: relative;
    right: -14px;
    background: #fff;
    width: 30px;
    margin-right: -6px;
}

.filupp .js-value {
    position: absolute;
    width: 120%;
    left: 10px;
}

// ---------------------------------DatePicker---------------------------------
#datepicker {
    position: relative;
    z-index: 0;
}

.icon-input.icon {
    position: absolute;
    right: 0px;
    z-index: 2;
    padding: 2px 3px;
    font-size: 20px;
    color: $grisPrimario;
    background: #fff;
    border: none;
    width: auto;
    cursor: pointer;
    margin: 5px 6px;
    z-index: 3;
}

.datepicker-dropdown {
    border-radius: 10px;
    padding: 20px !important;
}

.datepicker-dropdown th.prev,
.datepicker-dropdown th.next,
.datepicker-switch {
    color: #002c76;
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background: $verdePrimario !important;
    border-radius: 50%;
    color: $grisPrimario;
}

.datepicker table tr td.today,
.datepicker table tr td span.active.active {
    color: $grisPrimario !important;
    font-weight: 800;
    background: #fff !important;
}

.datepicker table tr td.active.active {
    background: $verdePrimario !important;
    border-radius: 50%;
    color: $grisPrimario;
}

.datepicker table tr td span.focused {
    background: $verdePrimario !important;
    border-radius: 50%;
    color: $grisPrimario !important;
    height: 40px;
    line-height: 40px;
    top: 7px;
    position: relative;
}

.table-condensed > thead > tr > th {
    color: $grisPrimario;
}

.datepicker.dropdown-menu {
    overflow: hidden
}

.datepicker table {
    width: 100%;
}

// ----------------------------DiseÃ±o de botones----------------------------
// DiseÃ±o boton principal
/*Botones*/

.boton-primario {
    background: $verdePrimario;
    padding: 10px 50px;
    border-radius: 4px;
    text-transform: uppercase;
    font: 400 14px/1.3 "coreSans_regular";
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    color: $blanco !important;
    position: relative;
    display: table;
	text-align: center;
	border: none;
}

.boton-primario:focus {
    outline: none;
    text-decoration: none;

}

.boton-primario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-primario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-primario:hover {
    text-decoration: none;
    background: $naranjaPrimario;
    color: $blanco!important;
}

.boton-primario.volver span {
    left: 10px;
    right: inherit;
}

// DiseÃ±o boton secundario
.boton-secundario {
    background: $naranjaPrimario;
    padding: 10px 50px;
    border-radius: 4px;
    text-transform: uppercase;
    font: 400 14px/1.3 "coreSans_regular";
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    color: $blanco !important;
    position: relative;
    display: table;
	text-align: center;
	border: none;
}

.boton-secundario:focus {
    outline: none;
}

.boton-secundario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-secundario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-secundario:hover {
    text-decoration: none;
    background: $verdePrimario;
    color: #fff!important;
}

.boton-secundario:focus {
    text-decoration: none;
    color: #fff !important;
}

.boton-secundario.volver span {
    left: 10px;
    right: inherit;
}

// pulso animaciÃ³n
.pulse {
    box-shadow: 0 0 0 rgba(1, 57, 140, 0.5);
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -webkit-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
        box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

// -------------------------- Modal--------------------------
.modals {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.modals .modal-bodys {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.modals .modal-bodys .content {
    margin: 0 auto;
    display: table;
    width: 90%;
    max-width: 700px;
    border-radius: 6px;
    border: 2px solid $naranjaPrimario;
    background: #fff;
    padding: 10px;
    position: relative;
}

.modals .modal-bodys .content > .salir {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
    font-size: 20px;
    color: $verdePrimario;
    cursor: pointer;
}

.modals .modal-bodys .content > .salir:hover {
    color: $grisPrimario;
}

.oculto {
    display: none;
}

#cargando-general {
    .content{
        background: none;
        border: none;
        max-inline-size: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
            .gifLoader{
                max-width: 250px;
            }
    }
}
// -------------------------- Notificaciones--------------------------
.btn-menu,
#notifica {
    margin-top: 0;
}

#notifica .shortIcon {
    width: 100%;
}

#counts {
    position: absolute;
    top: -7px;
    color: $blanco;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background: $verdePrimario;
    left: -6px;
    font: 600 16px/1.3 "coreSans_regular";
}
#counts.desktop {
    position: absolute !important;
    top: 15px;
    line-height: 1.3;
    left: 5px;
}
#padre.open .desktop {
    display: none;
}
#navigation #padre .dropdown-menu {
    left: 122px !important;
    width: 400px !important;
    max-width: 400px;
    border: none;
    padding-bottom: 0px;
    box-shadow: none;
    border-bottom: 1px solid $grisPrimario;
}

#padre .list-group-item-field .user-info, 
#padre .list-group-item-content .title, 
#navigation #padre .dropdown-menu .dropdown-header, 
#navigation #padre .dropdown-menu:before, #navigation #padre .dropdown-menu:after{
    display: none;
}
#padre .list-group-item-field{
    padding: 0px !important;
    vertical-align: middle;
}
#padre .display-style-descriptive {
    margin: 0;
    box-shadow: none;
}
#padre .list-group-item-content{
    padding: 10px !important;
    vertical-align: middle;
    font: 400 16px/1.3 "coreSans_regular";
}
#padre .list-group-item-content .block1 {
    color: $naranjaPrimario;
    font: 300 14px/1.3 "coreSans_regular";
}
#verNoti {
    background: $naranjaPrimario;
    text-align: center;
    padding: 14px 5px;
    background: url(../images/banco_bogota/grafismo.png);
    background-size: inherit;
    background-repeat: no-repeat;
    position: relative;
}
#verNoti:before {
    content: "";
    width: 2px;
    background: $verdePrimario;
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
}
#verNoti:after {
    content: "";
    width: 2px;
    background: $grisPrimario;
    display: table;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
}
#verNoti a {
    font: 400 16px/1.3 "coreSans_regular";
    color: $grisPrimario;
}
#verNoti a:hover{
    color: $verdePrimario;
}
#padre .list-group-item-content .block2 {
    font: 400 18px/1.3 "coreSans_regular";
}
#padre .list-group-item-content .timestamp {
    font: 400 14px/1.3 "coreSans_regular";
    color: $verdePrimario;
}
.taglib-search-iterator-page-iterator-bottom {
    display: none;
}
body .select-primario [aria-expanded="true"] + .dropdown-menu {
    top: 35px;
}
// --------------------------Fuentes de texto--------------------------

/*------------------------------------- Core sans-------------------------------------*/


@font-face {
  font-family: 'coreSans_extralight';
  src: url('fonts/coreSans_extralight/coreSans_extralight.eot?#iefix') format('embedded-opentype'),  url('fonts/coreSans_extralight/coreSans_extralight.otf')  format('opentype'),
	     url('fonts/coreSans_extralight/coreSans_extralight.woff') format('woff'), url('coreSans_extralight.ttf')  format('truetype'), url('fonts/coreSans_extralight/coreSans_extralight.svg#coreSans_bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}
@font-face {
  font-family: 'coreSans_light';
  src: url('fonts/coreSans_light/coreSans_light.eot?#iefix') format('embedded-opentype'),  url('fonts/coreSans_light/coreSans_light.otf')  format('opentype'),
	     url('fonts/coreSans_light/coreSans_light.woff') format('woff'), url('coreSans_light.ttf')  format('truetype'), url('fonts/coreSans_light/coreSans_light.svg#coreSans_bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}
@font-face {
  font-family: 'coreSans_regular';
  src: url('fonts/coreSans_regular/coreSans_regular.eot?#iefix') format('embedded-opentype'),  url('fonts/coreSans_regular/coreSans_regular.otf')  format('opentype'),
	     url('fonts/coreSans_regular/coreSans_regular.woff') format('woff'), url('coreSans_regular.ttf')  format('truetype'), url('fonts/coreSans_regular/coreSans_regular.svg#coreSans_bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}
@font-face {
  font-family: 'coreSans_bold';
  src: url('fonts/coreSans_bold/coreSans_bold.eot?#iefix') format('embedded-opentype'),  url('fonts/coreSans_bold/coreSans_bold.otf')  format('opentype'),
	     url('fonts/coreSans_bold/coreSans_bold.woff') format('woff'), url('coreSans_bold.ttf')  format('truetype'), url('fonts/coreSans_bold/coreSans_bold.svg#coreSans_bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}




// ----------------------------Fuentes iconograficas----------------------------
@font-face {
  font-family: 'popular';
  src:  url('fonts/iconmoon/popular.eot?3ektjh');
  src:  url('fonts/iconmoon/popular.eot?3ektjh#iefix') format('embedded-opentype'),
    url('fonts/iconmoon/popular.ttf?3ektjh') format('truetype'),
    url('fonts/iconmoon/popular.woff?3ektjh') format('woff'),
    url('fonts/iconmoon/popular.svg?3ektjh#popular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'popular' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gestion .path1:before {
  content: "\eabf";
  color: rgb(204, 236, 221);
}
.icon-gestion .path2:before {
  content: "\ec3a";
  margin-left: -0.9677734375em;
  color: rgb(0, 160, 86);
}
.icon-gestion .path3:before {
  content: "\ec3b";
  margin-left: -0.9677734375em;
  color: rgb(0, 160, 86);
}
.icon-gestion .path4:before {
  content: "\ec3c";
  margin-left: -0.9677734375em;
  color: rgb(0, 160, 86);
}
.icon-gestion .path5:before {
  content: "\ec3d";
  margin-left: -0.9677734375em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos-por-pagar .path1:before {
  content: "\ea8c";
  color: rgb(204, 236, 221);
}
.icon-Incentivos-por-pagar .path2:before {
  content: "\ea8d";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-Incentivos-por-pagar .path3:before {
  content: "\ea8e";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-Incentivos-por-pagar .path4:before {
  content: "\ea8f";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-Incentivos-por-pagar .path5:before {
  content: "\ea90";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos-por-pagar .path6:before {
  content: "\ea91";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos-por-pagar .path7:before {
  content: "\ea92";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos-por-pagar .path8:before {
  content: "\ea93";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos-por-pagar .path9:before {
  content: "\ea94";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos-por-pagar .path10:before {
  content: "\ea95";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos-por-pagar .path11:before {
  content: "\ea96";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos .path1:before {
  content: "\ea97";
  color: rgb(220, 247, 233);
}
.icon-Incentivos .path2:before {
  content: "\ea98";
  margin-left: -0.59375em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos .path3:before {
  content: "\ea99";
  margin-left: -0.59375em;
  color: rgb(220, 247, 233);
}
.icon-Incentivos .path4:before {
  content: "\ea9a";
  margin-left: -0.59375em;
  color: rgb(0, 160, 86);
}
.icon-Incentivos .path5:before {
  content: "\ea9b";
  margin-left: -0.59375em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos .path6:before {
  content: "\ea9c";
  margin-left: -0.59375em;
  color: rgb(0, 160, 86);
}
.icon-Incentivos .path7:before {
  content: "\ea9d";
  margin-left: -0.59375em;
  color: rgb(0, 160, 86);
}
.icon-Incentivos .path8:before {
  content: "\ea9e";
  margin-left: -0.59375em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos .path9:before {
  content: "\ea9f";
  margin-left: -0.59375em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path1:before {
  content: "\eaa0";
  color: rgb(220, 247, 233);
}
.icon-me-robaron-1 .path2:before {
  content: "\eaa1";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path3:before {
  content: "\eaa2";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path4:before {
  content: "\eaa3";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path5:before {
  content: "\eaa4";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path6:before {
  content: "\eaa5";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path7:before {
  content: "\eaa6";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path8:before {
  content: "\eaa7";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path9:before {
  content: "\eaa8";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path10:before {
  content: "\eaa9";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path11:before {
  content: "\eaaa";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path12:before {
  content: "\eaab";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path13:before {
  content: "\eaac";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path14:before {
  content: "\eaad";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path15:before {
  content: "\eaae";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path16:before {
  content: "\eaaf";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path17:before {
  content: "\eab0";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path18:before {
  content: "\eab1";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path19:before {
  content: "\eab2";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path20:before {
  content: "\eab3";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path21:before {
  content: "\eab4";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path22:before {
  content: "\eab5";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path23:before {
  content: "\eab6";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path24:before {
  content: "\eab7";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path25:before {
  content: "\eab8";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path26:before {
  content: "\eab9";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path27:before {
  content: "\eaba";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-1 .path28:before {
  content: "\eabb";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-1 .path29:before {
  content: "\eabc";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-media:before {
  content: "\eabd";
}
.icon-Muy-alta:before {
  content: "\eabe";
}
.icon-nuevas-oportunidades .path1:before {
  content: "\eac1";
  color: rgb(204, 236, 221);
}
.icon-nuevas-oportunidades .path2:before {
  content: "\eac2";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-nuevas-oportunidades .path3:before {
  content: "\eac3";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-nuevas-oportunidades .path4:before {
  content: "\eac4";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-nuevas-oportunidades .path5:before {
  content: "\eac5";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-nuevas-oportunidades .path6:before {
  content: "\eac6";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-nuevas-oportunidades .path7:before {
  content: "\eac7";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-nuevas-oportunidades .path8:before {
  content: "\eac8";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-nuevas-oportunidades .path9:before {
  content: "\ec3e";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-oportunidades .path1:before {
  content: "\eac9";
  color: rgb(204, 236, 221);
}
.icon-oportunidades .path2:before {
  content: "\eaca";
  margin-left: -1.125em;
  color: rgb(0, 160, 86);
}
.icon-oportunidades .path3:before {
  content: "\eacb";
  margin-left: -1.125em;
  color: rgb(0, 160, 86);
}
.icon-oportunidades .path4:before {
  content: "\eacc";
  margin-left: -1.125em;
  color: rgb(0, 160, 86);
}
.icon-oportunidades .path5:before {
  content: "\eacd";
  margin-left: -1.125em;
  color: rgb(0, 160, 86);
}
.icon-oportunidades .path6:before {
  content: "\eace";
  margin-left: -1.125em;
  color: rgb(0, 160, 86);
}
.icon-oportunidades .path7:before {
  content: "\eacf";
  margin-left: -1.125em;
  color: rgb(0, 160, 86);
}
.icon-oportunidades .path8:before {
  content: "\ead0";
  margin-left: -1.125em;
  color: rgb(0, 160, 86);
}
.icon-oportunidades .path9:before {
  content: "\ead1";
  margin-left: -1.125em;
  color: rgb(0, 160, 86);
}
.icon-oportunidades .path10:before {
  content: "\ead2";
  margin-left: -1.125em;
  color: rgb(0, 160, 86);
}
.icon-oportunidades .path11:before {
  content: "\ead3";
  margin-left: -1.125em;
  color: rgb(247, 155, 46);
}
.icon-oportunidades .path12:before {
  content: "\ead4";
  margin-left: -1.125em;
  color: rgb(247, 155, 46);
}
.icon-oportunidades .path13:before {
  content: "\ead5";
  margin-left: -1.125em;
  color: rgb(247, 155, 46);
}
.icon-oportunidades .path14:before {
  content: "\ead6";
  margin-left: -1.125em;
  color: rgb(247, 155, 46);
}
.icon-oportunidades .path15:before {
  content: "\ead7";
  margin-left: -1.125em;
  color: rgb(247, 155, 46);
}
.icon-oportunidades .path16:before {
  content: "\ead8";
  margin-left: -1.125em;
  color: rgb(247, 155, 46);
}
.icon-oportunidades .path17:before {
  content: "\ead9";
  margin-left: -1.125em;
  color: rgb(247, 155, 46);
}
.icon-oportunidades .path18:before {
  content: "\eada";
  margin-left: -1.125em;
  color: rgb(247, 155, 46);
}
.icon-oportunidades .path19:before {
  content: "\eadb";
  margin-left: -1.125em;
  color: rgb(247, 155, 46);
}
.icon-oportunidades .path20:before {
  content: "\eadc";
  margin-left: -1.125em;
  color: rgb(0, 160, 86);
}
.icon-oportunidades .path21:before {
  content: "\eadd";
  margin-left: -1.125em;
  color: rgb(0, 160, 86);
}
.icon-Peticiones .path1:before {
  content: "\eade";
  color: rgb(0, 160, 86);
}
.icon-Peticiones .path2:before {
  content: "\eadf";
  margin-left: -0.9228515625em;
  color: rgb(204, 236, 221);
}
.icon-Peticiones .path3:before {
  content: "\eae0";
  margin-left: -0.9228515625em;
  color: rgb(0, 160, 86);
}
.icon-Peticiones .path4:before {
  content: "\eae1";
  margin-left: -0.9228515625em;
  color: rgb(0, 160, 86);
}
.icon-Peticiones .path5:before {
  content: "\eae2";
  margin-left: -0.9228515625em;
  color: rgb(0, 160, 86);
}
.icon-Peticiones .path6:before {
  content: "\eae3";
  margin-left: -0.9228515625em;
  color: rgb(247, 155, 46);
}
.icon-Peticiones .path7:before {
  content: "\eae4";
  margin-left: -0.9228515625em;
  color: rgb(247, 155, 46);
}
.icon-Peticiones .path8:before {
  content: "\eae5";
  margin-left: -0.9228515625em;
  color: rgb(247, 155, 46);
}
.icon-Peticiones .path9:before {
  content: "\eae6";
  margin-left: -0.9228515625em;
  color: rgb(247, 155, 46);
}
.icon-Peticiones .path10:before {
  content: "\eae7";
  margin-left: -0.9228515625em;
  color: rgb(0, 160, 86);
}
.icon-Peticiones .path11:before {
  content: "\eae8";
  margin-left: -0.9228515625em;
  color: rgb(0, 160, 86);
}
.icon-Peticiones .path12:before {
  content: "\eae9";
  margin-left: -0.9228515625em;
  color: rgb(0, 160, 86);
}
.icon-Peticiones .path13:before {
  content: "\eaea";
  margin-left: -0.9228515625em;
  color: rgb(0, 160, 86);
}
.icon-Peticiones .path14:before {
  content: "\eaeb";
  margin-left: -0.9228515625em;
  color: rgb(0, 160, 86);
}
.icon-productos .path1:before {
  content: "\eaec";
  color: rgb(204, 236, 221);
}
.icon-productos .path2:before {
  content: "\eaed";
  margin-left: -0.9443359375em;
  color: rgb(0, 160, 86);
}
.icon-productos .path3:before {
  content: "\eaee";
  margin-left: -0.9443359375em;
  color: rgb(255, 255, 255);
}
.icon-productos .path4:before {
  content: "\eaef";
  margin-left: -0.9443359375em;
  color: rgb(247, 155, 46);
}
.icon-productos .path5:before {
  content: "\eaf0";
  margin-left: -0.9443359375em;
  color: rgb(247, 155, 46);
}
.icon-productos .path6:before {
  content: "\eaf1";
  margin-left: -0.9443359375em;
  color: rgb(247, 155, 46);
}
.icon-productos .path7:before {
  content: "\eaf2";
  margin-left: -0.9443359375em;
  color: rgb(247, 155, 46);
}
.icon-productos .path8:before {
  content: "\eaf3";
  margin-left: -0.9443359375em;
  color: rgb(247, 155, 46);
}
.icon-radicacion-siniestros .path1:before {
  content: "\eaf4";
  color: rgb(204, 236, 221);
}
.icon-radicacion-siniestros .path2:before {
  content: "\eaf5";
  margin-left: -0.7138671875em;
  color: rgb(255, 159, 55);
}
.icon-radicacion-siniestros .path3:before {
  content: "\eaf6";
  margin-left: -0.7138671875em;
  color: rgb(255, 159, 55);
}
.icon-radicacion-siniestros .path4:before {
  content: "\eaf7";
  margin-left: -0.7138671875em;
  color: rgb(255, 159, 55);
}
.icon-radicacion-siniestros .path5:before {
  content: "\eaf8";
  margin-left: -0.7138671875em;
  color: rgb(0, 160, 86);
}
.icon-radicacion-siniestros .path6:before {
  content: "\eaf9";
  margin-left: -0.7138671875em;
  color: rgb(0, 160, 86);
}
.icon-radicacion-siniestros .path7:before {
  content: "\eafa";
  margin-left: -0.7138671875em;
  color: rgb(0, 160, 86);
}
.icon-radicacion-siniestros .path8:before {
  content: "\eafb";
  margin-left: -0.7138671875em;
  color: rgb(0, 160, 86);
}
.icon-retos-rapidos .path1:before {
  content: "\eafc";
  color: rgb(220, 247, 233);
}
.icon-retos-rapidos .path2:before {
  content: "\eafd";
  margin-left: -0.970703125em;
  color: rgb(0, 160, 86);
}
.icon-retos-rapidos .path3:before {
  content: "\eafe";
  margin-left: -0.970703125em;
  color: rgb(0, 160, 86);
}
.icon-retos-rapidos .path4:before {
  content: "\eaff";
  margin-left: -0.970703125em;
  color: rgb(0, 160, 86);
}
.icon-retos-rapidos .path5:before {
  content: "\eb00";
  margin-left: -0.970703125em;
  color: rgb(255, 159, 55);
}
.icon-retos-rapidos .path6:before {
  content: "\eb01";
  margin-left: -0.970703125em;
  color: rgb(255, 159, 55);
}
.icon-retos-rapidos .path7:before {
  content: "\eb02";
  margin-left: -0.970703125em;
  color: rgb(255, 159, 55);
}
.icon-retos-rapidos .path8:before {
  content: "\eb03";
  margin-left: -0.970703125em;
  color: rgb(255, 159, 55);
}
.icon-retos-rapidos .path9:before {
  content: "\eb04";
  margin-left: -0.970703125em;
  color: rgb(255, 159, 55);
}
.icon-retos-rapidos .path10:before {
  content: "\eb05";
  margin-left: -0.970703125em;
  color: rgb(255, 159, 55);
}
.icon-retos-rapidos .path11:before {
  content: "\eb06";
  margin-left: -0.970703125em;
  color: rgb(255, 159, 55);
}
.icon-retos-rapidos .path12:before {
  content: "\eb07";
  margin-left: -0.970703125em;
  color: rgb(255, 159, 55);
}
.icon-retos-rapidos .path13:before {
  content: "\eb08";
  margin-left: -0.970703125em;
  color: rgb(255, 159, 55);
}
.icon-retos-rapidos .path14:before {
  content: "\eb09";
  margin-left: -0.970703125em;
  color: rgb(255, 159, 55);
}
.icon-retos-rapidos .path15:before {
  content: "\eb0a";
  margin-left: -0.970703125em;
  color: rgb(0, 160, 86);
}
.icon-servicio .path1:before {
  content: "\eb0b";
  color: rgb(0, 160, 86);
}
.icon-servicio .path2:before {
  content: "\eb0c";
  margin-left: -1.38671875em;
  color: rgb(0, 160, 86);
}
.icon-servicio .path3:before {
  content: "\eb0d";
  margin-left: -1.38671875em;
  color: rgb(0, 160, 86);
}
.icon-servicio .path4:before {
  content: "\eb0e";
  margin-left: -1.38671875em;
  color: rgb(0, 160, 86);
}
.icon-servicio .path5:before {
  content: "\eb0f";
  margin-left: -1.38671875em;
  color: rgb(0, 160, 86);
}
.icon-servicio .path6:before {
  content: "\eb10";
  margin-left: -1.38671875em;
  color: rgb(0, 160, 86);
}
.icon-servicio .path7:before {
  content: "\eb11";
  margin-left: -1.38671875em;
  color: rgb(0, 160, 86);
}
.icon-servicio .path8:before {
  content: "\eb12";
  margin-left: -1.38671875em;
  color: rgb(0, 160, 86);
}
.icon-servicio .path9:before {
  content: "\eb13";
  margin-left: -1.38671875em;
  color: rgb(0, 160, 86);
}
.icon-servicio .path10:before {
  content: "\eb14";
  margin-left: -1.38671875em;
  color: rgb(0, 160, 86);
}
.icon-servicio .path11:before {
  content: "\eb15";
  margin-left: -1.38671875em;
  color: rgb(0, 160, 86);
}
.icon-servicio .path12:before {
  content: "\eb16";
  margin-left: -1.38671875em;
  color: rgb(0, 160, 86);
}
.icon-servicio .path13:before {
  content: "\eb17";
  margin-left: -1.38671875em;
  color: rgb(204, 236, 221);
}
.icon-servicio .path14:before {
  content: "\eb18";
  margin-left: -1.38671875em;
  color: rgb(247, 155, 46);
}
.icon-servicio .path15:before {
  content: "\eb19";
  margin-left: -1.38671875em;
  color: rgb(247, 155, 46);
}
.icon-tus-clientes .path1:before {
  content: "\eb1a";
  color: rgb(247, 155, 46);
}
.icon-tus-clientes .path2:before {
  content: "\eb1b";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-tus-clientes .path3:before {
  content: "\eb1c";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-tus-clientes .path4:before {
  content: "\eb1d";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-tus-clientes .path5:before {
  content: "\eb1e";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-tus-clientes .path6:before {
  content: "\eb1f";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-tus-clientes .path7:before {
  content: "\eb20";
  margin-left: -1em;
  color: rgb(204, 236, 221);
}
.icon-tus-clientes .path8:before {
  content: "\eb21";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-tus-clientes .path9:before {
  content: "\eb22";
  margin-left: -1em;
  color: rgb(204, 236, 221);
}
.icon-tus-clientes .path10:before {
  content: "\eb23";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-tus-clientes .path11:before {
  content: "\eb24";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-tus-clientes .path12:before {
  content: "\eb25";
  margin-left: -1em;
  color: rgb(204, 236, 221);
}
.icon-tus-clientes .path13:before {
  content: "\eb26";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-tus-clientes .path14:before {
  content: "\eb27";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-tus-clientes .path15:before {
  content: "\eb28";
  margin-left: -1em;
  color: rgb(204, 236, 221);
}
.icon-tus-clientes .path16:before {
  content: "\eb29";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-tus-clientes .path17:before {
  content: "\eb2a";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-tus-clientes .path18:before {
  content: "\eb2b";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-upload:before {
  content: "\eb2c";
  color: #bddc04;
}
.icon-Ventas-por-cerrar .path1:before {
  content: "\eb2d";
  color: rgb(247, 155, 46);
}
.icon-Ventas-por-cerrar .path2:before {
  content: "\eb2e";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Ventas-por-cerrar .path3:before {
  content: "\eb2f";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Ventas-por-cerrar .path4:before {
  content: "\eb30";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Ventas-por-cerrar .path5:before {
  content: "\eb31";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Ventas-por-cerrar .path6:before {
  content: "\eb32";
  margin-left: -1em;
  color: rgb(204, 236, 221);
}
.icon-Ventas-por-cerrar .path7:before {
  content: "\eb33";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-Ventas-por-cerrar .path8:before {
  content: "\eb34";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-Ventas-por-cerrar .path9:before {
  content: "\eb35";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-ventas .path1:before {
  content: "\eb36";
  color: rgb(204, 236, 221);
}
.icon-ventas .path2:before {
  content: "\eb37";
  margin-left: -1.310546875em;
  color: rgb(0, 160, 86);
}
.icon-ventas .path3:before {
  content: "\eb38";
  margin-left: -1.310546875em;
  color: rgb(0, 160, 86);
}
.icon-ventas .path4:before {
  content: "\eb39";
  margin-left: -1.310546875em;
  color: rgb(0, 160, 86);
}
.icon-ventas .path5:before {
  content: "\eb3a";
  margin-left: -1.310546875em;
  color: rgb(0, 160, 86);
}
.icon-ventas .path6:before {
  content: "\eb3b";
  margin-left: -1.310546875em;
  color: rgb(247, 155, 46);
}
.icon-ventas .path7:before {
  content: "\eb3c";
  margin-left: -1.310546875em;
  color: rgb(247, 155, 46);
}
.icon-ventas .path8:before {
  content: "\eb3d";
  margin-left: -1.310546875em;
  color: rgb(0, 160, 86);
}
.icon-ventas .path9:before {
  content: "\eb3e";
  margin-left: -1.310546875em;
  color: rgb(0, 160, 86);
}
.icon-ventas .path10:before {
  content: "\eb3f";
  margin-left: -1.310546875em;
  color: rgb(0, 160, 86);
}
.icon-accidente-vehiculo .path1:before {
  content: "\eb40";
  color: rgb(220, 247, 233);
}
.icon-accidente-vehiculo .path2:before {
  content: "\eb41";
  margin-left: -1.197265625em;
  color: rgb(0, 160, 86);
}
.icon-accidente-vehiculo .path3:before {
  content: "\eb42";
  margin-left: -1.197265625em;
  color: rgb(0, 160, 86);
}
.icon-accidente-vehiculo .path4:before {
  content: "\eb43";
  margin-left: -1.197265625em;
  color: rgb(255, 159, 55);
}
.icon-accidente-vehiculo .path5:before {
  content: "\eb44";
  margin-left: -1.197265625em;
  color: rgb(255, 159, 55);
}
.icon-accidente-vehiculo .path6:before {
  content: "\eb45";
  margin-left: -1.197265625em;
  color: rgb(255, 159, 55);
}
.icon-accidente-vehiculo .path7:before {
  content: "\eb46";
  margin-left: -1.197265625em;
  color: rgb(255, 159, 55);
}
.icon-accidente-vehiculo .path8:before {
  content: "\eb47";
  margin-left: -1.197265625em;
  color: rgb(255, 159, 55);
}
.icon-actualizacion .path1:before {
  content: "\eb48";
  color: rgb(204, 236, 221);
}
.icon-actualizacion .path2:before {
  content: "\eb49";
  margin-left: -1.0625em;
  color: rgb(0, 160, 86);
}
.icon-actualizacion .path3:before {
  content: "\eb4a";
  margin-left: -1.0625em;
  color: rgb(0, 160, 86);
}
.icon-actualizacion .path4:before {
  content: "\eb4b";
  margin-left: -1.0625em;
  color: rgb(255, 255, 255);
}
.icon-actualizacion .path5:before {
  content: "\eb4c";
  margin-left: -1.0625em;
  color: rgb(247, 155, 46);
}
.icon-actualizacion .path6:before {
  content: "\eb4d";
  margin-left: -1.0625em;
  color: rgb(247, 155, 46);
}
.icon-alta:before {
  content: "\eb4e";
}
.icon-arrow-left:before {
  content: "\eb4f";
  color: #bddc04;
}
.icon-arrow-rigth:before {
  content: "\eb50";
  color: #939598;
}
.icon-Batallas .path1:before {
  content: "\eb51";
  color: rgb(220, 247, 233);
}
.icon-Batallas .path2:before {
  content: "\eb52";
  margin-left: -0.87890625em;
  color: rgb(220, 247, 233);
}
.icon-Batallas .path3:before {
  content: "\eb53";
  margin-left: -0.87890625em;
  color: rgb(255, 159, 55);
}
.icon-Batallas .path4:before {
  content: "\eb54";
  margin-left: -0.87890625em;
  color: rgb(255, 159, 55);
}
.icon-Batallas .path5:before {
  content: "\eb55";
  margin-left: -0.87890625em;
  color: rgb(255, 159, 55);
}
.icon-Batallas .path6:before {
  content: "\eb56";
  margin-left: -0.87890625em;
  color: rgb(255, 159, 55);
}
.icon-Batallas .path7:before {
  content: "\eb57";
  margin-left: -0.87890625em;
  color: rgb(0, 160, 86);
}
.icon-Batallas .path8:before {
  content: "\eb58";
  margin-left: -0.87890625em;
  color: rgb(0, 160, 86);
}
.icon-Batallas .path9:before {
  content: "\eb59";
  margin-left: -0.87890625em;
  color: rgb(0, 160, 86);
}
.icon-Batallas .path10:before {
  content: "\eb5a";
  margin-left: -0.87890625em;
  color: rgb(0, 160, 86);
}
.icon-Batallas .path11:before {
  content: "\eb5b";
  margin-left: -0.87890625em;
  color: rgb(0, 160, 86);
}
.icon-Batallas .path12:before {
  content: "\eb5c";
  margin-left: -0.87890625em;
  color: rgb(0, 160, 86);
}
.icon-Batallas .path13:before {
  content: "\eb5d";
  margin-left: -0.87890625em;
  color: rgb(255, 159, 55);
}
.icon-Batallas .path14:before {
  content: "\eb5e";
  margin-left: -0.87890625em;
  color: rgb(0, 160, 86);
}
.icon-Batallas .path15:before {
  content: "\eb5f";
  margin-left: -0.87890625em;
  color: rgb(0, 160, 86);
}
.icon-boxeador1 .path1:before {
  content: "\eb60";
  color: rgb(2, 2, 2);
  opacity: 0.15;
}
.icon-boxeador1 .path2:before {
  content: "\eb61";
  margin-left: -0.9248046875em;
  color: rgb(67, 30, 1);
}
.icon-boxeador1 .path3:before {
  content: "\eb62";
  margin-left: -0.9248046875em;
  color: rgb(244, 178, 149);
}
.icon-boxeador1 .path4:before {
  content: "\eb63";
  margin-left: -0.9248046875em;
  color: rgb(246, 209, 196);
}
.icon-boxeador1 .path5:before {
  content: "\eb64";
  margin-left: -0.9248046875em;
  color: rgb(244, 178, 149);
}
.icon-boxeador1 .path6:before {
  content: "\eb65";
  margin-left: -0.9248046875em;
  color: rgb(67, 30, 1);
}
.icon-boxeador1 .path7:before {
  content: "\eb66";
  margin-left: -0.9248046875em;
  color: rgb(255, 255, 255);
}
.icon-boxeador1 .path8:before {
  content: "\eb67";
  margin-left: -0.9248046875em;
  color: rgb(239, 119, 103);
  opacity: 0.51;
}
.icon-boxeador1 .path9:before {
  content: "\eb68";
  margin-left: -0.9248046875em;
  color: rgb(239, 119, 103);
  opacity: 0.51;
}
.icon-boxeador1 .path10:before {
  content: "\eb69";
  margin-left: -0.9248046875em;
  color: rgb(67, 30, 1);
}
.icon-boxeador1 .path11:before {
  content: "\eb6a";
  margin-left: -0.9248046875em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.icon-boxeador1 .path12:before {
  content: "\eb6b";
  margin-left: -0.9248046875em;
  color: rgb(67, 30, 1);
}
.icon-boxeador1 .path13:before {
  content: "\eb6c";
  margin-left: -0.9248046875em;
  color: rgb(0, 160, 86);
}
.icon-boxeador1 .path14:before {
  content: "\eb6d";
  margin-left: -0.9248046875em;
  color: rgb(0, 160, 86);
}
.icon-boxeador1 .path15:before {
  content: "\eb6e";
  margin-left: -0.9248046875em;
  color: rgb(0, 160, 86);
}
.icon-boxeador1 .path16:before {
  content: "\eb6f";
  margin-left: -0.9248046875em;
  color: rgb(1, 5, 5);
}
.icon-boxeador1 .path17:before {
  content: "\eb70";
  margin-left: -0.9248046875em;
  color: rgb(1, 5, 5);
}
.icon-boxeador1 .path18:before {
  content: "\eb71";
  margin-left: -0.9248046875em;
  color: rgb(249, 249, 249);
}
.icon-boxeador1 .path19:before {
  content: "\eb72";
  margin-left: -0.9248046875em;
  color: rgb(244, 244, 244);
}
.icon-boxeador1 .path20:before {
  content: "\eb73";
  margin-left: -0.9248046875em;
  color: rgb(0, 160, 86);
}
.icon-boxeador1 .path21:before {
  content: "\eb74";
  margin-left: -0.9248046875em;
  color: rgb(0, 160, 86);
}
.icon-boxeador1 .path22:before {
  content: "\eb75";
  margin-left: -0.9248046875em;
  color: rgb(249, 249, 249);
}
.icon-boxeador1 .path23:before {
  content: "\eb76";
  margin-left: -0.9248046875em;
  color: rgb(0, 160, 86);
}
.icon-boxeador1 .path24:before {
  content: "\eb77";
  margin-left: -0.9248046875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador1 .path25:before {
  content: "\eb78";
  margin-left: -0.9248046875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador1 .path26:before {
  content: "\eb79";
  margin-left: -0.9248046875em;
  color: rgb(0, 160, 86);
}
.icon-boxeador1 .path27:before {
  content: "\eb7a";
  margin-left: -0.9248046875em;
  color: rgb(1, 5, 5);
}
.icon-boxeador1 .path28:before {
  content: "\eb7b";
  margin-left: -0.9248046875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador1 .path29:before {
  content: "\eb7c";
  margin-left: -0.9248046875em;
  color: rgb(163, 42, 36);
}
.icon-boxeador1 .path30:before {
  content: "\eb7d";
  margin-left: -0.9248046875em;
  color: rgb(163, 42, 36);
}
.icon-boxeador1 .path31:before {
  content: "\eb7e";
  margin-left: -0.9248046875em;
  color: rgb(163, 42, 36);
}
.icon-boxeador1 .path32:before {
  content: "\eb7f";
  margin-left: -0.9248046875em;
  color: rgb(163, 42, 36);
}
.icon-boxeador1 .path33:before {
  content: "\eb80";
  margin-left: -0.9248046875em;
  color: rgb(239, 119, 103);
}
.icon-boxeador1 .path34:before {
  content: "\eb81";
  margin-left: -0.9248046875em;
  color: rgb(255, 255, 255);
}
.icon-boxeador1 .path35:before {
  content: "\eb82";
  margin-left: -0.9248046875em;
  color: rgb(239, 119, 103);
}
.icon-boxeador1 .path36:before {
  content: "\eb83";
  margin-left: -0.9248046875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador1 .path37:before {
  content: "\eb84";
  margin-left: -0.9248046875em;
  color: rgb(0, 160, 86);
}
.icon-boxeador1 .path38:before {
  content: "\eb85";
  margin-left: -0.9248046875em;
  color: rgb(1, 5, 5);
}
.icon-boxeador1 .path39:before {
  content: "\eb86";
  margin-left: -0.9248046875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador1 .path40:before {
  content: "\eb87";
  margin-left: -0.9248046875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador1 .path41:before {
  content: "\eb88";
  margin-left: -0.9248046875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador1 .path42:before {
  content: "\eb89";
  margin-left: -0.9248046875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador1 .path43:before {
  content: "\eb8a";
  margin-left: -0.9248046875em;
  color: rgb(142, 35, 32);
}
.icon-boxeador1 .path44:before {
  content: "\eb8b";
  margin-left: -0.9248046875em;
  color: rgb(163, 42, 36);
}
.icon-boxeador1 .path45:before {
  content: "\eb8c";
  margin-left: -0.9248046875em;
  color: rgb(163, 42, 36);
}
.icon-boxeador1 .path46:before {
  content: "\eb8d";
  margin-left: -0.9248046875em;
  color: rgb(163, 42, 36);
}
.icon-boxeador1 .path47:before {
  content: "\eb8e";
  margin-left: -0.9248046875em;
  color: rgb(163, 42, 36);
}
.icon-boxeador1 .path48:before {
  content: "\eb8f";
  margin-left: -0.9248046875em;
  color: rgb(239, 119, 103);
}
.icon-boxeador1 .path49:before {
  content: "\eb90";
  margin-left: -0.9248046875em;
  color: rgb(239, 119, 103);
}
.icon-boxeador1 .path50:before {
  content: "\eb91";
  margin-left: -0.9248046875em;
  color: rgb(142, 35, 32);
}
.icon-boxeador2 .path1:before {
  content: "\eb92";
  color: rgb(249, 249, 249);
}
.icon-boxeador2 .path2:before {
  content: "\eb93";
  margin-left: -0.76171875em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.icon-boxeador2 .path3:before {
  content: "\eb94";
  margin-left: -0.76171875em;
  color: rgb(64, 64, 64);
}
.icon-boxeador2 .path4:before {
  content: "\eb95";
  margin-left: -0.76171875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador2 .path5:before {
  content: "\eb96";
  margin-left: -0.76171875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador2 .path6:before {
  content: "\eb97";
  margin-left: -0.76171875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador2 .path7:before {
  content: "\eb98";
  margin-left: -0.76171875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador2 .path8:before {
  content: "\eb99";
  margin-left: -0.76171875em;
  color: rgb(142, 35, 32);
}
.icon-boxeador2 .path9:before {
  content: "\eb9a";
  margin-left: -0.76171875em;
  color: rgb(163, 42, 36);
}
.icon-boxeador2 .path10:before {
  content: "\eb9b";
  margin-left: -0.76171875em;
  color: rgb(163, 42, 36);
}
.icon-boxeador2 .path11:before {
  content: "\eb9c";
  margin-left: -0.76171875em;
  color: rgb(163, 42, 36);
}
.icon-boxeador2 .path12:before {
  content: "\eb9d";
  margin-left: -0.76171875em;
  color: rgb(163, 42, 36);
}
.icon-boxeador2 .path13:before {
  content: "\eb9e";
  margin-left: -0.76171875em;
  color: rgb(239, 119, 103);
}
.icon-boxeador2 .path14:before {
  content: "\eb9f";
  margin-left: -0.76171875em;
  color: rgb(239, 119, 103);
}
.icon-boxeador2 .path15:before {
  content: "\eba0";
  margin-left: -0.76171875em;
  color: rgb(64, 64, 64);
}
.icon-boxeador2 .path16:before {
  content: "\eba1";
  margin-left: -0.76171875em;
  color: rgb(67, 30, 1);
}
.icon-boxeador2 .path17:before {
  content: "\eba2";
  margin-left: -0.76171875em;
  color: rgb(244, 178, 149);
}
.icon-boxeador2 .path18:before {
  content: "\eba3";
  margin-left: -0.76171875em;
  color: rgb(244, 178, 149);
}
.icon-boxeador2 .path19:before {
  content: "\eba4";
  margin-left: -0.76171875em;
  color: rgb(67, 30, 1);
}
.icon-boxeador2 .path20:before {
  content: "\eba5";
  margin-left: -0.76171875em;
  color: rgb(67, 30, 1);
}
.icon-boxeador2 .path21:before {
  content: "\eba6";
  margin-left: -0.76171875em;
  color: rgb(239, 119, 103);
  opacity: 0.51;
}
.icon-boxeador2 .path22:before {
  content: "\eba7";
  margin-left: -0.76171875em;
  color: rgb(239, 119, 103);
  opacity: 0.51;
}
.icon-boxeador2 .path23:before {
  content: "\eba8";
  margin-left: -0.76171875em;
  color: rgb(64, 64, 64);
}
.icon-boxeador2 .path24:before {
  content: "\eba9";
  margin-left: -0.76171875em;
  color: rgb(64, 64, 64);
}
.icon-boxeador2 .path25:before {
  content: "\ebaa";
  margin-left: -0.76171875em;
  color: rgb(1, 5, 5);
}
.icon-boxeador2 .path26:before {
  content: "\ebab";
  margin-left: -0.76171875em;
  color: rgb(249, 249, 249);
}
.icon-boxeador2 .path27:before {
  content: "\ebac";
  margin-left: -0.76171875em;
  color: rgb(249, 249, 249);
}
.icon-boxeador2 .path28:before {
  content: "\ebad";
  margin-left: -0.76171875em;
  color: rgb(64, 64, 64);
}
.icon-boxeador2 .path29:before {
  content: "\ebae";
  margin-left: -0.76171875em;
  color: rgb(64, 64, 64);
}
.icon-boxeador2 .path30:before {
  content: "\ebaf";
  margin-left: -0.76171875em;
  color: rgb(64, 64, 64);
}
.icon-boxeador2 .path31:before {
  content: "\ebb0";
  margin-left: -0.76171875em;
  color: rgb(1, 5, 5);
}
.icon-boxeador2 .path32:before {
  content: "\ebb1";
  margin-left: -0.76171875em;
  color: rgb(67, 30, 1);
}
.icon-boxeador2 .path33:before {
  content: "\ebb2";
  margin-left: -0.76171875em;
  color: rgb(246, 209, 196);
}
.icon-boxeador2 .path34:before {
  content: "\ebb3";
  margin-left: -0.76171875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador2 .path35:before {
  content: "\ebb4";
  margin-left: -0.76171875em;
  color: rgb(239, 119, 103);
}
.icon-boxeador2 .path36:before {
  content: "\ebb5";
  margin-left: -0.76171875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador2 .path37:before {
  content: "\ebb6";
  margin-left: -0.76171875em;
  color: rgb(244, 244, 244);
}
.icon-boxeador2 .path38:before {
  content: "\ebb7";
  margin-left: -0.76171875em;
  color: rgb(64, 64, 64);
}
.icon-boxeador2 .path39:before {
  content: "\ebb8";
  margin-left: -0.76171875em;
  color: rgb(1, 5, 5);
  opacity: 0.25;
}
.icon-boxeador2 .path40:before {
  content: "\ebb9";
  margin-left: -0.76171875em;
  color: rgb(219, 77, 66);
}
.icon-boxeador2 .path41:before {
  content: "\ebba";
  margin-left: -0.76171875em;
  color: rgb(249, 249, 249);
}
.icon-boxeador2 .path42:before {
  content: "\ebbb";
  margin-left: -0.76171875em;
  color: rgb(249, 249, 249);
}
.icon-boxeador2 .path43:before {
  content: "\ebbc";
  margin-left: -0.76171875em;
  color: rgb(249, 249, 249);
}
.icon-boxeador2 .path44:before {
  content: "\ebbd";
  margin-left: -0.76171875em;
  color: rgb(249, 249, 249);
}
.icon-boxeador2 .path45:before {
  content: "\ebbe";
  margin-left: -0.76171875em;
  color: rgb(249, 249, 249);
}
.icon-boxeador2 .path46:before {
  content: "\ebbf";
  margin-left: -0.76171875em;
  color: rgb(249, 249, 249);
}
.icon-boxeador2 .path47:before {
  content: "\ebc0";
  margin-left: -0.76171875em;
  color: rgb(219, 77, 66);
}
.icon-campanas .path1:before {
  content: "\ebc1";
  color: rgb(247, 155, 46);
}
.icon-campanas .path2:before {
  content: "\ebc2";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path3:before {
  content: "\ebc3";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path4:before {
  content: "\ebc4";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path5:before {
  content: "\ebc5";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path6:before {
  content: "\ebc6";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path7:before {
  content: "\ebc7";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path8:before {
  content: "\ebc8";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path9:before {
  content: "\ebc9";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path10:before {
  content: "\ebca";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path11:before {
  content: "\ebcb";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path12:before {
  content: "\ebcc";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path13:before {
  content: "\ebcd";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path14:before {
  content: "\ebce";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path15:before {
  content: "\ebcf";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path16:before {
  content: "\ebd0";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path17:before {
  content: "\ebd1";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path18:before {
  content: "\ebd2";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path19:before {
  content: "\ebd3";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path20:before {
  content: "\ebd4";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path21:before {
  content: "\ebd5";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path22:before {
  content: "\ebd6";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path23:before {
  content: "\ebd7";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path24:before {
  content: "\ebd8";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path25:before {
  content: "\ebd9";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path26:before {
  content: "\ebda";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path27:before {
  content: "\ebdb";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path28:before {
  content: "\ebdc";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path29:before {
  content: "\ebdd";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path30:before {
  content: "\ebde";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path31:before {
  content: "\ebdf";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path32:before {
  content: "\ebe0";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path33:before {
  content: "\ebe1";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path34:before {
  content: "\ebe2";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path35:before {
  content: "\ebe3";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path36:before {
  content: "\ebe4";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path37:before {
  content: "\ebe5";
  margin-left: -0.861328125em;
  color: rgb(247, 155, 46);
}
.icon-campanas .path38:before {
  content: "\ebe6";
  margin-left: -0.861328125em;
  color: rgb(0, 160, 86);
}
.icon-campanas .path39:before {
  content: "\ebe7";
  margin-left: -0.861328125em;
  color: rgb(0, 160, 86);
}
.icon-campanas .path40:before {
  content: "\ebe8";
  margin-left: -0.861328125em;
  color: rgb(0, 160, 86);
}
.icon-campanas .path41:before {
  content: "\ebe9";
  margin-left: -0.861328125em;
  color: rgb(204, 236, 221);
}
.icon-campanas .path42:before {
  content: "\ebea";
  margin-left: -0.861328125em;
  color: rgb(0, 160, 86);
}
.icon-campanas .path43:before {
  content: "\ebeb";
  margin-left: -0.861328125em;
  color: rgb(0, 160, 86);
}
.icon-campanas .path44:before {
  content: "\ebec";
  margin-left: -0.861328125em;
  color: rgb(0, 160, 86);
}
.icon-campanas .path45:before {
  content: "\ebed";
  margin-left: -0.861328125em;
  color: rgb(0, 160, 86);
}
.icon-capacitacion .path1:before {
  content: "\ebee";
  color: rgb(204, 236, 221);
}
.icon-capacitacion .path2:before {
  content: "\ebef";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-capacitacion .path3:before {
  content: "\ebf0";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-capacitacion .path4:before {
  content: "\ebf1";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-capacitacion .path5:before {
  content: "\ebf2";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-capacitacion .path6:before {
  content: "\ebf3";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-cliente-alta:before {
  content: "\ebf4";
}
.icon-cliente-media:before {
  content: "\ebf5";
}
.icon-cliente-muy-alta .path1:before {
  content: "\ebf6";
  color: rgb(255, 255, 255);
}
.icon-cliente-muy-alta .path2:before {
  content: "\ebf7";
  margin-left: -1.0185546875em;
  color: rgb(64, 64, 64);
}
.icon-cliente-muy-alta .path3:before {
  content: "\ebf8";
  margin-left: -1.0185546875em;
  color: rgb(64, 64, 64);
}
.icon-cliente-normal .path1:before {
  content: "\ebf9";
  color: rgb(255, 255, 255);
}
.icon-cliente-normal .path2:before {
  content: "\ebfa";
  margin-left: -1.0185546875em;
  color: rgb(64, 64, 64);
}
.icon-cliente-normal .path3:before {
  content: "\ebfb";
  margin-left: -1.0185546875em;
  color: rgb(64, 64, 64);
}
.icon-club .path1:before {
  content: "\ebfc";
  color: rgb(0, 160, 86);
}
.icon-club .path2:before {
  content: "\ebfd";
  margin-left: -0.8681640625em;
  color: rgb(204, 236, 221);
}
.icon-club .path3:before {
  content: "\ebfe";
  margin-left: -0.8681640625em;
  color: rgb(255, 255, 255);
}
.icon-club .path4:before {
  content: "\ebff";
  margin-left: -0.8681640625em;
  color: rgb(247, 155, 46);
}
.icon-club .path5:before {
  content: "\ec00";
  margin-left: -0.8681640625em;
  color: rgb(0, 160, 86);
}
.icon-club .path6:before {
  content: "\ec01";
  margin-left: -0.8681640625em;
  color: rgb(0, 160, 86);
}
.icon-club .path7:before {
  content: "\ec02";
  margin-left: -0.8681640625em;
  color: rgb(0, 160, 86);
}
.icon-club .path8:before {
  content: "\ec03";
  margin-left: -0.8681640625em;
  color: rgb(0, 160, 86);
}
.icon-club .path9:before {
  content: "\ec04";
  margin-left: -0.8681640625em;
  color: rgb(0, 160, 86);
}
.icon-club .path10:before {
  content: "\ec05";
  margin-left: -0.8681640625em;
  color: rgb(0, 160, 86);
}
.icon-Consultasinfo .path1:before {
  content: "\ec06";
  color: rgb(0, 160, 86);
}
.icon-Consultasinfo .path2:before {
  content: "\ec07";
  margin-left: -0.771484375em;
  color: rgb(255, 159, 55);
}
.icon-Consultasinfo .path3:before {
  content: "\ec08";
  margin-left: -0.771484375em;
  color: rgb(255, 159, 55);
}
.icon-Consultasinfo .path4:before {
  content: "\ec09";
  margin-left: -0.771484375em;
  color: rgb(255, 159, 55);
}
.icon-Consultasinfo .path5:before {
  content: "\ec0a";
  margin-left: -0.771484375em;
  color: rgb(220, 247, 233);
}
.icon-Consultasinfo .path6:before {
  content: "\ec0b";
  margin-left: -0.771484375em;
  color: rgb(0, 160, 86);
}
.icon-Consultasinfo .path7:before {
  content: "\ec0c";
  margin-left: -0.771484375em;
  color: rgb(0, 160, 86);
}
.icon-Consultasinfo .path8:before {
  content: "\ec0d";
  margin-left: -0.771484375em;
  color: rgb(255, 159, 55);
}
.icon-convencion .path1:before {
  content: "\ec0e";
  color: rgb(255, 159, 55);
}
.icon-convencion .path2:before {
  content: "\ec0f";
  margin-left: -1.392578125em;
  color: rgb(220, 247, 233);
}
.icon-convencion .path3:before {
  content: "\ec10";
  margin-left: -1.392578125em;
  color: rgb(220, 247, 233);
}
.icon-convencion .path4:before {
  content: "\ec11";
  margin-left: -1.392578125em;
  color: rgb(255, 159, 55);
}
.icon-convencion .path5:before {
  content: "\ec12";
  margin-left: -1.392578125em;
  color: rgb(255, 159, 55);
}
.icon-convencion .path6:before {
  content: "\ec13";
  margin-left: -1.392578125em;
  color: rgb(255, 159, 55);
}
.icon-convencion .path7:before {
  content: "\ec14";
  margin-left: -1.392578125em;
  color: rgb(255, 159, 55);
}
.icon-convencion .path8:before {
  content: "\ec15";
  margin-left: -1.392578125em;
  color: rgb(255, 159, 55);
}
.icon-convencion .path9:before {
  content: "\ec16";
  margin-left: -1.392578125em;
  color: rgb(255, 159, 55);
}
.icon-convencion .path10:before {
  content: "\ec17";
  margin-left: -1.392578125em;
  color: rgb(0, 160, 86);
}
.icon-convencion .path11:before {
  content: "\ec18";
  margin-left: -1.392578125em;
  color: rgb(0, 160, 86);
}
.icon-convencion .path12:before {
  content: "\ec19";
  margin-left: -1.392578125em;
  color: rgb(0, 160, 86);
}
.icon-convencion .path13:before {
  content: "\ec1a";
  margin-left: -1.392578125em;
  color: rgb(0, 160, 86);
}
.icon-convencion .path14:before {
  content: "\ec1b";
  margin-left: -1.392578125em;
  color: rgb(0, 160, 86);
}
.icon-convencion .path15:before {
  content: "\ec1c";
  margin-left: -1.392578125em;
  color: rgb(0, 160, 86);
}
.icon-convencion .path16:before {
  content: "\ec1d";
  margin-left: -1.392578125em;
  color: rgb(0, 160, 86);
}
.icon-convencion .path17:before {
  content: "\ec1e";
  margin-left: -1.392578125em;
  color: rgb(0, 160, 86);
}
.icon-convencion .path18:before {
  content: "\ec1f";
  margin-left: -1.392578125em;
  color: rgb(0, 160, 86);
}
.icon-convencion .path19:before {
  content: "\ec20";
  margin-left: -1.392578125em;
  color: rgb(255, 159, 55);
}
.icon-convencion .path20:before {
  content: "\ec21";
  margin-left: -1.392578125em;
  color: rgb(255, 159, 55);
}
.icon-convencion .path21:before {
  content: "\ec22";
  margin-left: -1.392578125em;
  color: rgb(255, 159, 55);
}
.icon-dano-bienes .path1:before {
  content: "\ec23";
  color: rgb(220, 247, 233);
}
.icon-dano-bienes .path2:before {
  content: "\ec24";
  margin-left: -1.1806640625em;
  color: rgb(0, 160, 86);
}
.icon-dano-bienes .path3:before {
  content: "\ec25";
  margin-left: -1.1806640625em;
  color: rgb(0, 160, 86);
}
.icon-dano-bienes .path4:before {
  content: "\ec26";
  margin-left: -1.1806640625em;
  color: rgb(255, 159, 55);
}
.icon-dano-bienes .path5:before {
  content: "\ec27";
  margin-left: -1.1806640625em;
  color: rgb(255, 159, 55);
}
.icon-dano-bienes .path6:before {
  content: "\ec28";
  margin-left: -1.1806640625em;
  color: rgb(255, 159, 55);
}
.icon-hora .path1:before {
  content: "\ec29";
  color: rgb(220, 247, 233);
}
.icon-hora .path2:before {
  content: "\ec2a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-hora .path3:before {
  content: "\ec2b";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-hora .path4:before {
  content: "\ec2c";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-hora .path5:before {
  content: "\ec2d";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-hora .path6:before {
  content: "\ec2e";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-Incentivos-pagados .path1:before {
  content: "\ec2f";
  color: rgb(204, 236, 221);
}
.icon-Incentivos-pagados .path2:before {
  content: "\ec30";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-Incentivos-pagados .path3:before {
  content: "\ec31";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-Incentivos-pagados .path4:before {
  content: "\ec32";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-Incentivos-pagados .path5:before {
  content: "\ec33";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos-pagados .path6:before {
  content: "\ec34";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos-pagados .path7:before {
  content: "\ec35";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos-pagados .path8:before {
  content: "\ec36";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-Incentivos-pagados .path9:before {
  content: "\ec37";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-Incentivos-pagados .path10:before {
  content: "\ec38";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-Incentivos-pagados .path11:before {
  content: "\ec39";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-docente:before {
  content: "\ea89";
  color: #939598;
}
.icon-militar:before {
  content: "\ea8a";
  color: #939598;
}
.icon-pensionados:before {
  content: "\ea8b";
  color: #939598;
}
.icon-corazon-felicitaciones .path1:before {
  content: "\ea84";
  color: rgb(255, 255, 255);
}
.icon-corazon-felicitaciones .path2:before {
  content: "\ea85";
  margin-left: -1.2822265625em;
  color: rgb(255, 255, 255);
}
.icon-corazon-felicitaciones .path3:before {
  content: "\ea86";
  margin-left: -1.2822265625em;
  color: rgb(255, 255, 255);
}
.icon-corazon-felicitaciones .path4:before {
  content: "\ea87";
  margin-left: -1.2822265625em;
  color: rgb(255, 255, 255);
}
.icon-corazon-felicitaciones .path5:before {
  content: "\ea88";
  margin-left: -1.2822265625em;
  color: rgb(255, 159, 55);
}
.icon-bolso-1 .path1:before {
  content: "\ea21";
  color: rgb(220, 247, 233);
}
.icon-bolso-1 .path2:before {
  content: "\ea22";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bolso-1 .path3:before {
  content: "\ea23";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bolso-1 .path4:before {
  content: "\ea24";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-bolso-1 .path5:before {
  content: "\ea25";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-bolso-1 .path6:before {
  content: "\ea26";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-bolso-1 .path7:before {
  content: "\ea27";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-bolso-1 .path8:before {
  content: "\ea28";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-bolso-1 .path9:before {
  content: "\ea29";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-bolso-1 .path10:before {
  content: "\ea2a";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-bolso-1 .path11:before {
  content: "\ea2b";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-bolso-1 .path12:before {
  content: "\ea2c";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-cajero-1 .path1:before {
  content: "\ea2d";
  color: rgb(220, 247, 233);
}
.icon-cajero-1 .path2:before {
  content: "\ea2e";
  margin-left: -1em;
  color: rgb(220, 247, 233);
}
.icon-cajero-1 .path3:before {
  content: "\ea2f";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-cajero-1 .path4:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-cajero-1 .path5:before {
  content: "\ea31";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-cajero-1 .path6:before {
  content: "\ea32";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-cajero-1 .path7:before {
  content: "\ea33";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-cajero-1 .path8:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-cajero-1 .path9:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-cajero-1 .path10:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-cajero-1 .path11:before {
  content: "\ea37";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-cajero-1 .path12:before {
  content: "\ea38";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-cajero-1 .path13:before {
  content: "\ea39";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-cajero-1 .path14:before {
  content: "\ea3a";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-cajero-1 .path15:before {
  content: "\ea3b";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-cancer-1 .path1:before {
  content: "\ea3c";
  color: rgb(220, 247, 233);
}
.icon-cancer-1 .path2:before {
  content: "\ea3d";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-coursera-1 .path1:before {
  content: "\ea3e";
  color: rgb(220, 247, 233);
}
.icon-coursera-1 .path2:before {
  content: "\ea3f";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-coursera-1 .path3:before {
  content: "\ea40";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-coursera-1 .path4:before {
  content: "\ea41";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-coursera-1 .path5:before {
  content: "\ea42";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-coursera-1 .path6:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-coursera-1 .path7:before {
  content: "\ea44";
  margin-left: -1em;
  color: rgb(247, 155, 46);
}
.icon-utilizacion-forzada-1 .path1:before {
  content: "\ea45";
  color: rgb(220, 247, 233);
}
.icon-utilizacion-forzada-1 .path2:before {
  content: "\ea46";
  margin-left: -1em;
  color: rgb(220, 247, 233);
}
.icon-utilizacion-forzada-1 .path3:before {
  content: "\ea47";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-utilizacion-forzada-1 .path4:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-utilizacion-forzada-1 .path5:before {
  content: "\ea49";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-utilizacion-forzada-1 .path6:before {
  content: "\ea4a";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-utilizacion-forzada-1 .path7:before {
  content: "\ea4b";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-uso-indebido-tarjeta-1 .path1:before {
  content: "\ea4c";
  color: rgb(220, 247, 233);
}
.icon-uso-indebido-tarjeta-1 .path2:before {
  content: "\ea4d";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-uso-indebido-tarjeta-1 .path3:before {
  content: "\ea4e";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-uso-indebido-tarjeta-1 .path4:before {
  content: "\ea4f";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-uso-indebido-tarjeta-1 .path5:before {
  content: "\ea50";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-uso-indebido-tarjeta-1 .path6:before {
  content: "\ea51";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-uso-indebido-tarjeta-1 .path7:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-uso-indebido-tarjeta-1 .path8:before {
  content: "\ea53";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-uso-indebido-tarjeta-1 .path9:before {
  content: "\ea54";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-uso-indebido-tarjeta-1 .path10:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-uso-indebido-tarjeta-1 .path11:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-uso-indebido-tarjeta-1 .path12:before {
  content: "\ea57";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-uso-indebido-tarjeta-1 .path13:before {
  content: "\ea58";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-uso-indebido-tarjeta-1 .path14:before {
  content: "\ea59";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-reposicion-llaves-1 .path1:before {
  content: "\ea5a";
  color: rgb(220, 247, 233);
}
.icon-reposicion-llaves-1 .path2:before {
  content: "\ea5b";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-reposicion-llaves-1 .path3:before {
  content: "\ea5c";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-reposicion-llaves-1 .path4:before {
  content: "\ea5d";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-reposicion-llaves-1 .path5:before {
  content: "\ea5e";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-reposicion-llaves-1 .path6:before {
  content: "\ea5f";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-reposicion-llaves-1 .path7:before {
  content: "\ea60";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-reposicion-llaves-1 .path8:before {
  content: "\ea61";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-muerte-1 .path1:before {
  content: "\ea62";
  color: rgb(220, 247, 233);
}
.icon-muerte-1 .path2:before {
  content: "\ea63";
  margin-left: -1em;
  color: rgb(220, 247, 233);
}
.icon-muerte-1 .path3:before {
  content: "\ea64";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-muerte-1 .path4:before {
  content: "\ea65";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-muerte-1 .path5:before {
  content: "\ea66";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-muerte-1 .path6:before {
  content: "\ea67";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-muerte-1 .path7:before {
  content: "\ea68";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-muerte-1 .path8:before {
  content: "\ea69";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-muerte-1 .path9:before {
  content: "\ea6a";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-muerte-1 .path10:before {
  content: "\ea6b";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-muerte-1 .path11:before {
  content: "\ea6c";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-fraude-1 .path1:before {
  content: "\ea6d";
  color: rgb(220, 247, 233);
}
.icon-fraude-1 .path2:before {
  content: "\ea6e";
  margin-left: -1em;
  color: rgb(220, 247, 233);
}
.icon-fraude-1 .path3:before {
  content: "\ea6f";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-fraude-1 .path4:before {
  content: "\ea70";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-fraude-1 .path5:before {
  content: "\ea71";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-fraude-1 .path6:before {
  content: "\ea72";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-fraude-1 .path7:before {
  content: "\ea73";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-fraude-1 .path8:before {
  content: "\ea74";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-fraude-1 .path9:before {
  content: "\ea75";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-eliminar-1:before {
  content: "\ea76";
  color: #bddc04;
}
.icon-editar-1:before {
  content: "\ea77";
  color: #bddc04;
}
.icon-desempleo-1 .path1:before {
  content: "\ea78";
  color: rgb(220, 247, 233);
}
.icon-desempleo-1 .path2:before {
  content: "\ea79";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-desempleo-1 .path3:before {
  content: "\ea7a";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-desempleo-1 .path4:before {
  content: "\ea7b";
  margin-left: -1em;
  color: rgb(0, 160, 86);
}
.icon-desempleo-1 .path5:before {
  content: "\ea7c";
  margin-left: -1em;
  color: rgb(255, 159, 55);
}
.icon-carrito:before {
  content: "\ea7d";
  color: #00a056;
}
.icon-me-robaron-cajero-1 .path1:before {
  content: "\ea7e";
  color: rgb(220, 247, 233);
}
.icon-me-robaron-cajero-1 .path2:before {
  content: "\ea7f";
  margin-left: -1.0576171875em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-cajero-1 .path3:before {
  content: "\ea80";
  margin-left: -1.0576171875em;
  color: rgb(255, 159, 55);
}
.icon-me-robaron-cajero-1 .path4:before {
  content: "\ea81";
  margin-left: -1.0576171875em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-cajero-1 .path5:before {
  content: "\ea82";
  margin-left: -1.0576171875em;
  color: rgb(0, 160, 86);
}
.icon-me-robaron-cajero-1 .path6:before {
  content: "\ea83";
  margin-left: -1.0576171875em;
  color: rgb(255, 159, 55);
}
.icon-como-voy .path1:before {
  content: "\e9eb";
  color: rgb(220, 247, 233);
}
.icon-como-voy .path2:before {
  content: "\e9ec";
  margin-left: -0.5830078125em;
  color: rgb(247, 155, 46);
}
.icon-como-voy .path3:before {
  content: "\e9ed";
  margin-left: -0.5830078125em;
  color: rgb(220, 247, 233);
}
.icon-como-voy .path4:before {
  content: "\e9ee";
  margin-left: -0.5830078125em;
  color: rgb(0, 160, 86);
}
.icon-como-voy .path5:before {
  content: "\e9ef";
  margin-left: -0.5830078125em;
  color: rgb(247, 155, 46);
}
.icon-como-voy .path6:before {
  content: "\e9f0";
  margin-left: -0.5830078125em;
  color: rgb(0, 160, 86);
}
.icon-como-voy .path7:before {
  content: "\e9f1";
  margin-left: -0.5830078125em;
  color: rgb(0, 160, 86);
}
.icon-como-voy .path8:before {
  content: "\e9f2";
  margin-left: -0.5830078125em;
  color: rgb(247, 155, 46);
}
.icon-como-voy .path9:before {
  content: "\e9f3";
  margin-left: -0.5830078125em;
  color: rgb(0, 160, 86);
}
.icon-seguros-cuentas .path1:before {
  content: "\e9f4";
  color: rgb(220, 247, 233);
}
.icon-seguros-cuentas .path2:before {
  content: "\e9f5";
  margin-left: -1.625em;
  color: rgb(0, 160, 86);
}
.icon-seguros-cuentas .path3:before {
  content: "\e9f6";
  margin-left: -1.625em;
  color: rgb(0, 160, 86);
}
.icon-seguros-cuentas .path4:before {
  content: "\e9f7";
  margin-left: -1.625em;
  color: rgb(0, 160, 86);
}
.icon-seguros-cuentas .path5:before {
  content: "\e9f8";
  margin-left: -1.625em;
  color: rgb(0, 160, 86);
}
.icon-seguros-cuentas .path6:before {
  content: "\e9f9";
  margin-left: -1.625em;
  color: rgb(0, 160, 86);
}
.icon-seguros-cuentas .path7:before {
  content: "\e9fa";
  margin-left: -1.625em;
  color: rgb(0, 160, 86);
}
.icon-seguros-cuentas .path8:before {
  content: "\e9fb";
  margin-left: -1.625em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path1:before {
  content: "\e9fc";
  color: rgb(255, 255, 255);
}
.icon-seguros-libranzas .path2:before {
  content: "\e9fd";
  margin-left: -1.2138671875em;
  color: rgb(0, 160, 86);
}
.icon-seguros-libranzas .path3:before {
  content: "\e9fe";
  margin-left: -1.2138671875em;
  color: rgb(220, 247, 233);
}
.icon-seguros-libranzas .path4:before {
  content: "\e9ff";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path5:before {
  content: "\ea00";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path6:before {
  content: "\ea01";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path7:before {
  content: "\ea02";
  margin-left: -1.2138671875em;
  color: rgb(255, 255, 255);
}
.icon-seguros-libranzas .path8:before {
  content: "\ea03";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path9:before {
  content: "\ea04";
  margin-left: -1.2138671875em;
  color: rgb(255, 255, 255);
}
.icon-seguros-libranzas .path10:before {
  content: "\ea05";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path11:before {
  content: "\ea06";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path12:before {
  content: "\ea07";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path13:before {
  content: "\ea08";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path14:before {
  content: "\ea09";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path15:before {
  content: "\ea0a";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path16:before {
  content: "\ea0b";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path17:before {
  content: "\ea0c";
  margin-left: -1.2138671875em;
  color: rgb(255, 255, 255);
}
.icon-seguros-libranzas .path18:before {
  content: "\ea0d";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path19:before {
  content: "\ea0e";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-seguros-libranzas .path20:before {
  content: "\ea0f";
  margin-left: -1.2138671875em;
  color: rgb(247, 155, 46);
}
.icon-todos-productos .path1:before {
  content: "\ea10";
  color: rgb(247, 155, 46);
}
.icon-todos-productos .path2:before {
  content: "\ea11";
  margin-left: -1.0859375em;
  color: rgb(247, 155, 46);
}
.icon-todos-productos .path3:before {
  content: "\ea12";
  margin-left: -1.0859375em;
  color: rgb(204, 236, 221);
}
.icon-todos-productos .path4:before {
  content: "\ea13";
  margin-left: -1.0859375em;
  color: rgb(255, 255, 255);
}
.icon-todos-productos .path5:before {
  content: "\ea14";
  margin-left: -1.0859375em;
  color: rgb(255, 255, 255);
}
.icon-todos-productos .path6:before {
  content: "\ea15";
  margin-left: -1.0859375em;
  color: rgb(0, 160, 86);
}
.icon-todos-productos .path7:before {
  content: "\ea16";
  margin-left: -1.0859375em;
  color: rgb(0, 160, 86);
}
.icon-todos-productos .path8:before {
  content: "\ea17";
  margin-left: -1.0859375em;
  color: rgb(0, 160, 86);
}
.icon-todos-productos .path9:before {
  content: "\ea18";
  margin-left: -1.0859375em;
  color: rgb(0, 160, 86);
}
.icon-todos-productos .path10:before {
  content: "\ea19";
  margin-left: -1.0859375em;
  color: rgb(0, 160, 86);
}
.icon-todos-productos .path11:before {
  content: "\ea1a";
  margin-left: -1.0859375em;
  color: rgb(0, 160, 86);
}
.icon-todos-productos .path12:before {
  content: "\ea1b";
  margin-left: -1.0859375em;
  color: rgb(0, 160, 86);
}
.icon-todos-productos .path13:before {
  content: "\ea1c";
  margin-left: -1.0859375em;
  color: rgb(0, 160, 86);
}
.icon-todos-productos .path14:before {
  content: "\ea1d";
  margin-left: -1.0859375em;
  color: rgb(0, 160, 86);
}
.icon-todos-productos .path15:before {
  content: "\ea1e";
  margin-left: -1.0859375em;
  color: rgb(0, 160, 86);
}
.icon-todos-productos .path16:before {
  content: "\ea1f";
  margin-left: -1.0859375em;
  color: rgb(0, 160, 86);
}
.icon-todos-productos .path17:before {
  content: "\ea20";
  margin-left: -1.0859375em;
  color: rgb(0, 160, 86);
}
.icon-terminacion:before {
  content: "\e9ea";
}
.icon-revocacion:before {
  content: "\e9e7";
}
.icon-revocacion2:before {
  content: "\e9e8";
}
.icon-pag-web:before {
  content: "\e9e9";
}
.icon-mora:before {
  content: "\e9e6";
}
.icon-importante:before {
  content: "\e9de";
}
.icon-interes:before {
  content: "\e9df";
}
.icon-interes1:before {
  content: "\e9e0";
}
.icon-interes2:before {
  content: "\e9e1";
}
.icon-interes3:before {
  content: "\e9e2";
}
.icon-interes4:before {
  content: "\e9e3";
}
.icon-interes5:before {
  content: "\e9e4";
}
.icon-interes6:before {
  content: "\e9e5";
}
.icon-edad-max:before {
  content: "\e9da";
}
.icon-edad-max-p:before {
  content: "\e9db";
}
.icon-edad-min:before {
  content: "\e9dc";
}
.icon-edad:before {
  content: "\e9dd";
}
.icon-datos:before {
  content: "\e9d9";
}
.icon-caracteristicas:before {
  content: "\e9d6";
}
.icon-condiciones:before {
  content: "\e9d7";
}
.icon-consentimiento:before {
  content: "\e9d8";
}
.icon-atencion:before {
  content: "\e9d3";
}
.icon-atencion2:before {
  content: "\e9d4";
}
.icon-atencion3:before {
  content: "\e9d5";
}
.icon-correo:before {
  content: "\e9cd";
  color: #009a44;
}
.icon-llamada:before {
  content: "\e9ce";
  color: #009a44;
}
.icon-preguntas:before {
  content: "\e9cf";
  color: #009a44;
}
.icon-sms:before {
  content: "\e9d0";
  color: #009a44;
}
.icon-cambiar:before {
  content: "\e9d1";
  color: #009a44;
}
.icon-check:before {
  content: "\e9d2";
  color: #009a44;
}
.icon-creditos:before {
  content: "\e9ca";
}
.icon-tarjetas:before {
  content: "\e9cb";
}
.icon-incentivos-acumulados1:before {
  content: "\e9cc";
}
.icon-habilidades-b:before {
  content: "\e9c6";
}
.icon-proteccion:before {
  content: "\e9c7";
}
.icon-educacion:before {
  content: "\e9c8";
}
.icon-estrategia:before {
  content: "\e9c9";
}
.icon-busqueda:before {
  content: "\e9c5";
}
.icon-preferente:before {
  content: "\e9b4";
}
.icon-asalariado:before {
  content: "\e9b5";
}
.icon-estudiante:before {
  content: "\e9b6";
}
.icon-66:before {
  content: "\e9b7";
}
.icon-65:before {
  content: "\e9b8";
}
.icon-44:before {
  content: "\e9b9";
}
.icon-25:before {
  content: "\e9ba";
}
.icon-masivo:before {
  content: "\e9bb";
}
.icon-pensionado:before {
  content: "\e9bc";
}
.icon-independiente:before {
  content: "\e9bd";
}
.icon-asalariado1:before {
  content: "\e9be";
}
.icon-vehiculo1:before {
  content: "\e9bf";
}
.icon-credito-consumo:before {
  content: "\e9c0";
}
.icon-cuentas:before {
  content: "\e9c1";
}
.icon-tarjeta-de-credito:before {
  content: "\e9c2";
}
.icon-cliente-antiguo:before {
  content: "\e9c3";
}
.icon-nuevo-cliente:before {
  content: "\e9c4";
}
.icon-periodo-carencia:before {
  content: "\e9b1";
  color: #009a44;
}
.icon-horario:before {
  content: "\e9b2";
  color: #009a44;
}
.icon-exclusiones:before {
  content: "\e9b3";
  color: #009a44;
}
.icon-asegurado:before {
  content: "\e999";
  color: #009a44;
}
.icon-aseguradora:before {
  content: "\e99a";
  color: #009a44;
}
.icon-autorizaciones:before {
  content: "\e99b";
  color: #009a44;
}
.icon-beneficiarios:before {
  content: "\e99c";
  color: #009a44;
}
.icon-billetera:before {
  content: "\e99d";
  color: #009a44;
}
.icon-carta-aseguraado:before {
  content: "\e99e";
  color: #009a44;
}
.icon-carta-cardif:before {
  content: "\e99f";
  color: #009a44;
}
.icon-colombia:before {
  content: "\e9a0";
  color: #009a44;
}
.icon-declaraciones:before {
  content: "\e9a1";
  color: #009a44;
}
.icon-defensor-principal:before {
  content: "\e9a2";
  color: #009a44;
}
.icon-defensor-suplente:before {
  content: "\e9a3";
  color: #009a44;
}
.icon-fax:before {
  content: "\e9a4";
  color: #009a44;
}
.icon-flor:before {
  content: "\e9a5";
  color: #009a44;
}
.icon-forma-de-pago:before {
  content: "\e9a6";
  color: #009a44;
}
.icon-gps:before {
  content: "\e9a7";
  color: #009a44;
}
.icon-responsabilidades:before {
  content: "\e9a8";
  color: #009a44;
}
.icon-tarjeta-antigua:before {
  content: "\e9a9";
  color: #009a44;
}
.icon-tarjeta-cancelaciones:before {
  content: "\e9aa";
  color: #009a44;
}
.icon-tarjeta-nueva:before {
  content: "\e9ab";
  color: #009a44;
}
.icon-tel-shape:before {
  content: "\e9ac";
  color: #009a44;
}
.icon-tomador:before {
  content: "\e9ad";
  color: #009a44;
}
.icon-vigencia:before {
  content: "\e9ae";
  color: #009a44;
}
.icon-whatsApp:before {
  content: "\e9af";
  color: #455a64;
}
.icon-actores:before {
  content: "\e9b0";
  color: #009a44;
}
.icon-rentalibredestinacion:before {
  content: "\e907";
}
.icon-swipe:before {
  content: "\e906";
}
.icon-telefono_light:before {
  content: "\e908";
}
.icon-chat:before {
  content: "\e998";
}
.icon-calcular-salario:before {
  content: "\e994";
}
.icon-convenios-educativos:before {
  content: "\e995";
}
.icon-estrella:before {
  content: "\e996";
}
.icon-hoja-vida:before {
  content: "\e997";
}
.icon-scroll:before {
  content: "\e900";
}
.icon-sede:before {
  content: "\e901";
}
.icon-semana:before {
  content: "\e902";
}
.icon-sombrilla:before {
  content: "\e903";
}
.icon-soporte:before {
  content: "\e904";
}
.icon-suspendido:before {
  content: "\e905";
}
.icon-tarjeta:before {
  content: "\e909";
}
.icon-TEL:before {
  content: "\e90a";
}
.icon-telefono:before {
  content: "\e90b";
}
.icon-trabajo:before {
  content: "\e90c";
}
.icon-Uso-Fraudulento-chequera:before {
  content: "\e90d";
}
.icon-vehiculo:before {
  content: "\e90e";
}
.icon-vehiculos:before {
  content: "\e90f";
}
.icon-vigilado:before {
  content: "\e910";
}
.icon-web-cam:before {
  content: "\e911";
}
.icon-zona:before {
  content: "\e912";
}
.icon-accidente:before {
  content: "\e913";
}
.icon-alert:before {
  content: "\e914";
}
.icon-analisis:before {
  content: "\e915";
}
.icon-antes-de-iva:before {
  content: "\e916";
}
.icon-anual:before {
  content: "\e917";
}
.icon-archivo-adjunto:before {
  content: "\e918";
}
.icon-arrow-detail-bottom:before {
  content: "\e919";
}
.icon-arrow-detail-left:before {
  content: "\e91a";
}
.icon-arrow-detail-right:before {
  content: "\e91b";
}
.icon-arrow-detail-top:before {
  content: "\e91c";
}
.icon-arrow-swipe:before {
  content: "\e91d";
}
.icon-Asistencia--transporte2:before {
  content: "\e91e";
}
.icon-Asistencia--transporte:before {
  content: "\e91f";
}
.icon-bienes:before {
  content: "\e920";
}
.icon-bolso:before {
  content: "\e921";
}
.icon-buscar-foto:before {
  content: "\e922";
}
.icon-cajero:before {
  content: "\e923";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2---copia:before {
  content: "\e924";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2:before {
  content: "\e925";
}
.icon-Canasta-Familiar-caso-muerte:before {
  content: "\e926";
}
.icon-cancer:before {
  content: "\e927";
}
.icon-cerrar:before {
  content: "\e928";
}
.icon-cirugia:before {
  content: "\e929";
}
.icon-Cirugia-Reconstructiva:before {
  content: "\e92a";
}
.icon-Clonacion-Tarjeta:before {
  content: "\e92b";
}
.icon-compra-protegida:before {
  content: "\e92c";
}
.icon-Compras-fraudulentas-Internet:before {
  content: "\e92d";
}
.icon-corazon25:before {
  content: "\e92e";
}
.icon-corazon50:before {
  content: "\e92f";
}
.icon-corazon75:before {
  content: "\e930";
}
.icon-corazon-lleno:before {
  content: "\e931";
}
.icon-corazon-vacio:before {
  content: "\e932";
}
.icon-crediservices:before {
  content: "\e933";
}
.icon-Cuidados-prologandos:before {
  content: "\e934";
}
.icon-decoracion1:before {
  content: "\e935";
}
.icon-decoracion2:before {
  content: "\e936";
}
.icon-denegados:before {
  content: "\e937";
}
.icon-descargar-carta:before {
  content: "\e938";
}
.icon-Desmembracion:before {
  content: "\e939";
}
.icon-Desempleo:before {
  content: "\e93a";
}
.icon-despido-sin-justa-causa:before {
  content: "\e93b";
}
.icon-despues-de-iva:before {
  content: "\e93c";
}
.icon-detalles:before {
  content: "\e93d";
}
.icon-diagnostico-cancer:before {
  content: "\e93e";
}
.icon-editar:before {
  content: "\e93f";
}
.icon-eliminar:before {
  content: "\e940";
}
.icon-embarrassed:before {
  content: "\e941";
}
.icon-incapacidad-total-temporal-cama:before {
  content: "\e942";
}
.icon-enfermedades-graves:before {
  content: "\e943";
}
.icon-escribenos:before {
  content: "\e944";
}
.icon-fecha:before {
  content: "\e945";
}
.icon-flecha-abajo:before {
  content: "\e946";
}
.icon-flecha-arriba:before {
  content: "\e947";
}
.icon-flecha-derecha:before {
  content: "\e948";
}
.icon-forzado:before {
  content: "\e949";
}
.icon-foto:before {
  content: "\e94a";
}
.icon-foto-celular:before {
  content: "\e94b";
}
.icon-Garantia-Extendida:before {
  content: "\e94c";
}
.icon-garantia-protegida:before {
  content: "\e94d";
}
.icon-Gastos-Funerarios:before {
  content: "\e94e";
}
.icon-gastos-hospitalizacion:before {
  content: "\e94f";
}
.icon-Gastos-Medicos:before {
  content: "\e950";
}
.icon-happiness:before {
  content: "\e951";
}
.icon-happiness-two:before {
  content: "\e952";
}
.icon-hipotecario:before {
  content: "\e953";
}
.icon-hogar:before {
  content: "\e954";
}
.icon-hoy:before {
  content: "\e955";
}
.icon-hurto:before {
  content: "\e956";
}
.icon-hurto-cajero:before {
  content: "\e957";
}
.icon-hurto-oficina:before {
  content: "\e958";
}
.icon-incapacidad-accidente-aereo:before {
  content: "\e959";
}
.icon-incapacidad-total-permanente:before {
  content: "\e95a";
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte:before {
  content: "\e95b";
}
.icon-incapacidad-total-temporal:before {
  content: "\e95c";
}
.icon-incapacidad-total-temporal-cancer:before {
  content: "\e95d";
}
.icon-Incapacidad-Total-Temporal-Fractura-Accidental:before {
  content: "\e95e";
}
.icon-incentivos-acumulados:before {
  content: "\e95f";
}
.icon-indebido:before {
  content: "\e960";
}
.icon-indifferent:before {
  content: "\e961";
}
.icon-IVA:before {
  content: "\e962";
}
.icon-libranzaas:before {
  content: "\e963";
}
.icon-libre-destino:before {
  content: "\e964";
}
.icon-like:before {
  content: "\e965";
}
.icon-LOGIN:before {
  content: "\e966";
}
.icon-lo-que-quiero:before {
  content: "\e967";
}
.icon-mail:before {
  content: "\e968";
}
.icon-mas:before {
  content: "\e969";
}
.icon-mes:before {
  content: "\e96a";
}
.icon-microcreditos:before {
  content: "\e96b";
}
.icon-money:before {
  content: "\e96c";
}
.icon-muerte:before {
  content: "\e96d";
}
.icon-Muerte-Accidental:before {
  content: "\e96e";
}
.icon-Muerte-accidental-titular-acompaantes:before {
  content: "\e96f";
}
.icon-muerte-accidental-transporte-publico:before {
  content: "\e970";
}
.icon-Muerte-accidental-vias-publicas:before {
  content: "\e971";
}
.icon-Muerte-consecuencia-Cancer:before {
  content: "\e972";
}
.icon-muerte-cualquier-causa:before {
  content: "\e973";
}
.icon-muerte-familiar:before {
  content: "\e974";
}
.icon-Notificacion:before {
  content: "\e975";
}
.icon-ojo-close:before {
  content: "\e976";
}
.icon-ojo-open:before {
  content: "\e977";
}
.icon-pagados:before {
  content: "\e978";
}
.icon-perfil:before {
  content: "\e979";
}
.icon-personas-protegidas:before {
  content: "\e97a";
}
.icon-personas-protegidas2:before {
  content: "\e97b";
}
.icon-Poliza-todo-riesgo-hogar:before {
  content: "\e97c";
}
.icon-Poliza-todo-riesgo-vehiculo:before {
  content: "\e97d";
}
.icon-Proteccion-Garantizada-Auto:before {
  content: "\e97e";
}
.icon-radicado:before {
  content: "\e97f";
}
.icon-region:before {
  content: "\e980";
}
.icon-renta-canasta-familiar:before {
  content: "\e981";
}
.icon-Renta-desempleo-Involuntario:before {
  content: "\e982";
}
.icon-gastos-educacion-infantil:before {
  content: "\e983";
}
.icon-Renta--Hospitalizacion-debido-accidente:before {
  content: "\e984";
}
.icon-Renta--Hospitalizacin-debido-accidente:before {
  content: "\e985";
}
.icon-renta-incapacidad:before {
  content: "\e986";
}
.icon-Renta-medicamentos-Cancer:before {
  content: "\e987";
}
.icon-Renta-mensual-Muerte:before {
  content: "\e988";
}
.icon-Renta-Muerte-Cancer:before {
  content: "\e989";
}
.icon-Renta-Muerte-Cncer:before {
  content: "\e98a";
}
.icon-Renta-Tratamiento-Cancer:before {
  content: "\e98b";
}
.icon-reposicion-bolso-o-billetera:before {
  content: "\e98c";
}
.icon-reposicion-documentos:before {
  content: "\e98d";
}
.icon-reposicion-llaves:before {
  content: "\e98e";
}
.icon-Robo--Automvil:before {
  content: "\e98f";
}
.icon-Robo--Automovil:before {
  content: "\e990";
}
.icon-robo-perdida-tarjeta:before {
  content: "\e991";
}
.icon-rotura-huesos:before {
  content: "\e992";
}
.icon-sad:before {
  content: "\e993";
}
