@media (min-width: 768px) {
	#banner {
		background:  $azulPrimario;
    	padding: 0px 15px 0px 15px;
	    position: relative;
	    top: 0;
	    width: 100%;
    	#heading {
	    	margin: 16px 20px;
  		} 	
	}/*Cierre banner*/

	.dropdown-menu {
	    right: 0;
	    left: auto;
	}
	#navigation{
		float: left;
		margin-left: 3%;
		width: calc(100% - 240px);
		&.list-right{
			margin: 0;
			min-width: 160px;
		}
		&.list-right-signed{
			margin: 0;
			min-width: 360px;
		}    
		.navbar-nav {
		    margin: 0;
		    z-index: 1 !important;
		    float: left;
		    width: 100%;
		    position: relative;
			& > .login{
			    position: absolute;
			    right: 0;
			    height: 100%;				
			}
			& > li {
			    padding-right: 5px;
    			padding-left: 5px;
				display: -ms-flex;
				display: -webkit-flex;
				display: flex;
				justify-content: center;
				flex-direction: column;
				transition: all .3s;
				&:hover{
					background: $azulPrimario;
				}
				& > a{
					color: $grisPrimario;
	    			font-weight: bold;
	    			text-transform: uppercase;
	    			font-size: 12px;	
	    			outline: none;	
	    			padding: 22px 20px;
	    			span{
	    				position: relative;
	    				span{
							margin-top: 8px;
							margin-left: 8px;
	    					color: $grisSecundario;	
	    				}
	    			}
	    			> img{
					height: 23px;
				    margin-right: 5px;	    				
	    			}
	    			.pull-left {
					    margin-right: 5px;
					}	
					.pull-right {
					    margin-left: 8px;
					}
					.signed-user{
						display: inline-block;
						color:#666;
						#cargo-user{
							color: #000;   
							margin-top: -15px;
							text-transform: capitalize;
							font-size: 11px;
						}
					}	
				}/*Cierre a*/
				&.open, &.show{
					background: #fff;
					box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.7);
					& > a{
						color: $grisPrimario;
						background: inherit;
						.signed-user{
							#cargo-user{
								color: $negroColor;   
							}
						}	
					}/*Cierre a*/
					.dropdown-menu{
						margin-top: -1%;
						padding-top: 0;
						border-style: solid;
					    border-width: 0px 0px 0px 3px;
					    border-color:  #fff;
					    min-width: 100% !important;
					    & >li{
					    	padding: 0;
					    	& > ul{/*Inicio ul generic 2*/
						        padding: 0;
							    & > li {/*Inicio li generic 2*/
							    	padding-left: 20px;
	    							padding-right: 0px;
								    & > a{
									    color: $grisPrimario;
									    font-weight: bold;
									    margin-left: 0;
									    display: table;
									    line-height: 1.5;
									    & > img{
									    width: 65px;
									    margin-right: 5px;									    	
									    }
										& > span{
											& > img{
												height: auto;
											    width: 20px;
											    margin-right: 10px;
											}
										}
									}
								}/*Cierre li generic 2*/
								& > hr{
									margin: auto;
								}
						    }/*Cierre ul generic 2*/
					    }
					}
					.user-menu{
					    margin-top: -1%;
					    margin-left: -122px;
					    width: 280px !important;
					    padding-top: 0;
					    border-style: solid;
					    border-width: 0px 0px 0px 3px;
					    // -moz-border-image: url(../images/banco_bogota/borde_menu_perfil.png) 8 0 0 3;
					    // -webkit-border-image: url(../images/banco_bogota/borde_menu_perfil.png) 8 0 0 3;
					    // -o-border-image: url(../images/banco_bogota/borde_menu_perfil.png) 8 0 0 3;
					    // border-image: url(../images/banco_bogota/borde_menu_perfil.png) 8 0 0 3 fill;
					    & > li {
					        padding: 0;
						    & > ul{/*Inicio ul 2*/
						        padding: 0;
							    & > li {/*Inicio li 2*/
							    	padding-left: 20px;
	    							padding-right: 0px;
								    & > a{
										color: $grisPrimario;
										font-weight: 600;
										font-size: 16px;
										span{
										    font-size: 22px;
										    margin-right: 6px;
											color: $grisPrimario !important;	
											outline: none;
											text-decoration: none;										
										}
									}
								}/*Cierre li 2*/
								& > hr{
									margin: auto;
								}
						    }/*Cierre ul 2*/
							
						}/*Cierre li*/
					}/*Cierre user-menu*/
				}/*Cierre open*/
				
			} /*Cierre li*/
			.selected{
				background: $azulPrimario;				
			}
		}/*Cierre nav bar*/
	}/*Cierre navigation*/
	
	/*Inicio estilos login*/
	#p_p_id_com_liferay_login_web_portlet_LoginPortlet_{
		#portlet_com_liferay_login_web_portlet_LoginPortlet {
			.portlet-icon-back{ 
				display:none;
			}
			.portlet-title-text{
				display: none;
			}
			.custom-portlet-title-text{
				color: $azulPrimario;
				font-weight: bold;
			}
			.input-login {
			   	border: 1px solid #a9b1bc;
			    background:  #fff;
			    border-radius: 0px;
			}
			/*Inicio btn send login*/
			.btn-send-login{
				border-radius: 0px;
				background: $azulPrimario;
				border: 1px solid $azulPrimario;
				width: 275px;
				margin: auto;
				-webkit-transition: background-color 1s linear;
				-moz-transition: background-color 1s linear;
				-o-transition: background-color 1s linear;
				transition: background-color 1s linear;
				&:hover{
					background-color: #020833 !important;
				}
				.lfr-btn-label::after {
				    content: ">";
					display: block;
					float: right;
					margin-right: -10px;
					color: $azulPrimario;
					font-size: 17px;
				}
			}/*Fin btn send login*/
			
			/*Inicio btn send register*/
			.btn-send-register{
				border-radius: 0px;
				background: $azulPrimario;
				border: 1px solid $azulPrimario;
				width: 275px;
				margin-bottom: 20px;
				-webkit-transition: background-color 1s linear;
				-moz-transition: background-color 1s linear;
				-o-transition: background-color 1s linear;
				transition: background-color 1s linear;
				&:hover{
					background-color: $azulPrimario !important;
				}
			}/*Fin btn send register*/
			.link-send-register{
				color: #fff;
				font-weight: bold;				
				&::after {
				    content: ">";
					display: block;
					float: right;
					margin-right: -10px;
					color: $azulPrimario;
					font-size: 17px;
				}
			}
			.forgot-pass-link{
				color: $azulPrimario;
				padding: 10px;
				&::after {
				    content: ">";
					display: block;
					float: right;
					margin-right: 45px;
					color: $azulPrimario;
					font-size: 18px;
				}
			}
			.info-forgot-pass {
			    color: $azulPrimario;
			}
		}
	}/*Cierre estilos login*/
	
	/*Inicio estilos portlets y headers*/
	.home-container-img{
	    min-height: 1060px;
	    background-repeat: no-repeat;
	    background-size: 100%;
	}
    #login-embed{
        float: right;
        margin-top: 150px;
        margin-right: 100px;
    }
    #portlet_com_liferay_login_web_portlet_LoginPortlet .portlet-content{
        background: transparent;
        border: none;
    }
    .portlet-content{
        padding: 0;
    }
    .portlet-title-text{
        display:none;
    }
    #content .row{
        margin: 0;
    }
    #content .row .col-md-12 {
        padding: 0;
        
    }
    
    .portlet{
        margin: 0;
    }
    .img-header-content{
		width: 100%;
    	max-height: 400px;
    }
    /*Inicio estilos portlets y headers*/
    
    /*Inicio estilos registro*/
    .row-fluid.register-container {
    margin-top: 30px;
}

.line-steps{
  	border-bottom: dotted 2px #abafb0;
    width: 100%;
    margin-top: 3%;
    position: absolute;
    z-index: -10;
}

.step2{
	background: #f9f7f4;
}
.steps-container{
    width: 80%;
    margin-top: 30px;
    display: inline-block;
    position:absolute;
}
.form-register-container .form-group.input-text-wrapper{
    width: 25%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

.form-register-container .form-group.input-select-wrapper{
    width: 25%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

.form-register-container .form-group.input-text-wrapper > input{
    border: 1px solid #a9b1bc;
    background-color:  #fff;
    border-radius: 0px;
}

.form-register-container .form-group.input-select-wrapper > select{
    color: $azulPrimario;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #a9b1bc;
    background-color:  #fff;
    border-radius: 0px;
}

.form-register-container .form-group.input-text-wrapper > input::placeholder{
    color: $azulPrimario;
    font-size: 13px;
    font-weight: bold;
}

#container-inputs{
	float: right;
    margin-top: 100px;
}

.contenedor-inputs-registro{
	width: 90%;
    float: right;
    margin-top: 8%;
}

/*Inicio btn send login*/
	.btn-custom-register{
		border-radius: 0px;
		background: $azulPrimario;
		color: #fff;
		border: 1px solid $azulPrimario;
		width: 200px;
		margin: auto;
		margin-right:20px;
		-webkit-transition: background-color 1s linear;
		-moz-transition: background-color 1s linear;
		-o-transition: background-color 1s linear;
		transition: background-color 1s linear;
		&:hover{
			background-color: #020833 !important;
			color: #fff;
			
		}
		&:focus{
			color: #fff;
			background-color: #020833 !important;
			outline:0;
		}
		.lfr-btn-label::after {
			content: ">";
			display: block;
			float: right;
			margin-right: -10px;
			color: $azulPrimario;
			font-size: 17px;
		}
	}/*Fin custom register*/
	
	#label-terminos-condiciones{
		cursor:pointer;
		color: #fcc958;
	}
	
	.squaredTerms {
	    width: 20px;
	    height: 20px;
	    background: #fcfff4;
		display: inline-block;
	    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	    margin: 20px auto;
	
	    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	    position: relative;
	    
	    label {
		    cursor: pointer;
		    position: absolute;
		    width: 20px;
		    height: 20px;
		    left: 0px;
		    top: 0px;
		
		    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
		    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
		    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
		
		    background: -webkit-linear-gradient(top, $azulPrimario 0%, $azulPrimario 100%);
		    background: -moz-linear-gradient(top, $azulPrimario 0%, $azulPrimario 100%);
		    background: -o-linear-gradient(top, $azulPrimario 0%, $azulPrimario 100%);
		    background: -ms-linear-gradient(top, $azulPrimario 0%, $azulPrimario 100%);
		    background: linear-gradient(top, $azulPrimario 0%, $azulPrimario 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$azulPrimario', endColorstr='$azulPrimario',GradientType=0 );
		    &:after {
			    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			    filter: alpha(opacity=0);
			    opacity: 0;
			    content: '';
			    position: absolute;
			    width: 9px;
			    height: 5px;
			    background: transparent;
			    top: 8px;
			    left: 6px;
			    border: 3px solid #032e75;
			    border-top: none;
			    border-right: none;
			
			    -webkit-transform: rotate(-45deg);
			    -moz-transform: rotate(-45deg);
			    -o-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			    transform: rotate(-45deg);
			}
			&:hover::after {
			    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
			    filter: alpha(opacity=30);
			    opacity: 0.3;
			}
		}/*Fin label squared terms*/
		input[type=checkbox]:checked + label:after {
		    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		    filter: alpha(opacity=100);
		    opacity: 1;
		}
	}/*Fin squared terms*/
	
	#terms-link-wrapper{
		display: inline-block;
		margin-left: 10px;
	}

	.btn-take-pic{
		border-radius: 0px;
		background: $azulPrimario;
		border: 1px solid $azulPrimario;
		width: 150px;
		margin-bottom: 20px;
		-webkit-transition: background-color 1s linear;
		-moz-transition: background-color 1s linear;
		-o-transition: background-color 1s linear;
		transition: background-color 1s linear;
			&:hover{
				background-color: $azulPrimario !important;
			}
		}/*Fin btn take pic*/
		.link-send-photo{
			color: #fff;
			font-weight: bold;
			font-size: 12px;
		    padding: 0;
		    margin: auto;
				
			&::after {
				content: ">";
				display: block;
				float: right;
				margin-right: -10px;
				color: $azulPrimario;
				font-size: 17px;
			}
		}	    
    /*Fin estilos registro*/
}