$status-approved-border: green !default;
$status-approved-text: green !default;

$status-denied-border: red !default;
$status-denied-text: red !default;

$status-draft-border: gray !default;
$status-draft-text: gray  !default;

$status-expired-border: blue !default;
$status-expired-text: blue !default;

$status-pending-border: orange !default;
$status-pending-text: orange !default;

$status-scheduled-border: yellow !default;
$status-scheduled-text: yellow !default;