
@font-face {
  font-family: 'BNPPRounded-Light';
  src: url('BNPPRounded-Light.eot?#iefix') format('embedded-opentype'),  url('BNPPRounded-Light.woff') format('woff'), url('BNPPRounded-Light.ttf')  format('truetype'), url('BNPPRounded-Light.svg#BNPPRounded-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
