.footerjuris{
	background-color: #fff;
	color:#666;
	padding-top: 20px;
	min-height: 80px;
	border-top: 1px solid#ccc;
	list-style: none;
	font: regular 11px/1.3 'gotham-medium1',sans-serif;
	position: relative;
}
.textlft {
    font-weight: 100;
    font-size: 13px;
}
.textlft2 {
	font-weight: 100;
	font-size: 11px;
}
.logob {
	height:calc(16px + 0.5vw);
	margin-bottom: 10px;
	margin-top: 10px;
}

.logoc {
	height:calc(16px + 0.5vw);
	
}
.vgld {
	font-size: 12px;
	border-bottom: 2px solid#fff;
	font-weight: bold;	
	border-top: 2px solid#fff;
	padding: 2px 2px 3px 3px;
	letter-spacing: 5px;
	}
.sfdc {
		font-size: 11px;
		padding-right: 15px;
		text-align: center;
		border-right: 2px solid#fff;
		padding-left: 20px;
		display: inline-grid;
		font-weight: bold;
}
.logofooter {
	margin-right: 30px;
	height: calc(21px + 1vw);
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
	//CSS
	.logob{
		margin-right: 4%;
	}
  }
  
  /* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
	//CSS
	.logob{
		margin-right: 4%;
	
	}
	
  }
  
  /* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
	
	//CSS
	.logob{
		margin-right: 4%;
		margin-top: 10px;
	
	}

	.logofooter {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	
  }
  
  /* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	
	//CSS
	.logob{
		margin-right: 4%;
		margin-top: 15px;
	
	}

	.logofooter {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	
  }
  
  /* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
	
	//CSS
	.logob{
		margin-right: 2%;
		margin-top: 25px;
	
	}
	.logob{
		margin-right: 14px;
		margin-top: 10px;
		margin-bottom: 15px;
	}	

	.logoc{
		margin-top: 10px;
		margin-bottom: 10px;
	}	

	.logofooter {
		margin-top: 11px;
		margin-bottom: 20px;
	}
	.textlft2 {
    font-weight: 100;
    font-size: 11px;
    display: none;
}
  }
  
  /* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 280px) and (max-width: 480px) {
	
	//CSS
	.logob{
		margin-right: 14%;
		margin-top: 10px;
		margin-bottom: 15px;
		height: calc(9px + 0.5vw);
	}	
	
	.footerjuris {
    position: relative;
	display: flex;
	margin-left: -41px;
}

	.logoc{
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 6px;
	margin-right: 11px;
	height: calc(12px + 0.5vw);
	}	

	.logofooter {
		margin-top: 5px;
		margin-bottom: 29px;
		height: calc(15px + 1vw);
		margin-right:0px;
	}
	
	.textlft2 {
	    font-weight: 100;
	    font-size: 11px;
	    display: none;
	}
	.iconosfooter {
	    display: contents;
	}
  }