// -----------------------medidad de pantallas-----------------------
$max-ancho-pantalla: 1500px;
$max-ancho-portlet: 1260px;

// maximo ancho del header
#wrapper .container-portal {
    max-width: $max-ancho-pantalla;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

// maximo ancho del contenedor de los modulos
#main-content .content-page {
    max-width: $max-ancho-portlet;
    margin: 0px auto;
    float: none;
}

// -------------------------------Colores-------------------------------
$azulPrimario: #00A3BA;
$amarilloPrimario: #ccc;
$grisPrimario: #666666;
$blanco: #fff;
$botonRojo:#622E71;
$azulClaro:#622E71;
$azulOscuro:#B51D80;
$rojoOscuro:#E5005B;
$negroJuris:#000;

// variables en CSS para contenidos web y apps
:root {
    --colorAzulPr: #{$azulPrimario};
    --colorMoradoPr: #{$botonRojo};
    --colorMoradoSe:#{$azulOscuro};
    --colorFucsiaPr:#{$rojoOscuro};
    --grisPr: #{$grisPrimario};
    --grisSe: #{$amarilloPrimario};
    --tipografiaRe: 'gotham-medium1';
    --tipografiaBd: 'gotham-bold1';
    --tipografiaUl: 'gotham-ultra1';
}
// --------------------------------sombras--------------------------------
.sombra1 {
    -webkit-box-shadow: 1px 1px 8px $grisPrimario;
    -moz-box-shadow: 1px 1px 8px $grisPrimario;
    box-shadow: 1px 1px 8px $grisPrimario;
}


// -------------------------------box-sizing-------------------------------
.bx-sizing-bb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.bx-sizing-cb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input.check[type=checkbox] {
  display: none;
}
.check-box{
  border-radius: 4px;
  display: flex;
  margin: 0;
  margin-right: 0px;
  cursor: pointer;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  position: relative;
  transition: border-color ease .2s;
  margin-right: 10px !important;
  background: #fff;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked + .check-box,
.check-box.checked{
  background: $azulOscuro;
}
input[type="checkbox"]:checked + .check-box::before, 
.check-box.checked::before{
  content: "\2713";
  border-radius: 0.2em;
  display: inline-flex;
  width: 15px;
  height: 15px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-right: 0.2em;
  justify-content: center;
  color: #fff;
  transition: .2s;
  font-size: 17px;
  align-items: center;
}

// loader css
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: $azulPrimario;
    font-size: 10px;
    margin: 60px auto 70px;
    position: relative;
    text-indent: 0px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader span {
    text-align: center;
    margin: 0px;
    position: relative;
    left: -45px;
    top: -35px;
    color: $azulPrimario;
    font: 400 25px/1.3 'gotham-medium1', sans-serif;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}



/*----------------------------DiseÃ±o de los input----------------------------*/

.input-primario {
    padding: 6px 10px;
    height: auto;
    border-radius: 10px;
    color: $negroJuris ;
    background-color: $blanco;
}

.inputCss.input-design[readonly] {
    padding: 7px 30px 6px 20px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    border-radius: 10px !important;
    width: 100%;
    background: #fff;
    color: $azulPrimario;
    font: 400 16px/1.3 'gotham-medium1', sans-serif;
    cursor: pointer;
	height: 34px;
}

/*ancho*/

.full {
    width: 100%;
}


/*------------------------DiseÃ±os de los checkbox radiales---------------------------*/

input.radioBox[type="radio"] {
    display: none;
}

input.radioBox[type="radio"] + label {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 2px solid $azulPrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    margin: 0px 10px 0px 0px;
}

input.radioBox[type="radio"] + label:last-child {
    margin-bottom: 0;
}

input.radioBox[type="radio"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}

input.radioBox[type="radio"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $azulPrimario;
}

// ----------------------------DiseÃ±o de los input----------------------------
.inputCss.input-design[readonly] {
    padding: 7px 30px 6px 20px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    border-radius: 50px !important;
    width: 100%;
    background: #fff;
    color: $azulPrimario;
    font: 400 16px/1.3 'gotham-medium1', sans-serif;
    cursor: pointer;
}


// ------------------------DiseÃ±os de los checkbox radiales---------------------------
input.radioBox[type="checkbox"] {
    display: none;
}

input.radioBox[type="checkbox"] + label {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $azulPrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
}

input.radioBox[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input.radioBox[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}

input.radioBox[type="checkbox"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $azulPrimario;
}


/*------------------------DiseÃ±os de los select---------------------------*/
.select-primario * {
    outline: none !important;
}
.select-primario .dropdown-backdrop {
    position: relative;
}
.select-primario button {
    background: #ffffff;
    font: 500 16px/1.3 'gotham-medium1', sans-serif;
    border-radius: 27px;
    color: #666666;
    border: 1px solid #8d8d8d;
    padding: 5px 10px 5px 15px;
}
.select-primario.open button {
    background: #9d9d9d !important;
}
.select-primario button:hover {
    border: 1px solid #7d7d7d;
    background-color: #fff;
}
.select-primario button .filter-option {
    color: $grisPrimario !important;
    font-family:'gotham-medium1', sans-serif;
}
.select-primario.open button .filter-option {
    color: #666666 !important;
}
.select-primario button.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}
.select-primario .btn-default:not(:disabled):not(.disabled):active, 
.select-primario .btn-default:not(:disabled):not(.disabled).active, 
.select-primario.show > .btn-default.dropdown-toggle{
    background: #fff;
}
.select-primario button:after {
    display: none !important;
}
.select-primario .dropdown-menu {
    padding-top: 20px;
    z-index: 2;
    margin-top: -5px;
}
.select-primario .dropdown-menu.open.show .dropdown-menu {
    display: block;
}
.select-primario .dropdown-menu ul li a {
    font: 300 16px/1.3 'gotham-medium1', sans-serif;
    color: #ccc !important;
    width: calc(100% - 20px);
    margin: 0 auto;
    border-bottom: 1px solid #ccc !important;
    padding: 6px 5px;
}
.select-primario .dropdown-menu ul li a:hover {
    background:$blanco;
}
.select-primario .dropdown-menu ul li:last-child a {
    border: none !important;
}

/*DiseÃ±o input tipo file*/
.filupp > input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filupp {
    position: relative;
    background: #ffffff;
    display: block;
    padding: 3px 18px;
    width: 91%;
    border: 1px solid #d5d5d5;
    color: $azulPrimario;
    cursor: pointer;
    border-radius: 40px;
    font: 400 16px/1.6 'gotham-medium1', sans-serif;
    overflow: hidden;
}

.filupp-file-name {
    width: 75%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.filupp .icon {
    float: right;
    color: $azulPrimario;
    font-size: 25px;
    position: relative;
    right: -14px;
    background: #fff;
    width: 30px;
    margin-right: -6px;
}

.filupp .js-value {
    position: absolute;
    width: 120%;
    left: 10px;
}

// ---------------------------------DatePicker---------------------------------
#datepicker {
    position: relative;
    z-index: 0;
}

.icon-input.icon {
    position: absolute;
    right: 0px;
    z-index: 2;
    padding: 2px 3px;
    font-size: 20px;
    color: $azulPrimario;
    background: #fff;
    border: none;
    width: auto;
    cursor: pointer;
    margin: 5px 6px;
    z-index: 3;
}

.datepicker-dropdown {
    border-radius: 10px;
    padding: 20px !important;
}

.datepicker-dropdown th.prev,
.datepicker-dropdown th.next,
.datepicker-switch {
    color: $azulPrimario;
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background: $azulPrimario !important;
    border-radius: 50%;
    color: $azulPrimario;
}

.datepicker table tr td.today,
.datepicker table tr td span.active.active {
    color: $azulPrimario !important;
    font-weight: 800;
    background: #fff !important;
}

.datepicker table tr td.active.active {
    background: $azulPrimario !important;
    border-radius: 50%;
    color: $azulPrimario;
}

.datepicker table tr td span.focused {
    background: $azulPrimario !important;
    border-radius: 50%;
    color: $azulPrimario !important;
    height: 40px;
    line-height: 40px;
    top: 7px;
    position: relative;
}

.table-condensed > thead > tr > th {
    color: $azulPrimario;
}

.datepicker.dropdown-menu {
    overflow: hidden
}

.datepicker table {
    width: 100%;
}

// ----------------------------DiseÃ±o de botones----------------------------
// DiseÃ±o boton principal
/*Botones*/

.boton-primario {
    padding: 10px 50px;
    text-transform: none;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
    position: relative;
    display: table;
    text-align: center;
    font-family: 'gotham-medium1', sans-serif;
    color:#fff;
    border-radius: 9px;
    background: #e5005b;
}

.boton-primario:focus {
    outline: none;
    text-decoration: none;

}

.boton-primario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: #fff;
    margin-top: 6px;
}

.boton-primario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: #fff;
}

.boton-primario:hover {
    text-decoration: none;
    border:1.3px solid;
    color: #fff!important;
    border-color: #fff;
    background: #e5005b 50%;
}

.boton-primario.volver span {
    left: 10px;
    right: inherit;
}

// DiseÃ±o boton secundario
.boton-secundario {
    background: #FFF;
    padding: 10px 50px;
    border-radius: 1px;
    text-transform: none;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
    color:#00a3ba !important;
    position: relative;
    display: table;
    text-align: center;
    font-family:'gotham-medium1', sans-serif; 
    border-radius: 9px;
    border:1.3px solid #00a3ba;
}

.boton-secundario:focus {
    outline: none;
}

.boton-secundario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: #FFF;
}

.boton-secundario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: #fff;
}

.boton-secundario:hover {
    text-decoration: none;
    background: #ffff 50%;
    color: #00a3ba !important;
}

.boton-secundario:focus {
    text-decoration: none;
    color: $blanco !important;
}

.boton-secundario.volver span {
    left: 10px;
    right: inherit;
}

// pulso animaciÃ³n
.pulse {
    box-shadow: 0 0 0 rgba(1, 57, 140, 0.5);
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -webkit-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
        box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

// -------------------------- Modal--------------------------
.modals {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.modals .modal-bodys {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.modals .modal-bodys .content {
    margin: 0 auto;
    display: table;
    width: 90%;
    max-width: 700px;
    border-radius: 6px;
    border: 2px solid $azulPrimario;
    background: #fff;
    padding: 10px;
    position: relative;
}

.modals .modal-bodys .content > .salir {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
    font-size: 20px;
    color: $azulPrimario;
    cursor: pointer;
}

.modals .modal-bodys .content > .salir:hover {
    color: $azulPrimario;
}

.oculto {
    display: none;
}
#cargando-general {
    .content{
        background: none;
        border: none;
        max-inline-size: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
            .gifLoader{
                max-width: 250px;
            }
    }
}

// -------------------------- Notificaciones--------------------------
.btn-menu,
#notifica {
    margin-top: 0;
}

#notifica .shortIcon {
    width: 100%;
}

#counts {
    position: absolute;
    top: -7px;
    background: red;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    left: -6px;
    font: 400 16px/1.3 'gotham-medium1', sans-serif;
    display: none;
}
#counts.desktop {
    position: absolute !important;
    top: 15px;
    line-height: 1.3;
    left: 5px;
}
#navigation #padre .dropdown-menu {
    left: 122px !important;
    width: 400px !important;
    max-width: 400px;
    border: none;
    padding-bottom: 0px;
    box-shadow: none;
    border-bottom: 1px solid $amarilloPrimario;
}

#padre .list-group-item-field .user-info, 
#padre .list-group-item-content .title, 
#navigation #padre .dropdown-menu .dropdown-header, 
#navigation #padre .dropdown-menu:before, #navigation #padre .dropdown-menu:after{
    display: none;
}
#padre .list-group-item-field{
    padding: 0px !important;
    vertical-align: middle;
}
#padre .display-style-descriptive {
    margin: 0;
    box-shadow: none;
}
#padre .list-group-item-content{
    padding: 10px !important;
    vertical-align: middle;
    font: 400 16px/1.3 'gotham-medium1', sans-serif;
}
#padre .list-group-item-content .block1 {
    color: $azulPrimario;
    font: 300 14px/1.3 'gotham-medium1', sans-serif;
}
#verNoti {
    background: #f9f7f4;
    text-align: center;
    padding: 14px 5px;
    background: url(../images/banco_bogota/grafismo.png);
    background-size: inherit;
    background-repeat: no-repeat;
    position: relative;
}
#verNoti:before {
    content: "";
    width: 2px;
    background: red;
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
}
#verNoti:after {
    content: "";
    width: 2px;
    background: $azulPrimario;
    display: table;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
}
#verNoti a {
    font: 400 16px/1.3 'gotham-medium1', sans-serif;
    color: #2b487e;
}
#verNoti a:hover{
    color: $azulPrimario;
}
#padre .list-group-item-content .block2 {
    font: 400 18px/1.3 'gotham-medium1', sans-serif;
}
#padre .list-group-item-content .timestamp {
    font: 400 14px/1.3 'gotham-medium1', sans-serif;
    color: $azulPrimario;
}
.taglib-search-iterator-page-iterator-bottom {
    display: none;
}
body .select-primario [aria-expanded="true"] + .dropdown-menu {
    top: 35px;
}
/*arreglar el login por culpa del api de chat*/
form#_com_liferay_login_web_portlet_LoginPortlet_loginForm fieldset {
    display: block;
}

// --------------------------Fuentes de texto--------------------------
/*-----------------------------gotham-medium1-----------------------------*/

@font-face {
  font-family:'gotham-bold1';
  src:
  url('fonts/gotham-bold1-webfont.woff2') format('woff2'),
  url('fonts/gotham-bold1-webfont.woff') format('woff'),
  url('fonts/gotham-bold1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}

@font-face {
  font-family:'gotham-medium1';
  src:
  url('fonts/gotham-medium1-webfont.woff2') format('woff2'),
  url('fonts/gotham-medium1-webfont.woff') format('woff'),
  url('fonts/gotham-medium1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}


@font-face {
  font-family:'gotham-ultra1';
  src:
  url('fonts/gotham-ultra1-webfont.woff2') format('woff2'),
  url('fonts/gotham-ultra1-webfont.woff') format('woff'),
  url('fonts/gotham-ultra1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;   
}



// ----------------------------Fuentes iconograficas----------------------------

@font-face {
  font-family: 'icomooncodensa';
  src:  url('fonts/iconos-codensa/icomooncodensa.eot?3nzvsd');
  src:  url('fonts/iconos-codensa/icomooncodensa.eot?3nzvsd#iefix') format('embedded-opentype'),
    url('fonts/iconos-codensa/icomooncodensa.ttf?3nzvsd') format('truetype'),
    url('fonts/iconos-codensa/icomooncodensa.woff?3nzvsd') format('woff'),
    url('fonts/iconos-codensa/icomooncodensa.svg?3nzvsd#icomooncodensa') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomooncodensa' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-estrategia:before {
  content: "\e915";
}
.icon-habilidades-b:before {
  content: "\e917";
}
.icon-proteccion:before {
  content: "\e918";
}
.icon-educacion:before {
  content: "\e919";
}
.icon-interes5:before {
  content: "\e906";
  color: #00a3ba;
}
.icon-interes6:before {
  content: "\ea6d";
  color: #00a3ba;
}
.icon-interes1:before {
  content: "\ea6e";
  color: #00a3ba;
}
.icon-interes2:before {
  content: "\ea6f";
  color: #00a3ba;
}
.icon-interes3:before {
  content: "\ea70";
  color: #00a3ba;
}
.icon-interes4:before {
  content: "\ea71";
  color: #00a3ba;
}
.icon-25:before {
  content: "\e900";
}
.icon-44:before {
  content: "\e901";
}
.icon-65:before {
  content: "\e902";
}
.icon-66:before {
  content: "\e903";
}
.icon-accidente:before {
  content: "\e904";
}
.icon-actores:before {
  content: "\e905";
}
.icon-advance:before {
  content: "\e907";
}
.icon-alert:before {
  content: "\e908";
}
.icon-alerta:before {
  content: "\e909";
}
.icon-analisis:before {
  content: "\e90a";
}
.icon-antes-de-iva:before {
  content: "\e90b";
}
.icon-anual:before {
  content: "\e90c";
}
.icon-archivo-adjunto:before {
  content: "\e90d";
}
.icon-arrow-detail-bottom:before {
  content: "\e90e";
}
.icon-arrow-detail-left:before {
  content: "\e90f";
}
.icon-arrow-detail-right:before {
  content: "\e910";
}
.icon-arrow-detail-top:before {
  content: "\e911";
}
.icon-arrow-swipe:before {
  content: "\e912";
}
.icon-asalariado:before {
  content: "\e913";
}
.icon-asegurado:before {
  content: "\e914";
}
.icon-aseguradora:before {
  content: "\e916";
}
.icon-Asistencia--transporte2:before {
  content: "\e91c";
}
.icon-Asistencia--transporte:before {
  content: "\e91d";
}
.icon-atencion:before {
  content: "\e91e";
  color: #ea721a;
}
.icon-atencion2:before {
  content: "\e91f";
  color: #00a3b5;
}
.icon-atencion3:before {
  content: "\e920";
  color: #ea721a;
}
.icon-atencion4:before {
  content: "\e921";
  color: #c20a6a;
}
.icon-autorizaciones:before {
  content: "\e922";
}
.icon-beneficiarios:before {
  content: "\e930";
}
.icon-bienes:before {
  content: "\e934";
}
.icon-billetera:before {
  content: "\e935";
}
.icon-bolso:before {
  content: "\e941";
}
.icon-buscar-foto:before {
  content: "\e942";
}
.icon-cajero:before {
  content: "\e943";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2---copia:before {
  content: "\e944";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2:before {
  content: "\e945";
}
.icon-Canasta-Familiar-caso-muerte:before {
  content: "\e946";
}
.icon-cancelacion:before {
  content: "\e947";
}
.icon-cancer:before {
  content: "\e948";
}
.icon-caracteristicas:before {
  content: "\e949";
  color: #ea721a;
}
.icon-carta-aseguraado:before {
  content: "\e94a";
}
.icon-carta-cardif:before {
  content: "\e953";
}
.icon-cerrar:before {
  content: "\e957";
}
.icon-check:before {
  content: "\e958";
}
.icon-ciclo:before {
  content: "\e959";
}
.icon-cirugia:before {
  content: "\e95a";
}
.icon-Cirugia-Reconstructiva:before {
  content: "\e95b";
}
.icon-cliente-antiguo:before {
  content: "\e95c";
}
.icon-Clonacion-Tarjeta:before {
  content: "\e95d";
}
.icon-cobertura-hogar-line:before {
  content: "\e95e";
}
.icon-colombia:before {
  content: "\e95f";
  color: #666;
}
.icon-compra-protegida:before {
  content: "\e960";
}
.icon-Compras-fraudulentas-Internet:before {
  content: "\e961";
}
.icon-condiciones:before {
  content: "\e962";
  color: #ea721a;
}
.icon-consentimiento:before {
  content: "\e963";
  color: #ea721a;
}
.icon-corazon25:before {
  content: "\e964";
}
.icon-corazon50:before {
  content: "\e965";
}
.icon-corazon75:before {
  content: "\e966";
}
.icon-corazon-lleno:before {
  content: "\e967";
}
.icon-corazon-vacio:before {
  content: "\e968";
}
.icon-correo:before {
  content: "\e969";
  color: #93be21;
}
.icon-crediservices:before {
  content: "\e96a";
}
.icon-credito-consumo:before {
  content: "\e96b";
}
.icon-cuentas:before {
  content: "\e96c";
}
.icon-Cuidados-prologandos:before {
  content: "\e96d";
}
.icon-datos-asegurado:before {
  content: "\e96e";
}
.icon-declaraciones:before {
  content: "\e96f";
}
.icon-decoracion1:before {
  content: "\e974";
}
.icon-decoracion2:before {
  content: "\e975";
}
.icon-def-principal:before {
  content: "\e976";
  color: #00965e;
}
.icon-def-suplente:before {
  content: "\e977";
  color: #00a3b5;
}
.icon-defensor-principal:before {
  content: "\e978";
}
.icon-defensor-suplente:before {
  content: "\e97b";
}
.icon-denegados:before {
  content: "\e992";
}
.icon-descargar-carta:before {
  content: "\e993";
}
.icon-Desemembracion:before {
  content: "\e994";
}
.icon-Desempleo:before {
  content: "\e995";
}
.icon-desempleo-2:before {
  content: "\e996";
}
.icon-despido-sin-justa-causa:before {
  content: "\e997";
}
.icon-despues-de-iva:before {
  content: "\e998";
}
.icon-detalles:before {
  content: "\e999";
}
.icon-diagnostico-cancer:before {
  content: "\e99a";
}
.icon-direccin:before {
  content: "\e99b";
  color: #00a3b5;
}
.icon-edad:before {
  content: "\e99c";
  color: #ea721a;
}
.icon-edad-max-ingreso:before {
  content: "\e99d";
}
.icon-edad-max-permanencia:before {
  content: "\e99e";
}
.icon-edad-min:before {
  content: "\e99f";
}
.icon-editar:before {
  content: "\e9a0";
}
.icon-eliminar:before {
  content: "\e9a1";
}
.icon-elite:before {
  content: "\e9a2";
}
.icon-embarrassed:before {
  content: "\e9a3";
}
.icon-enfermedad:before {
  content: "\e9a4";
}
.icon-enfermedades-graves:before {
  content: "\e9a5";
}
.icon-escribenos:before {
  content: "\e9a6";
}
.icon-estudiante:before {
  content: "\e9a7";
}
.icon-evento-protegido:before {
  content: "\e9a8";
}
.icon-fax:before {
  content: "\e9a9";
}
.icon-fecha:before {
  content: "\e9bb";
}
.icon-firma:before {
  content: "\e9bc";
}
.icon-flecha-abajo:before {
  content: "\e9bd";
}
.icon-flecha-arriba:before {
  content: "\e9be";
}
.icon-flecha-derecha:before {
  content: "\e9bf";
}
.icon-flecha-gruesa:before {
  content: "\e9c0";
}
.icon-flor:before {
  content: "\e9c1";
  color: #666;
}
.icon-forma-de-pago:before {
  content: "\e9c2";
}
.icon-forzado:before {
  content: "\e9c4";
}
.icon-foto:before {
  content: "\e9c5";
}
.icon-foto-celular:before {
  content: "\e9c6";
}
.icon-Garantia-Extendida:before {
  content: "\e9c7";
}
.icon-garantia-protegida:before {
  content: "\e9c8";
}
.icon-Gastos-Funerarios:before {
  content: "\e9c9";
}
.icon-gastos-hospitalizacion:before {
  content: "\e9ca";
}
.icon-Gastos-Medicos:before {
  content: "\e9cb";
}
.icon-gps:before {
  content: "\e9cc";
}
.icon-happiness:before {
  content: "\e9ce";
}
.icon-happiness-two:before {
  content: "\e9cf";
}
.icon-hipotecario:before {
  content: "\e9d0";
}
.icon-hogar:before {
  content: "\e9d1";
}
.icon-horario:before {
  content: "\e9d2";
  color: #93be21;
}
.icon-hoy:before {
  content: "\e9d3";
}
.icon-hurto:before {
  content: "\e9d4";
}
.icon-hurto-cajero:before {
  content: "\e9d5";
}
.icon-hurto-calificado-bienes:before {
  content: "\e9d6";
}
.icon-hurto-oficina:before {
  content: "\e9d7";
}
.icon-identidad:before {
  content: "\e9d8";
}
.icon-importante:before {
  content: "\e9d9";
  color: #e9721c;
}
.icon-incapacidad-accidente-aereo:before {
  content: "\e9da";
}
.icon-incapacidad-total-permanente:before {
  content: "\e9db";
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte:before {
  content: "\e9dc";
}
.icon-incapacidad-total-temporal:before {
  content: "\e9dd";
}
.icon-incapacidad-total-temporal-cancer:before {
  content: "\e9de";
}
.icon-Incapacidad-Total-Temporal-Fractura-Accidental:before {
  content: "\e9df";
}
.icon-incentivos-acumulados:before {
  content: "\e9e0";
}
.icon-indebido:before {
  content: "\e9e1";
}
.icon-independiente:before {
  content: "\e9e2";
}
.icon-indifferent:before {
  content: "\e9e3";
}
.icon-interes:before {
  content: "\e9e4";
}
.icon-IVA:before {
  content: "\e9e5";
}
.icon-libranzaas:before {
  content: "\e9e6";
}
.icon-libranzas:before {
  content: "\e9e7";
}
.icon-libre-destino:before {
  content: "\e9e8";
}
.icon-like:before {
  content: "\e9e9";
}
.icon-LOGIN:before {
  content: "\e9ea";
}
.icon-lo-que-quiero:before {
  content: "\e9eb";
}
.icon-mail:before {
  content: "\e9ec";
}
.icon-mas:before {
  content: "\e9ed";
}
.icon-masivo:before {
  content: "\e9ee";
}
.icon-mes:before {
  content: "\e9ef";
}
.icon-microcreditos:before {
  content: "\e9f0";
}
.icon-money:before {
  content: "\e9f1";
}
.icon-mora:before {
  content: "\e9f2";
  color: #00a3b5;
}
.icon-muerte:before {
  content: "\e9f3";
}
.icon-Muerte-Accidental:before {
  content: "\e9f4";
}
.icon-Muerte-accidental-titular-acompaantes:before {
  content: "\e9f5";
}
.icon-muerte-accidental-transporte-publico:before {
  content: "\e9f6";
}
.icon-Muerte-accidental-vias-publicas:before {
  content: "\e9f7";
}
.icon-Muerte-consecuencia-Cancer:before {
  content: "\e9f8";
}
.icon-muerte-cualquier-causa:before {
  content: "\e9f9";
}
.icon-muerte-familiar:before {
  content: "\e9fa";
}
.icon-Notificacion:before {
  content: "\e9fb";
}
.icon-nuevo-cliente:before {
  content: "\e9fc";
}
.icon-ojo-close:before {
  content: "\e9fd";
}
.icon-ojo-open:before {
  content: "\e9fe";
}
.icon-pag-web:before {
  content: "\e9ff";
  color: #00a3b5;
}
.icon-pagados:before {
  content: "\ea00";
}
.icon-pensionado:before {
  content: "\ea01";
}
.icon-perfil:before {
  content: "\ea02";
}
.icon-personas-protegidas:before {
  content: "\ea03";
}
.icon-personas-protegidas2:before {
  content: "\ea04";
}
.icon-play:before {
  content: "\ea05";
}
.icon-poliza:before {
  content: "\ea06";
}
.icon-Poliza-todo-riesgo-hogar:before {
  content: "\ea07";
}
.icon-Poliza-todo-riesgo-vehiculo:before {
  content: "\ea08";
}
.icon-preferente:before {
  content: "\ea09";
}
.icon-Proteccion-Garantizada-Auto:before {
  content: "\ea0a";
}
.icon-radicado:before {
  content: "\ea0b";
}
.icon-region:before {
  content: "\ea0c";
}
.icon-renta-canasta-familiar:before {
  content: "\ea0d";
}
.icon-Renta-desempleo-Involuntario:before {
  content: "\ea0e";
}
.icon-renta-educacion-hijos:before {
  content: "\ea0f";
}
.icon-Renta--Hospitalizacion-debido-accidente:before {
  content: "\ea10";
}
.icon-Renta--Hospitalizacin-debido-accidente:before {
  content: "\ea11";
}
.icon-renta-incapacidad:before {
  content: "\ea12";
}
.icon-Renta-medicamentos-Cancer:before {
  content: "\ea13";
}
.icon-Renta-mensual-Muerte:before {
  content: "\ea14";
}
.icon-Renta-Muerte-Cancer:before {
  content: "\ea15";
}
.icon-Renta-Tratamiento-Cancer:before {
  content: "\ea16";
}
.icon-reposicion-bolso-o-billetera:before {
  content: "\ea17";
}
.icon-reposicion-documentos:before {
  content: "\ea18";
}
.icon-reposicion-llaves:before {
  content: "\ea19";
}
.icon-responsabilidades:before {
  content: "\ea1a";
}
.icon-revocacion-asegurado:before {
  content: "\ea1e";
  color: #c20a6a;
}
.icon-revocacion-cardif:before {
  content: "\ea1f";
  color: #018d80;
}
.icon-Robo--Automovil:before {
  content: "\ea20";
}
.icon-Robo--Automovil1:before {
  content: "\ea21";
}
.icon-Robo-bienes-electro-hogar-line:before {
  content: "\ea22";
}
.icon-Robo-bienes-hogar-line:before {
  content: "\ea23";
}
.icon-robo-perdida-tarjeta:before {
  content: "\ea24";
}
.icon-rotura-huesos:before {
  content: "\ea25";
}
.icon-rotura-vidrios-espejos:before {
  content: "\ea26";
}
.icon-sad:before {
  content: "\ea27";
}
.icon-scroll:before {
  content: "\ea28";
}
.icon-sede-uno:before {
  content: "\ea29";
}
.icon-semana:before {
  content: "\ea2a";
}
.icon-sombrilla:before {
  content: "\ea2b";
}
.icon-soporte:before {
  content: "\ea2c";
}
.icon-star:before {
  content: "\ea2d";
}
.icon-star-half:before {
  content: "\ea2e";
}
.icon-star-o:before {
  content: "\ea2f";
}
.icon-suspendido:before {
  content: "\ea30";
}
.icon-swipe:before {
  content: "\ea31";
}
.icon-tarjeta:before {
  content: "\ea32";
}
.icon-tarjeta-antigua:before {
  content: "\ea33";
}
.icon-tarjeta-cancelaciones:before {
  content: "\ea39";
}
.icon-tarjeta-credito:before {
  content: "\ea3e";
}
.icon-tarjeta-debito:before {
  content: "\ea3f";
}
.icon-tarjeta-de-credito:before {
  content: "\ea40";
}
.icon-tarjeta-nueva:before {
  content: "\ea41";
}
.icon-tarjeta-ventas:before {
  content: "\ea53";
}
.icon-TEL:before {
  content: "\ea54";
}
.icon-telefax:before {
  content: "\ea55";
  color: #00965e;
}
.icon-telefono:before {
  content: "\ea56";
}
.icon-terminacion:before {
  content: "\ea57";
  color: #ea721a;
}
.icon-tomador:before {
  content: "\ea58";
}
.icon-tomador2:before {
  content: "\ea5c";
  color: #96275a;
}
.icon-trabajo:before {
  content: "\ea5d";
}
.icon-Uso-Fraudulento-chequera:before {
  content: "\ea5e";
}
.icon-vehiculo:before {
  content: "\ea5f";
}
.icon-vehiculo1:before {
  content: "\ea60";
}
.icon-vehiculos:before {
  content: "\ea61";
}
.icon-very-happiness:before {
  content: "\ea62";
}
.icon-vigencia:before {
  content: "\ea63";
}
.icon-vigilado:before {
  content: "\ea69";
}
.icon-web-cam:before {
  content: "\ea6a";
}
.icon-whatsApp:before {
  content: "\ea6b";
  color: #4e4e4e;
}
.icon-zona:before {
  content: "\ea6c";
}
