
@font-face {
  font-family: 'BNPPSans-ExtraBold';
  src: url('BNPPSans-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('BNPPSans-ExtraBold.woff') format('woff'), url('BNPPSans-ExtraBold.ttf')  format('truetype'), url('BNPPSans-ExtraBold.svg#BNPPSans-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
