
@font-face {
  font-family: 'BNPPRounded';
  src: url('BNPPRounded.eot?#iefix') format('embedded-opentype'),  url('BNPPRounded.woff') format('woff'), url('BNPPRounded.ttf')  format('truetype'), url('BNPPRounded.svg#BNPPRounded') format('svg');
  font-weight: normal;
  font-style: normal;
}
