.logo {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	img{
		max-width: 260px;
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 768px) {
    .logo {
        img{
            width: auto;
            max-width: 150px;
            margin: 15px 0px;
        }
    }    
}