.logo {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	img{
        max-width: 60px;
        width: 100%;
        height: auto;
        padding: 10px 0px;
	}
}
@media only screen and (min-width:768px){
	.logo {
		img{
			max-width: 110px;
			padding: 5px 20px;
		}
	}	
}