@import "portlet_hello_world";
$screen-nav: 1230px !default;

body {
    background-color: $bg-color;
}

.container-fluid-1280 .row {
    margin-left: 15px;
    margin-right: 15px;
}

#wrapper {
    padding-top: 68px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS';
    #banner {
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        box-shadow: -2px 2px 5px 0px #bebebe;
        a:active,
        a:hover,
        a:focus {
            text-decoration: none;
            outline: none;
        }

        .portlet-topper {
            z-index: 1;
        }

        .navbar-collapse {
            @include sm {
                padding-right: 4px;
            }
        }

        .navbar-toggle {
            margin: 12px 0 12px 6px;
        }

        #heading .site-name {
            color: $solid-color;
            font-size: 150%;
            margin-left: 8px;
            vertical-align: middle;

            @include sm {
                letter-spacing: 2px;
                margin-left: 20px;
            }
        }

        #navigationCollapse {
            @include media-query(null, $screen-xs-max) {
                font-size: 125%;
                margin-left: -15px;
                margin-right: -15px;
            }

            #navigation {
                .input-container {
                    position: relative;
                }

                .portlet {
                    &,
                    .portlet-body > .navbar {
                        margin-bottom: 0;
                    }
                }

                li.open > a:focus {
                    @include tab-focus;
                }
            }

            .navbar-blank > li {
                & > a {
                    color: $solid-color;
                }

                &:hover,
                &.hover,
                &.active,
                .dropdown-menu .active {
                    & > a {
                        color: #000;
                    }
                }
            }

            @include media-query(null, $screen-xs-max) {
                .nav > li {
                    > a {
                        border-bottom: 1px solid #E1E1E1;
                    }

                    &:last-child > a {
                        border-bottom-width: 0;
                    }
                }
            }
        }

        .navbar-form {
            @include sm {
                margin-left: 30px;
            }

            .input-text-wrapper {
                @include media-query(null, $screen-xs-max) {
                    display: block;
                }
            }

            .form-control {
                background-color: transparent;
                border-bottom-width: 1px;
                border-color: #D6DCE2;
                margin-top: 2px;

                @include media-query(null, $screen-xs-max) {
                    border-width: 0;
                }
            }

            .search-select {
                margin-right: 40px;
                padding-right: 20px;
            }

            .search-input {
                font-size: 16px;
                padding-right: 32px;

                @include sm {
                    height: auto;
                    max-width: 200px;
                }
            }

            .field-wrapper {
                position: absolute;
                right: 0;
                top: 0;

                a {
                    color: $complementary-color;
                }
            }
        }

        .user-personal-bar {
            @include sm {
                position: absolute;
                right: 20px;
                top: 0;
            }

            .panel-notifications-count {
                top: 50%;

                @include transform(translateY(-50%));

                @include sm {
                    right: -15px;
                }
            }

            .sign-in > a,
            .user-avatar-link {
                display: block;
            }

            .sign-in > a {
                line-height: 28px;
                padding: 15px 4px;
            }

            .user-avatar-image {
                display: inline-block;
                vertical-align: text-bottom;
                width: 32px;
            }

            .user-avatar-link {
                line-height: 0;
                padding: 18px 4px;

                @include sm {
                    padding: 8px 0 8px 14px;
                }
            }

            .panel-notifications-count {
                @include media-query(null, $breakpoint_tablet - 1) {
                    left: 2px;
                    position: relative;
                    top: 6px;
                }
            }

            .icon-user,
            .user-full-name {
                display: none;
            }
        }

        .navbar-nav {
            @include media-query(null, $screen-xs-max) {
                margin: 0 0;
            }
        }

        .lfr-nav-item .lfr-nav-child-toggle {
            line-height: 28px;
            margin-top: -14px;
            padding-left: 15px;
            padding-right: 15px;
            position: absolute;
            right: 4px;
            top: 50%;

            @include media-query(sm, null) {
                position: relative;
            }

            @include md {
                padding: 0 0 0 8px;

                .lexicon-icon {
                    width: 8px;
                }
            }
        } // @include sm {
        // 	padding: 40px 0 30px;
        // }
    }
}


// validar controles del menui
.has-control-menu #wrapper #banner {
    top: 64px;
    z-index: 0;
}

.has-control-menu #wrapper.fixed #banner {
    position: fixed;
    z-index: 3;
}

.has-control-menu #wrapper.fixed {
    margin-top: 96px;
}

#content .row {
    margin-left: -15px;
    margin-right: -15px;
}

.modify-pages .delete-tab {
    top: 22px;
}

.display-style-buttons > .dropdown > .dropdown-menu {
    &:after,
    &:before {
        @include media-query(null, $screen-xs-max) {
            border-width: 0;
        }
    }
}

@include media-query(null, $screen-sm-max) {
    .overlay-focused:focus {
        outline: 0;
    }
}


// Navigation mobile
@media only screen and (max-width: $screen-nav) {
    #wrapper {
        .container-portal {
            padding: 0px !important;
            #navigation {
                display: none;
                width: 100%;
                margin: 0;
                .navbar-nav {
                    flex-direction: column;
                    height: auto;
                    width: 100%;
                    .login {
                        position: relative;
                        height: auto;
                        box-shadow: none;
                        border-radius: 0px;
                        outline: none;
                        padding: 0px;
                        order: 1;
                    }
                    li {
                        width: 100%;
                        float: left;
                        border-bottom: 1px solid #d9d9d9;
                        height: auto;
                        padding-left: 0px;
                        padding-right: 0px;
                        order: 2;
                        .icon-flecha-abajo {
                            transform: rotate(-90deg);
                            transition: all 0.3s;
                            margin-top: 0px;
                        }
                        a {
                            padding: 15px 20px;
                            font: 600 18px/1.3 "Trebuchet MS";
                            color: $grisPrimario;
                            width: 100%;
                            outline: none;
                            display: block;
                            .shortIcon {
                                display: none;
                            }
                            .signed-user {
                                font: 600 18px/1.3 "Trebuchet MS";
                                color: #828995;
                            }
                        }
                    }
                    & li:hover{
                        background: $azulPrimario;
                        a{
                            color: $blanco;
                        }
                    }
                    & li:last-child:hover{
                        background: $grisSecundario;
                        a{
                            color: $azulPrimario;
                        }
                    }
                    .user-menu{
                            li.dropdown-header:hover {
                                background: $azulPrimario;
                            a{
                                color: $blanco;
                                .signed-user{
                                    color: $blanco;    
                                }
                            }
                        }
                    }
                    .open, .show {
                        .user-menu {
                            margin-top: 0px;
                            margin-left: 0px;
                            width: 100% !important;
                            padding-top: 0;
                            border-style: solid;
                            border-width: 0px 0px 0px 3px;
                            box-shadow: none;
                            position: relative !important;
                            transform: none !important;
                            max-width: inherit;
                            li:last-child {
                                border: none;
                            }
                            .dropdown-header {
                                a {
                                    span {
                                        span {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        .icon-flecha-abajo {
                            transform: rotate(0deg);
                            transition: all 0.3s;
                        }
                        ul {
                            padding: 0px;
                            width: 100%;
                            display: table;
                            outline: none;
                        }
                    }
                }
            }
        }
        .flex {
            width: 100%;
        }
    } // Funcionalidad del menu		
    .btn-menu {
        width: 25px;
        height: 20px;
        position: relative;
        margin-top: 22px;
        display: flex;
        align-items: center;
        float: left;
        cursor: pointer;
        position: absolute;
        left: 15px;
    }
    .btn-menu span,
    .btn-menu span:before,
    .btn-menu span:after {
        width: 100%;
        height: 3px;
        display: block;
        background: $rojoPrimario;
        border-radius: 40px;
    }

    .btn-menu span:before,
    .btn-menu span:after {
        content: '';
        position: absolute;
        transition-duration: .2s;
    }
    .btn-menu span:before {
        top: 0;
    }
    .btn-menu span:after {
        bottom: 0;
    }
    .btn-menu .active {
        background: none;
    }
    .btn-menu .active::before {
        transform: rotate(45deg);
        top: 50%;
        margin-top: -1px;
    }
    .btn-menu .active::after {
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
    }
    #notifica {
        width: 25px;
        height: 20px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        float: right;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 0;
    }
    .btn-menu,
    #notifica {
        margin-top: 10px;
    }    
    #banner {
        padding: 0px !important;
        background: $blanco;
        #heading {
            margin: 20px auto !important;
            float: none;
            display: table;
            padding: 0px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: $screen-nav) {
    #navigation .navbar-nav > li.open .user-menu li {
        padding: 0px;
    }
}

.has-control-menu .product-menu .sidebar-header{
    padding: 15px 9px 48px 25px;
}
@media only screen and (max-width: 768px) {    
    .has-control-menu .product-menu .sidebar-header{
        padding: 8px 9px 40px 25px;    
    }   
    #wrapper {
        padding-top: 65px;
    }
    #banner #heading {
        margin: 20px auto!important;
    }
    .has-control-menu #wrapper #banner {
        top: 48px;
        z-index: 3;
    }
    .has-control-menu #wrapper.fixed {
        margin-top: 48px;
    }
    #wrapper .container-portal #navigation .navbar-nav li a,
    #wrapper .container-portal #navigation .navbar-nav li a .signed-user {
        font: 600 16px/1.3 "Trebuchet MS";
    }
    #wrapper #content .row {
        margin: 0px;
    }
    #wrapper #content .row .portlet-column {
        padding: 0;
    }
}
