// -----------------------medidad de pantallas-----------------------
$max-ancho-pantalla: 1300px;
$max-ancho-portlet: 1260px;

// maximo ancho del header
#wrapper .container-portal {
    max-width: $max-ancho-pantalla;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

// maximo ancho del contenedor de los modulos
#main-content .content-page {
    max-width: $max-ancho-portlet;
    margin: 0px auto;
    float: none;
}

// -------------------------------Colores-------------------------------
$rojoPrimario: #da2229;
$rojoSecundario: #b12227;
$azulPrimario: #337ab7;
$grisPrimario: #808080;
$grisSecundario: #f4f5f8;
$blanco: #fff;

// variables en CSS para contenidos web y apps
:root {
    --colorRojoPr: #{$rojoPrimario};
    --colorRojoSec: #{$rojoSecundario};
    --colorAzulPr: #{$azulPrimario};
    --grisPr: #{$grisPrimario};
    --grisSe: #{$grisSecundario};
    --tipografiaRe: 'Trebuchet MS';
}

// --------------------------------sombras--------------------------------
.sombra1 {
    -webkit-box-shadow: 1px 1px 8px #868686;
    -moz-box-shadow: 1px 1px 8px #868686;
    box-shadow: 1px 1px 8px #868686;
}

// -------------------------------box-sizing-------------------------------
.bx-sizing-bb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.bx-sizing-cb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input.check[type=checkbox] {
  display: none;
}
.check-box{
  border-radius: 4px;
  display: flex;
  margin: 0;
  margin-right: 0px;
  cursor: pointer;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  position: relative;
  transition: border-color ease .2s;
  margin-right: 10px !important;
  background: #fff;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked + .check-box,
.check-box.checked{
  background: $azulPrimario;
}
input[type="checkbox"]:checked + .check-box::before, 
.check-box.checked::before{
  content: "\2713";
  border-radius: 0.2em;
  display: inline-flex;
  width: 15px;
  height: 15px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-right: 0.2em;
  justify-content: center;
  color: #fff;
  transition: .2s;
  font-size: 17px;
  align-items: center;
}

// loader css
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: $azulPrimario;
    font-size: 10px;
    margin: 60px auto 70px;
    position: relative;
    text-indent: 0px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader span {
    text-align: center;
    margin: 0px;
    position: relative;
    left: -45px;
    top: -35px;
    color: $rojoPrimario;
    font: 400 25px/1.3 "Trebuchet MS";
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}



/*----------------------------DiseÃ±o de los input----------------------------*/

.input-primario {
    padding: 7px 10px;
    height: auto;
    border-radius: 4px;
    color: $grisPrimario;
    background-color: $blanco;
}

.inputCss.input-design[readonly] {
    padding: 7px 30px 6px 20px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    border-radius: 4px !important;
    width: 100%;
    background: $blanco;
    color: $grisPrimario;
    font: 400 16px/1.3 "Trebuchet MS";
    cursor: pointer;
	height: 34px;
}

/*ancho*/

.full {
    width: 100%;
}


/*------------------------DiseÃ±os de los checkbox radiales---------------------------*/

input.radioBox[type="radio"] {
    display: none;
}

input.radioBox[type="radio"] + label {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 2px solid $azulPrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    margin: 0px 10px 0px 0px;
}

input.radioBox[type="radio"] + label:last-child {
    margin-bottom: 0;
}

input.radioBox[type="radio"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}

input.radioBox[type="radio"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $azulPrimario;
}


// ------------------------DiseÃ±os de los checkbox radiales---------------------------
input.radioBox[type="checkbox"] {
    display: none;
}

input.radioBox[type="checkbox"] + label {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $azulPrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
}

input.radioBox[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input.radioBox[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}

input.radioBox[type="checkbox"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $azulPrimario;
}


/*------------------------DiseÃ±os de los select---------------------------*/
.select-primario * {
    outline: none !important;
}
.select-primario .dropdown-backdrop {
    position: relative;
}
.select-primario button {
    background: $blanco;
    font: 500 16px/1.3 "Trebuchet MS";
    border-radius: 4px;
    color: $grisPrimario;
    border: 1px solid #ccc;
    padding: 8px 10px 7px 15px;
}
.select-primario.open button {
    background: $grisPrimario!important;
}
.select-primario button:hover {
    border: 1px solid #dededf;
    background-color: #fff;
}
.select-primario button .filter-option {
    color: $grisPrimario!important;
}
.select-primario.open button .filter-option {
    color: #fff!important;
}
.select-primario button.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}
.select-primario .btn-default:not(:disabled):not(.disabled):active, 
.select-primario .btn-default:not(:disabled):not(.disabled).active, 
.select-primario.show > .btn-default.dropdown-toggle{
    background: #fff;
}
.select-primario button:after {
    display: none !important;
}
.select-primario .dropdown-menu {
    padding-top: 20px;
    z-index: 2;
    margin-top: -5px;
}
.select-primario .dropdown-menu.open.show .dropdown-menu {
    display: block;
}
.select-primario .dropdown-menu ul li a {
    font: 300 16px/1.3 "Trebuchet MS";
    color: $grisPrimario !important;
    width: calc(100% - 20px);
    margin: 0 auto;
    border-bottom: 1px solid #ccc !important;
    padding: 6px 5px;
}
.select-primario .dropdown-menu ul li a:hover {
    background: $azulPrimario;
    color: $blanco !important;
}
.select-primario .dropdown-menu ul li:last-child a {
    border: none !important;
}
.select-primario .caret {
    color: $azulPrimario;
}
/*DiseÃ±o input tipo file*/
.filupp > input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filupp {
    position: relative;
    background: $blanco;
    display: block;
    padding: 3px 18px;
    width: 91%;
    border: 1px solid #d5d5d5;
    color: $rojoPrimario;
    cursor: pointer;
    border-radius: 40px;
    font: 400 16px/1.6 "Trebuchet MS";
    overflow: hidden;
}

.filupp-file-name {
    width: 75%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.filupp .icon {
    float: right;
    color: $azulPrimario;
    font-size: 25px;
    position: relative;
    right: -14px;
    background: $blanco;
    width: 30px;
    margin-right: -6px;
}

.filupp .js-value {
    position: absolute;
    width: 120%;
    left: 10px;
}

// ---------------------------------DatePicker---------------------------------
#datepicker {
    position: relative;
    z-index: 0;
}

.icon-input.icon {
    position: absolute;
    right: 0px;
    z-index: 2;
    padding: 2px 3px;
    font-size: 20px;
    color: $rojoPrimario;
    background: $blanco;
    border: none;
    width: auto;
    cursor: pointer;
    margin: 5px 6px;
    z-index: 3;
}

.datepicker-dropdown {
    border-radius: 10px;
    padding: 20px !important;
}

.datepicker-dropdown th.prev,
.datepicker-dropdown th.next,
.datepicker-switch {
    color: $rojoPrimario;
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background: $azulPrimario !important;
    border-radius: 50%;
    color: $rojoPrimario;
}

.datepicker table tr td.today,
.datepicker table tr td span.active.active {
    color: $rojoPrimario !important;
    font-weight: 800;
    background: $blanco !important;
}

.datepicker table tr td.active.active {
    background: $azulPrimario !important;
    border-radius: 50%;
    color: $rojoPrimario;
}

.datepicker table tr td span.focused {
    background: $azulPrimario !important;
    border-radius: 50%;
    color: $rojoPrimario !important;
    height: 40px;
    line-height: 40px;
    top: 7px;
    position: relative;
}

.table-condensed > thead > tr > th {
    color: $rojoPrimario;
}

.datepicker.dropdown-menu {
    overflow: hidden
}

.datepicker table {
    width: 100%;
}

// ----------------------------DiseÃ±o de botones----------------------------
// DiseÃ±o boton principal
/*Botones*/

.boton-primario {
    background: $rojoPrimario;
    padding: 10px 50px;
    border-radius: 50px;
    text-transform: capitalize;
    font: 600 14px/1.3 "Trebuchet MS";
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    color: $blanco !important;
    position: relative;
    display: table;
	text-align: center;
}

.boton-primario:focus {
    outline: none;
    text-decoration: none;
}

.boton-primario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-primario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
    text-align: initial;
}

.boton-primario:hover {
    text-decoration: none;
    background: $rojoSecundario;
    color: $blanco !important;
}

.boton-primario.volver span {
    left: 10px;
    right: inherit;
}

// DiseÃ±o boton secundario
.boton-secundario {
    background: $blanco;
    padding: 10px 50px;
    border-radius: 50px;
    text-transform: capitalize;
    font: 600 14px/1.3 "Trebuchet MS";
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    color: $rojoPrimario !important;
    position: relative;
    display: table;
	text-align: center;
    border: 1px solid $rojoPrimario;
}

.boton-secundario:focus {
    outline: none;
}

.boton-secundario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $rojoPrimario;
    text-align: initial;    
}

.boton-secundario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-secundario:hover {
    text-decoration: none;
    background: $rojoPrimario;
    color: $blanco !important;
}

.boton-secundario:focus {
    text-decoration: none;
    color: $blanco  !important;
}

.boton-secundario.volver span {
    left: 10px;
    right: inherit;
}

// pulso animaciÃ³n
.pulse {
    box-shadow: 0 0 0 rgba(1, 57, 140, 0.5);
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -webkit-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
        box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

// -------------------------- Modal--------------------------
.modals {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.modals .modal-bodys {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.modals .modal-bodys .content {
    margin: 0 auto;
    display: table;
    width: 90%;
    max-width: 700px;
    border-radius: 0;
    border: 3px solid #e6e7e8;
    background: $blanco;
    padding: 10px;
    position: relative;
}

.modals .modal-bodys .content > .salir {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
    font-size: 25px;
    color: $azulPrimario;
    cursor: pointer;
}

.modals .modal-bodys .content > .salir:hover {
    color: $azulPrimario;
}

.oculto {
    display: none;
}

#cargando-general {
    .content{
        background: none;
        border: none;
        max-inline-size: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
            .gifLoader{
                max-width: 250px;
            }
    }
}
// -------------------------- Notificaciones--------------------------
.btn-menu,
#notifica {
    margin-top: 0;
}

#notifica .shortIcon {
    width: 100%;
}

#counts {
    position: absolute;
    top: -7px;
    background: red;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: $blanco;
    left: -6px;
    font: 400 16px/1.3 "Trebuchet MS";
    display: none;
}
#counts.desktop {
    position: absolute !important;
    top: 15px;
    line-height: 1.3;
    left: 5px;
}
#navigation #padre .dropdown-menu {
    left: 122px !important;
    width: 400px !important;
    max-width: 400px;
    border: none;
    padding-bottom: 0px;
    box-shadow: none;
    border-bottom: 1px solid #e2e8ec;
}

#padre .list-group-item-field .user-info, 
#padre .list-group-item-content .title, 
#navigation #padre .dropdown-menu .dropdown-header, 
#navigation #padre .dropdown-menu:before, #navigation #padre .dropdown-menu:after{
    display: none;
}
#padre .list-group-item-field{
    padding: 0px !important;
    vertical-align: middle;
}
#padre .display-style-descriptive {
    margin: 0;
    box-shadow: none;
}
#padre .list-group-item-content{
    padding: 10px !important;
    vertical-align: middle;
    font: 400 16px/1.3 "Trebuchet MS";
}
#padre .list-group-item-content .block1 {
    color: #f17c05;
    font: 300 14px/1.3 "Trebuchet MS";
}
#verNoti {
    background: #f9f7f4;
    text-align: center;
    padding: 14px 5px;
    background-size: inherit;
    background-repeat: no-repeat;
    position: relative;
}
#verNoti:before {
    content: "";
    width: 2px;
    background: red;
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
}
#verNoti:after {
    content: "";
    width: 2px;
    background: $azulPrimario;
    display: table;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
}
#verNoti a {
    font: 400 16px/1.3 "Trebuchet MS";
    color: $rojoPrimario;
}
#verNoti a:hover{
    color: $azulPrimario;
}
#padre .list-group-item-content .block2 {
    font: 400 18px/1.3 "Trebuchet MS";
}
#padre .list-group-item-content .timestamp {
    font: 400 14px/1.3 "Trebuchet MS";
    color: $rojoPrimario;
}
.taglib-search-iterator-page-iterator-bottom {
    display: none;
}
body .select-primario [aria-expanded="true"] + .dropdown-menu {
    top: 35px;
}
/*arreglar el login por culpa del api de chat*/
form#_com_liferay_login_web_portlet_LoginPortlet_loginForm fieldset {
    display: block;
}

// ----------------------------Fuentes iconograficas----------------------------

@font-face {
    font-family: 'icomoon';
    src: url('fonts/iconmoon/icomoon.eot?w8adc8');
    src: url('fonts/iconmoon/icomoon.eot?w8adc8#iefix') format('embedded-opentype'),
    url('fonts/iconmoon/icomoon.ttf?w8adc8') format('truetype'),
    url('fonts/iconmoon/icomoon.woff?w8adc8') format('woff'),
    url('fonts/iconmoon/icomoon.svg?w8adc8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-display: swap;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sms:before {
  content: "\e9aa";
}
.icon-alerta:before {
  content: "\e9ab";
}
.icon-correo:before {
  content: "\e9ac";
}
.icon-masivo:before {
  content: "\e9ad";
}
.icon-nuevo-cliente:before {
  content: "\e9ae";
}
.icon-preferente:before {
  content: "\e9af";
}
.icon-preguntas:before {
  content: "\e9b0";
}
.icon-asistencia-psico:before {
  content: "\e9a4";
  color: #009dd6;
}
.icon-educacion:before {
  content: "\e9a5";
}
.icon-estrategia:before {
  content: "\e9a6";
}
.icon-habilidades-b:before {
  content: "\e9a7";
}
.icon-proteccion:before {
  content: "\e9a8";
}
.icon-tarjeta-de-credito:before {
  content: "\e9a9";
}
.icon-rentalibredestinacion:before {
  content: "\e9a3";
}
.icon-rapido:before {
  content: "\e99d";
}
.icon-click:before {
  content: "\e99e";
}
.icon-cuentanos:before {
  content: "\e99f";
}
.icon-ingresar:before {
  content: "\e9a0";
}
.icon-like-relleno:before {
  content: "\e9a1";
}
.icon-play:before {
  content: "\e9a2";
}
.icon-impuestos-hoteleros:before {
  content: "\e996";
}
.icon-snaks:before {
  content: "\e997";
}
.icon-tarjeta-asistencia-medica:before {
  content: "\e998";
}
.icon-tiquete:before {
  content: "\e999";
}
.icon-traslados:before {
  content: "\e99a";
}
.icon-alimentacion:before {
  content: "\e99b";
}
.icon-hotel:before {
  content: "\e99c";
}
.icon-reenviar-codigo:before {
  content: "\e994";
}
.icon-soporte:before {
  content: "\e993";
}
.icon-swipe:before {
  content: "\e992";
}
.icon-decoracion1:before {
  content: "\e990";
}
.icon-decoracion2:before {
  content: "\e991";
}
.icon-arrow-swipe:before {
  content: "\e995";
}
.icon-scroll:before {
  content: "\e982";
}
.icon-sad:before {
  content: "\e983";
}
.icon-IVA:before {
  content: "\e984";
}
.icon-indifferent:before {
  content: "\e985";
}
.icon-happiness:before {
  content: "\e986";
}
.icon-happiness-two:before {
  content: "\e987";
}
.icon-escribenos:before {
  content: "\e988";
}
.icon-embarrassed:before {
  content: "\e989";
}
.icon-despues-de-iva:before {
  content: "\e98a";
}
.icon-arrow-detail-top:before {
  content: "\e98b";
}
.icon-arrow-detail-right:before {
  content: "\e98c";
}
.icon-arrow-detail-left:before {
  content: "\e98d";
}
.icon-arrow-detail-bottom:before {
  content: "\e98e";
}
.icon-antes-de-iva:before {
  content: "\e98f";
}
.icon-region:before {
  content: "\e97f";
}
.icon-ojo-open:before {
  content: "\e980";
}
.icon-ojo-close:before {
  content: "\e981";
}
.icon-mas:before {
  content: "\e978";
}
.icon-corazon75:before {
  content: "\e979";
}
.icon-corazon50:before {
  content: "\e97a";
}
.icon-corazon25:before {
  content: "\e97b";
}
.icon-corazon-vacio:before {
  content: "\e97c";
}
.icon-corazon-lleno:before {
  content: "\e97d";
}
.icon-alert:before {
  content: "\e97e";
}
.icon-anual:before {
  content: "\e960";
}
.icon-buscar-foto:before {
  content: "\e961";
}
.icon-crediservices:before {
  content: "\e962";
}
.icon-detalles:before {
  content: "\e963";
}
.icon-eliminar:before {
  content: "\e964";
}
.icon-foto-celular:before {
  content: "\e965";
}
.icon-hipotecario:before {
  content: "\e966";
}
.icon-hoy:before {
  content: "\e967";
}
.icon-incentivos-acumulados:before {
  content: "\e968";
}
.icon-libranzaas:before {
  content: "\e969";
}
.icon-libre-destino:before {
  content: "\e96a";
}
.icon-lo-que-quiero:before {
  content: "\e96b";
}
.icon-mes:before {
  content: "\e96c";
}
.icon-microcreditos:before {
  content: "\e96d";
}
.icon-money:before {
  content: "\e96e";
}
.icon-personas-protegidas:before {
  content: "\e96f";
}
.icon-personas-protegidas2:before {
  content: "\e970";
}
.icon-sede:before {
  content: "\e971";
}
.icon-semana:before {
  content: "\e972";
}
.icon-sombrilla:before {
  content: "\e973";
}
.icon-tarjeta:before {
  content: "\e974";
}
.icon-vehiculos:before {
  content: "\e975";
}
.icon-web-cam:before {
  content: "\e976";
}
.icon-zona:before {
  content: "\e977";
}
.icon-foto:before {
  content: "\e95f";
}
.icon-analisis:before {
  content: "\e95e";
}
.icon-vigilado:before {
  content: "\e95c";
}
.icon-despido-sin-justa-causa:before {
  content: "\e95d";
}
.icon-Asistencia--transporte2:before {
  content: "\e955";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2:before {
  content: "\e956";
}
.icon-Garantia-Extendida:before {
  content: "\e957";
}
.icon-Renta--Hospitalizacion-debido-accidente1:before {
  content: "\e958";
}
.icon-Renta-Muerte-Cancer1:before {
  content: "\e959";
}
.icon-reposicion-llaves1:before {
  content: "\e95a";
}
.icon-Robo--Automovil1:before {
  content: "\e95b";
}
.icon-muerte-familiar:before {
  content: "\e954";
}
.icon-cerrar:before {
  content: "\e951";
}
.icon-flecha-abajo:before {
  content: "\e952";
}
.icon-flecha-arriba:before {
  content: "\e953";
}
.icon-flecha-izquierda:before {
  content: "\e906";
}
.icon-editar:before {
  content: "\e945";
}
.icon-Notificacion:before {
  content: "\e946";
}
.icon-perfil:before {
  content: "\e947";
}
.icon-LOGIN:before {
  content: "\e948";
}
.icon-MAIL:before {
  content: "\e949";
}
.icon-TEL:before {
  content: "\e94a";
}
.icon-denegados:before {
  content: "\e94b";
}
.icon-descargar-carta:before {
  content: "\e94c";
}
.icon-like:before {
  content: "\e94d";
}
.icon-pagados:before {
  content: "\e94e";
}
.icon-radicado:before {
  content: "\e94f";
}
.icon-suspendido:before {
  content: "\e950";
}
.icon-Asistencia--transporte:before {
  content: "\e912";
}
.icon-cajero:before {
  content: "\e913";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente:before {
  content: "\e914";
}
.icon-Canasta-Familiar-caso-muerte:before {
  content: "\e915";
}
.icon-cancer:before {
  content: "\e916";
}
.icon-Cirugia-Reconstructiva:before {
  content: "\e917";
}
.icon-cirugia:before {
  content: "\e918";
}
.icon-Clonacion-Tarjeta:before {
  content: "\e919";
}
.icon-compra-protegida:before {
  content: "\e91a";
}
.icon-Compras-fraudulentas-Internet:before {
  content: "\e91b";
}
.icon-Cuidados-prologandos:before {
  content: "\e91c";
}
.icon-Desmembracion:before {
  content: "\e91d";
}
.icon-Desempleo:before {
  content: "\e91e";
}
.icon-diagnostico-cancer:before {
  content: "\e91f";
}
.icon-enfermedades-graves:before {
  content: "\e920";
}
.icon-garantia-protegida:before {
  content: "\e921";
}
.icon-Gastos-Funerarios:before {
  content: "\e922";
}
.icon-gastos-hospitalizacion:before {
  content: "\e923";
}
.icon-Gastos-Medicos:before {
  content: "\e924";
}
.icon-hurto-oficina:before {
  content: "\e925";
}
.icon-incapacidad-accidente-aereo:before {
  content: "\e926";
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte:before {
  content: "\e927";
}
.icon-incapacidad-total-permanente:before {
  content: "\e928";
}
.icon-incapacidad-total-temporal-cancer:before {
  content: "\e929";
}
.icon-Incapacidad-Total-Temporal-Fractura-Accidental:before {
  content: "\e92a";
}
.icon-incapacidad-total-temporal:before {
  content: "\e92b";
}
.icon-Muerte-accidental-titular-acompanantes:before {
  content: "\e92c";
}
.icon-muerte-accidental-transporte-publico:before {
  content: "\e92d";
}
.icon-Muerte-accidental-vias-publicas:before {
  content: "\e92e";
}
.icon-Muerte-Accidental:before {
  content: "\e92f";
}
.icon-Muerte-consecuencia-Cancer:before {
  content: "\e930";
}
.icon-muerte-cualquier-causa:before {
  content: "\e931";
}
.icon-Poliza-todo-riesgo-hogar:before {
  content: "\e932";
}
.icon-Poliza-todo-riesgo-vehiculo:before {
  content: "\e933";
}
.icon-Proteccion-Garantizada-Auto:before {
  content: "\e934";
}
.icon-Renta--Hospitalizacion-debido-accidente:before {
  content: "\e935";
}
.icon-renta-canasta-familiar:before {
  content: "\e936";
}
.icon-Renta-desempleo-Involuntario:before {
  content: "\e937";
}
.icon-gastos-educacion-infantil:before {
  content: "\e938";
}
.icon-renta-incapacidad:before {
  content: "\e939";
}
.icon-Renta-medicamentos-Cancer:before {
  content: "\e93a";
}
.icon-Renta-mensual-Muerte:before {
  content: "\e93b";
}
.icon-Renta-Muerte-Cancer:before {
  content: "\e93c";
}
.icon-Renta-Tratamiento-Cancer:before {
  content: "\e93d";
}
.icon-reposicion-bolso-o-billetera:before {
  content: "\e93e";
}
.icon-reposicion-documentos:before {
  content: "\e93f";
}
.icon-reposicion-llaves:before {
  content: "\e940";
}
.icon-Robo--Automovil:before {
  content: "\e941";
}
.icon-robo-perdida-tarjeta:before {
  content: "\e942";
}
.icon-rotura-huesos:before {
  content: "\e943";
}
.icon-Uso-Fraudulento-chequera:before {
  content: "\e944";
}
.icon-archivo-adjunto:before {
  content: "\e90e";
}
.icon-hurto-cajero:before {
  content: "\e911";
}
.icon-bolso:before {
  content: "\e90d";
}
.icon-forzado:before {
  content: "\e90f";
}
.icon-indebido:before {
  content: "\e910";
}
.icon-fecha:before {
  content: "\e90c";
}
.icon-accidente:before {
  content: "\e903";
}
.icon-bienes:before {
  content: "\e904";
}
.icon-incapacidad-total-temporal-cama:before {
  content: "\e905";
}
.icon-hogar:before {
  content: "\e907";
}
.icon-hurto:before {
  content: "\e908";
}
.icon-muerte:before {
  content: "\e909";
}
.icon-trabajo:before {
  content: "\e90a";
}
.icon-vehiculo:before {
  content: "\e90b";
}
.icon-flecha-derecha:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e901";
}
.icon-telefono:before {
  content: "\e902";
}
