
@font-face {
  font-family: 'BNPPSans-Italic';
  src: url('BNPPSans-Italic.eot?#iefix') format('embedded-opentype'),  url('BNPPSans-Italic.woff') format('woff'), url('BNPPSans-Italic.ttf')  format('truetype'), url('BNPPSans-Italic.svg#BNPPSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
