/**
* Lexicon 1.0.7
*
* Copyright 2016, Liferay, Inc.
* All rights reserved.
* MIT license
*/
// Structure

$nav-link-padding-horizontal: 16px !default; // Shared
$nav-link-padding-vertical: 9px !default; // Shared

// Skin

$nav-link-color: #003c5a !default; // Atlas

$nav-link-hover-bg: transparent !default;

$nav-disabled-link-color: #C5CDD0 !default;
$nav-disabled-link-hover-color: $nav-disabled-link-color !default;

$nav-collapse-icon-closed: "\f0da" !default; // Shared
$nav-collapse-icon-open: "\f0d7" !default; // Shared