@import "portlet_hello_world";
@import "expres_liferay_variables_custom";
@import "expres_asesores_custom";
$screen-nav: 1230px !default;

body.expres {
    background-color: $blanco;
}

.expres{
    #wrapper {
        #banner {
            #navigationCollapse {
                .navbar-blank > li {
                    & > a {
                        color: $solid-color;
                    }
                    &:hover,
                    &.hover,
                    &.active,
                    .dropdown-menu .active {
                        & > a {
                            color: $naranjaPrimario;
                        }
                    }
                }

                @include media-query(null, $screen-xs-max) {
                    .nav > li {
                        > a {
                            border-bottom: 1px solid $grisPrimario;
                        }

                        &:last-child > a {
                            border-bottom-width: 0;
                        }
                    }
                }
            }

            }

            .user-personal-bar {
                @include sm {
                    position: absolute;
                    right: 20px;
                    top: 0;
                }
                .panel-notifications-count {
                    top: 50%;

                    @include transform(translateY(-50%));

                    @include sm {
                        right: -15px;
                    }
                }

                .sign-in > a,
                .user-avatar-link {
                    display: block;
                }
                .sign-in > a {
                    line-height: 28px;
                    padding: 15px 4px;
                }
                .user-avatar-image {
                    display: inline-block;
                    vertical-align: text-bottom;
                    width: 32px;
                }
                .user-avatar-link {
                    line-height: 0;
                    padding: 18px 4px;

                    @include sm {
                        padding: 8px 0 8px 14px;
                    }
                }
                .panel-notifications-count {
                    @include media-query(null, $breakpoint_tablet - 1) {
                        left: 2px;
                        position: relative;
                        top: 6px;
                    }
                }
                .icon-user,
                .user-full-name {
                    display: none;
                }
            }
        #navigation{
            .navbar-nav {
                @include media-query(null, $screen-xs-max) {
                    margin: 0 0;
                }
                .login{
                    background: $rojoExpres;
                    border-bottom: 5px solid $naranjaExpres !important;
                    .dropdown-toggle{
                        color: $blanco !important;
                        span{
                            color: $blanco;
                        }
                    }
                    &.open{
                        border-bottom: 1px solid $grisSecundario !important;
                    }
                }
            }
        }
            .lfr-nav-item .lfr-nav-child-toggle {
                line-height: 28px;
                margin-top: -14px;
                padding-left: 15px;
                padding-right: 15px;
                position: absolute;
                right: 4px;
                top: 50%;

                @include media-query(sm, null) {
                    position: relative;
                }

                @include md {
                    padding: 0 0 0 8px;

                    .lexicon-icon {
                        width: 8px;
                    }
                }
            } 
        }
} // global class for expres

// Navigation mobile
@media only screen and (max-width: $screen-nav) {
    .expres{  
        #wrapper {
            .container-portal {
                #navigation {
                    .navbar-nav {
                        background: $blanco;

                        .login {
    						ul li ul li{
    							&:hover{
    								background: $rojoExpres !important;
                                    a{
                                        color: $blanco !important;
                                    }
    							}
    							&:hover *{
    								color: $blanco ;
    							}
    						}
    					}.login.open{
                            background: none;
    						>a{
    						   background: $naranjaExpres;	
    						   color: $blanco;
    						}     
    						&:hover{
    							a .signed-user, a span{
    								color: $blanco;
    							}							
    						}
    					}
    				    .open {
                            .user-menu {
                                margin-top: 0px;
                                margin-left: 0px;
                                width: 100% !important;
                                padding-top: 0;
                                border-style: solid;
                                border-width: 0px 0px 0px 3px;
                                position: relative;
                                box-shadow: none;
                                border-color: $naranjaPrimario;
                                & li:hover {
                                    background: inherit;
                                }
                                .dropdown-header {
                                    a {
                                        color: $rojoExpres;
                                    }
                                }
                            }
                            &:hover{
                                background: initial;
                            }
                            &:hover *{
                                color: $verdeExpres;
                            }
                        }
                        li {
                            border-bottom: 1px solid $grisSecundario;
                            a {
                                padding: 15px 20px;
                                font: 600 18px/1.3 "coreSans_regular";
                                color: $verdeExpres;
                            }
                        }
                        & li:hover {
                            background:$naranjaExpres;
                            a{
                                color: $blanco;
                            }
                        }

                        &[class*="item-"]{
                            .user-menu{
                                    .dropdown-header{
                                    &:hover{
                                        a{
                                            color: $blanco;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } // Funcionalidad del menu		
        .btn-menu span,
        .btn-menu span:before,
        .btn-menu span:after {
            width: 100%;
            height: 3px;
            display: block;
            background: $verdeExpres;
            border-radius: 40px;
        }
        .btn-menu .active {
            background: none;
        }   
        #banner {
            padding: 0px !important;
            background: $blanco;
        }
    }
}
