@media (min-width: 768px) {
.expres{
	 #banner {
		background:  $blanco;
		box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.06);
    	#heading {
	    	margin: 0;
	    	.logo{
	    		img{
	    			max-width: 220px;
	    		}
	    	}
  		} 	
	}/*Cierre banner*/
	
	.modals { 
		.modal-bodys {
			.content {
	        	transform: skew(-9deg, 0deg);
			   .skew{
			        transform: skew(9deg, 0deg);
			        padding: 0 10px; 
			    }
			}
		}
    }
	#navigation{   
		.navbar-nav {
			& > li {
				&:hover {
					background: $naranjaExpres;
					a{
						color: $blanco;
					}
				}
				& > a{
					color: $verdeExpres;
	    			font-weight: bold;
	    			font-size: 16px;	
	    			outline: none;	
	    			padding: 24px 10px;
	    			font-family: "coreSans_extralight";
	    			text-transform: inherit;
	    			letter-spacing: 0.5px;
	    			span{
	    				position: relative;
	    				span{
	    					margin-top: 8px;
	    					color: $verdeExpres;	
	    				}
	    			}
					.signed-user{
						#cargo-user{
							color: $grisPrimario;   
						}
					}	
				}/*Cierre a*/
				&.open{
					background: $blanco;
					box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.3);
					& > a{
						color: $naranjaPrimario;
						background: inherit;
						.signed-user{
							#cargo-user{
								color: $naranjaPrimario;   
							}
						}	
					}/*Cierre a*/
					.dropdown-menu{
						margin-top: -1%;
						padding-top: 0;
						border-style: solid;
					    border-width: 0px 0px 0px 3px;
					    border-color:  $blanco;
					    min-width: 100% !important;
					    & >li{
					    	& > ul{/*Inicio ul generic 2*/
							    & > li {/*Inicio li generic 2*/
								    & > a{
									    color: $naranjaPrimario;
									}
								}/*Cierre li generic 2*/
						    }/*Cierre ul generic 2*/
					    }
					}
					.user-menu{
					    & > li {
						    & > ul{/*Inicio ul 2*/
							    & > li {/*Inicio li 2*/
								    & > a{
										color: $verdeExpres;
										span{
										    color: $verdeExpres !important;											
										}
									}
								}/*Cierre li 2*/
						    }/*Cierre ul 2*/
							
						}/*Cierre li*/
					}/*Cierre user-menu*/
				}/*Cierre open*/
				
			} /*Cierre li*/
			.selected{
				background: $naranjaExpres;		
				a{
					color: $blanco;
				}
			}
		}/*Cierre nav bar*/
	}/*Cierre navigation*/
	
	/*Inicio estilos login*/
	#p_p_id_com_liferay_login_web_portlet_LoginPortlet_{
		#portlet_com_liferay_login_web_portlet_LoginPortlet {
			.custom-portlet-title-text{
				color: $verdeExpres;
				font-weight: bold;
			}
			.input-login {
			   	border: 1px solid $grisPrimario;
			    background:  $blanco;
			    border-radius: 5px;
			}
			/*Inicio btn send login*/
			.btn-send-login{
				background: $verdeExpres;
				border: 1px solid $verdeExpres;
				&:hover{
					background-color: $verdeExpres !important;
				}
				.lfr-btn-label::after {
					color: $grisPrimario;
				}
			}/*Fin btn send login*/
			
			/*Inicio btn send register*/
			.btn-send-register{
				background: $grisPrimario;
				border: 1px solid $grisPrimario;
				&:hover{
					background-color: $grisPrimario !important;
				}
			}/*Fin btn send register*/
			.link-send-register{
				color: $blanco;				
				&::after {
					color: $verdeExpres;
				}
			}
			.forgot-pass-link{
				color: $verdeExpres;
				&::after {
					color: $grisPrimario;
				}
			}
			.info-forgot-pass {
			    color: $verdeExpres;
			}
		}
	}/*Cierre estilos login*/
}

.line-steps{
  	border-bottom: dotted 2px $naranjaPrimario;
}
.step2{
	background: $grisPrimario;
}
.form-register-container .form-group.input-text-wrapper > input{
    border: 1px solid $naranjaPrimario;
    background-color:  $blanco;
}
.form-register-container .form-group.input-select-wrapper > select{
    color: $verdeExpres;
    border: 1px solid $naranjaPrimario;
    background-color: $blanco;
}
.form-register-container .form-group.input-text-wrapper > input::placeholder{
    color: $verdeExpres;
}

/*Inicio btn send login*/
	.btn-custom-register{
		background: $verdeExpres;
		color: $blanco;
		border: 1px solid $verdeExpres;
		&:hover{
			background-color: $verdeExpres !important;
			color: $blanco;
		}
		&:focus{
			color: $blanco;
			background-color: $verdeExpres !important;
		}
		.lfr-btn-label::after {
			color: $grisPrimario;
		}
	}/*Fin custom register*/
	
	#label-terminos-condiciones{
		color: $naranjaPrimario;
	}

	.btn-take-pic{
		background: $grisPrimario;
		border: 1px solid $grisPrimario;
			&:hover{
				background-color: $grisPrimario !important;
			}
		}/*Fin btn take pic*/
		.link-send-photo{
			color: $blanco;				
			&::after {
				color: $verdeExpres;
			}
		}	    
    /*Fin estilos registro*/
}