.alloy-editor-container {
	.alloy-editor {
		&.alloy-editor-placeholder {
			color: #003c5a;

			&:empty:not(:focus) {
				background: transparent;
				border-left-color: #DBDDE1;
				color: #B0B4BB;
			}

			&.readonly {
				color: #CCC;
			}
		}

		outline: 0;
	}

	.alloy-editor-icon {
		color: #869CAD;
	}
}