.logo {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	img{
        height: 60px;
	}
}

@media only screen and (max-width: 1230px) {
    .logo {
        img{
            max-width: inherit;
            height: 36px;
            margin: 12px 0px;
            width: inherit;
        }
    }    
}