
@font-face {
  font-family: 'BNPPRounded-Bold';
  src: url('BNPPRounded-Bold.eot?#iefix') format('embedded-opentype'),  url('BNPPRounded-Bold.woff') format('woff'), url('BNPPRounded-Bold.ttf')  format('truetype'), url('BNPPRounded-Bold.svg#BNPPRounded-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
