
@font-face {
  font-family: 'BNPPSans-BoldItalic';
  src: url('BNPPSans-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('BNPPSans-BoldItalic.woff') format('woff'), url('BNPPSans-BoldItalic.ttf')  format('truetype'), url('BNPPSans-BoldItalic.svg#BNPPSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
