
// -----------------------medidad de pantallas-----------------------
$max-ancho-pantalla: 1300px;
$max-ancho-portlet: 1260px;

// maximo ancho del header
#wrapper .container-portal {
    max-width: $max-ancho-pantalla;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

// maximo ancho del contenedor de los modulos
#main-content .content-page {
    max-width: $max-ancho-portlet;
    margin: 0px auto;
    float: none;
}


// -------------------------------Colores-------------------------------
$naranjaPrimario: #FE5000;
$naranjaSecundario: #FF9800;
$azulPrimario: #0067B9;
$azulSecundario: #6CACE4;
$azulTerciario: #00AD9F;
$violeta: #772583;
$fucsia: #EF426F;
$grisPrimario: #333;
$grisSecundario: #F2F2F2;
$blanco: #fff; 

// variables en CSS para contenidos web y apps
:root {
    --colorNaranjaPr: #{$naranjaPrimario};
    --colorNaranjaSe: #{$naranjaSecundario};
    --colorAzulPr: #{$azulPrimario};
    --colorAzulSe: #{$azulSecundario};
    --colorAzulTe: #{$azulTerciario};
    --violetaPr: #{$violeta};
    --fucsiaPr: #{$fucsia}
    --grisPr: #{$grisPrimario};
    --grisSe: #{$grisSecundario};
    --tipografiaRe: 'gilroy-regular';
    --tipografiaBd: 'gilroy-bold';
    --tipografiaLt: 'gilroy-light';
}

// --------------------------------sombras--------------------------------
.sombra1 {
    -webkit-box-shadow: 1px 1px 8px $azulPrimario;
    -moz-box-shadow: 1px 1px 8px $azulPrimario;
    box-shadow: 1px 1px 8px $azulPrimario;
}


// -------------------------------box-sizing-------------------------------
.bx-sizing-bb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.bx-sizing-cb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input.check[type=checkbox] {
  display: none;
}
.check-box{
  border-radius: 4px;
  display: flex;
  margin: 0;
  margin-right: 0px;
  cursor: pointer;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  position: relative;
  transition: border-color ease .2s;
  margin-right: 10px !important;
  background: #fff;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked + .check-box,
.check-box.checked{
  background: $azulPrimario;
}
input[type="checkbox"]:checked + .check-box::before, 
.check-box.checked::before{
  content: "\2713";
  border-radius: 0.2em;
  display: inline-flex;
  width: 15px;
  height: 15px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-right: 0.2em;
  justify-content: center;
  color: #fff;
  transition: .2s;
  font-size: 17px;
  align-items: center;
}

// loader css
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: $naranjaPrimario;
    font-size: 10px;
    margin: 60px auto 70px;
    position: relative;
    text-indent: 0px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader span {
    text-align: center;
    margin: 0px;
    position: relative;
    left: -45px;
    top: -35px;
    color: $grisPrimario;
    font: 400 25px/1.3 'gilroy-regular';
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}



/*----------------------------DiseÃ±o de los input----------------------------*/

.input-primario {
    padding: 6px 10px;
    height: auto;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    color: $grisPrimario;
    background-color: transparent;
    font-family: 'gilroy-regular';
}

.inputCss.input-design[readonly] {
    padding: 7px 30px 6px 20px;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    width: 100%;
    background: none;
    color: $grisPrimario;
    font: 400 16px/1.3 'gilroy-regular';
    cursor: pointer;
	height: 34px;
}

/*ancho*/

.full {
    width: 100%;
}


/*------------------------DiseÃ±os de los checkbox radiales---------------------------*/

input.radioBox[type="checkbox"] {
    display: none;
}

input.radioBox[type="checkbox"] + label {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $naranjaPrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
}

input.radioBox[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input.radioBox[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}

input.radioBox[type="checkbox"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $naranjaPrimario;
}


// ------------------------DiseÃ±os de los checkbox radiales---------------------------
input.radioBox[type="checkbox"] {
    display: none;
}

input.radioBox[type="checkbox"] + label {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $naranjaPrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
}

input.radioBox[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input.radioBox[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}

input.radioBox[type="checkbox"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $naranjaPrimario;
}


/*------------------------DiseÃ±os de los select---------------------------*/
.select-primario * {
    outline: none !important;
}
.select-primario .dropdown-backdrop {
    position: relative;
}
.select-primario button {
    background: transparent;
    font: 500 16px/1.3 'gilroy-regular';
    border-radius: 0;
    color: $grisPrimario;
    border: none;
    border-bottom: 1px solid $grisPrimario;
    padding: 5px 10px 5px 15px;
}
.select-primario.open button {
    background: $blanco !important;
}
.select-primario button:hover {
    border-bottom: 1px solid $grisPrimario;
    background-color: transparent;
}
.select-primario button .filter-option {
    color: $grisPrimario!important;
}
.select-primario.open button .filter-option {
    color: $grisPrimario !important;
}
.select-primario button.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid $azulPrimario !important;
}
.select-primario .btn-default:not(:disabled):not(.disabled):active, 
.select-primario .btn-default:not(:disabled):not(.disabled).active, 
.select-primario.show > .btn-default.dropdown-toggle{
    background: #fff;
}
.select-primario button:after {
    display: none !important;
}
.select-primario .dropdown-menu {
    padding-top: 20px;
    z-index: 2;
    margin-top: -5px;
}
.select-primario .dropdown-menu.open.show .dropdown-menu {
    display: block;
}
.select-primario .dropdown-menu ul li a {
    font: 300 16px/1.3 'gilroy-regular';
    color: $grisPrimario !important;
    width: calc(100% - 20px);
    margin: 0 auto;
    border-bottom: 1px solid $azulPrimario !important;
    padding: 6px 5px;
}
.select-primario .dropdown-menu ul li a:hover {
    background: $grisSecundario;
}
.select-primario .dropdown-menu ul li:last-child a {
    border: none !important;
}

/*DiseÃ±o input tipo file*/
.filupp > input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filupp {
    position: relative;
    background: $blanco;
    display: block;
    padding: 3px 18px;
    width: 91%;
    border: 1px solid $azulPrimario;
    color: $azulPrimario;
    cursor: pointer;
    border-radius: 40px;
    font: 400 16px/1.6 'gilroy-bold';
    overflow: hidden;
}

.filupp-file-name {
    width: 75%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.filupp .icon {
    float: right;
    color: $naranjaPrimario;
    font-size: 25px;
    position: relative;
    right: -14px;
    background: #fff;
    width: 30px;
    margin-right: -6px;
}

.filupp .js-value {
    position: absolute;
    width: 120%;
    left: 10px;
}

// ---------------------------------DatePicker---------------------------------
#datepicker {
    position: relative;
    z-index: 0;
}

.icon-input.icon {
    position: absolute;
    right: 0px;
    z-index: 2;
    padding: 2px 3px;
    font-size: 20px;
    color: $azulPrimario;
    border: none;
    width: auto;
    cursor: pointer;
    margin: 5px 6px;
    z-index: 3;
}

.datepicker-dropdown {
    border-radius: 4px;
    padding: 20px !important;
}

.datepicker-dropdown th.prev,
.datepicker-dropdown th.next,
.datepicker-switch {
    color: #002c76;
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background: $naranjaPrimario !important;
    border-radius: 50%;
    color: $grisPrimario;
}

.datepicker table tr td.today,
.datepicker table tr td span.active.active {
    color: $grisPrimario !important;
    font-weight: 800;
    background: #fff !important;
}

.datepicker table tr td.active.active {
    background: $naranjaPrimario !important;
    border-radius: 50%;
    color: $grisPrimario;
}

.datepicker table tr td span.focused {
    background: $naranjaPrimario !important;
    border-radius: 50%;
    color: $grisPrimario !important;
    height: 40px;
    line-height: 40px;
    top: 7px;
    position: relative;
}

.table-condensed > thead > tr > th {
    color: $grisPrimario;
}

.datepicker.dropdown-menu {
    overflow: hidden
}

.datepicker table {
    width: 100%;
}

// ----------------------------DiseÃ±o de botones----------------------------
// DiseÃ±o boton principal
/*Botones*/

.boton-primario {
    background: $naranjaPrimario;
    padding: 10px 50px;
    border-radius: 25px;
    font: 400 14px/1.3 'gilroy-regular';
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    color: $blanco !important;
    position: relative;
    display: table;
	text-align: center;
}

.boton-primario:focus {
    outline: none;
    text-decoration: none;

}

.boton-primario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-primario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-primario:hover {
    text-decoration: none;
    background: $azulPrimario;
    color: $blanco!important;
}

.boton-primario.volver span {
    left: 10px;
    right: inherit;
}

// DiseÃ±o boton secundario
.boton-secundario {
    background: $azulPrimario;
    padding: 10px 50px;
    border-radius: 25px;
    font: 400 14px/1.3 'gilroy-regular';
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    color: $blanco !important;
    position: relative;
    display: table;
	text-align: center;
}

.boton-secundario:focus {
    outline: none;
}

.boton-secundario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-secundario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $blanco;
}

.boton-secundario:hover {
    text-decoration: none;
    background: $naranjaPrimario;
    color: #fff!important;
}

.boton-secundario:focus {
    text-decoration: none;
    color: #fff !important;
}

.boton-secundario.volver span {
    left: 10px;
    right: inherit;
}

// pulso animaciÃ³n
.pulse {
    box-shadow: 0 0 0 rgba(1, 57, 140, 0.5);
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -webkit-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
        box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

// -------------------------- Modal--------------------------
.modals {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.modals .modal-bodys {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.modals .modal-bodys .content {
    margin: 0 auto;
    display: table;
    width: 90%;
    max-width: 700px;
    border-radius: 4px;
    border: 2px solid $azulPrimario;
    background: #fff;
    padding: 10px;
    position: relative;
}

.modals .modal-bodys .content > .salir {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
    font-size: 20px;
    color: $naranjaPrimario;
    cursor: pointer;
}

.modals .modal-bodys .content > .salir:hover {
    color: $grisPrimario;
}

.oculto {
    display: none;
}
#cargando-general {
    .content{
        background: none;
        border: none;
        max-inline-size: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
            .gifLoader{
                max-width: 250px;
            }
    }
}

// -------------------------- Notificaciones--------------------------
.btn-menu,
#notifica {
    margin-top: 0;
}

#notifica .shortIcon {
    width: 100%;
}

#counts {
    position: absolute;
    top: -7px;
    background: $blanco;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: $naranjaPrimario;
    left: -6px;
    font: 600 16px/1.3 'gilroy-regular';
	display: none;
}
#counts.desktop {
    position: absolute !important;
    top: 15px;
    line-height: 1.3;
    left: 5px;
}
#padre.open .desktop {
    display: none;
}
#navigation #padre .dropdown-menu {
    left: 122px !important;
    width: 400px !important;
    max-width: 400px;
    border: none;
    padding-bottom: 0px;
    box-shadow: none;
    border-bottom: 1px solid $grisPrimario;
}

#padre .list-group-item-field .user-info, 
#padre .list-group-item-content .title, 
#navigation #padre .dropdown-menu .dropdown-header, 
#navigation #padre .dropdown-menu:before, #navigation #padre .dropdown-menu:after{
    display: none;
}
#padre .list-group-item-field{
    padding: 0px !important;
    vertical-align: middle;
}
#padre .display-style-descriptive {
    margin: 0;
    box-shadow: none;
}
#padre .list-group-item-content{
    padding: 10px !important;
    vertical-align: middle;
    font: 400 16px/1.3 'gilroy-regular';
}
#padre .list-group-item-content .block1 {
    color: $azulPrimario;
    font: 300 14px/1.3 'gilroy-regular';
}
#verNoti {
    background: $azulPrimario;
    text-align: center;
    padding: 14px 5px;
    background: url(../images/banco_bogota/grafismo.png);
    background-size: inherit;
    background-repeat: no-repeat;
    position: relative;
}
#verNoti:before {
    content: "";
    width: 2px;
    background: $naranjaPrimario;
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
}
#verNoti:after {
    content: "";
    width: 2px;
    background: $grisPrimario;
    display: table;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
}
#verNoti a {
    font: 400 16px/1.3 'gilroy-regular';
    color: $grisPrimario;
}
#verNoti a:hover{
    color: $naranjaPrimario;
}
#padre .list-group-item-content .block2 {
    font: 400 18px/1.3 'gilroy-regular';
}
#padre .list-group-item-content .timestamp {
    font: 400 14px/1.3 'gilroy-regular';
    color: $naranjaPrimario;
}
.taglib-search-iterator-page-iterator-bottom {
    display: none;
}
body .select-primario [aria-expanded="true"] + .dropdown-menu {
    top: 35px;
}
// --------------------------Fuentes de texto--------------------------
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on June 29, 2021 */
@font-face {
    font-family: 'gilroy-bold';
    src: url('fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gilroy-light';
    src: url('fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gilroy-regular';
    src: url('fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// ----------------------------Fuentes iconograficas----------------------------
@font-face {
  font-family: 'cencosud';
  src:  url('fonts/iconmoon/cencosud.eot?pzir7x');
  src:  url('fonts/iconmoon/cencosud.eot?pzir7x#iefix') format('embedded-opentype'),
    url('fonts/iconmoon/cencosud.ttf?pzir7x') format('truetype'),
    url('fonts/iconmoon/cencosud.woff?pzir7x') format('woff'),
    url('fonts/iconmoon/cencosud.svg?pzir7x#cencosud') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cencosud' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reposicion-llaves .path1:before {
  content: "\ea9f";
  color: rgb(255, 173, 51);
}
.icon-reposicion-llaves .path2:before {
  content: "\eaa0";
  margin-left: -0.8857421875em;
  color: rgb(255, 173, 51);
}
.icon-reposicion-llaves .path3:before {
  content: "\eaa1";
  margin-left: -0.8857421875em;
  color: rgb(255, 173, 51);
}
.icon-reposicion-llaves .path4:before {
  content: "\eaa2";
  margin-left: -0.8857421875em;
  color: rgb(255, 173, 51);
}
.icon-reposicion-llaves .path5:before {
  content: "\eaa3";
  margin-left: -0.8857421875em;
  color: rgb(51, 51, 51);
}
.icon-Responsabilidad-hogar .path1:before {
  content: "\eaa4";
  color: rgb(255, 173, 51);
}
.icon-Responsabilidad-hogar .path2:before {
  content: "\eaa5";
  margin-left: -1.123046875em;
  color: rgb(0, 0, 0);
}
.icon-Responsabilidad-hogar .path3:before {
  content: "\eaa6";
  margin-left: -1.123046875em;
  color: rgb(0, 0, 0);
}
.icon-Robo-bienes-electro-hogar .path1:before {
  content: "\eaa7";
  color: rgb(255, 173, 51);
}
.icon-Robo-bienes-electro-hogar .path2:before {
  content: "\eaa8";
  margin-left: -1.0341796875em;
  color: rgb(255, 173, 51);
}
.icon-Robo-bienes-electro-hogar .path3:before {
  content: "\eaa9";
  margin-left: -1.0341796875em;
  color: rgb(255, 173, 51);
}
.icon-Robo-bienes-electro-hogar .path4:before {
  content: "\eaaa";
  margin-left: -1.0341796875em;
  color: rgb(255, 173, 51);
}
.icon-Robo-bienes-electro-hogar .path5:before {
  content: "\eaab";
  margin-left: -1.0341796875em;
  color: rgb(255, 173, 51);
}
.icon-Robo-bienes-electro-hogar .path6:before {
  content: "\eaac";
  margin-left: -1.0341796875em;
  color: rgb(255, 173, 51);
}
.icon-Robo-bienes-electro-hogar .path7:before {
  content: "\eaad";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.icon-Robo-bienes-electro-hogar .path8:before {
  content: "\eaae";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.icon-Robo-bienes-electro-hogar .path9:before {
  content: "\eaaf";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.icon-Robo-bienes-electro-hogar .path10:before {
  content: "\eab0";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.icon-Robo-bienes-electro-hogar .path11:before {
  content: "\eab1";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.icon-Robo-bienes-electro-hogar .path12:before {
  content: "\eab2";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.icon-Robo-bienes-electro-hogar .path13:before {
  content: "\eab3";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.icon-Robo-bienes-electro-hogar .path14:before {
  content: "\eab4";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.icon-Robo-bienes-hogar .path1:before {
  content: "\eab5";
  color: rgb(0, 0, 0);
}
.icon-Robo-bienes-hogar .path2:before {
  content: "\eab6";
  margin-left: -1.0341796875em;
  color: rgb(255, 173, 51);
}
.icon-Robo-bienes-hogar .path3:before {
  content: "\eab7";
  margin-left: -1.0341796875em;
  color: rgb(255, 173, 51);
}
.icon-Robo-bienes-hogar .path4:before {
  content: "\eab8";
  margin-left: -1.0341796875em;
  color: rgb(255, 173, 51);
}
.icon-Robo-bienes-hogar .path5:before {
  content: "\eab9";
  margin-left: -1.0341796875em;
  color: rgb(255, 173, 51);
}
.icon-Robo-bienes-hogar .path6:before {
  content: "\eaba";
  margin-left: -1.0341796875em;
  color: rgb(255, 173, 51);
}
.icon-Robo-bienes-hogar .path7:before {
  content: "\eabb";
  margin-left: -1.0341796875em;
  color: rgb(255, 173, 51);
}
.icon-Robo-de-elementos-vehiculos .path1:before {
  content: "\eabc";
  color: rgb(255, 152, 0);
}
.icon-Robo-de-elementos-vehiculos .path2:before {
  content: "\eabd";
  margin-left: -1.4794921875em;
  color: rgb(51, 51, 51);
}
.icon-Robo-de-elementos-vehiculos .path3:before {
  content: "\eabe";
  margin-left: -1.4794921875em;
  color: rgb(255, 152, 0);
}
.icon-Robo-de-elementos-vehiculos .path4:before {
  content: "\eabf";
  margin-left: -1.4794921875em;
  color: rgb(51, 51, 51);
}
.icon-Robo-de-elementos-vehiculos .path5:before {
  content: "\eac0";
  margin-left: -1.4794921875em;
  color: rgb(51, 51, 51);
}
.icon-Robo-de-elementos-vehiculos .path6:before {
  content: "\eac1";
  margin-left: -1.4794921875em;
  color: rgb(51, 51, 51);
}
.icon-rotura-vidrios-espejos .path1:before {
  content: "\eac2";
  color: rgb(51, 51, 51);
}
.icon-rotura-vidrios-espejos .path2:before {
  content: "\eac3";
  margin-left: -1.6220703125em;
  color: rgb(255, 173, 51);
}
.icon-indebido .path1:before {
  content: "\eac4";
  color: rgb(51, 51, 51);
}
.icon-indebido .path2:before {
  content: "\eac5";
  margin-left: -0.5595703125em;
  color: rgb(255, 173, 51);
}
.icon-indebido .path3:before {
  content: "\eac6";
  margin-left: -0.5595703125em;
  color: rgb(255, 173, 51);
}
.icon-indebido .path4:before {
  content: "\eac7";
  margin-left: -0.5595703125em;
  color: rgb(255, 173, 51);
}
.icon-indebido .path5:before {
  content: "\eac8";
  margin-left: -0.5595703125em;
  color: rgb(255, 173, 51);
}
.icon-indebido .path6:before {
  content: "\eac9";
  margin-left: -0.5595703125em;
  color: rgb(255, 173, 51);
}
.icon-indebido .path7:before {
  content: "\eaca";
  margin-left: -0.5595703125em;
  color: rgb(255, 173, 51);
}
.icon-indebido .path8:before {
  content: "\eacb";
  margin-left: -0.5595703125em;
  color: rgb(255, 173, 51);
}
.icon-indebido .path9:before {
  content: "\eacc";
  margin-left: -0.5595703125em;
  color: rgb(255, 173, 51);
}
.icon-indebido .path10:before {
  content: "\eacd";
  margin-left: -0.5595703125em;
  color: rgb(51, 51, 51);
}
.icon-indebido .path11:before {
  content: "\eace";
  margin-left: -0.5595703125em;
  color: rgb(51, 51, 51);
}
.icon-utilizacion-forzada .path1:before {
  content: "\eacf";
  color: rgb(255, 173, 51);
}
.icon-utilizacion-forzada .path2:before {
  content: "\ead0";
  margin-left: -1.458984375em;
  color: rgb(255, 173, 51);
}
.icon-utilizacion-forzada .path3:before {
  content: "\ead1";
  margin-left: -1.458984375em;
  color: rgb(255, 173, 51);
}
.icon-utilizacion-forzada .path4:before {
  content: "\ead2";
  margin-left: -1.458984375em;
  color: rgb(51, 51, 51);
}
.icon-Asistencia--transporte .path1:before {
  content: "\ead3";
  color: rgb(51, 51, 51);
}
.icon-Asistencia--transporte .path2:before {
  content: "\ead4";
  margin-left: -0.9794921875em;
  color: rgb(51, 51, 51);
}
.icon-Asistencia--transporte .path3:before {
  content: "\ead5";
  margin-left: -0.9794921875em;
  color: rgb(255, 173, 51);
}
.icon-Asistencia--transporte .path4:before {
  content: "\ead6";
  margin-left: -0.9794921875em;
  color: rgb(255, 173, 51);
}
.icon-Asistencia--transporte .path5:before {
  content: "\ead7";
  margin-left: -0.9794921875em;
  color: rgb(255, 173, 51);
}
.icon-Asistencia--transporte .path6:before {
  content: "\ead8";
  margin-left: -0.9794921875em;
  color: rgb(255, 173, 51);
}
.icon-Asistencia--transporte .path7:before {
  content: "\ead9";
  margin-left: -0.9794921875em;
  color: rgb(255, 173, 51);
}
.icon-Auxilio-funerario .path1:before {
  content: "\eada";
  color: rgb(51, 51, 51);
}
.icon-Auxilio-funerario .path2:before {
  content: "\eadb";
  margin-left: -2.7880859375em;
  color: rgb(51, 51, 51);
}
.icon-Auxilio-funerario .path3:before {
  content: "\eadc";
  margin-left: -2.7880859375em;
  color: rgb(51, 51, 51);
}
.icon-Auxilio-funerario .path4:before {
  content: "\eadd";
  margin-left: -2.7880859375em;
  color: rgb(255, 173, 51);
}
.icon-Auxilio-funerario .path5:before {
  content: "\eade";
  margin-left: -2.7880859375em;
  color: rgb(255, 173, 51);
}
.icon-Auxilio-funerario .path6:before {
  content: "\eadf";
  margin-left: -2.7880859375em;
  color: rgb(255, 173, 51);
}
.icon-cesta-de-la-compra .path1:before {
  content: "\eae0";
  color: rgb(51, 51, 51);
}
.icon-cesta-de-la-compra .path2:before {
  content: "\eae1";
  margin-left: -1.171875em;
  color: rgb(255, 173, 51);
}
.icon-cobertura-hogar-line .path1:before {
  content: "\eae2";
  color: rgb(51, 51, 51);
}
.icon-cobertura-hogar-line .path2:before {
  content: "\eae3";
  margin-left: -0.9990234375em;
  color: rgb(255, 173, 51);
}
.icon-Desempleo .path1:before {
  content: "\eae4";
  color: rgb(255, 173, 51);
}
.icon-Desempleo .path2:before {
  content: "\eae5";
  margin-left: -0.9619140625em;
  color: rgb(255, 173, 51);
}
.icon-Desempleo .path3:before {
  content: "\eae6";
  margin-left: -0.9619140625em;
  color: rgb(255, 173, 51);
}
.icon-Desempleo .path4:before {
  content: "\eae7";
  margin-left: -0.9619140625em;
  color: rgb(51, 51, 51);
}
.icon-Desempleo .path5:before {
  content: "\eae8";
  margin-left: -0.9619140625em;
  color: rgb(51, 51, 51);
}
.icon-Desempleo .path6:before {
  content: "\eae9";
  margin-left: -0.9619140625em;
  color: rgb(51, 51, 51);
}
.icon-desmembracion .path1:before {
  content: "\eaea";
  color: rgb(51, 51, 51);
}
.icon-desmembracion .path2:before {
  content: "\eaeb";
  margin-left: -0.6357421875em;
  color: rgb(51, 51, 51);
}
.icon-desmembracion .path3:before {
  content: "\eaec";
  margin-left: -0.6357421875em;
  color: rgb(255, 173, 51);
}
.icon-Ecosistemas:before {
  content: "\eaed";
}
.icon-evento-protegido .path1:before {
  content: "\eaee";
  color: rgb(51, 51, 51);
}
.icon-evento-protegido .path2:before {
  content: "\eaef";
  margin-left: -0.609375em;
  color: rgb(51, 51, 51);
}
.icon-evento-protegido .path3:before {
  content: "\eaf0";
  margin-left: -0.609375em;
  color: rgb(255, 173, 51);
}
.icon-Fraude .path1:before {
  content: "\eaf1";
  color: rgb(255, 173, 51);
}
.icon-Fraude .path2:before {
  content: "\eaf2";
  margin-left: -0.8203125em;
  color: rgb(255, 173, 51);
}
.icon-Fraude .path3:before {
  content: "\eaf3";
  margin-left: -0.8203125em;
  color: rgb(51, 51, 51);
}
.icon-Fraude .path4:before {
  content: "\eaf4";
  margin-left: -0.8203125em;
  color: rgb(51, 51, 51);
}
.icon-Fraude .path5:before {
  content: "\eaf5";
  margin-left: -0.8203125em;
  color: rgb(255, 173, 51);
}
.icon-Fraude .path6:before {
  content: "\eaf6";
  margin-left: -0.8203125em;
  color: rgb(255, 173, 51);
}
.icon-Fraude .path7:before {
  content: "\eaf7";
  margin-left: -0.8203125em;
  color: rgb(51, 51, 51);
}
.icon-garantia-extendida .path1:before {
  content: "\eaf8";
  color: rgb(255, 173, 51);
}
.icon-garantia-extendida .path2:before {
  content: "\eaf9";
  margin-left: -0.6474609375em;
  color: rgb(51, 51, 51);
}
.icon-gastos-educacion-infantil .path1:before {
  content: "\eafa";
  color: rgb(51, 51, 51);
}
.icon-gastos-educacion-infantil .path2:before {
  content: "\eafb";
  margin-left: -1.4873046875em;
  color: rgb(51, 51, 51);
}
.icon-gastos-educacion-infantil .path3:before {
  content: "\eafc";
  margin-left: -1.4873046875em;
  color: rgb(255, 173, 51);
}
.icon-gastos-educacion-infantil .path4:before {
  content: "\eafd";
  margin-left: -1.4873046875em;
  color: rgb(255, 173, 51);
}
.icon-gastos-educacion-infantil .path5:before {
  content: "\eafe";
  margin-left: -1.4873046875em;
  color: rgb(255, 173, 51);
}
.icon-gastos-educacion-infantil .path6:before {
  content: "\eaff";
  margin-left: -1.4873046875em;
  color: rgb(255, 173, 51);
}
.icon-gastos-educacion-infantil .path7:before {
  content: "\eb00";
  margin-left: -1.4873046875em;
  color: rgb(255, 173, 51);
}
.icon-gastos-educacion-infantil .path8:before {
  content: "\eb01";
  margin-left: -1.4873046875em;
  color: rgb(255, 173, 51);
}
.icon-gastos-educacion-infantil .path9:before {
  content: "\eb02";
  margin-left: -1.4873046875em;
  color: rgb(255, 173, 51);
}
.icon-gastos-educacion-infantil .path10:before {
  content: "\eb03";
  margin-left: -1.4873046875em;
  color: rgb(255, 173, 51);
}
.icon-gastos-educacion-infantil .path11:before {
  content: "\eb04";
  margin-left: -1.4873046875em;
  color: rgb(255, 173, 51);
}
.icon-gastos-educacion-infantil .path12:before {
  content: "\eb05";
  margin-left: -1.4873046875em;
  color: rgb(255, 173, 51);
}
.icon-gastos-medicos .path1:before {
  content: "\eb06";
  color: rgb(51, 51, 51);
}
.icon-gastos-medicos .path2:before {
  content: "\eb07";
  margin-left: -1em;
  color: rgb(255, 173, 51);
}
.icon-Hogar-electrico .path1:before {
  content: "\eb08";
  color: rgb(255, 173, 51);
}
.icon-Hogar-electrico .path2:before {
  content: "\eb09";
  margin-left: -1.1845703125em;
  color: rgb(255, 173, 51);
}
.icon-Hogar-electrico .path3:before {
  content: "\eb0a";
  margin-left: -1.1845703125em;
  color: rgb(51, 51, 51);
}
.icon-Hogar-incendio .path1:before {
  content: "\eb0b";
  color: rgb(255, 173, 51);
}
.icon-Hogar-incendio .path2:before {
  content: "\eb0c";
  margin-left: -1.0361328125em;
  color: rgb(51, 51, 51);
}
.icon-hogar-sustraccion .path1:before {
  content: "\eb0d";
  color: rgb(0, 0, 0);
}
.icon-hogar-sustraccion .path2:before {
  content: "\eb0e";
  margin-left: -1.0595703125em;
  color: rgb(255, 173, 51);
}
.icon-hogar-sustraccion .path3:before {
  content: "\eb0f";
  margin-left: -1.0595703125em;
  color: rgb(255, 173, 51);
}
.icon-hogar-sustraccion .path4:before {
  content: "\eb10";
  margin-left: -1.0595703125em;
  color: rgb(255, 173, 51);
}
.icon-hogar-sustraccion .path5:before {
  content: "\eb11";
  margin-left: -1.0595703125em;
  color: rgb(255, 173, 51);
}
.icon-hogar-terremoto:before {
  content: "\eb12";
}
.icon-bienes .path1:before {
  content: "\eb13";
  color: rgb(255, 173, 51);
}
.icon-bienes .path2:before {
  content: "\eb14";
  margin-left: -1.5380859375em;
  color: rgb(51, 51, 51);
}
.icon-bienes .path3:before {
  content: "\eb15";
  margin-left: -1.5380859375em;
  color: rgb(255, 173, 51);
}
.icon-bienes .path4:before {
  content: "\eb16";
  margin-left: -1.5380859375em;
  color: rgb(51, 51, 51);
}
.icon-incapacidad-permanente-accidental-ocupantes-vehiculo .path1:before {
  content: "\eb17";
  color: rgb(51, 51, 51);
}
.icon-incapacidad-permanente-accidental-ocupantes-vehiculo .path2:before {
  content: "\eb18";
  margin-left: -0.7529296875em;
  color: rgb(51, 51, 51);
}
.icon-incapacidad-permanente-accidental-ocupantes-vehiculo .path3:before {
  content: "\eb19";
  margin-left: -0.7529296875em;
  color: rgb(51, 51, 51);
}
.icon-incapacidad-permanente-accidental-ocupantes-vehiculo .path4:before {
  content: "\eb1a";
  margin-left: -0.7529296875em;
  color: rgb(255, 173, 51);
}
.icon-incapacidad-total-temporal .path1:before {
  content: "\eb1b";
  color: rgb(51, 51, 51);
}
.icon-incapacidad-total-temporal .path2:before {
  content: "\eb1c";
  margin-left: -0.6298828125em;
  color: rgb(51, 51, 51);
}
.icon-incapacidad-total-temporal .path3:before {
  content: "\eb1d";
  margin-left: -0.6298828125em;
  color: rgb(255, 173, 51);
}
.icon-incapacidad-total-temporal .path4:before {
  content: "\eb1e";
  margin-left: -0.6298828125em;
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente .path1:before {
  content: "\eb1f";
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente .path2:before {
  content: "\eb20";
  margin-left: -0.63671875em;
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente .path3:before {
  content: "\eb21";
  margin-left: -0.63671875em;
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente .path4:before {
  content: "\eb22";
  margin-left: -0.63671875em;
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente .path5:before {
  content: "\eb23";
  margin-left: -0.63671875em;
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente .path6:before {
  content: "\eb24";
  margin-left: -0.63671875em;
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente .path7:before {
  content: "\eb25";
  margin-left: -0.63671875em;
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente .path8:before {
  content: "\eb26";
  margin-left: -0.63671875em;
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte_1 .path1:before {
  content: "\eb27";
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte_1 .path2:before {
  content: "\eb28";
  margin-left: -1.2275390625em;
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte_1 .path3:before {
  content: "\eb29";
  margin-left: -1.2275390625em;
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte_1 .path4:before {
  content: "\eb2a";
  margin-left: -1.2275390625em;
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte_1 .path5:before {
  content: "\eb2b";
  margin-left: -1.2275390625em;
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte_1 .path6:before {
  content: "\eb2c";
  margin-left: -1.2275390625em;
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte_1 .path7:before {
  content: "\eb2d";
  margin-left: -1.2275390625em;
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte_1 .path8:before {
  content: "\eb2e";
  margin-left: -1.2275390625em;
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Temporal .path1:before {
  content: "\eb2f";
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Temporal .path2:before {
  content: "\eb30";
  margin-left: -1.03515625em;
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Temporal-empleados .path1:before {
  content: "\eb31";
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Temporal-empleados .path2:before {
  content: "\eb32";
  margin-left: -0.9228515625em;
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Temporal-empleados .path3:before {
  content: "\eb33";
  margin-left: -0.9228515625em;
  color: rgb(255, 173, 51);
}
.icon-Inundacion-hogar .path1:before {
  content: "\eb34";
  color: rgb(51, 51, 51);
}
.icon-Inundacion-hogar .path2:before {
  content: "\eb35";
  margin-left: -1.0576171875em;
  color: rgb(51, 51, 51);
}
.icon-Inundacion-hogar .path3:before {
  content: "\eb36";
  margin-left: -1.0576171875em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-Accidental .path1:before {
  content: "\eb37";
  color: rgb(255, 173, 51);
}
.icon-Muerte-Accidental .path2:before {
  content: "\eb38";
  margin-left: -0.9501953125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-Accidental .path3:before {
  content: "\eb39";
  margin-left: -0.9501953125em;
  color: rgb(51, 51, 51);
}
.icon-Muerte-Accidental .path4:before {
  content: "\eb3a";
  margin-left: -0.9501953125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-Accidental .path5:before {
  content: "\eb3b";
  margin-left: -0.9501953125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-Accidental .path6:before {
  content: "\eb3c";
  margin-left: -0.9501953125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-Accidental .path7:before {
  content: "\eb3d";
  margin-left: -0.9501953125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-Accidental .path8:before {
  content: "\eb3e";
  margin-left: -0.9501953125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-Accidental .path9:before {
  content: "\eb3f";
  margin-left: -0.9501953125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidente-transito .path1:before {
  content: "\eb40";
  color: rgb(51, 51, 51);
}
.icon-Muerte-accidente-transito .path2:before {
  content: "\eb41";
  margin-left: -1.0673828125em;
  color: rgb(51, 51, 51);
}
.icon-Muerte-accidente-transito .path3:before {
  content: "\eb42";
  margin-left: -1.0673828125em;
  color: rgb(51, 51, 51);
}
.icon-Muerte-accidente-transito .path4:before {
  content: "\eb43";
  margin-left: -1.0673828125em;
  color: rgb(51, 51, 51);
}
.icon-Muerte-accidente-transito .path5:before {
  content: "\eb44";
  margin-left: -1.0673828125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidente-transito .path6:before {
  content: "\eb45";
  margin-left: -1.0673828125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidente-transito .path7:before {
  content: "\eb46";
  margin-left: -1.0673828125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidente-transito .path8:before {
  content: "\eb47";
  margin-left: -1.0673828125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidente-transito .path9:before {
  content: "\eb48";
  margin-left: -1.0673828125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidente-transito .path10:before {
  content: "\eb49";
  margin-left: -1.0673828125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidente-transito .path11:before {
  content: "\eb4a";
  margin-left: -1.0673828125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidente-transito .path12:before {
  content: "\eb4b";
  margin-left: -1.0673828125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidente-transito .path13:before {
  content: "\eb4c";
  margin-left: -1.0673828125em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidente-transito .path14:before {
  content: "\eb4d";
  margin-left: -1.0673828125em;
  color: rgb(51, 51, 51);
}
.icon-muerte-peaton .path1:before {
  content: "\eb4e";
  color: rgb(255, 173, 51);
}
.icon-muerte-peaton .path2:before {
  content: "\eb4f";
  margin-left: -1.212890625em;
  color: rgb(255, 173, 51);
}
.icon-muerte-peaton .path3:before {
  content: "\eb50";
  margin-left: -1.212890625em;
  color: rgb(255, 173, 51);
}
.icon-muerte-peaton .path4:before {
  content: "\eb51";
  margin-left: -1.212890625em;
  color: rgb(255, 173, 51);
}
.icon-muerte-peaton .path5:before {
  content: "\eb52";
  margin-left: -1.212890625em;
  color: rgb(255, 173, 51);
}
.icon-muerte-peaton .path6:before {
  content: "\eb53";
  margin-left: -1.212890625em;
  color: rgb(0, 0, 0);
}
.icon-Muerte .path1:before {
  content: "\eb54";
  color: rgb(51, 51, 51);
}
.icon-Muerte .path2:before {
  content: "\eb55";
  margin-left: -0.6044921875em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidental-conductor-vehiculo .path1:before {
  content: "\eb56";
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidental-conductor-vehiculo .path2:before {
  content: "\eb57";
  margin-left: -0.91015625em;
  color: rgb(51, 51, 51);
}
.icon-Muerte-accidental-conductor-vehiculo .path3:before {
  content: "\eb58";
  margin-left: -0.91015625em;
  color: rgb(51, 51, 51);
}
.icon-Muerte-accidental-conductor-vehiculo .path4:before {
  content: "\eb59";
  margin-left: -0.91015625em;
  color: rgb(51, 51, 51);
}
.icon-Muerte-accidental-ocupantes-vehiculo .path1:before {
  content: "\eb5a";
  color: rgb(51, 51, 51);
}
.icon-Muerte-accidental-ocupantes-vehiculo .path2:before {
  content: "\eb5b";
  margin-left: -1.384765625em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidental-ocupantes-vehiculo .path3:before {
  content: "\eb5c";
  margin-left: -1.384765625em;
  color: rgb(51, 51, 51);
}
.icon-Muerte-accidental-ocupantes-vehiculo .path4:before {
  content: "\eb5d";
  margin-left: -1.384765625em;
  color: rgb(51, 51, 51);
}
.icon-Muerte-accidental-ocupantes-vehiculo .path5:before {
  content: "\eb5e";
  margin-left: -1.384765625em;
  color: rgb(51, 51, 51);
}
.icon-Muerte-accidental-ocupantes-vehiculo .path6:before {
  content: "\eb5f";
  margin-left: -1.384765625em;
  color: rgb(255, 173, 51);
}
.icon-Muerte-accidental-ocupantes-vehiculo .path7:before {
  content: "\eb60";
  margin-left: -1.384765625em;
  color: rgb(51, 51, 51);
}
.icon-Muerte-accidental-ocupantes-vehiculo .path8:before {
  content: "\eb61";
  margin-left: -1.384765625em;
  color: rgb(51, 51, 51);
}
.icon-reposicion-documentos .path1:before {
  content: "\eb62";
  color: rgb(255, 173, 51);
}
.icon-reposicion-documentos .path2:before {
  content: "\eb63";
  margin-left: -0.7607421875em;
  color: rgb(255, 173, 51);
}
.icon-reposicion-documentos .path3:before {
  content: "\eb64";
  margin-left: -0.7607421875em;
  color: rgb(255, 173, 51);
}
.icon-reposicion-documentos .path4:before {
  content: "\eb65";
  margin-left: -0.7607421875em;
  color: rgb(255, 173, 51);
}
.icon-reposicion-documentos .path5:before {
  content: "\eb66";
  margin-left: -0.7607421875em;
  color: rgb(255, 173, 51);
}
.icon-reposicion-documentos .path6:before {
  content: "\eb67";
  margin-left: -0.7607421875em;
  color: rgb(255, 173, 51);
}
.icon-reposicion-documentos .path7:before {
  content: "\eb68";
  margin-left: -0.7607421875em;
  color: rgb(51, 51, 51);
}
.icon-educacion:before {
  content: "\ea9b";
}
.icon-habilidades-b:before {
  content: "\ea9c";
}
.icon-proteccion:before {
  content: "\ea9d";
}
.icon-estrategia:before {
  content: "\ea9e";
}
.icon-whatsapp:before {
  content: "\ea95";
}
.icon-terminacion:before {
  content: "\ea96";
  color: #0077b3;
}
.icon-telefax:before {
  content: "\ea97";
  color: #f28d36;
}
.icon-pag-web:before {
  content: "\ea98";
  color: #f28d36;
}
.icon-revocacion:before {
  content: "\ea99";
  color: #f28d36;
}
.icon-revocacion2:before {
  content: "\ea9a";
  color: #f28d36;
}
.icon-importante:before {
  content: "\ea8d";
  color: #0077b3;
}
.icon-interes:before {
  content: "\ea8e";
  color: #0077b3;
}
.icon-interes1:before {
  content: "\ea8f";
  color: #f28d36;
}
.icon-interes2:before {
  content: "\ea90";
  color: #f28d36;
}
.icon-interes3:before {
  content: "\ea91";
  color: #f28d36;
}
.icon-interes4:before {
  content: "\ea92";
  color: #f28d36;
}
.icon-interes5:before {
  content: "\ea93";
  color: #f28d36;
}
.icon-interes6:before {
  content: "\ea94";
  color: #f28d36;
}
.icon-datos:before {
  content: "\ea87";
  color: #0077b3;
}
.icon-edad-max:before {
  content: "\ea88";
  color: #f28d36;
}
.icon-edad-max-p:before {
  content: "\ea89";
  color: #f28d36;
}
.icon-edad:before {
  content: "\ea8a";
  color: #f28d36;
}
.icon-edad-min:before {
  content: "\ea8b";
  color: #f28d36;
}
.icon-declaraciones:before {
  content: "\ea8c";
  color: #0077b3;
}
.icon-condiciones:before {
  content: "\ea84";
  color: #0077b3;
}
.icon-consentimiento:before {
  content: "\ea85";
  color: #0077b3;
}
.icon-caracteristicas:before {
  content: "\ea86";
  color: #0077b3;
}
.icon-atencion3:before {
  content: "\ea80";
  color: #f28d36;
}
.icon-atencion4:before {
  content: "\ea81";
  color: #f28d36;
}
.icon-atencion:before {
  content: "\ea82";
  color: #0077b3;
}
.icon-atencion2:before {
  content: "\ea83";
  color: #f28d36;
}
.icon-abue2:before {
  content: "\ea7f";
}
.icon-exclusiones .path1:before {
  content: "\ea7c";
  color: rgb(82, 83, 85);
}
.icon-exclusiones .path2:before {
  content: "\ea7d";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-exclusiones .path3:before {
  content: "\ea7e";
  margin-left: -1em;
  color: rgb(245, 178, 13);
}
.icon-actores .path1:before {
  content: "\e9cf";
  color: rgb(247, 117, 41);
}
.icon-actores .path2:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-asegurado .path1:before {
  content: "\e9d1";
  color: rgb(82, 83, 85);
}
.icon-asegurado .path2:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-aseguradora .path1:before {
  content: "\e9d3";
  color: rgb(82, 83, 85);
}
.icon-aseguradora .path2:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-aseguradora .path3:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-aseguradora .path4:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-aseguradora .path5:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-aseguradora .path6:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(0, 118, 178);
}
.icon-autorizaciones .path1:before {
  content: "\e9d9";
  color: rgb(82, 83, 85);
}
.icon-autorizaciones .path2:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(245, 178, 13);
}
.icon-autorizaciones .path3:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-autorizaciones .path4:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-autorizaciones .path5:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-autorizaciones .path6:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-autorizaciones .path7:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-autorizaciones .path8:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(245, 178, 13);
}
.icon-autorizaciones .path9:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(245, 178, 13);
}
.icon-autorizaciones .path10:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(245, 178, 13);
}
.icon-autorizaciones .path11:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(245, 178, 13);
}
.icon-autorizaciones .path12:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(245, 178, 13);
}
.icon-autorizaciones .path13:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(245, 178, 13);
}
.icon-autorizaciones .path14:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(245, 178, 13);
}
.icon-beneficiarios .path1:before {
  content: "\e9e7";
  color: rgb(82, 83, 85);
}
.icon-beneficiarios .path2:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-beneficiarios .path3:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-beneficiarios .path4:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-billetera .path1:before {
  content: "\e9eb";
  color: rgb(247, 117, 41);
}
.icon-billetera .path2:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-billetera .path3:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-billetera .path4:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-billetera .path5:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-billetera .path6:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-billetera .path7:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-billetera .path8:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-billetera .path9:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-billetera .path10:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-billetera .path11:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-billetera .path12:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-carta-aseguraado .path1:before {
  content: "\e9f7";
  color: rgb(247, 117, 41);
}
.icon-carta-aseguraado .path2:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-carta-aseguraado .path3:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-carta-aseguraado .path4:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-carta-aseguraado .path5:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-carta-aseguraado .path6:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-carta-aseguraado .path7:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-carta-aseguraado .path8:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-carta-aseguraado .path9:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(0, 118, 178);
}
.icon-carta-cardif .path1:before {
  content: "\ea00";
  color: rgb(247, 117, 41);
}
.icon-carta-cardif .path2:before {
  content: "\ea01";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-carta-cardif .path3:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-carta-cardif .path4:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-colombia:before {
  content: "\ea04";
  color: #f77529;
}
.icon-declaraciones1 .path1:before {
  content: "\ea05";
  color: rgb(247, 117, 41);
}
.icon-declaraciones1 .path2:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-declaraciones1 .path3:before {
  content: "\ea07";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-declaraciones1 .path4:before {
  content: "\ea08";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-declaraciones1 .path5:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-defensor-principal .path1:before {
  content: "\ea0a";
  color: rgb(247, 117, 41);
}
.icon-defensor-principal .path2:before {
  content: "\ea0b";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-defensor-principal .path3:before {
  content: "\ea0c";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path1:before {
  content: "\ea0d";
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path2:before {
  content: "\ea0e";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path3:before {
  content: "\ea0f";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path4:before {
  content: "\ea10";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path5:before {
  content: "\ea11";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path6:before {
  content: "\ea12";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path7:before {
  content: "\ea13";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path8:before {
  content: "\ea14";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path9:before {
  content: "\ea15";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path10:before {
  content: "\ea16";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path11:before {
  content: "\ea17";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path12:before {
  content: "\ea18";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path13:before {
  content: "\ea19";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path14:before {
  content: "\ea1a";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-defensor-suplente .path15:before {
  content: "\ea1b";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-defensor-suplente .path16:before {
  content: "\ea1c";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-defensor-suplente .path17:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-defensor-suplente .path18:before {
  content: "\ea1e";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-defensor-suplente .path19:before {
  content: "\ea1f";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-defensor-suplente .path20:before {
  content: "\ea20";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-defensor-suplente .path21:before {
  content: "\ea21";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-defensor-suplente .path22:before {
  content: "\ea22";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-defensor-suplente .path23:before {
  content: "\ea23";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-duracion-seguro .path1:before {
  content: "\ea24";
  color: rgb(247, 117, 41);
}
.icon-duracion-seguro .path2:before {
  content: "\ea25";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-duracion-seguro .path3:before {
  content: "\ea26";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-fax .path1:before {
  content: "\ea27";
  color: rgb(247, 117, 41);
}
.icon-fax .path2:before {
  content: "\ea28";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-fax .path3:before {
  content: "\ea29";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-fax .path4:before {
  content: "\ea2a";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-fax .path5:before {
  content: "\ea2b";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-fax .path6:before {
  content: "\ea2c";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-fax .path7:before {
  content: "\ea2d";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-fax .path8:before {
  content: "\ea2e";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-fax .path9:before {
  content: "\ea2f";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-fax .path10:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-fax .path11:before {
  content: "\ea31";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-fax .path12:before {
  content: "\ea32";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-fax .path13:before {
  content: "\ea33";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-fax .path14:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-fax .path15:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-fax .path16:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-fax .path17:before {
  content: "\ea37";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-fax .path18:before {
  content: "\ea38";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-flor:before {
  content: "\ea39";
  color: #525355;
}
.icon-forma-de-pago .path1:before {
  content: "\ea3a";
  color: rgb(245, 178, 13);
}
.icon-forma-de-pago .path2:before {
  content: "\ea3b";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-gps .path1:before {
  content: "\ea3c";
  color: rgb(0, 118, 178);
}
.icon-gps .path2:before {
  content: "\ea3d";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-horario .path1:before {
  content: "\ea3e";
  color: rgb(0, 70, 102);
}
.icon-horario .path2:before {
  content: "\ea3f";
  margin-left: -1em;
  color: rgb(0, 156, 231);
}
.icon-mail-shape:before {
  content: "\ea40";
  color: #525355;
}
.icon-periodo-carencia .path1:before {
  content: "\ea41";
  color: rgb(82, 83, 85);
}
.icon-periodo-carencia .path2:before {
  content: "\ea42";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-periodo-carencia .path3:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-periodo-carencia .path4:before {
  content: "\ea44";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-periodo-carencia .path5:before {
  content: "\ea45";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-periodo-carencia .path6:before {
  content: "\ea46";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-periodo-carencia .path7:before {
  content: "\ea47";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-periodo-carencia .path8:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-periodo-carencia .path9:before {
  content: "\ea49";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-periodo-carencia .path10:before {
  content: "\ea4a";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-reloj .path1:before {
  content: "\ea4b";
  color: rgb(82, 83, 85);
}
.icon-reloj .path2:before {
  content: "\ea4c";
  margin-left: -1em;
  color: rgb(0, 118, 178);
}
.icon-renovacion-seguro .path1:before {
  content: "\ea4d";
  color: rgb(82, 83, 85);
}
.icon-renovacion-seguro .path2:before {
  content: "\ea4e";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-responsabilidades .path1:before {
  content: "\ea4f";
  color: rgb(252, 143, 47);
}
.icon-responsabilidades .path2:before {
  content: "\ea50";
  margin-left: -1em;
  color: rgb(252, 143, 47);
}
.icon-responsabilidades .path3:before {
  content: "\ea51";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-responsabilidades .path4:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-tarjeta-antigua .path1:before {
  content: "\ea53";
  color: rgb(216, 30, 5);
}
.icon-tarjeta-antigua .path2:before {
  content: "\ea54";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-antigua .path3:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-antigua .path4:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-antigua .path5:before {
  content: "\ea57";
  margin-left: -1em;
  color: rgb(216, 30, 5);
}
.icon-tarjeta-antigua .path6:before {
  content: "\ea58";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-tarjeta-cancelaciones .path1:before {
  content: "\ea59";
  color: rgb(247, 117, 41);
}
.icon-tarjeta-cancelaciones .path2:before {
  content: "\ea5a";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-cancelaciones .path3:before {
  content: "\ea5b";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-cancelaciones .path4:before {
  content: "\ea5c";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-tarjeta-cancelaciones .path5:before {
  content: "\ea5d";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path1:before {
  content: "\ea5e";
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path2:before {
  content: "\ea5f";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path3:before {
  content: "\ea60";
  margin-left: -1em;
  color: rgb(252, 143, 47);
}
.icon-tarjeta-nueva .path4:before {
  content: "\ea61";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path5:before {
  content: "\ea62";
  margin-left: -1em;
  color: rgb(252, 143, 47);
}
.icon-tarjeta-nueva .path6:before {
  content: "\ea63";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path7:before {
  content: "\ea64";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path8:before {
  content: "\ea65";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path9:before {
  content: "\ea66";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path10:before {
  content: "\ea67";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path11:before {
  content: "\ea68";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path12:before {
  content: "\ea69";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path13:before {
  content: "\ea6a";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path14:before {
  content: "\ea6b";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tarjeta-nueva .path15:before {
  content: "\ea6c";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-tarjeta-nueva .path16:before {
  content: "\ea6d";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-tarjeta-nueva .path17:before {
  content: "\ea6e";
  margin-left: -1em;
  color: rgb(252, 143, 47);
}
.icon-tarjeta-nueva .path18:before {
  content: "\ea6f";
  margin-left: -1em;
  color: rgb(252, 143, 47);
}
.icon-tel-shape:before {
  content: "\ea70";
  color: #0076b2;
}
.icon-tomador .path1:before {
  content: "\ea71";
  color: rgb(247, 117, 41);
}
.icon-tomador .path2:before {
  content: "\ea72";
  margin-left: -1em;
  color: rgb(247, 117, 41);
}
.icon-tomador .path3:before {
  content: "\ea73";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-tomador .path4:before {
  content: "\ea74";
  margin-left: -1em;
  color: rgb(0, 118, 178);
}
.icon-vigencia .path1:before {
  content: "\ea75";
  color: rgb(82, 83, 85);
}
.icon-vigencia .path2:before {
  content: "\ea76";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-vigencia .path3:before {
  content: "\ea77";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-vigencia .path4:before {
  content: "\ea78";
  margin-left: -1em;
  color: rgb(82, 83, 85);
}
.icon-vigencia .path5:before {
  content: "\ea79";
  margin-left: -1em;
  color: rgb(0, 118, 178);
}
.icon-vigencia .path6:before {
  content: "\ea7a";
  margin-left: -1em;
  color: rgb(0, 118, 178);
}
.icon-whatsApp:before {
  content: "\ea7b";
  color: #4e4e4e;
}
.icon-play:before {
  content: "\e9ce";
}
.icon-masivo:before {
  content: "\e9bc";
}
.icon-nuevo-cliente:before {
  content: "\e9bd";
}
.icon-pensionado:before {
  content: "\e9be";
}
.icon-preferente:before {
  content: "\e9bf";
}
.icon-tarjeta-de-credito:before {
  content: "\e9c0";
}
.icon-vehiculo1:before {
  content: "\e9c1";
}
.icon-independiente:before {
  content: "\e9c2";
}
.icon-estudiante:before {
  content: "\e9c3";
}
.icon-elite:before {
  content: "\e9c4";
}
.icon-25:before {
  content: "\e9c5";
}
.icon-44:before {
  content: "\e9c6";
}
.icon-65:before {
  content: "\e9c7";
}
.icon-advance:before {
  content: "\e9c8";
}
.icon-asalariado:before {
  content: "\e9c9";
}
.icon-cliente-antiguo:before {
  content: "\e9ca";
}
.icon-credito-consumo:before {
  content: "\e9cb";
}
.icon-cuentas:before {
  content: "\e9cc";
}
.icon-66:before {
  content: "\e9cd";
}
.icon-very-happiness:before {
  content: "\e9bb";
}
.icon-rentalibredestinacion:before {
  content: "\e9ba";
}
.icon-logo-cencosud .path1:before {
  content: "\e996";
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path2:before {
  content: "\e997";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path3:before {
  content: "\e998";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path4:before {
  content: "\e999";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path5:before {
  content: "\e99a";
  margin-left: -1.203125em;
  color: rgb(243, 148, 0);
}
.icon-logo-cencosud .path6:before {
  content: "\e99b";
  margin-left: -1.203125em;
  color: rgb(243, 148, 0);
}
.icon-logo-cencosud .path7:before {
  content: "\e99c";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path8:before {
  content: "\e99d";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path9:before {
  content: "\e99e";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path10:before {
  content: "\e99f";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path11:before {
  content: "\e9a0";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path12:before {
  content: "\e9a1";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path13:before {
  content: "\e9a2";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path14:before {
  content: "\e9a3";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path15:before {
  content: "\e9a4";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path16:before {
  content: "\e9a5";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path17:before {
  content: "\e9a6";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path18:before {
  content: "\e9a7";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path19:before {
  content: "\e9a8";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path20:before {
  content: "\e9a9";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path21:before {
  content: "\e9aa";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-logo-cencosud .path22:before {
  content: "\e9ab";
  margin-left: -1.203125em;
  color: rgb(255, 255, 255);
}
.icon-Vigilado-Multibanca:before {
  content: "\e9ac";
}
.icon-logo-colpatria:before {
  content: "\e9ad";
}
.icon-identidad:before {
  content: "\e9ae";
}
.icon-pago:before {
  content: "\e9af";
}
.icon-personaliza:before {
  content: "\e9b0";
}
.icon-valor:before {
  content: "\e9b1";
}
.icon-vida:before {
  content: "\e9b2";
}
.icon-comprar:before {
  content: "\e9b3";
}
.icon-diagnostico:before {
  content: "\e9b4";
}
.icon-entiende:before {
  content: "\e9b5";
}
.icon-felicitacione:before {
  content: "\e9b6";
}
.icon-star-half:before {
  content: "\e9b7";
}
.icon-star-o:before {
  content: "\e9b8";
}
.icon-star:before {
  content: "\e9b9";
}
.icon-reenviar-codigo:before {
  content: "\e994";
}
.icon-soporte:before {
  content: "\e993";
}
.icon-swipe:before {
  content: "\e992";
}
.icon-decoracion1:before {
  content: "\e990";
}
.icon-decoracion2:before {
  content: "\e991";
}
.icon-arrow-swipe:before {
  content: "\e995";
}
.icon-scroll:before {
  content: "\e982";
}
.icon-sad:before {
  content: "\e983";
}
.icon-IVA:before {
  content: "\e984";
}
.icon-indifferent:before {
  content: "\e985";
}
.icon-happiness:before {
  content: "\e986";
}
.icon-happiness-two:before {
  content: "\e987";
}
.icon-escribenos:before {
  content: "\e988";
}
.icon-embarrassed:before {
  content: "\e989";
}
.icon-despues-de-iva:before {
  content: "\e98a";
}
.icon-arrow-detail-top:before {
  content: "\e98b";
}
.icon-arrow-detail-right:before {
  content: "\e98c";
}
.icon-arrow-detail-left:before {
  content: "\e98d";
}
.icon-arrow-detail-bottom:before {
  content: "\e98e";
}
.icon-antes-de-iva:before {
  content: "\e98f";
}
.icon-region:before {
  content: "\e97f";
}
.icon-ojo-open:before {
  content: "\e980";
}
.icon-ojo-close:before {
  content: "\e981";
}
.icon-mas:before {
  content: "\e978";
}
.icon-corazon75:before {
  content: "\e979";
}
.icon-corazon50:before {
  content: "\e97a";
}
.icon-corazon25:before {
  content: "\e97b";
}
.icon-corazon-vacio:before {
  content: "\e97c";
}
.icon-corazon-lleno:before {
  content: "\e97d";
}
.icon-alert:before {
  content: "\e97e";
}
.icon-anual:before {
  content: "\e960";
}
.icon-buscar-foto:before {
  content: "\e961";
}
.icon-crediservices:before {
  content: "\e962";
}
.icon-detalles:before {
  content: "\e963";
}
.icon-eliminar:before {
  content: "\e964";
}
.icon-foto-celular:before {
  content: "\e965";
}
.icon-hipotecario:before {
  content: "\e966";
}
.icon-hoy:before {
  content: "\e967";
}
.icon-incentivos-acumulados:before {
  content: "\e968";
}
.icon-libranzaas:before {
  content: "\e969";
}
.icon-libre-destino:before {
  content: "\e96a";
}
.icon-lo-que-quiero:before {
  content: "\e96b";
}
.icon-mes:before {
  content: "\e96c";
}
.icon-microcreditos:before {
  content: "\e96d";
}
.icon-money:before {
  content: "\e96e";
}
.icon-personas-protegidas:before {
  content: "\e96f";
}
.icon-personas-protegidas2:before {
  content: "\e970";
}
.icon-sede:before {
  content: "\e971";
}
.icon-semana:before {
  content: "\e972";
}
.icon-sombrilla:before {
  content: "\e973";
}
.icon-tarjeta:before {
  content: "\e974";
}
.icon-vehiculos .path1:before {
  content: "\e975";
  color: rgb(0, 0, 0);
}
.icon-vehiculos .path2:before {
  content: "\eb69";
  margin-left: -1.900390625em;
  color: rgb(0, 0, 0);
}
.icon-vehiculos .path3:before {
  content: "\eb6a";
  margin-left: -1.900390625em;
  color: rgb(0, 0, 0);
}
.icon-vehiculos .path4:before {
  content: "\eb6b";
  margin-left: -1.900390625em;
  color: rgb(0, 0, 0);
}
.icon-vehiculos .path5:before {
  content: "\eb6c";
  margin-left: -1.900390625em;
  color: rgb(0, 0, 0);
}
.icon-vehiculos .path6:before {
  content: "\eb6d";
  margin-left: -1.900390625em;
  color: rgb(0, 0, 0);
}
.icon-vehiculos .path7:before {
  content: "\eb6e";
  margin-left: -1.900390625em;
  color: rgb(0, 0, 0);
}
.icon-vehiculos .path8:before {
  content: "\eb6f";
  margin-left: -1.900390625em;
  color: rgb(255, 152, 0);
}
.icon-vehiculos .path9:before {
  content: "\eb70";
  margin-left: -1.900390625em;
  color: rgb(255, 152, 0);
}
.icon-vehiculos .path10:before {
  content: "\eb71";
  margin-left: -1.900390625em;
  color: rgb(255, 152, 0);
}
.icon-web-cam:before {
  content: "\e976";
}
.icon-zona:before {
  content: "\e977";
}
.icon-foto:before {
  content: "\e95f";
}
.icon-analisis:before {
  content: "\e95e";
}
.icon-vigilado:before {
  content: "\e95c";
}
.icon-despido-sin-justa-causa:before {
  content: "\e95d";
}
.icon-Asistencia--transporte2:before {
  content: "\e955";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2:before {
  content: "\e956";
}
.icon-Garantia-Extendida:before {
  content: "\e957";
}
.icon-Renta--Hospitalizacion-debido-accidente1:before {
  content: "\e958";
}
.icon-Renta-Muerte-Cancer1:before {
  content: "\e959";
}
.icon-reposicion-llaves1:before {
  content: "\e95a";
}
.icon-Robo--Automovil1:before {
  content: "\e95b";
}
.icon-muerte-familiar:before {
  content: "\e954";
}
.icon-cerrar:before {
  content: "\e951";
}
.icon-flecha-abajo:before {
  content: "\e952";
}
.icon-flecha-arriba:before {
  content: "\e953";
}
.icon-flecha-izquierda:before {
  content: "\e906";
}
.icon-editar:before {
  content: "\e945";
}
.icon-Notificacion:before {
  content: "\e946";
}
.icon-perfil:before {
  content: "\e947";
}
.icon-LOGIN:before {
  content: "\e948";
}
.icon-MAIL:before {
  content: "\e949";
}
.icon-TEL:before {
  content: "\e94a";
}
.icon-denegados:before {
  content: "\e94b";
}
.icon-descargar-carta:before {
  content: "\e94c";
}
.icon-like:before {
  content: "\e94d";
}
.icon-pagados:before {
  content: "\e94e";
}
.icon-radicado:before {
  content: "\e94f";
}
.icon-suspendido:before {
  content: "\e950";
}
.icon-Asistencia--transporte1:before {
  content: "\e912";
}
.icon-cajero .path1:before {
  content: "\e913";
  color: rgb(51, 51, 51);
}
.icon-cajero .path2:before {
  content: "\eb72";
  margin-left: -0.9892578125em;
  color: rgb(51, 51, 51);
}
.icon-cajero .path3:before {
  content: "\eb73";
  margin-left: -0.9892578125em;
  color: rgb(255, 173, 51);
}
.icon-cajero .path4:before {
  content: "\eb74";
  margin-left: -0.9892578125em;
  color: rgb(255, 173, 51);
}
.icon-cajero .path5:before {
  content: "\eb75";
  margin-left: -0.9892578125em;
  color: rgb(255, 173, 51);
}
.icon-cajero .path6:before {
  content: "\eb76";
  margin-left: -0.9892578125em;
  color: rgb(255, 173, 51);
}
.icon-cajero .path7:before {
  content: "\eb77";
  margin-left: -0.9892578125em;
  color: rgb(255, 173, 51);
}
.icon-cajero .path8:before {
  content: "\eb78";
  margin-left: -0.9892578125em;
  color: rgb(255, 173, 51);
}
.icon-cajero .path9:before {
  content: "\eb79";
  margin-left: -0.9892578125em;
  color: rgb(255, 173, 51);
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente:before {
  content: "\e914";
}
.icon-Canasta-Familiar-caso-muerte:before {
  content: "\e915";
}
.icon-cancer:before {
  content: "\e916";
}
.icon-Cirugia-Reconstructiva .path1:before {
  content: "\e917";
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path2:before {
  content: "\eb7a";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path3:before {
  content: "\eb7b";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path4:before {
  content: "\eb7c";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path5:before {
  content: "\eb7d";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path6:before {
  content: "\eb7e";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path7:before {
  content: "\eb7f";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path8:before {
  content: "\eb80";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path9:before {
  content: "\eb81";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path10:before {
  content: "\eb82";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path11:before {
  content: "\eb83";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path12:before {
  content: "\eb84";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path13:before {
  content: "\eb85";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path14:before {
  content: "\eb86";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path15:before {
  content: "\eb87";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path16:before {
  content: "\eb88";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path17:before {
  content: "\eb89";
  margin-left: -1.0341796875em;
  color: rgb(51, 51, 51);
}
.icon-Cirugia-Reconstructiva .path18:before {
  content: "\eb8a";
  margin-left: -1.0341796875em;
  color: rgb(255, 173, 51);
}
.icon-cirugia .path1:before {
  content: "\e918";
  color: rgb(51, 51, 51);
}
.icon-cirugia .path2:before {
  content: "\eb8b";
  margin-left: -1.021484375em;
  color: rgb(51, 51, 51);
}
.icon-cirugia .path3:before {
  content: "\eb8c";
  margin-left: -1.021484375em;
  color: rgb(51, 51, 51);
}
.icon-cirugia .path4:before {
  content: "\eb8d";
  margin-left: -1.021484375em;
  color: rgb(255, 173, 51);
}
.icon-Clonacion-Tarjeta .path1:before {
  content: "\e919";
  color: rgb(51, 51, 51);
}
.icon-Clonacion-Tarjeta .path2:before {
  content: "\eb8e";
  margin-left: -1.40625em;
  color: rgb(51, 51, 51);
}
.icon-Clonacion-Tarjeta .path3:before {
  content: "\eb8f";
  margin-left: -1.40625em;
  color: rgb(51, 51, 51);
}
.icon-Clonacion-Tarjeta .path4:before {
  content: "\eb90";
  margin-left: -1.40625em;
  color: rgb(51, 51, 51);
}
.icon-Clonacion-Tarjeta .path5:before {
  content: "\eb91";
  margin-left: -1.40625em;
  color: rgb(51, 51, 51);
}
.icon-Clonacion-Tarjeta .path6:before {
  content: "\eb92";
  margin-left: -1.40625em;
  color: rgb(51, 51, 51);
}
.icon-Clonacion-Tarjeta .path7:before {
  content: "\eb93";
  margin-left: -1.40625em;
  color: rgb(51, 51, 51);
}
.icon-Clonacion-Tarjeta .path8:before {
  content: "\eb94";
  margin-left: -1.40625em;
  color: rgb(255, 173, 51);
}
.icon-compra-protegida .path1:before {
  content: "\e91a";
  color: rgb(51, 51, 51);
}
.icon-compra-protegida .path2:before {
  content: "\eb95";
  margin-left: -0.7216796875em;
  color: rgb(255, 173, 51);
}
.icon-Compras-fraudulentas-Internet .path1:before {
  content: "\e91b";
  color: rgb(51, 51, 51);
}
.icon-Compras-fraudulentas-Internet .path2:before {
  content: "\eb96";
  margin-left: -0.9990234375em;
  color: rgb(51, 51, 51);
}
.icon-Compras-fraudulentas-Internet .path3:before {
  content: "\eb97";
  margin-left: -0.9990234375em;
  color: rgb(51, 51, 51);
}
.icon-Compras-fraudulentas-Internet .path4:before {
  content: "\eb98";
  margin-left: -0.9990234375em;
  color: rgb(51, 51, 51);
}
.icon-Compras-fraudulentas-Internet .path5:before {
  content: "\eb99";
  margin-left: -0.9990234375em;
  color: rgb(255, 173, 51);
}
.icon-Cuidados-prologandos:before {
  content: "\e91c";
}
.icon-Desemembracion:before {
  content: "\e91d";
}
.icon-Desempleo1:before {
  content: "\e91e";
}
.icon-diagnostico-cancer .path1:before {
  content: "\e91f";
  color: rgb(51, 51, 51);
}
.icon-diagnostico-cancer .path2:before {
  content: "\eb9a";
  margin-left: -0.98828125em;
  color: rgb(51, 51, 51);
}
.icon-diagnostico-cancer .path3:before {
  content: "\eb9b";
  margin-left: -0.98828125em;
  color: rgb(51, 51, 51);
}
.icon-diagnostico-cancer .path4:before {
  content: "\eb9c";
  margin-left: -0.98828125em;
  color: rgb(255, 173, 51);
}
.icon-enfermedades-graves .path1:before {
  content: "\e920";
  color: rgb(255, 173, 51);
}
.icon-enfermedades-graves .path2:before {
  content: "\eb9d";
  margin-left: -1.1904296875em;
  color: rgb(255, 173, 51);
}
.icon-enfermedades-graves .path3:before {
  content: "\eb9e";
  margin-left: -1.1904296875em;
  color: rgb(51, 51, 51);
}
.icon-enfermedades-graves .path4:before {
  content: "\eb9f";
  margin-left: -1.1904296875em;
  color: rgb(51, 51, 51);
}
.icon-enfermedades-graves .path5:before {
  content: "\eba0";
  margin-left: -1.1904296875em;
  color: rgb(51, 51, 51);
}
.icon-garantia-protegida:before {
  content: "\e921";
}
.icon-Gastos-Funerarios:before {
  content: "\e922";
}
.icon-gastos-hospitalizacion .path1:before {
  content: "\e923";
  color: rgb(51, 51, 51);
}
.icon-gastos-hospitalizacion .path2:before {
  content: "\eba1";
  margin-left: -1.37890625em;
  color: rgb(51, 51, 51);
}
.icon-gastos-hospitalizacion .path3:before {
  content: "\eba2";
  margin-left: -1.37890625em;
  color: rgb(51, 51, 51);
}
.icon-gastos-hospitalizacion .path4:before {
  content: "\eba3";
  margin-left: -1.37890625em;
  color: rgb(51, 51, 51);
}
.icon-gastos-hospitalizacion .path5:before {
  content: "\eba4";
  margin-left: -1.37890625em;
  color: rgb(255, 173, 51);
}
.icon-Gastos-Medicos:before {
  content: "\e924";
}
.icon-hurto-oficina .path1:before {
  content: "\e925";
  color: rgb(0, 0, 0);
}
.icon-hurto-oficina .path2:before {
  content: "\eba5";
  margin-left: -0.8173828125em;
  color: rgb(0, 0, 0);
}
.icon-hurto-oficina .path3:before {
  content: "\eba6";
  margin-left: -0.8173828125em;
  color: rgb(0, 0, 0);
}
.icon-hurto-oficina .path4:before {
  content: "\eba7";
  margin-left: -0.8173828125em;
  color: rgb(0, 0, 0);
}
.icon-hurto-oficina .path5:before {
  content: "\eba8";
  margin-left: -0.8173828125em;
  color: rgb(0, 0, 0);
}
.icon-hurto-oficina .path6:before {
  content: "\eba9";
  margin-left: -0.8173828125em;
  color: rgb(255, 173, 51);
}
.icon-hurto-oficina .path7:before {
  content: "\ebaa";
  margin-left: -0.8173828125em;
  color: rgb(255, 173, 51);
}
.icon-hurto-oficina .path8:before {
  content: "\ebab";
  margin-left: -0.8173828125em;
  color: rgb(255, 173, 51);
}
.icon-hurto-oficina .path9:before {
  content: "\ebac";
  margin-left: -0.8173828125em;
  color: rgb(255, 173, 51);
}
.icon-hurto-oficina .path10:before {
  content: "\ebad";
  margin-left: -0.8173828125em;
  color: rgb(255, 173, 51);
}
.icon-incapacidad-accidente-aereo .path1:before {
  content: "\e926";
  color: rgb(51, 51, 51);
}
.icon-incapacidad-accidente-aereo .path2:before {
  content: "\ebae";
  margin-left: -0.8818359375em;
  color: rgb(255, 173, 51);
}
.icon-incapacidad-accidente-aereo .path3:before {
  content: "\ebaf";
  margin-left: -0.8818359375em;
  color: rgb(255, 173, 51);
}
.icon-incapacidad-accidente-aereo .path4:before {
  content: "\ebb0";
  margin-left: -0.8818359375em;
  color: rgb(255, 173, 51);
}
.icon-incapacidad-accidente-aereo .path5:before {
  content: "\ebb1";
  margin-left: -0.8818359375em;
  color: rgb(255, 173, 51);
}
.icon-incapacidad-accidente-aereo .path6:before {
  content: "\ebb2";
  margin-left: -0.8818359375em;
  color: rgb(255, 173, 51);
}
.icon-incapacidad-accidente-aereo .path7:before {
  content: "\ebb3";
  margin-left: -0.8818359375em;
  color: rgb(255, 173, 51);
}
.icon-incapacidad-accidente-aereo .path8:before {
  content: "\ebb4";
  margin-left: -0.8818359375em;
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte .path1:before {
  content: "\e927";
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte .path2:before {
  content: "\ebb5";
  margin-left: -1.2275390625em;
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte .path3:before {
  content: "\ebb6";
  margin-left: -1.2275390625em;
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte .path4:before {
  content: "\ebb7";
  margin-left: -1.2275390625em;
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte .path5:before {
  content: "\ebb8";
  margin-left: -1.2275390625em;
  color: rgb(51, 51, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte .path6:before {
  content: "\ebb9";
  margin-left: -1.2275390625em;
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte .path7:before {
  content: "\ebba";
  margin-left: -1.2275390625em;
  color: rgb(255, 173, 51);
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte .path8:before {
  content: "\ebbb";
  margin-left: -1.2275390625em;
  color: rgb(51, 51, 51);
}
.icon-incapacidad-total-permanente .path1:before {
  content: "\e928";
  color: rgb(255, 173, 51);
}
.icon-incapacidad-total-permanente .path2:before {
  content: "\ebbc";
  margin-left: -0.81640625em;
  color: rgb(51, 51, 51);
}
.icon-incapacidad-total-permanente .path3:before {
  content: "\ebbd";
  margin-left: -0.81640625em;
  color: rgb(51, 51, 51);
}
.icon-incapacidad-total-temporal-cancer:before {
  content: "\e929";
}
.icon-Incapacidad-Total-Temporal-Fractura-Accidental:before {
  content: "\e92a";
}
.icon-incapacidad-total-temporal1:before {
  content: "\e92b";
}
.icon-Muerte-accidental-titular-acompanantes:before {
  content: "\e92c";
}
.icon-muerte-accidental-transporte-publico:before {
  content: "\e92d";
}
.icon-Muerte-accidental-vias-publicas:before {
  content: "\e92e";
}
.icon-Muerte-Accidental1:before {
  content: "\e92f";
}
.icon-Muerte-consecuencia-Cancer:before {
  content: "\e930";
}
.icon-muerte-cualquier-causa:before {
  content: "\e931";
}
.icon-Poliza-todo-riesgo-hogar:before {
  content: "\e932";
}
.icon-Poliza-todo-riesgo-vehiculo:before {
  content: "\e933";
}
.icon-Proteccion-Garantizada-Auto:before {
  content: "\e934";
}
.icon-Renta--Hospitalizacion-debido-accidente:before {
  content: "\e935";
}
.icon-renta-canasta-familiar:before {
  content: "\e936";
}
.icon-Renta-desempleo-Involuntario:before {
  content: "\e937";
}
.icon-renta-educacion-hijos:before {
  content: "\e938";
}
.icon-renta-incapacidad:before {
  content: "\e939";
}
.icon-Renta-medicamentos-Cancer:before {
  content: "\e93a";
}
.icon-Renta-mensual-Muerte:before {
  content: "\e93b";
}
.icon-Renta-Muerte-Cancer:before {
  content: "\e93c";
}
.icon-Renta-Tratamiento-Cancer:before {
  content: "\e93d";
}
.icon-reposicion-bolso-o-billetera:before {
  content: "\e93e";
}
.icon-reposicion-documentos1:before {
  content: "\e93f";
}
.icon-reposicion-llaves2:before {
  content: "\e940";
}
.icon-Robo--Automovil:before {
  content: "\e941";
}
.icon-robo-perdida-tarjeta:before {
  content: "\e942";
}
.icon-rotura-huesos:before {
  content: "\e943";
}
.icon-Uso-Fraudulento-chequera:before {
  content: "\e944";
}
.icon-archivo-adjunto:before {
  content: "\e90e";
}
.icon-hurto-cajero:before {
  content: "\e911";
}
.icon-bolso .path1:before {
  content: "\e90d";
  color: rgb(51, 51, 51);
}
.icon-bolso .path2:before {
  content: "\ebbe";
  margin-left: -0.751953125em;
  color: rgb(255, 173, 51);
}
.icon-bolso .path3:before {
  content: "\ebbf";
  margin-left: -0.751953125em;
  color: rgb(51, 51, 51);
}
.icon-bolso .path4:before {
  content: "\ebc0";
  margin-left: -0.751953125em;
  color: rgb(51, 51, 51);
}
.icon-bolso .path5:before {
  content: "\ebc1";
  margin-left: -0.751953125em;
  color: rgb(51, 51, 51);
}
.icon-bolso .path6:before {
  content: "\ebc2";
  margin-left: -0.751953125em;
  color: rgb(51, 51, 51);
}
.icon-bolso .path7:before {
  content: "\ebc3";
  margin-left: -0.751953125em;
  color: rgb(51, 51, 51);
}
.icon-bolso .path8:before {
  content: "\ebc4";
  margin-left: -0.751953125em;
  color: rgb(51, 51, 51);
}
.icon-bolso .path9:before {
  content: "\ebc5";
  margin-left: -0.751953125em;
  color: rgb(51, 51, 51);
}
.icon-forzado:before {
  content: "\e90f";
}
.icon-indebido1:before {
  content: "\e910";
}
.icon-fecha:before {
  content: "\e90c";
}
.icon-accidente:before {
  content: "\e903";
}
.icon-bienes1:before {
  content: "\e904";
}
.icon-enfermedad:before {
  content: "\e905";
}
.icon-hogar:before {
  content: "\e907";
}
.icon-hurto:before {
  content: "\e908";
}
.icon-muerte:before {
  content: "\e909";
}
.icon-trabajo:before {
  content: "\e90a";
}
.icon-vehiculo:before {
  content: "\e90b";
}
.icon-flecha-derecha:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e901";
}
.icon-telefono:before {
  content: "\e902";
}
