@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// -----------------------medidad de pantallas-----------------------
$max-ancho-pantalla: 1300px;
$max-ancho-portlet: 1260px;

// maximo ancho del header
#wrapper .container-portal {
    max-width: $max-ancho-pantalla;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

// maximo ancho del contenedor de los modulos
#main-content .content-page {
    max-width: $max-ancho-portlet;
    margin: 0px auto;
    float: none;
}

// -------------------------------Colores-------------------------------
$azulPrimario: #59CBE8;
$verdePrimario: #00C389;
$amarilloPrimario: #FDDA24;
$violeta: #9063CD;  
$naranja: #FF7F41;
$rosado: #F5B6CD;
$grisPrimario: #2C2A29;
$grisSecundario: #BCBDC0;
$grisTerciario: #58595B;
$blanco: #fff;

// variables en CSS para contenidos web y apps
:root {
    --colorAzulPr: #{$azulPrimario};
    --colorverdePr: #{$verdePrimario};
    --colorAmarilloPr: #{$amarilloPrimario};
    --violetaPr: #{$violeta};
    --naranjaPr: #{$naranja};
    --rosadoPr: #{$rosado};
    --grisPr: #{$grisPrimario};
    --grisSe: #{$grisSecundario};
    --grisTer:#{grisTerciario};
    --tipografiaRe: 'cibfont_sansbook';
    --tipografiaBd: 'cibfont_sansbold';
    --tipografiaNu: 'cibfont_sanslight';
}

// --------------------------------sombras--------------------------------
.sombra1 {
    -webkit-box-shadow: 1px 1px 8px #868686;
    -moz-box-shadow: 1px 1px 8px #868686;
    box-shadow: 1px 1px 8px #868686;
}


// -------------------------------box-sizing-------------------------------
.bx-sizing-bb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.bx-sizing-cb {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input.check[type=checkbox] {
  display: none;
}
.check-box{
  border-radius: 4px;
  display: flex;
  margin: 0;
  margin-right: 0px;
  cursor: pointer;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  position: relative;
  transition: border-color ease .2s;
  margin-right: 10px !important;
  background: #fff;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked + .check-box,
.check-box.checked{
  background: $azulPrimario;
}
input[type="checkbox"]:checked + .check-box::before, 
.check-box.checked::before{
  content: "\2713";
  border-radius: 0.2em;
  display: inline-flex;
  width: 15px;
  height: 15px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-right: 0.2em;
  justify-content: center;
  color: #fff;
  transition: .2s;
  font-size: 17px;
  align-items: center;
}

// loader css
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: $amarilloPrimario;
    font-size: 10px;
    margin: 60px auto 70px;
    position: relative;
    text-indent: 0px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader span {
    text-align: center;
    margin: 0px;
    position: relative;
    left: -45px;
    top: -35px;
    color: $azulPrimario;
    font: 400 25px/1.3 'cibfont_sansbook';
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}



/*----------------------------DiseÃ±o de los input----------------------------*/

.input-primario {
    padding: 7px 10px;
    height: auto;
    border-radius: 4px;
    color: #fff;
    background-color: #fff;
}

.inputCss.input-design[readonly] {
    padding: 7px 30px 6px 20px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    border-radius: 4px !important;
    width: 100%;
    background: #fff;
    color: $grisPrimario;
    font: 400 16px/1.3 'cibfont_sansbook';
    cursor: pointer;
	height: 34px;
}

/*ancho*/

.full {
    width: 100%;
}


/*------------------------DiseÃ±os de los checkbox radiales---------------------------*/

input.radioBox[type="radio"] {
    display: none;
}

input.radioBox[type="radio"] + label {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 2px solid $amarilloPrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    margin: 0px 10px 0px 0px;
}

input.radioBox[type="radio"] + label:last-child {
    margin-bottom: 0;
}

input.radioBox[type="radio"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}

input.radioBox[type="radio"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $amarilloPrimario;
}


// ------------------------DiseÃ±os de los checkbox radiales---------------------------
input.radioBox[type="checkbox"] {
    display: none;
}

input.radioBox[type="checkbox"] + label {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $amarilloPrimario;
    position: relative;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
    cursor: pointer;
}

input.radioBox[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input.radioBox[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    border-radius: 50%;
}

input.radioBox[type="checkbox"]:checked + label:before {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    opacity: 1;
    background: $amarilloPrimario;
}

/*------------------------DiseÃ±os de los select---------------------------*/
.select-primario * {
    outline: none !important;
}
.select-primario .dropdown-backdrop {
    position: relative;
}
.select-primario button {
    background: #ffffff;
    font: 500 16px/1.3 'cibfont_sansbook';
    border-radius: 4px;
    color: $grisPrimario;
    border: 1px solid #ccc;
    padding: 8px 10px 7px 15px;
}
.select-primario.open button {
    background: $grisPrimario!important;
}
.select-primario button:hover {
    border: 1px solid #dededf;
    background-color: #fff;
}
.select-primario button .filter-option {
    color: $grisPrimario!important;
}
.select-primario.open button .filter-option {
    color: #fff!important;
}
.select-primario button.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}
.select-primario .btn-default:not(:disabled):not(.disabled):active, 
.select-primario .btn-default:not(:disabled):not(.disabled).active, 
.select-primario.show > .btn-default.dropdown-toggle{
    background: #fff;
}
.select-primario button:after {
    display: none !important;
}
.select-primario .dropdown-menu {
    padding-top: 20px;
    z-index: 2;
    margin-top: -5px;
}
.select-primario .dropdown-menu.open.show .dropdown-menu {
    display: block;
}
.select-primario .dropdown-menu ul li a {
    font: 300 16px/1.3 'cibfont_sansbook';
    color: $grisPrimario !important;
    width: calc(100% - 20px);
    margin: 0 auto;
    border-bottom: 1px solid #ccc !important;
    padding: 6px 5px;
}
.select-primario .dropdown-menu ul li a:hover {
    background: $amarilloPrimario;
}
.select-primario .dropdown-menu ul li:last-child a {
    border: none !important;
}

/*DiseÃ±o input tipo file*/
.filupp > input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filupp {
    position: relative;
    background: #ffffff;
    display: block;
    padding: 3px 18px;
    width: 91%;
    border: 1px solid #d5d5d5;
    color: $grisPrimario;
    cursor: pointer;
    border-radius: 40px;
    font: 400 16px/1.6 'cibfont_sansbook';
    overflow: hidden;
}

.filupp-file-name {
    width: 75%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.filupp .icon {
    float: right;
    color: $amarilloPrimario;
    font-size: 25px;
    position: relative;
    right: -14px;
    background: #fff;
    width: 30px;
    margin-right: -6px;
}

.filupp .js-value {
    position: absolute;
    width: 120%;
    left: 10px;
}

// ---------------------------------DatePicker---------------------------------
#datepicker {
    position: relative;
    z-index: 0;
}

.icon-input.icon {
    position: absolute;
    right: 0px;
    z-index: 2;
    padding: 2px 3px;
    font-size: 20px;
    color: $grisPrimario;
    background: #fff;
    border: none;
    width: auto;
    cursor: pointer;
    margin: 5px 6px;
    z-index: 3;
}

.datepicker-dropdown {
    border-radius: 10px;
    padding: 20px !important;
}

.datepicker-dropdown th.prev,
.datepicker-dropdown th.next,
.datepicker-switch {
    color: $grisPrimario;
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background: $amarilloPrimario !important;
    border-radius: 50%;
    color: $grisPrimario;
}

.datepicker table tr td.today,
.datepicker table tr td span.active.active {
    color: $grisPrimario !important;
    font-weight: 800;
    background: #fff !important;
}

.datepicker table tr td.active.active {
    background: $amarilloPrimario !important;
    border-radius: 50%;
    color: $grisPrimario;
}

.datepicker table tr td span.focused {
    background: $amarilloPrimario !important;
    border-radius: 50%;
    color: $grisPrimario !important;
    height: 40px;
    line-height: 40px;
    top: 7px;
    position: relative;
}

.table-condensed > thead > tr > th {
    color: $grisPrimario;
}

.datepicker.dropdown-menu {
    overflow: hidden
}

.datepicker table {
    width: 100%;
}

// ----------------------------DiseÃ±o de botones----------------------------
// DiseÃ±o boton principal
/*Botones*/

.boton-primario {
    background: $amarilloPrimario;
    padding: 10px 50px;
    border-radius: 25px;
    text-transform: uppercase;
    font: 400 14px/1.3 'cibfont_sansbook';
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    color: $grisPrimario !important;
    position: relative;
    display: table;
	text-align: center;
    border: 1px solid $amarilloPrimario;

}

.boton-primario:focus {
    outline: none;
    text-decoration: none;

}

.boton-primario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $grisPrimario;
}

.boton-primario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $grisPrimario;
}

.boton-primario:hover {
    text-decoration: none;
    background: #FFDB33;
}

.boton-primario.volver span {
    left: 10px;
    right: inherit;
}

// DiseÃ±o boton secundario
.boton-secundario {
    background: $blanco;
    padding: 10px 50px;
    border-radius: 35px;
    text-transform: uppercase;
    font: 400 14px/1.3 'cibfont_sansbook';
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    color: $grisPrimario !important;
    position: relative;
    display: table;
	text-align: center;
    border: 1px solid $grisPrimario;
}
.boton-secundario:focus {
    outline: none;
}
.boton-secundario span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color:$grisPrimario;
}
.boton-secundario:hover span {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 13px;
    color: $grisPrimario;
}
.boton-secundario:hover {
    text-decoration: none;
}
.boton-secundario:focus {
    text-decoration: none;
    color: #fff !important;
}
.boton-secundario.volver span {
    left: 10px;
    right: inherit;
}

// pulso animaciÃ³n
.pulse {
    box-shadow: 0 0 0 rgba(1, 57, 140, 0.5);
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -webkit-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
        box-shadow: 0 0 10px 3px rgba(1, 57, 140, 0.6);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
        box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
    }
}

// -------------------------- Modal--------------------------
.modals {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.modals .modal-bodys {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.modals .modal-bodys .content {
    margin: 0 auto;
    display: table;
    width: 90%;
    max-width: 700px;
    border-radius: 6px;
    border: 2px solid $amarilloPrimario;
    background: #fff;
    padding: 10px;
    position: relative;
}

.modals .modal-bodys .content > .salir {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
    font-size: 20px;
    color: $azulPrimario;
    cursor: pointer;
}

.modals .modal-bodys .content > .salir:hover {
    color: $amarilloPrimario;
}

.oculto {
    display: none;
}
#cargando-general {
    .content{
        background: none;
        border: none;
        max-inline-size: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
            .gifLoader{
                max-width: 250px;
            }
    }
}

// -------------------------- Notificaciones--------------------------
.btn-menu,
#notifica {
    margin-top: 0;
}

#notifica .shortIcon {
    width: 100%;
}

#counts {
    position: absolute;
    top: -7px;
    background: red;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    left: -6px;
    font: 400 16px/1.3 'cibfont_sansbook';
    display: none;
}
#counts.desktop {
    position: absolute !important;
    top: 15px;
    line-height: 1.3;
    left: 5px;
}
#navigation #padre .dropdown-menu {
    left: 122px !important;
    width: 400px !important;
    max-width: 400px;
    border: none;
    padding-bottom: 0px;
    box-shadow: none;
    border-bottom: 1px solid #e2e8ec;
}

#padre .list-group-item-field .user-info,
#padre .list-group-item-content .title,
#navigation #padre .dropdown-menu .dropdown-header,
#navigation #padre .dropdown-menu:before, #navigation #padre .dropdown-menu:after{
    display: none;
}
#padre .list-group-item-field{
    padding: 0px !important;
    vertical-align: middle;
}
#padre .display-style-descriptive {
    margin: 0;
    box-shadow: none;
}
#padre .list-group-item-content{
    padding: 10px !important;
    vertical-align: middle;
    font: 400 16px/1.3 'cibfont_sansbook';
}
#padre .list-group-item-content .block1 {
    color: #f17c05;
    font: 300 14px/1.3 'cibfont_sansbook';
}
#verNoti {
    background: #f9f7f4;
    text-align: center;
    padding: 14px 5px;
    background: url(../images/banco_bogota/grafismo.png);
    background-size: inherit;
    background-repeat: no-repeat;
    position: relative;
}
#verNoti:before {
    content: "";
    width: 2px;
    background: red;
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
}
#verNoti:after {
    content: "";
    width: 2px;
    background: $amarilloPrimario;
    display: table;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
}
#verNoti a {
    font: 400 16px/1.3 'cibfont_sansbook';
    color: $grisPrimario;
}
#verNoti a:hover{
    color: $amarilloPrimario;
}
#padre .list-group-item-content .block2 {
    font: 400 18px/1.3 'cibfont_sansbook';
}
#padre .list-group-item-content .timestamp {
    font: 400 14px/1.3 'cibfont_sansbook';
    color: $grisPrimario;
}
.taglib-search-iterator-page-iterator-bottom {
    display: none;
}
body .select-primario [aria-expanded="true"] + .dropdown-menu {
    top: 35px;
}
/*arreglar el login por culpa del api de chat*/
form#_com_liferay_login_web_portlet_LoginPortlet_loginForm fieldset {
    display: block;
}

// --------------------------Fuentes de texto--------------------------
/*-----------------------------Arimo-----------------------------*/

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on June 19, 2021 */
@font-face {
    font-family: 'cibfont_sansbold';
    src: url('fonts/cibfontsans-bold-webfont.woff2') format('woff2'),
         url('fonts/cibfontsans-bold-webfont.woff') format('woff'),
         url('fonts/CIBFontSans-Bold.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cibfont_sansbook';
    src: url('fonts/cibfontsans-book-webfont.woff2') format('woff2'),
         url('fonts/cibfontsans-book-webfont.woff') format('woff'),
         url('fonts/CIBFontSans-Book.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cibfont_sanslight';
    src: url('fonts/cibfontsans-light-webfont.woff2') format('woff2'),
         url('fonts/cibfontsans-light-webfont.woff') format('woff'),
         url('fonts/CIBFontSans-Light.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}


// ----------------------------Fuentes iconograficas----------------------------

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/iconmoon/icomoon.eot?6gewww');
  src:  url('fonts/iconmoon/icomoon.eot?6gewww#iefix') format('embedded-opentype'),
    url('fonts/iconmoon/icomoon.ttf?6gewww') format('truetype'),
    url('fonts/iconmoon/icomoon.woff?6gewww') format('woff'),
    url('fonts/iconmoon/icomoon.svg?6gewww#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancer:before {
  content: "\e900";
}
.icon-diagnostico-cancer:before {
  content: "\e901";
}
.icon-Desempleo:before {
  content: "\e902";
}
.icon-compras-fraudulentas-internet:before {
  content: "\e903";
}
.icon-compra-protegida:before {
  content: "\e904";
}
.icon-enfermedades-graves:before {
  content: "\e905";
}
.icon-billetera:before {
  content: "\e906";
}
.icon-muerte-cualquier-causa:before {
  content: "\e907";
}
.icon-Muerte-Accidental:before {
  content: "\e908";
}
.icon-indebido:before {
  content: "\e909";
}
.icon-incapacidad-total-temporal:before {
  content: "\e90a";
}
.icon-Garantia-Extendida:before {
  content: "\e90b";
}
.icon-cajero:before {
  content: "\e90c";
}
.icon-reposicion-llaves:before {
  content: "\e90d";
}
.icon-reposicion-documentos:before {
  content: "\e90e";
}
.icon-hurto-oficina:before {
  content: "\e90f";
}
.icon-forzado:before {
  content: "\e910";
}
.icon-bienes:before {
  content: "\e911";
}
.icon-bolso:before {
  content: "\e912";
}
.icon-edad-max-p:before {
  content: "\ea26";
  color: #00965e;
}
.icon-interes2:before {
  content: "\eaad";
}
.icon-interes4:before {
  content: "\eaae";
}
.icon-interes5:before {
  content: "\eaaf";
}
.icon-interes6:before {
  content: "\eab0";
}
.icon-interes:before {
  content: "\eab1";
}
.icon-interes3:before {
  content: "\eab2";
}
.icon-interes1:before {
  content: "\eab3";
}
.icon-atencion4:before {
  content: "\eab4";
}
.icon-atencion2:before {
  content: "\eab5";
}
.icon-atencion3:before {
  content: "\eab6";
}
.icon-atencion:before {
  content: "\eab7";
}
.icon-datos:before {
  content: "\eab8";
}
.icon-terminacion:before {
  content: "\eab9";
}
.icon-interes21:before {
  content: "\eaba";
}
.icon-revocacion:before {
  content: "\eabb";
}
.icon-revocacion2:before {
  content: "\eabc";
}
.icon-edad-max:before {
  content: "\eabd";
}
.icon-edad-min:before {
  content: "\eabe";
}
.icon-tarjeta-cancelaciones:before {
  content: "\ea8d";
}
.icon-tarjeta-nueva:before {
  content: "\ea8e";
}
.icon-tel-shape:before {
  content: "\ea8f";
}
.icon-tomador:before {
  content: "\ea90";
}
.icon-vigencia:before {
  content: "\ea91";
}
.icon-whatsApp:before {
  content: "\ea92";
  color: #4e4e4e;
}
.icon-abue2:before {
  content: "\ea93";
}
.icon-actores:before {
  content: "\ea94";
}
.icon-asegurado:before {
  content: "\ea95";
}
.icon-aseguradora:before {
  content: "\ea96";
}
.icon-autorizaciones:before {
  content: "\ea97";
}
.icon-beneficiarios:before {
  content: "\ea98";
}
.icon-billetera1:before {
  content: "\ea99";
}
.icon-carta-aseguraado:before {
  content: "\ea9a";
}
.icon-carta-cardif:before {
  content: "\ea9b";
}
.icon-colombia:before {
  content: "\ea9c";
}
.icon-declaraciones:before {
  content: "\ea9d";
}
.icon-defensor-principal:before {
  content: "\ea9e";
}
.icon-defensor-suplente:before {
  content: "\ea9f";
}
.icon-duracion-seguro:before {
  content: "\eaa0";
}
.icon-exclusiones:before {
  content: "\eaa1";
}
.icon-fax:before {
  content: "\eaa2";
}
.icon-flor:before {
  content: "\eaa3";
  color: #525355;
}
.icon-forma-de-pago:before {
  content: "\eaa4";
}
.icon-gps:before {
  content: "\eaa5";
}
.icon-horario:before {
  content: "\eaa6";
}
.icon-mail-shape:before {
  content: "\eaa7";
  color: #525355;
}
.icon-periodo-carencia:before {
  content: "\eaa8";
}
.icon-reloj:before {
  content: "\eaa9";
}
.icon-renovacion-seguro:before {
  content: "\eaaa";
}
.icon-responsabilidades:before {
  content: "\eaab";
}
.icon-tarjeta-antigua:before {
  content: "\eaac";
}
.icon-semana:before {
  content: "\e966";
}
.icon-soporte1:before {
  content: "\e969";
}
.icon-rentalibredestinacion1:before {
  content: "\e96d";
}
.icon-telefono_light:before {
  content: "\e96f";
}
.icon-tarjeta:before {
  content: "\e971";
}
.icon-trabajo:before {
  content: "\e975";
}
.icon-Uso-Fraudulento-chequera:before {
  content: "\e977";
}
.icon-vehiculo:before {
  content: "\e9a8";
}
.icon-vehiculos:before {
  content: "\e9aa";
}
.icon-accidente:before {
  content: "\e9af";
}
.icon-anual1:before {
  content: "\e9b4";
}
.icon-archivo-adjunto:before {
  content: "\e9b6";
}
.icon-arrow-swipe1:before {
  content: "\e9bc";
}
.icon-Asistencia--transporte:before {
  content: "\e9bf";
}
.icon-buscar-foto1:before {
  content: "\e9c2";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2---copia:before {
  content: "\e9c5";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente21:before {
  content: "\e9c7";
}
.icon-Canasta-Familiar-caso-muerte:before {
  content: "\e9c9";
}
.icon-cirugia:before {
  content: "\e9cd";
}
.icon-Cirugia-Reconstructiva:before {
  content: "\e9cf";
}
.icon-Clonacion-Tarjeta:before {
  content: "\e9d1";
}
.icon-Compras-fraudulentas-Internet:before {
  content: "\e9d3";
}
.icon-crediservices1:before {
  content: "\e9da";
}
.icon-Cuidados-prologandos:before {
  content: "\e9dc";
}
.icon-descargar-carta1:before {
  content: "\e9e1";
}
.icon-Desmembracion:before {
  content: "\e9e3";
}
.icon-despido-sin-justa-causa1:before {
  content: "\e9e5";
}
.icon-despues-de-iva1:before {
  content: "\e9e7";
}
.icon-detalles1:before {
  content: "\e9e9";
}
.icon-editar1:before {
  content: "\e9eb";
}
.icon-eliminar1:before {
  content: "\e9ed";
}
.icon-incapacidad-total-temporal-cama:before {
  content: "\e9f0";
}
.icon-escribenos1:before {
  content: "\e9f3";
}
.icon-fecha:before {
  content: "\e9f5";
}
.icon-foto1:before {
  content: "\e9fb";
}
.icon-foto-celular1:before {
  content: "\e9fd";
}
.icon-garantia-protegida1:before {
  content: "\ea00";
}
.icon-Gastos-Funerarios1:before {
  content: "\ea02";
}
.icon-gastos-hospitalizacion1:before {
  content: "\ea04";
}
.icon-Gastos-Medicos1:before {
  content: "\ea06";
}
.icon-hipotecario1:before {
  content: "\ea0a";
}
.icon-hogar:before {
  content: "\ea0c";
}
.icon-hoy1:before {
  content: "\ea0e";
}
.icon-hurto:before {
  content: "\ea10";
}
.icon-incapacidad-accidente-aereo1:before {
  content: "\ea13";
}
.icon-incapacidad-total-permanente1:before {
  content: "\ea15";
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte1:before {
  content: "\ea17";
}
.icon-incapacidad-total-temporal-cancer1:before {
  content: "\ea1a";
}
.icon-Incapacidad-Total-Temporal-Fractura-Accidental1:before {
  content: "\ea1c";
}
.icon-incentivos-acumulados1:before {
  content: "\ea1e";
}
.icon-IVA1:before {
  content: "\ea21";
}
.icon-libranzaas1:before {
  content: "\ea23";
}
.icon-libre-destino1:before {
  content: "\ea25";
}
.icon-like1:before {
  content: "\ea27";
}
.icon-LOGIN1:before {
  content: "\ea29";
}
.icon-lo-que-quiero1:before {
  content: "\ea2b";
}
.icon-mail:before {
  content: "\ea2d";
}
.icon-mes1:before {
  content: "\ea30";
}
.icon-microcreditos1:before {
  content: "\ea32";
}
.icon-money1:before {
  content: "\ea34";
}
.icon-muerte:before {
  content: "\ea36";
}
.icon-Muerte-accidental-titular-acompaantes:before {
  content: "\ea38";
}
.icon-muerte-accidental-transporte-publico1:before {
  content: "\ea3a";
}
.icon-Muerte-accidental-vias-publicas1:before {
  content: "\ea3c";
}
.icon-Muerte-consecuencia-Cancer1:before {
  content: "\ea3e";
}
.icon-muerte-familiar1:before {
  content: "\ea40";
}
.icon-Notificacion1:before {
  content: "\ea42";
}
.icon-perfil1:before {
  content: "\ea47";
}
.icon-personas-protegidas1:before {
  content: "\ea49";
}
.icon-personas-protegidas21:before {
  content: "\ea4b";
}
.icon-Poliza-todo-riesgo-hogar1:before {
  content: "\ea4d";
}
.icon-Poliza-todo-riesgo-vehiculo1:before {
  content: "\ea4f";
}
.icon-Proteccion-Garantizada-Auto1:before {
  content: "\ea51";
}
.icon-region1:before {
  content: "\ea54";
}
.icon-renta-canasta-familiar1:before {
  content: "\ea55";
}
.icon-Renta-desempleo-Involuntario1:before {
  content: "\ea56";
}
.icon-gastos-educacion-infantil1:before {
  content: "\ea57";
}
.icon-Renta--Hospitalizacion-debido-accidente2:before {
  content: "\ea58";
}
.icon-renta-incapacidad1:before {
  content: "\ea59";
}
.icon-Renta-medicamentos-Cancer1:before {
  content: "\ea5a";
}
.icon-Renta-mensual-Muerte1:before {
  content: "\ea5b";
}
.icon-Renta-Muerte-Cancer2:before {
  content: "\ea5c";
}
.icon-Renta-Tratamiento-Cancer1:before {
  content: "\ea5d";
}
.icon-reposicion-bolso-o-billetera1:before {
  content: "\ea5e";
}
.icon-Robo--Automovil2:before {
  content: "\ea5f";
}
.icon-robo-perdida-tarjeta1:before {
  content: "\ea60";
}
.icon-rotura-huesos1:before {
  content: "\ea61";
}
.icon-calcular-salario:before {
  content: "\ea62";
}
.icon-convenios-educativos:before {
  content: "\ea63";
}
.icon-hoja-vida:before {
  content: "\ea64";
}
.icon-chat:before {
  content: "\ea65";
}
.icon-inundacion-hogar:before {
  content: "\ea66";
}
.icon-responsabilidad-hogar:before {
  content: "\ea67";
}
.icon-hogar-electrico:before {
  content: "\ea68";
}
.icon-hogar-incendio:before {
  content: "\ea69";
}
.icon-hogar-sustraccion:before {
  content: "\ea6a";
}
.icon-hogar-terremoto:before {
  content: "\ea6b";
}
.icon-star-half:before {
  content: "\e9a4";
}
.icon-star-o:before {
  content: "\e9a5";
}
.icon-star:before {
  content: "\e9a6";
}
.icon-rentalibredestinacion:before {
  content: "\e9a3";
}
.icon-rapido:before {
  content: "\e99d";
}
.icon-click:before {
  content: "\e99e";
}
.icon-cuentanos:before {
  content: "\e99f";
}
.icon-ingresar:before {
  content: "\e9a0";
}
.icon-like-relleno:before {
  content: "\e9a1";
}
.icon-play:before {
  content: "\e9a2";
}
.icon-impuestos-hoteleros:before {
  content: "\e996";
}
.icon-snaks:before {
  content: "\e997";
}
.icon-tarjeta-asistencia-medica:before {
  content: "\e998";
}
.icon-tiquete:before {
  content: "\e999";
}
.icon-traslados:before {
  content: "\e99a";
}
.icon-alimentacion:before {
  content: "\e99b";
}
.icon-hotel:before {
  content: "\e99c";
}
.icon-reenviar-codigo:before {
  content: "\e994";
}
.icon-soporte:before {
  content: "\e993";
}
.icon-swipe:before {
  content: "\e992";
}
.icon-decoracion1:before {
  content: "\e990";
}
.icon-decoracion2:before {
  content: "\e991";
}
.icon-arrow-swipe:before {
  content: "\e995";
}
.icon-scroll:before {
  content: "\e982";
}
.icon-sad:before {
  content: "\e983";
}
.icon-IVA:before {
  content: "\e984";
}
.icon-indifferent:before {
  content: "\e985";
}
.icon-happiness:before {
  content: "\e986";
}
.icon-happiness-two:before {
  content: "\e987";
}
.icon-escribenos:before {
  content: "\e988";
}
.icon-embarrassed:before {
  content: "\e989";
}
.icon-despues-de-iva:before {
  content: "\e98a";
}
.icon-arrow-detail-top:before {
  content: "\e98b";
}
.icon-arrow-detail-right:before {
  content: "\e98c";
}
.icon-arrow-detail-left:before {
  content: "\e98d";
}
.icon-arrow-detail-bottom:before {
  content: "\e98e";
}
.icon-antes-de-iva:before {
  content: "\e98f";
}
.icon-region:before {
  content: "\e97f";
}
.icon-ojo-open:before {
  content: "\e980";
}
.icon-ojo-close:before {
  content: "\e981";
}
.icon-mas:before {
  content: "\e978";
}
.icon-corazon75:before {
  content: "\e979";
}
.icon-corazon50:before {
  content: "\e97a";
}
.icon-corazon25:before {
  content: "\e97b";
}
.icon-corazon-vacio:before {
  content: "\e97c";
}
.icon-corazon-lleno:before {
  content: "\e97d";
}
.icon-alert:before {
  content: "\e97e";
}
.icon-anual:before {
  content: "\e964";
}
.icon-buscar-foto:before {
  content: "\e965";
}
.icon-crediservices:before {
  content: "\e967";
}
.icon-detalles:before {
  content: "\e968";
}
.icon-eliminar:before {
  content: "\e96a";
}
.icon-foto-celular:before {
  content: "\e96b";
}
.icon-hipotecario:before {
  content: "\e96c";
}
.icon-hoy:before {
  content: "\e96e";
}
.icon-incentivos-acumulados:before {
  content: "\e970";
}
.icon-libranzaas:before {
  content: "\e972";
}
.icon-libre-destino:before {
  content: "\e973";
}
.icon-lo-que-quiero:before {
  content: "\e974";
}
.icon-mes:before {
  content: "\e976";
}
.icon-microcreditos:before {
  content: "\e9a7";
}
.icon-money:before {
  content: "\e9a9";
}
.icon-personas-protegidas:before {
  content: "\e9ab";
}
.icon-personas-protegidas2:before {
  content: "\e9ac";
}
.icon-sede:before {
  content: "\e9ad";
}
.icon-semana1:before {
  content: "\e9ae";
}
.icon-sombrilla:before {
  content: "\e9b0";
}
.icon-tarjeta1:before {
  content: "\e9b1";
}
.icon-vehiculos1:before {
  content: "\e9b2";
}
.icon-web-cam:before {
  content: "\e9b3";
}
.icon-zona:before {
  content: "\e9b5";
}
.icon-foto:before {
  content: "\e9b7";
}
.icon-analisis:before {
  content: "\e9b8";
}
.icon-vigilado:before {
  content: "\e9b9";
}
.icon-despido-sin-justa-causa:before {
  content: "\e9ba";
}
.icon-Asistencia--transporte2:before {
  content: "\e9bb";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2:before {
  content: "\e9bd";
}
.icon-Garantia-Extendida1:before {
  content: "\e9be";
}
.icon-Renta--Hospitalizacion-debido-accidente1:before {
  content: "\e9c0";
}
.icon-Renta-Muerte-Cancer1:before {
  content: "\e9c1";
}
.icon-reposicion-llaves1:before {
  content: "\e9c3";
}
.icon-Robo--Automovil1:before {
  content: "\e9c4";
}
.icon-muerte-familiar:before {
  content: "\e9c6";
}
.icon-cerrar:before {
  content: "\e9c8";
}
.icon-flecha-abajo:before {
  content: "\e9ca";
}
.icon-flecha-arriba:before {
  content: "\e9cb";
}
.icon-flecha-izquierda:before {
  content: "\e9cc";
}
.icon-editar:before {
  content: "\e9ce";
}
.icon-Notificacion:before {
  content: "\e9d0";
}
.icon-perfil:before {
  content: "\e9d2";
}
.icon-LOGIN:before {
  content: "\e9d4";
}
.icon-MAIL:before {
  content: "\e9d5";
}
.icon-TEL:before {
  content: "\e9d6";
}
.icon-denegados:before {
  content: "\e9d7";
}
.icon-descargar-carta:before {
  content: "\e9d8";
}
.icon-like:before {
  content: "\e9d9";
}
.icon-pagados:before {
  content: "\e9db";
}
.icon-radicado:before {
  content: "\e9dd";
}
.icon-suspendido:before {
  content: "\e9de";
}
.icon-Asistencia--transporte1:before {
  content: "\e9df";
}
.icon-cajero1:before {
  content: "\e9e0";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente:before {
  content: "\e9e2";
}
.icon-Canasta-Familiar-caso-muerte1:before {
  content: "\e9e4";
}
.icon-cancer1:before {
  content: "\e9e6";
}
.icon-Cirugia-Reconstructiva1:before {
  content: "\e9e8";
}
.icon-cirugia1:before {
  content: "\e9ea";
}
.icon-Clonacion-Tarjeta1:before {
  content: "\e9ec";
}
.icon-compra-protegida1:before {
  content: "\e9ee";
}
.icon-Compras-fraudulentas-Internet1:before {
  content: "\e9ef";
}
.icon-Cuidados-prologandos1:before {
  content: "\e9f1";
}
.icon-Desmembracion1:before {
  content: "\e9f2";
}
.icon-Desempleo1:before {
  content: "\e9f4";
}
.icon-diagnostico-cancer1:before {
  content: "\e9f6";
}
.icon-enfermedades-graves1:before {
  content: "\e9f7";
}
.icon-garantia-protegida:before {
  content: "\e9f8";
}
.icon-Gastos-Funerarios:before {
  content: "\e9f9";
}
.icon-gastos-hospitalizacion:before {
  content: "\e9fa";
}
.icon-Gastos-Medicos:before {
  content: "\e9fc";
}
.icon-hurto-oficina1:before {
  content: "\e9fe";
}
.icon-incapacidad-accidente-aereo:before {
  content: "\e9ff";
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte:before {
  content: "\ea01";
}
.icon-incapacidad-total-permanente:before {
  content: "\ea03";
}
.icon-incapacidad-total-temporal-cancer:before {
  content: "\ea05";
}
.icon-Incapacidad-Total-Temporal-Fractura-Accidental:before {
  content: "\ea07";
}
.icon-incapacidad-total-temporal1:before {
  content: "\ea08";
}
.icon-Muerte-accidental-titular-acompanantes:before {
  content: "\ea09";
}
.icon-muerte-accidental-transporte-publico:before {
  content: "\ea0b";
}
.icon-Muerte-accidental-vias-publicas:before {
  content: "\ea0d";
}
.icon-Muerte-Accidental1:before {
  content: "\ea0f";
}
.icon-Muerte-consecuencia-Cancer:before {
  content: "\ea11";
}
.icon-muerte-cualquier-causa1:before {
  content: "\ea12";
}
.icon-Poliza-todo-riesgo-hogar:before {
  content: "\ea14";
}
.icon-Poliza-todo-riesgo-vehiculo:before {
  content: "\ea16";
}
.icon-Proteccion-Garantizada-Auto:before {
  content: "\ea18";
}
.icon-Renta--Hospitalizacion-debido-accidente:before {
  content: "\ea19";
}
.icon-renta-canasta-familiar:before {
  content: "\ea1b";
}
.icon-Renta-desempleo-Involuntario:before {
  content: "\ea1d";
}
.icon-gastos-educacion-infantil:before {
  content: "\ea1f";
}
.icon-renta-incapacidad:before {
  content: "\ea20";
}
.icon-Renta-medicamentos-Cancer:before {
  content: "\ea22";
}
.icon-Renta-mensual-Muerte:before {
  content: "\ea24";
}
.icon-Renta-Muerte-Cancer:before {
  content: "\1f326";
}
.icon-Renta-Tratamiento-Cancer:before {
  content: "\ea28";
}
.icon-reposicion-bolso-o-billetera:before {
  content: "\ea2a";
}
.icon-reposicion-documentos1:before {
  content: "\ea2c";
}
.icon-reposicion-llaves2:before {
  content: "\ea2e";
}
.icon-Robo--Automovil:before {
  content: "\ea2f";
}
.icon-robo-perdida-tarjeta:before {
  content: "\ea31";
}
.icon-rotura-huesos:before {
  content: "\ea33";
}
.icon-Uso-Fraudulento-chequera1:before {
  content: "\ea35";
}
.icon-archivo-adjunto1:before {
  content: "\ea37";
}
.icon-hurto-cajero:before {
  content: "\ea39";
}
.icon-bolso1:before {
  content: "\ea3b";
}
.icon-forzado1:before {
  content: "\ea3d";
}
.icon-indebido1:before {
  content: "\ea3f";
}
.icon-fecha1:before {
  content: "\ea41";
}
.icon-accidente1:before {
  content: "\ea43";
}
.icon-bienes1:before {
  content: "\ea44";
}
.icon-incapacidad-total-temporal-cama1:before {
  content: "\ea45";
}
.icon-hogar1:before {
  content: "\ea46";
}
.icon-hurto1:before {
  content: "\ea48";
}
.icon-muerte1:before {
  content: "\ea4a";
}
.icon-trabajo1:before {
  content: "\ea4c";
}
.icon-vehiculo1:before {
  content: "\ea4e";
}
.icon-flecha-derecha:before {
  content: "\ea50";
}
.icon-mail1:before {
  content: "\ea52";
}
.icon-telefono:before {
  content: "\ea53";
}
