$verdePrimario: #00975a;
$textos: #2D2926;
$azulPrimario: #00A2B5;
$blanco: #fff;

body.servicios{
	#wrapper{
		#banner{
			.franja-dato{
				.center{
					.time{
						width: initial;
						font-size: 15px;
						text-align: center;
						color:$blanco;
						font-family: 'BNPPSans-light';
						span[class*="icon-"]{
							display: inline-block;
							margin: 0 7px;
						}
					}
				}
			}
			.container-portal{
				.flex{
					#heading{
						.seguros{
							display: inline-block;
							vertical-align: middle;
							margin: 13px 0px;
							border-left: 1px solid #ccc;
							padding: 0 10px;
							font-family: 'BNPPSans-Light';
						}
					}
					.nav-show{
					 	background: #fff;
					 	#navigation {
							.navbar-nav{
								li{
									a{
										color: $textos !important;
									}
									&.selected{
										a{
											color: $azulPrimario !important;
										}
									}
									&:hover{
										background: none;
										color: $azulPrimario;
									}
								}
							}
						}
					}
					.login {
						.iconoUsuario{
							font-size: 20px !important;
							border: 1px solid $azulPrimario;
							border-radius: 4px;
							padding: 0 !important;
						}
						.signed-user{
							color: $azulPrimario !important;
							font: 16px 'BNPPSans' !important;
							text-transform: capitalize;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px ) {
	body.servicios{
		#wrapper{
			#banner{
				.franja-dato{
					.center{
						.time{
							margin: 0 auto;
							display: table;
							float: none;
						}
					}
				}
				.container-portal{
					.drop-box{
						right: inherit;
						left: 0;
						background: none;
						.btn-menu span, 
						.btn-menu span::before,
						.btn-menu span::after{
							background: $verdePrimario;
						}
						.btn-menu .active{
							background: none;
						}
					}
					.flex{
						#heading{
							display: table;
							margin: 0 auto;
							float: none;
						}
						.nav-user{
							.login {
								.signed-user{
									color: $azulPrimario;
									font: 16px 'BNPPSans';
									text-transform: capitalize;
								}
							}
						}
						.iconoUsuario{
							margin-top: 7px;
							display: inline-block;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	body.servicios{
		#wrapper{
			#banner{
				.container-portal{
					.drop-box{
						right: inherit;
						left: 0;
						background: none;
						.btn-menu span, 
						.btn-menu span::before,
						.btn-menu span::after{
							background: $verdePrimario;
						}
						.btn-menu .active{
							background: none;
						}
					}
					.flex{
						display: flex;
						justify-content: space-between;
						align-items: center;
						.nav-user{
							order: 2;
						} 
						.nav-show{
							order: 1;
							min-width: 50%;
							width: inherit;
							#navigation {
								justify-content: flex-end;
								width: inherit;
								.navbar-nav{
									display: flex;
									justify-content: center;
									align-items: center;
									text-align: center;
									border: none;
									width: inherit;
									li{
										border: none;
										a{
											padding: 15px 23px;
											text-transform: capitalize;
											font-size: 16px !important;
										}
									}
								}
							}
						}
						.login{
							.user-menu	{
								top: 43px;	
							}
						}
					}
				}
			}
		}
	}
}