
@font-face {
  font-family: 'BNPPSans-Light';
  src: url('BNPPSans-Light.eot?#iefix') format('embedded-opentype'),  url('BNPPSans-Light.woff') format('woff'), url('BNPPSans-Light.ttf')  format('truetype'), url('BNPPSans-Light.svg#BNPPSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
