@import "portlet_hello_world";
@import "color_schemes/servicios";
$screen-nav: 1230px !default;

body {
	background-color: $bg-color;
}

.container-fluid-1280 .row {
	margin-left: 15px;
	margin-right: 15px;
}
.dropdown-menu{
	min-height: auto !important;
}
.has-control-menu .product-menu .sidebar-header{
    padding: 15px 9px 48px 25px;
}
#wrapper {
    margin-bottom: 20px;
    margin-top: 0 !important;
	#banner {
		position: relative;
		top: 0;
		width: 100%;
		padding: 0px;
		#heading{
			float: left; 
			display: flex;
			align-items: center;
			margin: 5px 0px;
			.seguros{
				font: 16px/1.3 "BNPPSans-Bold";
				margin: 0px 0px 0px 70px;				
			}			
		}
		.container-portal{
			background: $blanco;
			display: table;
		}
		a:active, a:hover, a:focus {
			text-decoration: none;
			outline: none;
		}
		// diseño de perfil de usuario
		.container-portal{
			.flex{
				.nav-user{
					float: right;
					display: flex;
					align-items: center;	
					list-style-type: none;				
					margin: 0px;
					padding: 0px;
					.login{
						float: right;
						position: relative;
						a{
							display: flex;
							align-items: center;
							.signed-user{
							    font: 20px/1.3 "BNPPSansCondensed-Light";
							    color: $grisSecundario;
							    margin: 0 10px;								
							}
						    .portrait{
							    border-radius: 50%;
							    width: 60px;
							    height: 60px;
							    border: 2px solid $azulPrimario;
							    margin: 5px 0;
							    object-fit: cover;			    	
						    }	
						    .collapse-icon-open{
								margin: 0px 10px;
						    }						
						}
						.user-menu{
							top: 70px;
							height: auto;
							position: absolute;
							width: 100%;
							border-radius: 0px;
						    margin: 0;
						    padding: 0;		
						    box-shadow: inherit;
						    .listFull{
						    	margin: 0px;
						    	ul{
						    		padding: 0px;
						    		hr{
						    			margin: 0px;
						    		}
						    		li{
						    			a{
						    				width: 100%;
											display: block;
											float: none;	
											color: $grisSecundario;
											font: 14px/1.3 "BNPPRounded-Light";
											position: relative;
											padding: 8px 12px;
											span{
												position: absolute;
												top: 10px;
												right: 10px;
												color: $azulPrimario;
											}
						    			}
						    		}
						    	}
						    }					
						}
					}
					.login.open{
					    border-left: 1px solid $grisPrimario;
					    border-right: 1px solid $grisPrimario;		
					    .dropdown-toggle{
					    	.collapse-icon-open{
					    		transform: rotate(180deg);
					    	}
					    }

					}
					.notificacion{
						padding: 0 15px;
						height: 70px;
						display: flex;
						align-items: center;
						position: relative;
						a{
							font-size: 22px;
							position: relative;
							padding: 24px 0px;					
							.number{
							    position: absolute;
							    top: 15px;
							    left: -5px;
							    font: 16px/1.3 "BNPPSans-Bold";								
							}		
						}
						.notifica-user{
							right: -1px;
							top: 70px;
							height: auto;
							position: absolute;
							border-radius: 0px;
							margin: 0;
							padding: 0;
							box-shadow: inherit;
				    		hr{
				    			margin: 0px;
				    		}
				    		li{
				    			a{
				    				width: 100%;
									display: table;
									float: left;	
									color: $grisSecundario;
									font: 14px/1.3 "BNPPRounded-Light";
									padding: 5px 0px;
									span{
										float: right;
										color: $azulPrimario;
									}
				    			}
				    		}							
						}
					}
					.notificacion.open{
					    border-left: 1px solid $grisPrimario;
					    border-right: 1px solid $grisPrimario;							
					}
					.dropdown-header{
						padding: 0;
					}
					.dropdown-header:hover{
						animation: 1s;
						background: $azulPrimario;
						a{
							color: $blanco !important;
							background: transparent;
							span{
								color: $blanco !important;
							}
						}
					}
				}
			}
		}
		.nav-show{
     		font: 400 16px/1.3 "BNPPSans-Light";
		    width: 100%;
		    background: $grisPrimario;
		    display: block;		
		    nav{
			    margin: 0 auto;
			    display: flex;
			    float: none;	
			    max-width: $max-ancho-pantalla;	 
			    width: 100%;
			    padding: 0 10px;   	
			    ul{
			    	li{
			    		padding: 0 0 0 35px;
			    		border-bottom: 1px solid $grisPrimario;
			    		a{
			    			color: $grisSecundario;
			    			span{
			    				font: 400 16px/1.3 "BNPPSans-Light";
			    			}
			    		}
		    			.icon-home:before{
						    position: absolute;
						    top: 10px;
						    left: -10px;
						    font-size: 20px;
		    			}
			    	}
			    }
		    }	
		}
		// diseño de franja verde
		.franja-dato{
			background: $verdePrimario;
		    padding: 10px;
		    display: table;
		    width: 100%;
			.center{
				max-width: $max-ancho-pantalla;
				margin: 0 auto;
				display: table;
				width: 100%;
				color: $blanco;	
				a{
				    float: right;
				    margin-left: 40px;			
				    color: $blanco;
				    font: 20px /1.3 "BNPPSansCondensed-Bold";		
				    text-transform: uppercase;		    	
				}
				.logins{
					font: 20px /1.3 "BNPPSansCondensed-ExtraBold";
					text-decoration: underline;
				}
			}
		}
		.portlet-topper {
			z-index: 1;
		}

		.navbar-collapse {
			@include sm {
				padding-right: 4px;
			}
		}

		.navbar-toggle {
			margin: 12px 0 12px 6px;
		}

		#heading .site-name {
			color: $solid-color;
			font-size: 150%;
			margin-left: 8px;
			vertical-align: middle;

			@include sm {
				letter-spacing: 2px;
				margin-left: 20px;
			}
		}

		#navigationCollapse {
			@include media-query(null, $screen-xs-max) {
				font-size: 125%;
				margin-left: -15px;
				margin-right: -15px;
			}

			#navigation {
				.input-container {
					position: relative;
				}

				.portlet {
					&, .portlet-body > .navbar {
						margin-bottom: 0;
					}
				}

				li.open > a:focus {
					@include tab-focus;
				}
			}

			.navbar-blank > li {
				& > a {
					color: $solid-color;
				}

				&:hover, &.hover, &.active, .dropdown-menu .active {
					& > a {
						color: #000;
					}
				}
			}

			@include media-query(null, $screen-xs-max) {
				.nav > li {
					> a {
						border-bottom: 1px solid $grisPrimario;
					}

					&:last-child > a {
						border-bottom-width: 0;
					}
				}
			}
		}

		.navbar-form {
			@include sm {
				margin-left: 30px;
			}

			.input-text-wrapper {
				@include media-query(null, $screen-xs-max) {
					display: block;
				}
			}

			.form-control {
				background-color: transparent;
				border-bottom-width: 1px;
				border-color: #D6DCE2;
				margin-top: 2px;

				@include media-query(null, $screen-xs-max) {
					border-width: 0;
				}
			}

			.search-select {
				margin-right: 40px;
				padding-right: 20px;
			}

			.search-input {
				font-size: 16px;
				padding-right: 32px;

				@include sm {
					height: auto;
					max-width: 200px;
				}
			}

			.field-wrapper {
				position: absolute;
				right: 0;
				top: 0;

				a {
					color: $complementary-color;
				}
			}
		}

		.user-personal-bar {
			@include sm {
				position: absolute;
				right: 20px;
				top: 0;
			}

			.panel-notifications-count {
				top: 50%;

				@include transform(translateY(-50%));

				@include sm {
					right: -15px;
				}
			}

			.sign-in > a, .user-avatar-link {
				display: block;
			}

			.sign-in > a {
				line-height: 28px;
				padding: 15px 4px;
			}

			.user-avatar-image {
				display: inline-block;
				vertical-align: text-bottom;
				width: 32px;
			}

			.user-avatar-link {
				line-height: 0;
				padding: 18px 4px;

				@include sm {
					padding: 8px 0 8px 14px;
				}
			}

			.panel-notifications-count {
				@include media-query(null, $breakpoint_tablet - 1) {
					left: 2px;
					position: relative;
					top: 6px;
				}
			}

			.icon-user, .user-full-name {
				display: none;
			}
		}

		.navbar-nav {
			@include media-query(null, $screen-xs-max) {
				margin: 0 0;
				width: 100%;
			}
		}

		.lfr-nav-item .lfr-nav-child-toggle {
			line-height: 28px;
			margin-top: -14px;
			padding-left: 15px;
			padding-right: 15px;
			position: absolute;
			right: 4px;
			top: 50%;

			@include media-query(sm, null) {
				position: relative;
			}

			@include md {
				padding: 0 0 0 8px;

				.lexicon-icon {
					width: 8px;
				}
			}
		}

		// @include sm {
		// 	padding: 40px 0 30px;
		// }
	}
}

.modify-pages .delete-tab {
	top: 22px;
}

.display-style-buttons > .dropdown > .dropdown-menu {
	&:after, &:before {
		@include media-query(null, $screen-xs-max) {
			border-width: 0;
		}
	}
}

@include media-query(null, $screen-sm-max) {
	.overlay-focused:focus {
		outline: 0;
	}
}


// Navigation mobile

@media only screen and (max-width: $screen-nav){	
	#wrapper{
		.container-portal{
			padding: 0px !important;
			#navigation{
				display: none;
				width: 100%;
				margin: 0;	
				.navbar-nav{
					flex-direction: column;
					height: auto;
					width: 100%;
					.login{
						position: relative;
						height: auto;
						box-shadow: none;
						border-radius: 0px;
						outline: none;
						padding: 0px;
						order: 1;
						&:hover{
							a{
								.signed-user{
									color: $blanco;
								}
							}
						}
					}
					li{
						width: 100%;
						float: left;
						border-bottom: 1px solid #d9d9d9; 
						height: auto;
						padding-left: 0px;
						padding-right: 0px;
						order: 2;
						.icon-flecha-abajo {
						    transform: rotate(-90deg);
						    transition: all 0.3s;
						    margin-top: 0px;
						}						
						a{
							padding: 15px 20px;
							font: 600 18px/1.3 "BNPPSans";
							color: $verdePrimario;
							width: 100%;
							outline: none;
							display: block;
							.shortIcon{
								display: none;
							}
							.signed-user{
							    font: 600 18px/1.3 "BNPPSans";
							    color: #828995;								
							}
						}
					}
					& li:hover{
						background: $verdePrimario;
						a{
							color: $blanco;
						}
					}
					.open, .show{
					   .user-menu{
						    margin-top: 0px;
						    margin-left: 0px;
						    width: 100% !important;
						    padding-top: 0;
						    border-style: solid;
						    border-width: 0px 0px 0px 3px;	
						    position: relative;
						    box-shadow: none;
						    li:last-child{
								border: none;
						    }		
						    & li:hover{
						    	background: inherit;
						    }	
						    .dropdown-header{
						    	a{
						    		span{
						    			span{
						    				display: none;
						    			}
						    		}
						    	}
						    }	   	
					   }
						.icon-flecha-abajo {
						    transform: rotate(0deg);
						    transition: all 0.3s;
						}					   
					   *{
						    background: #f9f7f4 !important;
					   }
					   ul{
					   		padding: 0px;
					   		width: 100%;
					   		display: table;
					   		outline: none;
					   }	
					}
				}			
			}	
		}	
	} 
	#notifica {
	    width: 25px;
	    height: 20px;
	    margin-top: 30px;
	    display: flex;
	    align-items: center;
	    float: right;
	    cursor: pointer;
	    position: absolute;
	    right: 15px;
	    top: 0;
	}
	#banner{
		background: $blanco;
	}
}

@media only screen and (min-width: $mobile) and (max-width: $screen-nav){
	#navigation .navbar-nav > li.open .user-menu li{
		padding: 0px;
	}
}

@media only screen and (max-width: $mobile){
	#wrapper {
		#banner{
			.nav-show{
				display: none;
				#appendMob{
					.login{
						background: $grisPrimario;
						padding: 3px 0;
						display: block;
						a{
						    width: 100%;
						    padding: 0 10px;
						    position: relative;	
						    .signed-user{
							    display: inline-block;
							    font: 400 25px/1.3 "BNPPSansCondensed-Light";
							    color: $grisSecundario;
							    padding: 4px 0px;
							    margin-left: 10px;
						    }	
						    .portrait{
							    border-radius: 50%;
							    width: 40px;
							    height: 40px;
							    border: 2px solid $azulPrimario;
							    margin: 0;
							    object-fit: cover;	
							    float: left;					    	
						    }	
						    span{
						    	padding: 6px 0px;
						    	font-size: 15px;
						    }				
						}
						.user-menu{
							max-width: 100%;
							position: relative !important;
							max-width: inherit;
							transform: none !important;
							width: 100%;
							border: none;
							background: $grisPrimario;
							border-radius: 0;
							box-shadow: none;
							.listFull{
								ul{
									padding: 0px;
									li{
										padding: 8px 10px;
										a{	
											color: $grisSecundario;
											font: 400 16px/1.3 "BNPPRounded-Light";
										    width: 100%;
										    display: block;		
										    padding: 0px 0px 0px 50px;			
										    span{
											    position: absolute;
											    right: 10px;
											    top: 0;
											    padding: 0;		
											    color: $azulPrimario;								    	
										    }						
										}
									}
									hr{
										margin: 0px;
									}
								}
							}
						}
					}
					.login.open{	
					    .dropdown-toggle{
					    	.collapse-icon-open{
					    		transform: rotate(180deg);
					    	}
					    }

					}
				}
				nav{
					background: $blanco;
				}
			}
			#heading{
				margin: 0px;
			}
			.container-portal{
				#navigation{
					.navbar-nav{
						li {
							a{
								font: 600 16px/1.3 "BNPPSans";
								.signed-user{
									font: 600 16px/1.3 "BNPPSans";
								}
							}
						}
					}
				}
				.flex{
					.nav-user{
						.notificacion{
							height: 0px;
						}
					}
				}
			}				
		}	
		#content{
			.row{
				margin: 0px;
				.portlet-column{
					padding: 0;
				}
			}
		}
	}

	// Funcionalidad del menu	
	.drop-box{
		position: absolute;
		right: 0;
		background: $verdePrimario;
		height: 50px;
		width: 50px;	
		cursor: pointer;	
		z-index: 1;
		.btn-menu {
			width: 25px;
			height: 20px;
			position: relative;
			margin-top: 15px;
			display: flex;
			align-items: center;
			float: left;
			right: -13px;
		}		
	}	

	.has-control-menu .product-menu .sidebar-header{
        padding: 8px 9px 40px 25px;    
    }  

	.btn-menu span,
	.btn-menu span:before, 
	.btn-menu span:after {width: 100%; height: 3px; display: block; background: $blanco; border-radius: 40px;}

	.btn-menu span:before, 
	.btn-menu span:after {content: ''; position: absolute; transition-duration: .2s;}
	.btn-menu span:before {top: 0;}
	.btn-menu span:after {bottom: 0;}

	.btn-menu .active {background: none;}
	.btn-menu .active::before {transform: rotate(45deg); top: 50%; margin-top: -1px;}
	.btn-menu .active::after {transform: rotate(-45deg); top: 50%; margin-top: -1px;}	
}
