// -----------------------medidad de pantallas-----------------------
$max-ancho-pantalla: 1280px;
$max-ancho-portlet: 1260px;
$mobile: 768px;
// maximo ancho del header
#wrapper .container-portal{
  max-width: $max-ancho-pantalla;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
// maximo ancho del contenedor de los modulos
#main-content .content-page {
    max-width: $max-ancho-portlet;
    margin: 0px auto;
    float: none;
}

// -------------------------------Colores-------------------------------
$verdePrimario: #00975a;
$verdeSecundario: #93BD0E;

$grisPrimario: #f3f3f3;
$grisSecundario: #5f5f5f;
$grisTerciario: #2D2926;

$azulPrimario: #24B3C7;
$azulSecundario: #008d80;

$fucsiaPrimario: #C20069;
$fucsiaSecundario: #96275A;
$violeta: #6B4474;
$naranja: #E9721C;

$blanco: #fff;

// variables en CSS para contenidos web y apps
:root {
  --colorVerdePr: #{$verdePrimario};
  --coloVerdeSe: #{$verdeSecundario};
  --colorAzulPr: #{$azulPrimario};
  --colorAzulSe: #{$azulSecundario};
  --colorFucsiaPr: #{$fucsiaPrimario};
  --colorFucsiaSec: #{$fucsiaSecundario};
  --colorVioleta: #{$violeta};
  --colorNaranja: #{$naranja};
  --grisPr: #{$grisPrimario};
  --grisSe: #{$grisSecundario};
  --grisTer: #{$grisTerciario};
  --tipografiaRe: 'BNPPSans';
  --tipografiaBd: 'BNPPSans-Bold';
  --tipografiaLt: 'BNPPSans-Light';
  --tipografiaIt: 'BNPPSans-Italic';
  --tipografiaRd: 'BNPPRounded';
  --tipografiaCd: 'BNPPSansCondensed-Bold';
}

// -------------------------------Fondo-------------------------------
#main-content{
  background:$grisPrimario;
}
.grey{
    background: $grisPrimario;
    padding: 15px;
}

// --------------------------------sombras--------------------------------
.sombra1{
  -webkit-box-shadow: 1px 1px 8px #868686;
  -moz-box-shadow: 1px 1px 8px #868686;
  box-shadow: 1px 1px 8px #868686;
}
.prev,
.next,
.arrow_top{
  background: none;
}

// -------------------------------box-sizing-------------------------------
.bx-sizing-bb{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.bx-sizing-cb{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input.check[type=checkbox] {
  display: none;
}
.check-box{
  border-radius: 4px;
  display: flex;
  margin: 0;
  margin-right: 0px;
  cursor: pointer;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  position: relative;
  transition: border-color ease .2s;
  margin-right: 10px !important;
  background: #fff;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked + .check-box,
.check-box.checked{
  background: $verdeSecundario;
}
input[type="checkbox"]:checked + .check-box::before, 
.check-box.checked::before{
  content: "\2713";
  border-radius: 0.2em;
  display: inline-flex;
  width: 15px;
  height: 15px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-right: 0.2em;
  justify-content: center;
  color: #fff;
  transition: .2s;
  font-size: 17px;
  align-items: center;
}

// loader css
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $verdeSecundario;
  font-size: 10px;
  margin: 20px auto 70px;
  position: relative;
  text-indent: 0px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader span {
  text-align: center;
  margin: 0px;
  position: relative;
  left: -45px;
  top: -35px;
  color: $verdePrimario;
  font: 400 25px/1.3 "BNPPSans";
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

 /*---------------------------- Diseño de los paginadores y datatable----------------------------*/
.dataTables_wrapper .dataTables_paginate {
  margin: 10px auto;
  float: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dataTables_wrapper .dataTables_paginate .previous{
  display: block;
  min-width: initial;
  width: 10px;
  height: 15px;
  border-right: 7px solid #93BD0E !important;
  border-left: 7px solid transparent !important;
  border-top: 7px solid transparent !important;
  border-bottom: 7px solid transparent !important;
  margin: 7px;
  overflow: hidden;
  padding: 0;
}
.dataTables_wrapper .dataTables_paginate .next{
  display: block;
  min-width: initial;
  width: 10px;
  height: 15px;
  border-left: 7px solid #93BD0E !important;
  border-right: 7px solid transparent !important;
  border-top: 7px solid transparent !important;
  border-bottom: 7px solid transparent !important;
  margin: 7px;
  overflow: hidden;
  padding: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  border: none !important;
  color: #f5f5f5 !important;
  background: $verdeSecundario !important;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  background: $verdeSecundario;
  color: $blanco !important;
  border: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover{
  background: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:focus{
  outline: none;
}
table.dataTable thead th,
table.dataTable tfoot th{
  font-weight: initial;
  vertical-align: middle;
}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled,
table.dataTable thead .sorting{
  background: none;
}

 /*----------------------------Diseño de los input----------------------------*/
.form-control:focus{
  color: $grisSecundario;
}
.input-primario{
  padding: 6px 10px;
  height: auto;
  border-radius: 4px;
  color: $grisTerciario;
  background-color: $blanco;
  border: 1px solid #ccc;
  width: 100%;
  font-family: 'Arial';
}
.inputCss.input-design[readonly]{
  padding: 7px 30px 6px 20px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 0 #eee, $blanco 0 1px 0;
  box-shadow: inset 0 1px 0 #eee, $blanco 0 1px 0;
  border-radius: 3px !important;
  width: 100%;
  background: $blanco;
  color: $grisSecundario;
  font: 400 16px/1.3 "Arial";
  cursor: pointer;
}

/*ancho*/
.full{
  width: 100%;
}
.container{
    padding: 0;
}

 /*------------------------Diseños de los checkbox radiales---------------------------*/
input.radioBox[type="checkbox"], input.radioBox[type="radio"] { display: none; }
input.radioBox[type="checkbox"] + label,
input.radioBox[type="radio"] + label {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid $verdeSecundario;
  position: relative;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
  border-radius: 50%;
  cursor: pointer;
}
input.radioBox[type="checkbox"] + label:last-child, input.radioBox[type="radio"] + label:last-child { margin-bottom: 0; }
input.radioBox[type="checkbox"] + label:before,
input.radioBox[type="radio"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
  border-radius: 50%;
}
input.radioBox[type="checkbox"]:checked + label:before,
input.radioBox[type="radio"]:checked + label:before {
  width: 10px;
  height: 10px;
  top: 3px;
  left: 3px;
  opacity: 1;
  background: $verdeSecundario;
}

// ----------------------------Diseño de los input----------------------------
.inputCss.input-design[readonly]{
  padding: 7px 30px 6px 20px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 0 #eee, $blanco 0 1px 0;
  box-shadow: inset 0 1px 0 #eee, $blanco 0 1px 0;
  border-radius: 3px !important;
  width: 100%;
  background: $blanco;
  color: $grisSecundario;
  font: 400 16px/1.3 "BNPPSans";
  cursor: pointer;
}

// ----------------------------Diseño de los switch----------------------------
.toggle-switch-box {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  outline: 0;
  overflow: hidden;
}
.toggle-switch-box input {
  display: none;
}
.toggle-switch-box input:checked + .toggle-switch-item::before {
  left: 0;
}
.toggle-switch-box input:checked + .toggle-switch-item::after {
  right: -100%;
}
.toggle-switch-box input:checked + .toggle-switch-item .switch-button {
  left: calc(100% - 30px);
}
.toggle-switch-box .toggle-switch-item {
  position: relative;
  display: block;
  min-width: 58px;
  min-height: 26px;
}
.toggle-switch-box .toggle-switch-item::before, .toggle-switch-box .toggle-switch-item::after,
.toggle-switch-box .toggle-switch-item .switch-button {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.toggle-switch-box .toggle-switch-item::before, .toggle-switch-box .toggle-switch-item::after {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  line-height: 1;
}
.toggle-switch-box .toggle-switch-item::before {
  left: -100%;
  padding: 0 23px 0 0;
  background-color: transparent;
  content: attr(data-tg-on);
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.toggle-switch-box .toggle-switch-item::after {
  right: 0;
  padding: 0 0 0 23px;
  background-color: #d0d4e7;
  content: attr(data-tg-off);
  transition: right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.toggle-switch-box .toggle-switch-item .switch-button {
  left: 3px;
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid transparent;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.switch-rounded {
  border-radius: 26px;
}
.switch-bg-success .toggle-switch-item::before {
  background-color: #93BD0E;
}

// ------------------------Diseños de los checkbox radiales---------------------------
input.radioBox[type="checkbox"], input.radioBox[type="radio"] { display: none; }
input.radioBox[type="checkbox"] + label,
input.radioBox[type="radio"] + label  {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid $verdeSecundario;
  position: relative;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
  border-radius: 50%;
  cursor: pointer;
}
input.radioBox[type="checkbox"] + label:last-child, input.radioBox[type="radio"] + label:last-child { margin-bottom: 0; }
input.radioBox[type="checkbox"] + label:before,
input.radioBox[type="radio"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
  border-radius: 50%;
}
input.radioBox[type="checkbox"]:checked + label:before,
input.radioBox[type="radio"]:checked + label:before {
  width: 10px;
  height: 10px;
  top: 3px;
  left: 3px;
  opacity: 1;
  background: $verdeSecundario;
}
/*------------------------Diseños de los label genéricos---------------------------*/

 /*------------------------Diseños de los select---------------------------*/
 /*diseños de los select*/
 .label-general {
  display: block;
  color:$grisTerciario;
  font-size: 14px;
  line-height: 16px;
  font-family: 'BNPPSans-Light';
  margin-top: 15px;
}

/*select primario este select tiene la apariencia verde*/
.btn-group.bootstrap-select.select-primario{
    width: 100% !important;
}
.select-primario{
  position: relative;
  padding: 0;
}
.select-primario *{
  outline: none !important;
  text-transform: lowercase;
}
.select-primario *:first-letter{
  text-transform: uppercase;
}
.select-primario .dropdown-backdrop{
  position: relative;
}
.select-primario button {
  background: $blanco;
  font: 500 16px/1.8 "arial";
  border-radius: 3px;
  color: $grisSecundario;
  border: 1px solid #ccc;
  padding: 3px 10px 5px 15px;
}
.select-primario button .bs-caret{
  border-left: 1px solid #ccc;
  margin-left: -5px;
  padding: 8px;
}
.select-primario.open button .bs-caret{
  border-left:1px solid $blanco;
}
.select-primario.open button {
  background: $verdePrimario !important;
  color: $blanco;
}
.select-primario button .caret{
  border-top: 4px solid $verdeSecundario;
  color: transparent;
}
.select-primario.open button .caret{
  border-top: 4px solid $blanco;
}
.select-primario button:hover {
  border: 1px solid #dededf;
  background-color: #fff;
}
.select-primario button .filter-option {
  color: $grisSecundario !important;
}
.select-primario.open button .filter-option{
  color:$blanco !important;
}
.select-primario button.dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}
.select-primario .btn-default:not(:disabled):not(.disabled):active, 
.select-primario .btn-default:not(:disabled):not(.disabled).active, 
.select-primario.show > .btn-default.dropdown-toggle{
    background: #fff;
}
.select-primario button:after{
  display: none !important;
}
.select-primario .dropdown-menu {
  padding: 10px 0;
  z-index: 9;
  margin: 0;
  left: 0;
}
.select-primario .dropdown-menu.open.show .dropdown-menu {
    display: block;
}
.select-primario .dropdown-menu ul li a {
  font: 300 15px/1.3 "Arial";
  color: $grisSecundario !important;
  width: calc(100% - 20px);
  margin: 0 auto;
  border-bottom: 1px solid #ccc !important;
  padding: 6px;
}
.select-primario .dropdown-menu ul li a:hover{
  background: #dedede;
}
.select-primario .dropdown-menu ul li:last-child a {
  border: none !important;
}

/*Diseño del textarea*/
.textarea-primario{
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  color: $grisSecundario;
  padding: 5px;
}
.textarea-primario:focus{
    outline: none;
}

/*Diseño input tipo file*/
.filupp > input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.filupp {
  position: relative;
  background: $blanco;
  display: flex;
  padding: 4px 8px;
  width: 100%;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
}
.input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 20px 0 10px;
  cursor: pointer;
  font: 500 16px/1.8 "Arial";
  color: $grisSecundario;
  width: 100%;
}
.filupp .icon {
  font-size: 20px;
}
// ---------------------------------DatePicker---------------------------------
.datepicker{
  position: relative;
  z-index: 0;
  background: $blanco;
  font: 500 16px/1.8 "Arial";
  border-radius: 3px;
  color: $grisSecundario;
  border: 1px solid #ccc;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.datepicker-dropdown {
  border-radius: 10px;
  padding: 20px !important;
}
.datepicker-dropdown th.prev, .datepicker-dropdown th.next, .datepicker-switch {
  color: $verdePrimario;
}
.datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
  background: $verdeSecundario !important;
  border-radius: 50%;
  color: $verdePrimario;
}
.datepicker table tr td.today, .datepicker table tr td span.active.active{
  color: $verdePrimario !important;
  font-weight: 800;
  background: $blanco !important;
}
.datepicker table tr td.active.active{
  background: $verdeSecundario !important;
  border-radius: 50%;
  color: $blanco;
  width: 5%;
  padding: 7px;
}
.datepicker table tr td span.focused {
  background: $azulPrimario !important;
  border-radius: 50%;
  color: $verdePrimario !important;
  height: 40px;
  line-height: 40px;
  top: 7px;
  position: relative;
}
.table-condensed>thead>tr>th{
  color: $verdePrimario;
  padding: 0;
}
.datepicker.dropdown-menu{
  font: 400 14px/1.2 'BNPPSans';
  color: $grisSecundario;
  overflow: hidden;
}
.datepicker table{
  width: 100%;
}

// ----------------------------Timepicker----------------------------
.timepicker{
  background: $blanco;
  font: 500 16px/1.8 "BNPPSans";
  border-radius: 3px;
  color: $grisSecundario;
  border: 1px solid #ccc;
  padding: 0;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
.timepicker_wrap {
  top: 105% !important;
  background: #fff;
  box-shadow: none;
}
.timepicker_wrap .prev,
.timepicker_wrap .next{
  border: none;
  padding: 0;
  color: #93BD0E;
}
.timepicker_wrap .prev:hover,
.timepicker_wrap .next:hover{
  background: none;
}
.timepicker:focus .form-validator-stack {
  display: none;
}
.timepicki-input{
  font-size: 18px !important;
}
.ti_tx{
  position: relative;
}
.ti_tx:after{
  content:" : ";
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
}
input:focus{
  outline: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{
  background-color: $blanco !important;
}

// ----------------------------Diseño inputs de time y date----------------------------
.datepicker input[type="text"],
.timepicker input[type="text"]{
  border: none;
  padding: 5px 10px 5px 15px;
  width: 100%;
  cursor: pointer;
  height: auto;
  color: $grisSecundario;
  font: 500 16px/1.8 "Arial";
}
.datepicker input[type="text"]{
  padding: 0 10px 0 15px;
}
.datepicker input[type="text"]::-webkit-input-placeholder,
.timepicki::-webkit-input-placeholder{
  color: $grisSecundario;
}
.timepicki::-moz-placeholder{
  color: $grisSecundario !important;
}
.datepicker input[type="text"]:-ms-input-placeholder,
.timepicki:-ms-input-placeholder{
  color: $grisSecundario;
}
.timepicki:-moz-placeholder{
  color: $grisSecundario !important;
}
.timepicki {
  background: transparent;
}
.icon{
  padding: 8px 5px 0 5px;
  line-height: 28px;
  position: absolute;
  right:0;
  top:0;
  color: $verdeSecundario;
  height: 36px;
  border-left: 1px solid #ccc;
}
.add-on{
  width:100%;
  display: block !important;
}
.datepicker input[type="text"]:focus,
.timepicker input[type="text"]:focus{
  outline:none;
}

//------------------------Diseño del placelholder ----------------------
input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder{
  color: $grisSecundario;
  font: 500 16px/1.8 "BNPPSans";
}
input[type="email"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder{
  color: $grisSecundario;
  font: 500 16px/1.8 "BNPPSans";
}
input[type="email"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder{
  color: $grisSecundario;
  font: 500 16px/1.8 "BNPPSans";
}
input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder{
  color: $grisSecundario;
  font: 500 16px/1.8 "BNPPSans";
}
input[type="email"]:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder{
  color: $grisSecundario;
  font: 500 16px/1.8 "BNPPSans";
}

// ----------------------------Diseño de botones----------------------------
/*Botones*/
.boton-primario{
  background: $verdePrimario;
  padding: 10px 30px;
  border-radius: 4px;
  font: 400 22px/1.3 "BNPPSansCondensed-Light";
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  color: $blanco !important;
  position: relative;
  border: none;
  box-shadow: none;
  margin: 10px auto;
  display: table;
  text-align: center;
  min-width: 220px;
}
.boton-primario:focus{
  outline: none;
  text-decoration: none;
}
.boton-primario span {
  font-size: 22px;
  position: absolute;
  right: 10px;
  top: 13px;
  color: $blanco;
}
.boton-primario:hover {
  text-decoration: none;
  background: $verdeSecundario;
  color: $blanco !important;
}
.boton-primario.volver span {
  left: 10px;
  right: inherit;
}
 /* Diseno boton secundario */
.boton-secundario{
  background: $grisSecundario;
  padding: 10px 30px;
  border-radius: 4px;
  font: 400 22px/1.3 "BNPPSansCondensed-Light";
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  color: $blanco !important;
  position: relative;
  border: none;
  box-shadow: none;
  margin: 10px auto;
  display: table;
  text-align:center;
  min-width: 220px;
}
.boton-secundario:focus{
  outline: none;
}
.boton-secundario span {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 13px;
  color: $blanco;
}
.boton-secundario:hover span{
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 13px;
  color: #fff;
}
.boton-secundario:hover {
  text-decoration: none;
  background: #7f7f7f;
  color: $blanco !important;
}
.boton-secundario:focus{
  text-decoration: none;
  color: $blanco !important;
}
.boton-secundario.volver span {
  left: 10px;
  right: inherit;
}

// pulso animación
.pulse {
  box-shadow: 0 0 0 rgba(0, 150, 94, 0.5);
  animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 150, 94, 0.5);
  }
  70% {
      -webkit-box-shadow: 0 0 10px 3px rgba(0, 150, 94, 0.6);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 150, 94, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 150, 94, 0.5)
  }
  70% {
      -moz-box-shadow: 0 0 10px 3px rgba(0, 150, 94, 0.6);
      box-shadow: 0 0 10px 3px rgba(0, 150, 94, 0.6);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
      box-shadow: 0 0 0 0 rgba(1, 57, 140, 0);
  }
}

// -------------------------- Modal--------------------------
.modals {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  overflow: auto;
  padding: 20px;
}
.modals .modal-bodys{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.modals .modal-bodys .content{
  margin: 0 auto;
  display: block;
  width: 90%;
  max-width: 700px;
  background: $blanco;
  padding: 15px;
  position: relative;
  overflow:hidden;
}
.modals .modal-bodys .content > .salir {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  color: $blanco;
  background-color: $fucsiaSecundario;
  height: 25px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
.modals .modal-bodys .content .head-popup {
  color:#24b3c7;
  text-transform:uppercase;
  font-family:'BNPPSansCondensed-Bold';
  font-size:35px;
  margin:5px 0;
  padding:0 10px;
}
.modals .modal-bodys .content .txt-alerts{
  margin: 10px;
  color:#959494;
}
.oculto{
  display: none;
}
.form-group{
  margin: 10px 0 20px;
  position: relative;
}

#loader {
    .content{
        background: none;
        border: none;
        max-inline-size: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
            .gifLoader{
                max-width: 250px;
            }
    }
}

// --------------------------Diseño de las alertas o errores--------------------------
.help-block{
  position: absolute;
  top: 95%;
  left: 16px;
  color: $fucsiaPrimario !important;
  margin: 0;
  font: 400 14px 'BNPPSans-Light';
  display: inline-block;
  vertical-align: middle;
  width:100%;
}
.help-block:before{
  content: "x";
  float: left;
  margin: 0 10px 0 0;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.add-on .help-block{
  position: absolute;
  top: 100%;
  left: 0;
}
.help-block > div{
  margin-top: 5px;
}
.help-block input{
  outline-color: $fucsiaPrimario;
}
.help-block input::-webkit-input-placeholder{
  color: $fucsiaPrimario;
}
.help-block input::-moz-placeholder{
  color: $fucsiaPrimario;
}
.help-block input:-ms-input-placeholder{
  color: $fucsiaPrimario;
}
.help-block input:-moz-placeholder{
  color: $fucsiaPrimario;
}
.help-block .icon-placeholder{
  color: $fucsiaPrimario;
}
.has-error .bootstrap-select .dropdown-toggle,
.has-error .input-primario,
.has-error .textarea-primario,
.has-error .timepicker,
.has-error .datepicker{
  border-color: $fucsiaPrimario;
}
.has-error .dropdown-toggle .caret{
  border-top: 4px solid $fucsiaPrimario;
}
.has-error span[class*="icon"]{
  color: $fucsiaPrimario;
}
.has-error .timepicker,
.has-error .datepicker{
  margin-bottom: 20px;
}
.select-primario .help-block,
.has-error input[type="password"] + .help-block{
  left: 0;
}
.has-error .textarea-primario + .help-block{
  top: 98%;
}

// --------------------------Fuentes de texto--------------------------
.arial{
  font-family: 'Arial', 'Helvetica', sans-serif;
}

/*----------------------------- BNPP - Sans - font -----------------------------*/

/*----------------------------- BNPPSans-Bold -----------------------------*/
@font-face {
  font-family: 'BNPPSans-Bold';
  src: url('fonts/sans/bold/BNPPSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/sans/bold/BNPPSans-Bold.woff') format('woff'),
  url('fonts/sans/bold/BNPPSans-Bold.ttf')  format('truetype'),
  url('fonts/sans/bold/BNPPSans-Bold.svg#BNPPSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BNPPSans-BoldItalic';
  src: url('fonts/sans/bold-italic/BNPPSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/sans/bold-italic/BNPPSans-BoldItalic.woff') format('woff'),
  url('fonts/sans/bold-italic/BNPPSans-BoldItalic.ttf')  format('truetype'),
  url('fonts/sans/bold-italic/BNPPSans-BoldItalic.svg#BNPPSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BNPPSans-ExtraBold';
  src: url('fonts/sans/extra-bold/BNPPSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/sans/extra-bold/BNPPSans-ExtraBold.woff') format('woff'),
  url('fonts/sans/extra-bold/BNPPSans-ExtraBold.ttf')  format('truetype'),
  url('fonts/sans/extra-bold/BNPPSans-ExtraBold.svg#BNPPSans-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BNPPSansExtraBold-Italic';
  src: url('fonts/sans/extra-bold-italic/BNPPSansExtraBold-Italic.eot?#iefix') format('embedded-opentype'),
  url('fonts/sans/extra-bold-italic/BNPPSansExtraBold-Italic.woff') format('woff'),
  url('fonts/sans/extra-bold-italic/BNPPSansExtraBold-Italic.ttf')  format('truetype'),
  url('fonts/sans/extra-bold-italic/BNPPSansExtraBold-Italic.svg#BNPPSansExtraBold-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*----------------------------- italic  -----------------------------*/
@font-face {
  font-family: 'BNPPSans-Italic';
  src: url('fonts/sans/italic/BNPPSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('fonts/sans/italic/BNPPSans-Italic.woff') format('woff'),
  url('fonts/sans/italic/BNPPSans-Italic.ttf')  format('truetype'),
  url('fonts/sans/italic/BNPPSans-Italic.svg#BNPPSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*----------------------------- light  -----------------------------*/
@font-face {
  font-family: 'BNPPSans-Light';
  src: url('fonts/sans/light/BNPPSans-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/sans/light/BNPPSans-Light.woff') format('woff'),
  url('fonts/sans/light/BNPPSans-Light.ttf')  format('truetype'),
  url('fonts/sans/light/BNPPSans-Light.svg#BNPPSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BNPPSansLight-Italic';
  src: url('fonts/sans/light-italic/BNPPSansLight-Italic.eot?#iefix') format('embedded-opentype'),
  url('fonts/sans/light-italic/BNPPSansLight-Italic.woff') format('woff'),
  url('fonts/sans/light-italic/BNPPSansLight-Italic.ttf')  format('truetype'),
  url('fonts/sans/light-italic/BNPPSansLight-Italic.svg#BNPPSansLight-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*----------------------------- normal  -----------------------------*/
@font-face {
  font-family: 'BNPPSans';
  src: url('fonts/sans/normal/BNPPSans.eot?#iefix') format('embedded-opentype'),
  url('fonts/sans/normal/BNPPSans.woff') format('woff'),
  url('fonts/sans/normal/BNPPSans.ttf')  format('truetype'),
  url('fonts/sans/normal/BNPPSans.svg#BNPPSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*----------------------------- BNPP - rounder - font -----------------------------*/
@font-face {
  font-family: 'BNPPRounded-Bold';
  src: url('fonts/rounder/bold/BNPPRounded-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/rounder/bold/BNPPRounded-Bold.woff') format('woff'),
  url('fonts/rounder/bold/BNPPRounded-Bold.ttf')  format('truetype'),
  url('fonts/rounder/bold/BNPPRounded-Bold.svg#BNPPRounded-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BNPPRounded-Light';
  src: url('fonts/rounder/light/BNPPRounded-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/rounder/light/BNPPRounded-Light.woff') format('woff'),
  url('fonts/rounder/light/BNPPRounded-Light.ttf')  format('truetype'),
  url('fonts/rounder/light/BNPPRounded-Light.svg#BNPPRounded-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BNPPRounded';
  src: url('fonts/rounder/normal/BNPPRounded.eot?#iefix') format('embedded-opentype'),
  url('fonts/rounder/normal/BNPPRounded.woff') format('woff'),
  url('fonts/rounder/normal/BNPPRounded.ttf')  format('truetype'),
  url('fonts/rounder/normal/BNPPRounded.svg#BNPPRounded') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*----------------------------- BNPP - sans-cond - font -----------------------------*/
@font-face {
  font-family: 'BNPPSansCondensed-Bold';
  src: url('fonts/sans-cond/bold/BNPPSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/sans-cond/bold/BNPPSansCondensed-Bold.woff') format('woff'),
  url('fonts/sans-cond/bold/BNPPSansCondensed-Bold.ttf')  format('truetype'),
  url('fonts/sans-cond/bold/BNPPSansCondensed-Bold.svg#BNPPSansCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BNPPSansCondensed-ExtraBold';
  src: url('fonts/sans-cond/extra-bold/BNPPSansCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/sans-cond/extra-bold/BNPPSansCondensed-ExtraBold.woff') format('woff'),
  url('fonts/sans-cond/extra-bold/BNPPSansCondensed-ExtraBold.ttf')  format('truetype'),
  url('fonts/sans-cond/extra-bold/BNPPSansCondensed-ExtraBold.svg#BNPPSansCondensed-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BNPPSansCondensed-Light';
  src: url('fonts/sans-cond/light/BNPPSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/sans-cond/light/BNPPSansCondensed-Light.woff') format('woff'),
  url('fonts/sans-cond/light/BNPPSansCondensed-Light.ttf')  format('truetype'),
  url('fonts/sans-cond/light/BNPPSansCondensed-Light.svg#BNPPSansCondensed-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

// ----------------------------Fuentes iconograficas----------------------------
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/iconmoon/icomoon.eot?wgchga');
  src:  url('fonts/iconmoon/icomoon.eot?wgchga#iefix') format('embedded-opentype'),
    url('fonts/iconmoon/icomoon.ttf?wgchga') format('truetype'),
    url('fonts/iconmoon/icomoon.woff?wgchga') format('woff'),
    url('fonts/iconmoon/icomoon.svg?wgchga#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-revocacion:before {
  content: "\eb0d";
}
.icon-revocacion2:before {
  content: "\eb0e";
}
.icon-atencion4:before {
  content: "\eafc";
}
.icon-atencion:before {
  content: "\eafd";
}
.icon-atencion3:before {
  content: "\eafe";
}
.icon-atencion2:before {
  content: "\eaff";
}
.icon-terminacion:before {
  content: "\eb00";
}
.icon-edad-min:before {
  content: "\eb01";
}
.icon-edad:before {
  content: "\eb02";
}
.icon-edad-max-p:before {
  content: "\eb03";
}
.icon-edad-max:before {
  content: "\eb04";
}
.icon-datos:before {
  content: "\eb05";
}
.icon-interes4:before {
  content: "\eb06";
}
.icon-interes5:before {
  content: "\eb07";
}
.icon-interes6:before {
  content: "\eb08";
}
.icon-interes:before {
  content: "\eb09";
}
.icon-interes1:before {
  content: "\eb0a";
}
.icon-interes2:before {
  content: "\eb0b";
}
.icon-interes3:before {
  content: "\eb0c";
}
.icon-hogar-electrico:before {
  content: "\ead5";
}
.icon-hogar-sustraccion:before {
  content: "\ead6";
}
.icon-responsabilidad-hogar:before {
  content: "\ead7";
}
.icon-hogar-terremoto:before {
  content: "\ead8";
}
.icon-cobertura-hogar:before {
  content: "\ead9";
}
.icon-inundacion-hogar:before {
  content: "\eada";
}
.icon-hogar-incendio:before {
  content: "\eadb";
}
.icon-abue2:before {
  content: "\eadc";
}
.icon-actores:before {
  content: "\eadd";
}
.icon-asegurado:before {
  content: "\eade";
}
.icon-aseguradora:before {
  content: "\eadf";
}
.icon-autorizaciones:before {
  content: "\eae0";
}
.icon-beneficiarios1:before {
  content: "\eae1";
}
.icon-billetera1:before {
  content: "\eae2";
}
.icon-carta-aseguraado:before {
  content: "\eae3";
}
.icon-carta-cardif:before {
  content: "\eae4";
}
.icon-colombia:before {
  content: "\eae5";
}
.icon-declaraciones:before {
  content: "\eae6";
}
.icon-defensor-principal:before {
  content: "\eae7";
}
.icon-defensor-suplente:before {
  content: "\eae8";
}
.icon-duracion-seguro:before {
  content: "\eae9";
}
.icon-exclusiones:before {
  content: "\eaea";
}
.icon-fax:before {
  content: "\eaeb";
}
.icon-flor:before {
  content: "\eaec";
}
.icon-forma-de-pago:before {
  content: "\eaed";
}
.icon-gps1:before {
  content: "\eaee";
}
.icon-horario:before {
  content: "\eaef";
}
.icon-mail-shape:before {
  content: "\eaf0";
}
.icon-periodo-carencia:before {
  content: "\eaf1";
}
.icon-reloj:before {
  content: "\eaf2";
}
.icon-renovacion-seguro:before {
  content: "\eaf3";
}
.icon-responsabilidades:before {
  content: "\eaf4";
}
.icon-tarjeta-antigua:before {
  content: "\eaf5";
}
.icon-tarjeta-cancelaciones:before {
  content: "\eaf6";
}
.icon-tarjeta-nueva:before {
  content: "\eaf7";
}
.icon-tel-shape:before {
  content: "\eaf8";
}
.icon-tomador:before {
  content: "\eaf9";
}
.icon-vigencia:before {
  content: "\eafa";
}
.icon-whatsApp:before {
  content: "\eafb";
  color: #4e4e4e;
}
.icon-targetUser:before {
  content: "\ead3";
  color: #93bd0e;
}
.icon-phoneUser:before {
  content: "\ead4";
  color: #93bd0e;
}
.icon-pen-editar:before {
  content: "\ead2";
  color: #008d80;
}
.icon-Research:before {
  content: "\ead1";
  color: #5f5f5f;
}
.icon-support .path1:before {
  content: "\eabc";
  color: rgb(194, 0, 105);
}
.icon-support .path2:before {
  content: "\eabd";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-brain .path1:before {
  content: "\eabe";
  color: rgb(0, 150, 94);
}
.icon-brain .path2:before {
  content: "\eabf";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-brain .path3:before {
  content: "\eac0";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-brain .path4:before {
  content: "\eac1";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-brain .path5:before {
  content: "\eac2";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-brain .path6:before {
  content: "\eac3";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-brain .path7:before {
  content: "\eac4";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-diet .path1:before {
  content: "\eac5";
  color: rgb(0, 150, 94);
}
.icon-diet .path2:before {
  content: "\eac6";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-diet .path3:before {
  content: "\eac7";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-diet .path4:before {
  content: "\eac8";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-diet .path5:before {
  content: "\eac9";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-diet .path6:before {
  content: "\eaca";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-diet .path7:before {
  content: "\eacb";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-diet .path8:before {
  content: "\eacc";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-diet .path9:before {
  content: "\eacd";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-diet .path10:before {
  content: "\eace";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-diet .path11:before {
  content: "\eacf";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-diet .path12:before {
  content: "\ead0";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-busqueda:before {
  content: "\eabb";
}
.icon-hand_love .path1:before {
  content: "\e9cc";
  color: rgb(0, 150, 94);
}
.icon-hand_love .path2:before {
  content: "\e9cd";
  margin-left: -1.12109375em;
  color: rgb(0, 150, 94);
}
.icon-hand_love .path3:before {
  content: "\e9ce";
  margin-left: -1.12109375em;
  color: rgb(194, 0, 105);
}
.icon-hand_love .path4:before {
  content: "\e9cf";
  margin-left: -1.12109375em;
  color: rgb(194, 0, 105);
}
.icon-facturacion .path1:before {
  content: "\e9d0";
  color: rgb(0, 150, 94);
}
.icon-facturacion .path2:before {
  content: "\e9d1";
  margin-left: -0.755859375em;
  color: rgb(0, 150, 94);
}
.icon-facturacion .path3:before {
  content: "\e9d2";
  margin-left: -0.755859375em;
  color: rgb(194, 0, 105);
}
.icon-facturacion .path4:before {
  content: "\e9d3";
  margin-left: -0.755859375em;
  color: rgb(194, 0, 105);
}
.icon-facturacion .path5:before {
  content: "\e9d4";
  margin-left: -0.755859375em;
  color: rgb(194, 0, 105);
}
.icon-facturacion .path6:before {
  content: "\e9d5";
  margin-left: -0.755859375em;
  color: rgb(194, 0, 105);
}
.icon-facturacion .path7:before {
  content: "\e9d6";
  margin-left: -0.755859375em;
  color: rgb(194, 0, 105);
}
.icon-facturacion .path8:before {
  content: "\e9d7";
  margin-left: -0.755859375em;
  color: rgb(194, 0, 105);
}
.icon-facturacion .path9:before {
  content: "\e9d8";
  margin-left: -0.755859375em;
  color: rgb(194, 0, 105);
}
.icon-facturacion .path10:before {
  content: "\e9d9";
  margin-left: -0.755859375em;
  color: rgb(194, 0, 105);
}
.icon-produccion .path1:before {
  content: "\e9da";
  color: rgb(0, 150, 94);
}
.icon-produccion .path2:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-produccion .path3:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-produccion .path4:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-produccion .path5:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-produccion .path6:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-produccion .path7:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-produccion .path8:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-produccion .path9:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-produccion .path10:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-produccion .path11:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-produccion .path12:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-CostumerExperience .path1:before {
  content: "\e9e6";
  color: rgb(0, 150, 94);
}
.icon-CostumerExperience .path2:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-CostumerExperience .path3:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-CostumerExperience .path4:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-CostumerExperience .path5:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Insgresos:before {
  content: "\e9eb";
  color: #00965e;
}
.icon-patrimonio:before {
  content: "\e9ec";
  color: #00965e;
}
.icon-tarjeta_Credito:before {
  content: "\e9ed";
  color: #00965e;
}
.icon-compras:before {
  content: "\e9ee";
  color: #00965e;
}
.icon-consignaciones:before {
  content: "\e9ef";
  color: #00965e;
}
.icon-grandes_contribuyentes:before {
  content: "\e9f0";
  color: #00965e;
}
.icon-personas_juridicas:before {
  content: "\e9f1";
  color: #00965e;
}
.icon-personas_Naturales:before {
  content: "\e9f2";
  color: #00965e;
}
.icon-confiable:before {
  content: "\e9f3";
  color: #00965e;
}
.icon-facil:before {
  content: "\e9f4";
  color: #00965e;
}
.icon-garantia:before {
  content: "\e9f5";
  color: #00965e;
}
.icon-precios-transparentes:before {
  content: "\e9f6";
  color: #00965e;
}
.icon-rapido:before {
  content: "\e9f7";
  color: #00965e;
}
.icon-seguro:before {
  content: "\e9f8";
  color: #00965e;
}
.icon-lectura_Examenes .path1:before {
  content: "\e9f9";
  color: rgb(0, 150, 94);
}
.icon-lectura_Examenes .path2:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-lectura_Examenes .path3:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-lectura_Examenes .path4:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-lectura_Examenes .path5:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-lectura_Examenes .path6:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-lectura_Examenes .path7:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-lectura_Examenes .path8:before {
  content: "\ea00";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-lectura_Examenes .path9:before {
  content: "\ea01";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-lectura_Examenes .path10:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-lectura_Examenes .path11:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-recetar_medicamentos .path1:before {
  content: "\ea04";
  color: rgb(0, 150, 94);
}
.icon-recetar_medicamentos .path2:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-recetar_medicamentos .path3:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-recetar_medicamentos .path4:before {
  content: "\ea07";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-recetar_medicamentos .path5:before {
  content: "\ea08";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-recetar_medicamentos .path6:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-recetar_medicamentos .path7:before {
  content: "\ea0a";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-recetar_medicamentos .path8:before {
  content: "\ea0b";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-recetar_medicamentos .path9:before {
  content: "\ea0c";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-recetar_medicamentos .path10:before {
  content: "\ea0d";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-recetar_medicamentos .path11:before {
  content: "\ea0e";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-recetar_medicamentos .path12:before {
  content: "\ea0f";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-recetar_medicamentos .path13:before {
  content: "\ea10";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-recetar_medicamentos .path14:before {
  content: "\ea11";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-recetar_medicamentos .path15:before {
  content: "\ea12";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-recetar_medicamentos .path16:before {
  content: "\ea13";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-recetar_medicamentos .path17:before {
  content: "\ea14";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-telemedicina:before {
  content: "\ea15";
  color: #00965e;
}
.icon-Chequeos_Medicos .path1:before {
  content: "\ea16";
  color: rgb(0, 150, 94);
}
.icon-Chequeos_Medicos .path2:before {
  content: "\ea17";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Chequeos_Medicos .path3:before {
  content: "\ea18";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Chequeos_Medicos .path4:before {
  content: "\ea19";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Chequeos_Medicos .path5:before {
  content: "\ea1a";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Chequeos_Medicos .path6:before {
  content: "\ea1b";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Chequeos_Medicos .path7:before {
  content: "\ea1c";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Chequeos_Medicos .path8:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_basicas .path1:before {
  content: "\ea1e";
  color: rgb(0, 150, 94);
}
.icon-Consultas_basicas .path2:before {
  content: "\ea1f";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_basicas .path3:before {
  content: "\ea20";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Consultas_basicas .path4:before {
  content: "\ea21";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_basicas .path5:before {
  content: "\ea22";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_basicas .path6:before {
  content: "\ea23";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_basicas .path7:before {
  content: "\ea24";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_basicas .path8:before {
  content: "\ea25";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_basicas .path9:before {
  content: "\ea26";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-sesiones_terapeuticas .path1:before {
  content: "\ea27";
  color: rgb(194, 0, 105);
}
.icon-sesiones_terapeuticas .path2:before {
  content: "\ea28";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-sesiones_terapeuticas .path3:before {
  content: "\ea29";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-sesiones_terapeuticas .path4:before {
  content: "\ea2a";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-sesiones_terapeuticas .path5:before {
  content: "\ea2b";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-sesiones_terapeuticas .path6:before {
  content: "\ea2c";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-sesiones_terapeuticas .path7:before {
  content: "\ea2d";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Terapias_familiares .path1:before {
  content: "\ea2e";
  color: rgb(194, 0, 105);
}
.icon-Terapias_familiares .path2:before {
  content: "\ea2f";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Terapias_familiares .path3:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Terapias_familiares .path4:before {
  content: "\ea31";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Terapias_familiares .path5:before {
  content: "\ea32";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Terapias_familiares .path6:before {
  content: "\ea33";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Terapias_familiares .path7:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Terapias_familiares .path8:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Terapias_familiares .path9:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Terapias_familiares .path10:before {
  content: "\ea37";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-consultas_Basicas .path1:before {
  content: "\ea38";
  color: rgb(0, 150, 94);
}
.icon-consultas_Basicas .path2:before {
  content: "\ea39";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-consultas_Basicas .path3:before {
  content: "\ea3a";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-consultas_Basicas .path4:before {
  content: "\ea3b";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-consultas_Basicas .path5:before {
  content: "\ea3c";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-consultas_Basicas .path6:before {
  content: "\ea3d";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-consultas_Basicas .path7:before {
  content: "\ea3e";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-consultas_Basicas .path8:before {
  content: "\ea3f";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-consultas_Basicas .path9:before {
  content: "\ea40";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Psicologia:before {
  content: "\ea41";
  color: #00965e;
}
.icon-estilo_Vida .path1:before {
  content: "\ea42";
  color: rgb(194, 0, 105);
}
.icon-estilo_Vida .path2:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-estilo_Vida .path3:before {
  content: "\ea44";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-estilo_Vida .path4:before {
  content: "\ea45";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-estilo_Vida .path5:before {
  content: "\ea46";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-estilo_Vida .path6:before {
  content: "\ea47";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-nutricion:before {
  content: "\ea48";
  color: #00965e;
}
.icon-orientacion_nutricional .path1:before {
  content: "\ea49";
  color: rgb(0, 150, 94);
}
.icon-orientacion_nutricional .path2:before {
  content: "\ea4a";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-orientacion_nutricional .path3:before {
  content: "\ea4b";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-orientacion_nutricional .path4:before {
  content: "\ea4c";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-orientacion_nutricional .path5:before {
  content: "\ea4d";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-orientacion_nutricional .path6:before {
  content: "\ea4e";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-orientacion_nutricional .path7:before {
  content: "\ea4f";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-orientacion_nutricional .path8:before {
  content: "\ea50";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-orientacion_nutricional .path9:before {
  content: "\ea51";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-orientacion_nutricional .path10:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-orientacion_nutricional .path11:before {
  content: "\ea53";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-orientacion_nutricional .path12:before {
  content: "\ea54";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Seguimiento_dieta .path1:before {
  content: "\ea55";
  color: rgb(0, 150, 94);
}
.icon-Seguimiento_dieta .path2:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Seguimiento_dieta .path3:before {
  content: "\ea57";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Seguimiento_dieta .path4:before {
  content: "\ea58";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Seguimiento_dieta .path5:before {
  content: "\ea59";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Seguimiento_dieta .path6:before {
  content: "\ea5a";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Seguimiento_dieta .path7:before {
  content: "\ea5b";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Seguimiento_dieta .path8:before {
  content: "\ea5c";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Seguimiento_dieta .path9:before {
  content: "\ea5d";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Seguimiento_dieta .path10:before {
  content: "\ea5e";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Seguimiento_dieta .path11:before {
  content: "\ea5f";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_Basicos .path1:before {
  content: "\ea60";
  color: rgb(0, 150, 94);
}
.icon-Consultas_Basicos .path2:before {
  content: "\ea61";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_Basicos .path3:before {
  content: "\ea62";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Consultas_Basicos .path4:before {
  content: "\ea63";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_Basicos .path5:before {
  content: "\ea64";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_Basicos .path6:before {
  content: "\ea65";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_Basicos .path7:before {
  content: "\ea66";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_Basicos .path8:before {
  content: "\ea67";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Consultas_Basicos .path9:before {
  content: "\ea68";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Nutricion:before {
  content: "\ea69";
  color: #00965e;
}
.icon-Piscologia:before {
  content: "\ea6a";
  color: #00965e;
}
.icon-telemedicina1:before {
  content: "\ea6b";
  color: #00965e;
}
.icon-Cardiovascular .path1:before {
  content: "\ea6c";
  color: rgb(194, 0, 105);
}
.icon-Cardiovascular .path2:before {
  content: "\ea6d";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Cardiovascular .path3:before {
  content: "\ea6e";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Cardiovascular .path4:before {
  content: "\ea6f";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Cardiovascular .path5:before {
  content: "\ea70";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-entrenamiento_funcional .path1:before {
  content: "\ea71";
  color: rgb(194, 0, 105);
}
.icon-entrenamiento_funcional .path2:before {
  content: "\ea72";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Gym .path1:before {
  content: "\ea73";
  color: rgb(0, 150, 94);
}
.icon-Gym .path2:before {
  content: "\ea74";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Meditacion .path1:before {
  content: "\ea75";
  color: rgb(0, 150, 94);
}
.icon-Meditacion .path2:before {
  content: "\ea76";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Baile .path1:before {
  content: "\ea77";
  color: rgb(0, 150, 94);
}
.icon-Baile .path2:before {
  content: "\ea78";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Baile .path3:before {
  content: "\ea79";
  margin-left: -1em;
  color: rgb(194, 0, 105);
}
.icon-Evalua_sintomas .path1:before {
  content: "\ea7a";
  color: rgb(0, 150, 94);
}
.icon-Evalua_sintomas .path2:before {
  content: "\ea7b";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Evalua_sintomas .path3:before {
  content: "\ea7c";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Evalua_sintomas .path4:before {
  content: "\ea7d";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Evalua_sintomas .path5:before {
  content: "\ea7e";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Evalua_sintomas .path6:before {
  content: "\ea7f";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Evalua_sintomas .path7:before {
  content: "\ea80";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Evalua_sintomas .path8:before {
  content: "\ea81";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Evalua_sintomas .path9:before {
  content: "\ea82";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Evalua_sintomas .path10:before {
  content: "\ea83";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Evalua_sintomas .path11:before {
  content: "\ea84";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Evalua_sintomas .path12:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-medico_celular .path1:before {
  content: "\ea86";
  color: rgb(0, 150, 94);
}
.icon-medico_celular .path2:before {
  content: "\ea87";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-medico_celular .path3:before {
  content: "\ea88";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-medico_celular .path4:before {
  content: "\ea89";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-medico_celular .path5:before {
  content: "\ea8a";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-medico_celular .path6:before {
  content: "\ea8b";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-medico_celular .path7:before {
  content: "\ea8c";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-medico_celular .path8:before {
  content: "\ea8d";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Para_ti_tu_familia .path1:before {
  content: "\ea8e";
  color: rgb(0, 162, 181);
}
.icon-Para_ti_tu_familia .path2:before {
  content: "\ea8f";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Para_ti_tu_familia .path3:before {
  content: "\ea90";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Para_ti_tu_familia .path4:before {
  content: "\ea91";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Para_ti_tu_familia .path5:before {
  content: "\ea92";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Para_ti_tu_familia .path6:before {
  content: "\ea93";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Para_ti_tu_familia .path7:before {
  content: "\ea94";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Para_ti_tu_familia .path8:before {
  content: "\ea95";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Para_ti_tu_familia .path9:before {
  content: "\ea96";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Para_ti_tu_familia .path10:before {
  content: "\ea97";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Preguntale_medico .path1:before {
  content: "\ea98";
  color: rgb(0, 162, 181);
}
.icon-Preguntale_medico .path2:before {
  content: "\ea99";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Preguntale_medico .path3:before {
  content: "\ea9a";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Preguntale_medico .path4:before {
  content: "\ea9b";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Preguntale_medico .path5:before {
  content: "\ea9c";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Preguntale_medico .path6:before {
  content: "\ea9d";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Preguntale_medico .path7:before {
  content: "\ea9e";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Preguntale_medico .path8:before {
  content: "\ea9f";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Preguntale_medico .path9:before {
  content: "\eaa0";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Preguntale_medico .path10:before {
  content: "\eaa1";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Preguntale_medico .path11:before {
  content: "\eaa2";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Preguntale_medico .path12:before {
  content: "\eaa3";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Preguntale_medico .path13:before {
  content: "\eaa4";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Preguntale_medico .path14:before {
  content: "\eaa5";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Reduce_estres .path1:before {
  content: "\eaa6";
  color: rgb(0, 162, 181);
}
.icon-Reduce_estres .path2:before {
  content: "\eaa7";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Reduce_estres .path3:before {
  content: "\eaa8";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Reduce_estres .path4:before {
  content: "\eaa9";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Reduce_estres .path5:before {
  content: "\eaaa";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Reduce_estres .path6:before {
  content: "\eaab";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Reduce_estres .path7:before {
  content: "\eaac";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Reduce_estres .path8:before {
  content: "\eaad";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Chatea_medico .path1:before {
  content: "\eaae";
  color: rgb(0, 150, 94);
}
.icon-Chatea_medico .path2:before {
  content: "\eaaf";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Chatea_medico .path3:before {
  content: "\eab0";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Chatea_medico .path4:before {
  content: "\eab1";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Chatea_medico .path5:before {
  content: "\eab2";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Chatea_medico .path6:before {
  content: "\eab3";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Chatea_medico .path7:before {
  content: "\eab4";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Chatea_medico .path8:before {
  content: "\eab5";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-Chatea_medico .path9:before {
  content: "\eab6";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Chatea_medico .path10:before {
  content: "\eab7";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Chatea_medico .path11:before {
  content: "\eab8";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Chatea_medico .path12:before {
  content: "\eab9";
  margin-left: -1em;
  color: rgb(0, 150, 94);
}
.icon-Chatea_medico .path13:before {
  content: "\eaba";
  margin-left: -1em;
  color: rgb(0, 162, 181);
}
.icon-acom-programados:before {
  content: "\e9c5";
}
.icon-acom-realizados:before {
  content: "\e9c6";
}
.icon-cancelaciones:before {
  content: "\e9c7";
}
.icon-meta:before {
  content: "\e9c8";
}
.icon-porcentaje:before {
  content: "\e9c9";
}
.icon-ventas:before {
  content: "\e9ca";
}
.icon-chat:before {
  content: "\e9cb";
  color: #24b3c7;
}
.icon-extractos:before {
  content: "\e9c3";
}
.icon-preguntas-frecuentes-copia:before {
  content: "\e9c4";
}
.icon-nuevo-siniestro:before {
  content: "\e9c1";
}
.icon-pqr:before {
  content: "\e9c2";
}
.icon-precio:before {
  content: "\e9be";
}
.icon-ecosistema:before {
  content: "\e9bf";
}
.icon-beneficios:before {
  content: "\e9c0";
}
.icon-vigilado:before {
  content: "\e9b5";
}
.icon-web-cam:before {
  content: "\e9b6";
}
.icon-zona:before {
  content: "\e9b8";
}
.icon-very-happiness:before {
  content: "\e9b9";
}
.icon-vehiculo:before {
  content: "\e9ba";
}
.icon-vehiculos:before {
  content: "\e9bb";
}
.icon-trabajo:before {
  content: "\e9bc";
}
.icon-Uso-Fraudulento-chequera:before {
  content: "\e9bd";
}
.icon-swipe:before {
  content: "\e9b4";
}
.icon-TEL:before {
  content: "\e9b1";
}
.icon-star-o:before {
  content: "\e9b2";
}
.icon-suspendido:before {
  content: "\e9b3";
}
.icon-tarjeta:before {
  content: "\e9b7";
}
.icon-star:before {
  content: "\e9a7";
}
.icon-star-half:before {
  content: "\e9a8";
}
.icon-semana:before {
  content: "\e9a9";
}
.icon-sombrilla:before {
  content: "\e9aa";
}
.icon-soporte:before {
  content: "\e9ab";
}
.icon-sede-uno:before {
  content: "\e9ac";
}
.icon-scroll:before {
  content: "\e9ad";
}
.icon-robo-perdida-tarjeta:before {
  content: "\e9ae";
}
.icon-rotura-huesos:before {
  content: "\e9af";
}
.icon-sad:before {
  content: "\e9b0";
}
.icon-Robo--Automovil1:before {
  content: "\e9a2";
}
.icon-reposicion-bolso-o-billetera:before {
  content: "\e9a3";
}
.icon-reposicion-documentos:before {
  content: "\e9a4";
}
.icon-reposicion-llaves:before {
  content: "\e9a5";
}
.icon-Robo--Automovil:before {
  content: "\e9a6";
}
.icon-Renta-Tratamiento-Cancer:before {
  content: "\e927";
}
.icon-renta-incapacidad:before {
  content: "\e928";
}
.icon-Renta-medicamentos-Cancer:before {
  content: "\e929";
}
.icon-Renta-mensual-Muerte:before {
  content: "\e92a";
}
.icon-Renta-Muerte-Cancer:before {
  content: "\e92b";
}
.icon-Renta--Hospitalizacion-debido-accidente:before {
  content: "\e926";
}
.icon-region:before {
  content: "\e92c";
}
.icon-renta-canasta-familiar:before {
  content: "\e92d";
}
.icon-Renta-desempleo-Involuntario:before {
  content: "\e92e";
}
.icon-renta-educacion-hijos:before {
  content: "\e92f";
}
.icon-radicado:before {
  content: "\e930";
}
.icon-poliza:before {
  content: "\e931";
}
.icon-Poliza-todo-riesgo-hogar:before {
  content: "\e932";
}
.icon-Poliza-todo-riesgo-vehiculo:before {
  content: "\e933";
}
.icon-Proteccion-Garantizada-Auto:before {
  content: "\e934";
}
.icon-play:before {
  content: "\e935";
}
.icon-pagados:before {
  content: "\e936";
}
.icon-perfil:before {
  content: "\e937";
}
.icon-personas-protegidas:before {
  content: "\e938";
}
.icon-personas-protegidas2:before {
  content: "\e939";
}
.icon-Muerte-consecuencia-Cancer:before {
  content: "\e93a";
}
.icon-muerte-cualquier-causa:before {
  content: "\e93b";
}
.icon-muerte-familiar:before {
  content: "\e93c";
}
.icon-Notificacion:before {
  content: "\e93d";
}
.icon-Muerte-accidental-vias-publicas:before {
  content: "\e93e";
}
.icon-money:before {
  content: "\e93f";
}
.icon-muerte:before {
  content: "\e940";
}
.icon-Muerte-Accidental:before {
  content: "\e941";
}
.icon-Muerte-accidental-titular-acompaantes:before {
  content: "\e942";
}
.icon-muerte-accidental-transporte-publico:before {
  content: "\e943";
}
.icon-microcreditos:before {
  content: "\e944";
}
.icon-LOGIN:before {
  content: "\e945";
}
.icon-lo-que-quiero:before {
  content: "\e946";
}
.icon-mail:before {
  content: "\e947";
}
.icon-mas:before {
  content: "\e948";
}
.icon-mes:before {
  content: "\e949";
}
.icon-like:before {
  content: "\e94a";
}
.icon-indebido:before {
  content: "\e94b";
}
.icon-indifferent:before {
  content: "\e94c";
}
.icon-IVA:before {
  content: "\e94d";
}
.icon-libranzaas:before {
  content: "\e94e";
}
.icon-libre-destino:before {
  content: "\e94f";
}
.icon-Incapacidad-Total-Temporal-Fractura-Accidental:before {
  content: "\e950";
}
.icon-incentivos-acumulados:before {
  content: "\e951";
}
.icon-Incapacidad-Total-Permanente-Accidente-cualquier-medio-transporte:before {
  content: "\e952";
}
.icon-incapacidad-total-temporal:before {
  content: "\e953";
}
.icon-incapacidad-total-temporal-cancer:before {
  content: "\e954";
}
.icon-incapacidad-total-permanente:before {
  content: "\e955";
}
.icon-hoy:before {
  content: "\e956";
}
.icon-hurto:before {
  content: "\e957";
}
.icon-hurto-cajero:before {
  content: "\e958";
}
.icon-hurto-oficina:before {
  content: "\e959";
}
.icon-incapacidad-accidente-aereo:before {
  content: "\e95a";
}
.icon-hogar:before {
  content: "\e95b";
}
.icon-Gastos-Medicos:before {
  content: "\e95c";
}
.icon-happiness:before {
  content: "\e95d";
}
.icon-happiness-two:before {
  content: "\e95e";
}
.icon-hipotecario:before {
  content: "\e95f";
}
.icon-gastos-hospitalizacion:before {
  content: "\e960";
}
.icon-foto-celular:before {
  content: "\e961";
}
.icon-Garantia-Extendida:before {
  content: "\e962";
}
.icon-garantia-protegida:before {
  content: "\e963";
}
.icon-Gastos-Funerarios:before {
  content: "\e964";
}
.icon-forzado:before {
  content: "\e965";
}
.icon-escribenos:before {
  content: "\e966";
}
.icon-eliminar:before {
  content: "\e967";
}
.icon-embarrassed:before {
  content: "\e968";
}
.icon-enfermedad:before {
  content: "\e969";
}
.icon-enfermedades-graves:before {
  content: "\e96a";
}
.icon-editar:before {
  content: "\e96b";
}
.icon-diagnostico-cancer:before {
  content: "\e96c";
}
.icon-Desempleo:before {
  content: "\e96d";
}
.icon-despido-sin-justa-causa:before {
  content: "\e96e";
}
.icon-despues-de-iva:before {
  content: "\e96f";
}
.icon-detalles:before {
  content: "\e970";
}
.icon-descargar-carta:before {
  content: "\e971";
}
.icon-Desemembracion:before {
  content: "\e972";
}
.icon-Cuidados-prologandos:before {
  content: "\e973";
}
.icon-decoracion1:before {
  content: "\e974";
}
.icon-decoracion2:before {
  content: "\e975";
}
.icon-denegados:before {
  content: "\e976";
}
.icon-crediservices:before {
  content: "\e977";
}
.icon-corazon50:before {
  content: "\e978";
}
.icon-corazon75:before {
  content: "\e979";
}
.icon-corazon-lleno:before {
  content: "\e97a";
}
.icon-corazon-vacio:before {
  content: "\e97b";
}
.icon-corazon25:before {
  content: "\e97c";
}
.icon-Cirugia-Reconstructiva:before {
  content: "\e97d";
}
.icon-Clonacion-Tarjeta:before {
  content: "\e97e";
}
.icon-compra-protegida:before {
  content: "\e97f";
}
.icon-Compras-fraudulentas-Internet:before {
  content: "\e980";
}
.icon-cirugia:before {
  content: "\e981";
}
.icon-Canasta-Familiar-caso-muerte:before {
  content: "\e982";
}
.icon-cancer:before {
  content: "\e983";
}
.icon-cerrar:before {
  content: "\e984";
}
.icon-check:before {
  content: "\e985";
}
.icon-ciclo:before {
  content: "\e986";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2---copia:before {
  content: "\e987";
}
.icon-Canasta-Familiar-caso-muerte--Incapacidad-Total-Permanente2:before {
  content: "\e988";
}
.icon-bienes:before {
  content: "\e989";
}
.icon-bolso:before {
  content: "\e98a";
}
.icon-buscar-foto:before {
  content: "\e98b";
}
.icon-cajero:before {
  content: "\e98c";
}
.icon-Asistencia--transporte:before {
  content: "\e98d";
}
.icon-bienes1:before {
  content: "\e98e";
}
.icon-bolso1:before {
  content: "\e98f";
}
.icon-Asistencia--transporte2:before {
  content: "\e990";
}
.icon-arrow-swipe:before {
  content: "\e991";
}
.icon-arrow-detail-bottom:before {
  content: "\e992";
}
.icon-arrow-detail-right:before {
  content: "\e993";
}
.icon-arrow-detail-top:before {
  content: "\e994";
}
.icon-anual:before {
  content: "\e995";
}
.icon-archivo-adjunto:before {
  content: "\e996";
}
.icon-analisis:before {
  content: "\e997";
}
.icon-antes-de-iva:before {
  content: "\e998";
}
.icon-alerta:before {
  content: "\e999";
}
.icon-alert:before {
  content: "\e99a";
}
.icon-accidente:before {
  content: "\e99b";
}
.icon-cliente:before {
  content: "\e99c";
}
.icon-protegido:before {
  content: "\e99d";
}
.icon-beneficiarios:before {
  content: "\e99e";
}
.icon-condicionado:before {
  content: "\e99f";
}
.icon-certificado:before {
  content: "\e9a0";
}
.icon-trash:before {
  content: "\e9a1";
}
.icon-reset:before {
  content: "\e925";
}
.icon-activar-usuario:before {
  content: "\e91d";
}
.icon-buscar:before {
  content: "\e91e";
}
.icon-crear-usuario:before {
  content: "\e91f";
}
.icon-foto:before {
  content: "\e920";
}
.icon-gerente:before {
  content: "\e921";
}
.icon-gestores:before {
  content: "\e922";
}
.icon-inactivar-usuario:before {
  content: "\e923";
}
.icon-transferir:before {
  content: "\e924";
}
.icon-reenviar-codigo:before {
  content: "\e91c";
}
.icon-ojo-close:before {
  content: "\e91a";
}
.icon-ojo-open:before {
  content: "\e91b";
}
.icon-flecha-atras:before {
  content: "\e919";
}
.icon-editar-lapiz:before {
  content: "\e900";
}
.icon-estado:before {
  content: "\e901";
}
.icon-fecha:before {
  content: "\e902";
}
.icon-flecha-abajo:before {
  content: "\e903";
}
.icon-flecha-arriba:before {
  content: "\e904";
}
.icon-flecha-derecha:before {
  content: "\e905";
}
.icon-flecha-izq:before {
  content: "\e906";
}
.icon-gps:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e908";
}
.icon-hora:before {
  content: "\e909";
}
.icon-iniciar-cita:before {
  content: "\e90a";
}
.icon-lock:before {
  content: "\e90b";
}
.icon-login:before {
  content: "\e90c";
}
.icon-notificacion:before {
  content: "\e90d";
}
.icon-planificados:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-realizados:before {
  content: "\e910";
}
.icon-reprogramados:before {
  content: "\e911";
}
.icon-responsable:before {
  content: "\e912";
}
.icon-sede:before {
  content: "\e913";
}
.icon-tel:before {
  content: "\e914";
}
.icon-usuario:before {
  content: "\e915";
}
.icon-adjunto:before {
  content: "\e916";
}
.icon-canceladas:before {
  content: "\e917";
}
.icon-cancelar:before {
  content: "\e918";
}
