
@font-face {
  font-family: 'BNPPSans';
  src: url('BNPPSans.eot?#iefix') format('embedded-opentype'),  url('BNPPSans.woff') format('woff'), url('BNPPSans.ttf')  format('truetype'), url('BNPPSans.svg#BNPPSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
